<!--------------------------------------------------------------- Products BUY------------------------------------------------------ -->

<div class="container clearfix pa0" id="buyProductsSection">
<page-event page-id="Subscribe-Add"></page-event>
	<div class="row">
		<div class="col-md-12">
			<div class="ml20" ng-show="isNetworkUser">
				<article class="pa4 pull-left">{{content.Products.notAuthorizedToSubscribeMessage}}</article>
			</div>
			<div class="pa0 mr0">
				<button id="buyProductsClose" class="btn btn-link pull-left pa0 ml15" ng-click="go('products')"> {{content.Common.goBackLabel}}
				</button>
			</div>
		</div>
	</div>

	<div class="row" >
		<div class="col-md-12" ng-show="!isNetworkUser">
			<div id="priceEstimateContainer">
				<div id="priceEstimate">
					<h5 class="content-header">{{content.Products.products_buyproducts.costEstimatedAsConfiguredLabel}}</h5>
					<div class="cost-value">${{(buyProductInput.prodQuantity * productRate + buyProductInput.prodQuantity * TNRate).toFixed(2)}}</div>
					<div class="cost-interval">{{content.Products.products_buyproducts.perMonthLabel}}</div>
					<div class="disclaimer">{{content.Products.products_buyproducts.doesNotIncludeUsageChargesLabel}}</div>
				</div>
				<div id="priceBreakdown" class="hidden-xs-down">
					<div class="line-item">
						<div class="line-item-display">{{buyProductInput.prodQuantity}} {{content.Products.products_buyproducts.courierLabel}}</div>
						<div class="line-item-cost">(${{(buyProductInput.prodQuantity * productRate).toFixed(2)}}/month)</div>
					</div>
					<div class="line-item">
						<div class="line-item-display">{{buyProductInput.prodQuantity}} {{content.Products.products_buyproducts.phoneNumberLabel}}</div>
						<div class="line-item-cost">(${{(buyProductInput.prodQuantity * TNRate).toFixed(2)}}/month)</div>
					</div>
					<div class="line-item">
						<div class="line-item-display">{{content.Products.products_buyproducts.nationalSMSLabel}}</div>
						<div class="line-item-cost">(${{SMSRate}}/{{content.Products.products_buyproducts.SMSLabel}})</div>
					</div>
					<div class="line-item">
						<div class="line-item-display">{{content.Products.products_buyproducts.internationalSMSLabel}}*</div>
						<div class="line-item-cost">(${{IneternationSMSRate}}/{{content.Products.products_buyproducts.SMSLabel}})</div>
					</div>
				</div>
			</div>

			<div id="createFormContainer">
				<div class="container">
					<div class="pull-left">
						<svg class="cyclops-icon lg green">
					<use xlink:href='#icon-messaging'></svg>
					</div>
					<h2 ng-bind="content.Common.Products[0].Product.Value"></h2>
				</div>
				<form class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="prodQuantity">{{content.Products.products_buyproducts.quantityLabel}}</label>
							<div class="col-sm-6">
								<!-- <a href="" ng-click="decreaseQuantity()"> <svg
										class="cyclops-icon md green pt10">
							         <use xlink:href='#icon-chevron-left'></svg></a> --> <input type="text" name="prodQuantity" 
									ng-model="buyProductInput.prodQuantity" ng-pattern="/^[0-9]*$/"
									class="form-control text-right w20" readonly="readonly"
									onkeypress='return false' 
									ng-click="onTextClick($event)"/> <!-- <a	href="" ng-click="increaseQuantity()"> 
									<svg class="cyclops-icon md green pt10">
							<use xlink:href='#icon-chevron-right'></svg>
								</a> -->
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="location">{{content.Products.products_buyproducts.optionalMetadataLabel}} {{content.Common.optionalTextLabel}}</label>
							<div class="col-sm-6">
								<input type="text" placeholder="This value is for you to assign a meaningful label to this seat."
									class="form-control" ng-model="buyProductInput.customerId" />
							</div>
						</div>
						<div class="form-group" ng-hide="isLegalAccepted(1)">
							<label class="col-sm-3 control-label" for="location">>{{content.Products.products_buyproducts.termAndConditionLabel}}:</label>
							<div class="col-sm-6">
								<span class="mb0">
									LEGAL01 - The following Supplemental Terms apply only to the
									specific Cloud Services to which the Supplemental Terms relate.
									<button class="btn btn-link" ng-click="showMoreProductDescription()"
									ng-show="lessproductdetails">more...</button>
								</span> <span ng-show="moreproductdetails">
									In the event of a conflict between the terms of these
									Supplemental Terms and the terms of the CenturyLink Customer
									agreement or other agreement governing use of the Cloud
									Services (the "Agreement"), the terms and conditions of these
									Supplemental Terms apply, but only to the extent of such
									conflict. Capitalized terms used herein but not defined herein
									shall have the meanings set forth in the Agreement.<button
									class="btn btn-link" ng-click="showLessProductDescription()"
									ng-show="moreproductdetails">...less</button>
								</span>
							</div>
						</div>
						<div class="form-group" ng-hide="isLegalAccepted(1)">
							<div class="col-sm-3"></div>
							<div class="col-sm-6">
								<input id="checkbox-1" name="checkbox-1" type="checkbox"
									ng-model="buyProductInput.legalAckStatus"
									class="checkbox-custom"> <label for="checkbox-1"
									class="checkbox-custom-label">{{content.Products.products_buyproducts.IAgreeLabelLabel}}</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3"></div>
							<div class="col-sm-6">
								<button id="ProductsAddToCartBtn"
									ng-disabled="!buyProductInput.legalAckStatus"
									ng-disabled="buyproductform.$invalid" ng-click="addToCart(content.Common.Products[0].Product.Value)"
									class="btn btn-primary btn-lg" api-event="Subscribe-Add">{{content.Products.products_buyproducts.addToCartLabel}}</button>
							</div>
						</div>
					</fieldset>
				</form>
				<!-- <div>
					<h3>
						<small>Available Features</small>
					</h3>
					<div class="Services_container clearfix">
						<div class="form-group clearfix mr5">
							<div class="pull-left">
								<div class="pull-left pr20 pl10">
									<div class="pull-left">
										<svg class="cyclops-icon md green">
												<use xlink:href='#icon-messaging'></svg>
									</div>
									<h5>SMS</h5>
								</div>
							</div>
						</div>
					</div>
					<p class="lead">Overview of Products:</p>
					<p>The initial launch of Connected Communications consists of one Product called "Courier- Basic". <br/>
					 This product includes the following components:</p>
					<ul>
						<li>The ability to search and select one phone number (via Moniker) you would like to use for sending SMS messages.</li> 
						<li>The ability to send SMS messages (via Courier).</li>
						<li>The ability to automatically store all sent/received messages in our safe-store called Dumpster.  
						Dumpster is a storage container that keeps data safe and secure.   
						It is called Dumpster because you can later go "Dumpster Diving" for your valuables.  
						This safe-store can be used for your reporting needs, verify message contents and destinations, 
						visibility into messages that were not sent and/or were not billed (and why), 
						and any notifications about your Connected Communication Services from CenturyLink.  
						Please note, your ctl.io bill will only reflect the number of SMS messages you are being billed for, 
						not the text of every message you sent.  200MB will be provided at no cost with this service.
						<li>The ability to order, manage, and delete services, and to control all aspects of your Connected Communications services.</li>

					</ul>
					<p>The following Connected Communications services (API) will be launched throughout the year:</p>
					<ul>
						<li>Receive SMS - this will provide the ability to receive SMS messages</li>
						<li>Send SMS to international destinations that impose additional country imposed termination fees (these destinations are initially not available).</li>
						<li>Outbound voice and video calling</li>
						<li>Inbound voice and video calling with voicemail and voicemail transcoding</li>
						<li>Inbound and Outbound Calling Features</li>
						<li>Email relay and responses (without mailboxes), custom domains, fully featured mailboxes</li>
						<li>Number porting</li>
						<li>Detailed call history</li>
						<li>"Unlimited" Safe-Store in Dumpster</li>
					</ul>
				</div> -->
			</div>
		</div>
	</div>
</div>