<!--------------------------------------------------------------- Delete MESSAGE Section------------------------------------------------------ -->
<page-event page-id="APIConsole-Delete" ></page-event>

<div class="card " style="color:#666;" id="myDiv3">
	
	<div class="container-fluid">
		
		<div class="row pt15 pr10 pl20" id="courierSectionDetails">
			<legend>
						<div class="pull-left pr5">
							<svg class="cyclops-icon md green">
								<use xlink:href='#icon-queue-delete'></svg>
						</div>
						{{content.Products.deleteMessageLabel}}
			</legend>	
		</div>
		<div class="row">
			<div class="col-sm-12 pull-left ml10" ng-show="(allocatedSeats | filter:{seatStatus:'working'}).length <= 0">
				<p><svg class="cyclops-icon md danger"><use xlink:href="#icon-exclamation-circle"></svg> {{content.Products.noActiveSeatMessage}}</p>
			</div>			
		</div>
		<!--Delete Message Section-->
		<div id="DeleteMessageSection" class="clearfix ml30 ">
			<p class="lead mb10">{{content.Products.apiConsoleForms.enterYourSearchCriteriaMessage}}</p>
			<form name="deleteMessageForm" novalidate class="form-horizontal" ng-submit="submitted=true">
				<fieldset>
					<div class="form-group">
						<label for="seat" class="control-label col-sm-3">{{content.Common.seatIdLabel}}</label> 
						<div class="col-md-8">
							<select id="seat"
								ng-model="deleteMsgData.selectedSeat" name="deleteselectedseat"
								ng-options="seat.seatId for seat in allocatedSeats | filter:{seatStatus:'working'} | filter:{seatId:'{{seatIdforMonikers}}'}"
								ng-change="setSeatIdValueForDelete(deleteMsgData.selectedSeat.seatId)"
								class="form-control" ng-required="true">
								<option value="" disabled selected style="display: none;">{{content.Products.apiConsoleForms.deleteAllMessagesFromThisSeatMessage}}</option>
							</select>
							 <div ng-show="submitted && deleteMessageForm.deleteselectedseat.$error.required && errLbl" class="errLabel">
									Required
							 </div>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="control-label col-sm-3">{{content.Products.apiConsoleForms.messageIdLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							<input type="text"
								class="form-control" placeholder="Message ID"
								ng-model="deleteMsgData.messageId"
								ng-change="evaluateDeleteQuery()">
						</div>
					</div>
					<div class="form-group">
						<label for="fromPhoneNumber"  class="control-label col-sm-3">{{content.Common.fromPhoneNumberLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							<input type="text"
								id="fromPhoneNumber" name="fromPhoneNumber" class="form-control"
								placeholder="Delete all messages from this phone number" ng-model="deleteMsgData.fromPhoneNumber"
								ng-change="evaluateDeleteQuery()" ng-maxlength="20">
								 <div class="errLabel" ng-show="deleteMessageForm.fromPhoneNumber.$error.maxlength">{{content.Common.characterRestriction20Error}}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="toPhoneNumber" class="control-label col-sm-3">{{content.Common.ToPhoneNumberLabel}} {{content.Common.optionalTextLabel}}</label>
						<div class="col-md-8">
							 <input type="text"
								id="toPhoneNumber" name="toPhoneNumber" class="form-control"
								placeholder="Delete all messages sent to this phone number" ng-model="deleteMsgData.to"
								ng-maxlength="20" ng-change="evaluateDeleteQuery()">
								 <div class="errLabel" ng-show="deleteMessageForm.toPhoneNumber.$error.maxlength">{{content.Common.characterRestriction20Error}}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="control-label col-sm-3">{{content.Products.apiConsoleForms.messageTextLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							<input type="text"
								class="form-control" placeholder="Message Text"
								ng-model="deleteMsgData.messageText"
								ng-change="evaluateDeleteQuery()">
						</div>
					</div>
					<div class="form-group">
						<label for=""  class="control-label col-sm-3">{{content.Common.durationLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							
							<table width="100%">
							<tr>
							<td>
							<input calendar placeholder="Start Date" id="deletemessegeStartDate" name="deletemessegeStartDate"
									class="form-control dtpickerTxtBox"
									ng-model="deleteMsgData.startDate"
									ng-change="evaluateDeleteQuery()" /> <span
									class="input-group-addon add-on"><span
									class="fa fa-calendar"></span></span>	
							</td>
							<td>&nbsp;</td>													
							<td>							
							<input calendar placeholder="End Date"
									class="form-control dtpickerTxtBox" name="deletemessageEndDate"
									ng-model="deleteMsgData.endDate" compare-date="deletemessegeStartDate"
									ng-change="evaluateDeleteQuery()" /> <span
									class="input-group-addon add-on"><span
									class="fa fa-calendar"></span></span>
							<div class="errLabel" ng-show="deleteMessageForm.deletemessageEndDate.$error.compareDate">{{content.Common.endDateStartDateErrorMessage}}</div></td>
							</tr>
							</table>
						</div>
					</div>
					<div class="">
						<div class="col-sm-offset-5 col-sm-6 mt10">
							<button type="submit" id="SearchMesageBtn"
								api-event="APIConsole-Delete-API"							
								ng-click="deleteMessageForm.$valid && deleteMessage()" class="btn btn-primary">{{content.Common.submitButtonLabel}}</button><!-- ng-disabled="deleteMessageForm.$invalid"	 -->
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<!--Send Message Section End-->
		<!--------------------------------------------------------------- JSON Response/Request Section------------------------------------------------------ -->
		<div id="DeleteMessageDetails">
			<div class=" clearfix mt5 ">
				<hr />
			</div>
		</div>
		<!--Send Message Navigation End-->
		<!-------------------------------------------------JSON Request CONTENT--------------------------------------------------------------->
		
		
			<div class="new-list-view-header mb20">
				<div class="col-sm-10">
					<h3 class="boldTxt">{{content.Products.APIDetailsLabel}}</h3>						
				</div>
				<div class="col-sm-2" ng-click="toggleAPIDetailsSection()">
					<div ng-show="!showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-down'></svg></a>
					</div>
					<div ng-show="showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-up'></svg></a>
					</div>
				</div>
			</div>
			<div class="pa10" ng-show="showAPIDetailsSection">
				<div class="">
					<h3 class="boldTxt"><article>{{content.Products.requestLabel}}</article></h3>
				</div>

				<div class="" ng-hide="active">
					<div class="">
						<div class="" id="jsonRequestSection">
							<article>curl -X {{deleteMsgData.method}}</article>
							<article ng-repeat="(key, prop) in deleteMsgData.headers">--{{content.Products.headerLabel}}
								"{{key}}:{{prop}}"</article>
							<article class="wordWrap-no-break">
								"{{deleteMsgData.requestUrl}}<span
									ng-repeat="(key, prop) in deleteMsgData.queryParam"
									ng-if="prop != ''">{{$first ? '?' :
									'&'}}{{key}}={{prop}}</span>"
							</article>
						</div>
					</div>
				</div>
						<!-------------------------------------------------JSON Response CONTENT--------------------------------------------------------------->
				<div class="">
					<div class="">
						<h3 class="boldTxt"><article>{{content.Products.responseLabel}}</article></h3>
					</div>
		
					<div class="">
						<div class="">
							<div class="" id="jsonResponseSection">
								<div id="DeleteMessageSuccessMesssage"
									ng-show="deleteMessageSuccessMesssage" class="text-left">
									<label>{{content.Products.responseBodyLabel}}:</label>
									<article class=""><pre class="ApiConsleText">{{response.data | json}}</pre></article>
								</div>
								<div id="DeleteMessageErrorMesssage"
									ng-show="deleteMessageErrorMesssage" class="text-left">
									<label>{{content.Products.errorLabel}}:</label>
									<article class="errorMsgText">{{errors.errorMsg}}</article>
								</div>
								<br />
								<!-- ----------------------------------------------------------------- -->
								<div class="text-left">
									<label>{{content.Products.responseStatusLabel}}:</label>
									<article class="">{{response.StatusCode}}</article>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--------------------------------------------------------------- JSON Response/Request Section------------------------------------------------------ -->
		</div>
	
</div>