<div class="pl10">
	<h3><small>Overview of Product:</small></h3>
	<p>The initial launch of Connected Communications consists of one Product called "Courier- Basic". <br/>
	 This product includes the following components:</p>
	<ul>
		<li>The ability to search and select one phone number (via Moniker) you would like to use for sending SMS messages.</li> 
		<li>The ability to send SMS messages (via Courier).</li>
		<li>The ability to automatically store all sent/received messages in our safe-store called Dumpster.  
		Dumpster is a storage container that keeps data safe and secure.   
		It is called Dumpster because you can later go "Dumpster Diving" for your valuables.  
		This safe-store can be used for your reporting needs, verify message contents and destinations, 
		visibility into messages that were not sent and/or were not billed (and why), 
		and any notifications about your Connected Communication Services from CenturyLink.  
		Please note, your ctl.io bill will only reflect the number of SMS messages you are being billed for, 
		not the text of every message you sent.  200MB will be provided at no cost with this service.
		<li>The ability to order, manage, and delete services, and to control all aspects of your Connected Communications services.
		<button ng-show="!showMore" class="btn btn-link"
							ng-click="showMoreLess()" value="{{buttonText}}">{{buttonText}}</button>
		</li>
	
	</ul>
	<span ng-show="showMore">
	<p>The following Connected Communications services (API) will be launched throughout the year:</p>
	<ul>
		<li>Receive SMS - this will provide the ability to receive SMS messages</li>
		<li>Send SMS to international destinations that impose additional country imposed termination fees (these destinations are initially not available).</li>
		<li>Outbound voice and video calling</li>
		<li>Inbound voice and video calling with voicemail and voicemail transcoding</li>
		<li>Inbound and Outbound Calling Features</li>
		<li>Email relay and responses (without mailboxes), custom domains, fully featured mailboxes</li>
		<li>Number porting</li>
		<li>Detailed call history</li>
		<li>"Unlimited" Safe-Store in Dumpster
		<button class="btn btn-link"
							ng-click="showMoreLess()" value="{{buttonText}}">{{buttonText}}</button>
		
		</li>
	</ul>
	</span>
	<button class="btn btn-link pull-left" ng-click="showProductLanding()">Go Back</button>
	<!-- <button class="btn btn-outline pull-right" ng-click="redirectToProduct('signInSection', 'buyProduct')">Subscribe</button> -->
	<br/>
</div>