<!--------------------------------------------------------------- Products Edit------------------------------------------------------ -->

<div class="container clearfix pa0" id="editProductsSection">
	<div>
		<div class="clearfix " id="courierSectionDetails">
			<div class="container pa10 mr0">
				<button id="buyProductsClose" class="btn btn-link pull-left pa0 ml15" ng-click="setIncludePage('products_ordersummary')"> Go Back
				</button>
			</div>
			<div class="pa10 pull-left">
				<h3>
					<small>{{content.Products.products_buyproducts.editOrderLabel}}</small>
				</h3>
			</div>
			<div class="pull-right">
				<a id="EditProductClose" ng-click="go('products')" href=""> <svg
						class="cyclops-icon md green">
						<use xlink:href='#icon-times'></svg>
				</a>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div id="priceEstimateContainer">
					<div id="priceEstimate">
						<h5 class="content-header">{{content.Products.products_buyproducts.costEstimatedAsConfiguredLabel}}</h5>
						<div class="cost-value">${{(editProduct.productQuantity * productRate + editProduct.productQuantity * TNRate).toFixed(2)}}</div>
						<div class="cost-interval">PER MONTH</div>
						<div class="disclaimer">{{content.Products.products_buyproducts.doesNotIncludeUsageChargesLabel}}</div>
					</div>
					<div id="priceBreakdown" class="hidden-xs-down">
						<div class="line-item">
							<div class="line-item-display">{{editProduct.productQuantity}} {{content.Products.products_buyproducts.courierLabel}}</div>
							<div class="line-item-cost">(${{(editProduct.productQuantity * productRate).toFixed(2)}}/month)</div>
						</div>
						<div class="line-item">
							<div class="line-item-display">{{editProduct.productQuantity}} {{content.Products.products_buyproducts.phoneNumberLabel}}</div>
							<div class="line-item-cost">(${{(editProduct.productQuantity * TNRate).toFixed(2)}}/month)</div>
						</div>
						<div class="line-item">
							<div class="line-item-display">{{content.Products.products_buyproducts.nationalSMSLabel}}</div>
							<div class="line-item-cost">(${{SMSRate}}/{{content.Products.products_buyproducts.SMSLabel}})</div>
						</div>
						<div class="line-item">
							<div class="line-item-display">{{content.Products.products_buyproducts.internationalSMSLabel}}*</div>
							<div class="line-item-cost">(${{IneternationSMSRate}}/{{content.Products.products_buyproducts.SMSLabel}})</div>
						</div>
					</div>
				</div>

				<div id="createFormContainer">
					<div class="container">
						<div class="pull-left">
							<svg class="cyclops-icon lg green">
								<use xlink:href='#icon-messaging'></svg>
						</div>
						<h2 ng-bind="content.Common.Products[0].Product.Value"></h2>
					</div>
					<form class="form-horizontal">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="prodQuantity">{{content.Products.products_buyproducts.productLabel}}</label>
								<div class="col-sm-6">
									<h3 class="ma0">
										<small>{{cartDetails.Products[index].ProductName}}</small>
									</h3>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="productQuantity">{{content.Products.products_buyproducts.quantityLabel}}</label>
								<div class="col-sm-6">
									<!-- <a href="" ng-click="decreaseQuantityForUpdate(index)"> <svg
											class="cyclops-icon md green pt10">
							<use xlink:href='#icon-chevron-left'></svg>
									</a> --> <input type="text" name="prodQuantity"
										placeholder="{{cartDetails.Products[index].Quantity}}"
										ng-model="editProduct.productQuantity" ng-pattern="/^[0-9]*$/"
										class="form-control text-right w20" readonly="readonly"
										onkeypress='return false' 
										ng-click="onTextClick($event)"/>
										<!-- <a href="" ng-click="increaseQuantityForUpdate(index)"> <svg
											class="cyclops-icon md green pt10">
							<use xlink:href='#icon-chevron-right'></svg>
									</a> -->
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="location">{{content.Products.products_buyproducts.optionalMetadataLabel}} {{content.Common.optionalTextLabel}}</label>
								<div class="col-sm-6">
									<input type="text"
										placeholder="{{getCustomerId()}}"
										class="form-control" ng-model="editProduct.customerId" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="prodQuantity">{{content.Products.products_buyproducts.servicesLabel}} </label>
								<div class="col-sm-6">
									<h3 class="ma0">
										<small>{{cartDetails.Products[index].Service}}</small>
									</h3>
								</div>
							</div>
							<div class="form-group" ng-hide="isLegalAccepted(1)">
								<label class="col-sm-3 control-label" for="location">{{content.Products.products_buyproducts.termAndConditionLabel}}:</label>
								<div class="col-sm-6">
									<span class="TermConditions multiline-ellipsis mb0">
										LEGAL01 - The following Supplemental Terms apply only to the
										specific Cloud Services to which the Supplemental Terms
										relate. <a ng-click="showMoreProductDescription()"
										ng-show="lessproductdetails">...more</a>
									</span> <span class="TermConditions" ng-show="moreproductdetails">
										In the event of a conflict between the terms of these
										Supplemental Terms and the terms of the CenturyLink Customer
										agreement or other agreement governing use of the Cloud
										Services (the “Agreement”), the terms and conditions of these
										Supplemental Terms apply, but only to the extent of such
										conflict. Capitalized terms used herein but not defined herein
										shall have the meanings set forth in the Agreement. <a
										ng-click="showLessProductDescription()"
										ng-show="moreproductdetails">...less</a>
									</span>
								</div>
							</div>
							<div class="form-group" ng-hide="isLegalAccepted(1)">
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<input id="checkbox-2" name="checkbox-2" type="checkbox"
										ng-model="updateCartButtonEnabled"
										ng-checked="updateCartButtonEnabled" class="checkbox-custom">
									<label for="checkbox-2" class="checkbox-custom-label">{{content.Products.products_buyproducts.IAgreeLabelLabel}}</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<button id="ProductsUpdateCartBtn"
										ng-click="updateCart()"
										class="btn btn-primary btn-lg" api-event="Subscribe-Modify">{{content.Products.products_buyproducts.updateCartLabel}}</button>
								</div>
							</div>
						</fieldset>
					</form>
				<!-- <div>
					<h3>
						<small>Available Features</small>
					</h3>
					<div class="Services_container clearfix">
						<div class="form-group clearfix mr5">
							<div class="pull-left">
								<div class="pull-left pr20 pl10">
									<div class="pull-left">
										<svg class="cyclops-icon md green">
												<use xlink:href='#icon-messaging'></svg>
									</div>
									<h5>SMS</h5>
								</div>
							</div>
						</div>
					</div>
					<p class="lead">Overview of Products:</p>
					<p>The initial launch of Connected Communications consists of one Product called "Courier- Basic". <br/>
					 This product includes the following components:</p>
					<ul>
						<li>The ability to search and select one phone number (via Moniker) you would like to use for sending SMS messages.</li> 
						<li>The ability to send SMS messages (via Courier).</li>
						<li>The ability to automatically store all sent/received messages in our safe-store called Dumpster.  
						Dumpster is a storage container that keeps data safe and secure.   
						It is called Dumpster because you can later go "Dumpster Diving" for your valuables.  
						This safe-store can be used for your reporting needs, verify message contents and destinations, 
						visibility into messages that were not sent and/or were not billed (and why), 
						and any notifications about your Connected Communication Services from CenturyLink.  
						Please note, your ctl.io bill will only reflect the number of SMS messages you are being billed for, 
						not the text of every message you sent.  200MB will be provided at no cost with this service.
						<li>The ability to order, manage, and delete services, and to control all aspects of your Connected Communications services.</li>

					</ul>
					<p>The following Connected Communications services (API) will be launched throughout the year:</p>
					<ul>
						<li>Receive SMS - this will provide the ability to receive SMS messages</li>
						<li>Send SMS to international destinations that impose additional country imposed termination fees (these destinations are initially not available).</li>
						<li>Outbound voice and video calling</li>
						<li>Inbound voice and video calling with voicemail and voicemail transcoding</li>
						<li>Inbound and Outbound Calling Features</li>
						<li>Email relay and responses (without mailboxes), custom domains, fully featured mailboxes</li>
						<li>Number porting</li>
						<li>Detailed call history</li>
						<li>"Unlimited" Safe-Store in Dumpster</li>
					</ul>
				</div> -->
				</div>
			</div>
		</div>
	</div>
</div>