<!--------------------------------------------------------------- Products Tab ORDER SUMMERY------------------------------------------------------ -->
<div class="container clearfix pa0 " id="OrderSummarySection"
	ng-show="orderSummarySection">
	<div class="ml20">
		<div class="container pa0">
			<button id="buyProductsClose" class="btn btn-link pull-left"
				ng-click="go('products')">
				 {{content.Common.goBackLabel}}
			</button>
		</div>
		<div class="clearfix " id="courierSectionDetails">
			<div class="pull-left">
				<h3>
					<small> {{content.Products.orderSummary.orderSummaryLabel}}</small>
				</h3>
			</div>
		</div>
		<!--Product Name Section-->

		<ul class="new-list-view ">
			<li ng-repeat="product in cartDetails.Products">
				<div class="list-view-item">
					<div class="col col-md-2">
						<div class="pull-left">
							<p class="lead mb0 mt10">{{product.ProductDisplayLabel}}</p>
							<p class="mb0">
								<small>{{content.Products.orderSummary.optionalMetadataLabel}}: {{product.CustomerID}}</small>
							</p>
							<div class="pull-left">
								<button class="btn btn-default btn-mini" title="Edit"
									value="$index" ng-click="editProduct($index)">
									<svg class="cyclops-icon xs">
									<use xlink:href='#icon-settings' /></svg>
									{{content.Common.editButtonLabel}}
								</button>
								&nbsp;
								<button class="btn btn-danger btn-mini" title="Delete"
									value="$index" ng-click="deleteProduct($index)" api-event="Subscribe-Delete">
									<svg class="cyclops-icon xs">
									<use xlink:href='#icon-trash' /></svg>
									{{content.Common.removeButtonLabel}}
								</button>
							</div>
						</div>
					</div>

					<div class="col col-md-2">
						<h4>
							<small>{{content.Products.orderSummary.quantityLabel}}</small>
						</h4>
						<div class="pa0">
							<!-- <a href="" ng-click="decreaseQunatityFromOrderPage($index)"> <svg
									class="cyclops-icon md green pt10">
							<use xlink:href='#icon-chevron-left'></svg>
							</a> --> <input type="text" name="prodQuantity" placeholder="0"
								ng-model="product.Quantity" ng-pattern="/^[0-9]*$/"
								onkeypress='return false' readonly="readonly"
								ng-click="onTextClick($event)"
								ng-change="quantityChangeOnOrderSummary()"
								class="form-control text-right w40"/> 
								<!-- <a href="" ng-click="increaseQunatityFromOrderPage($index)"> <svg
									class="cyclops-icon md green pt10">
							<use xlink:href='#icon-chevron-right'></svg>
							</a> -->
						</div>
					</div>

					<div class="col col-md-8">
						<div class="clearfix">
							<h4>
								<small>{{content.Products.orderSummary.estimatedRateLabel}}</small>
							</h4>
							<div class="row billing-summary">
								<div class="col-sm-2 col-xs-6">
									<div class="heading">{{content.Products.orderSummary.nationalSMSLabel}}</div>
									<div class="onbuiCurrency">${{SMSRate}}/{{content.Products.orderSummary.SMSLabel}}</div>
								</div>
								<div class="col-sm-3 col-xs-6">
									<div class="heading">{{content.Products.orderSummary.internationalSMSLabel}}*</div>
									<div class="onbuiCurrency">${{IneternationSMSRate}}/{{content.Products.orderSummary.SMSLabel}}</div>
								</div>
								<div class="col-sm-2 col-xs-6">
									<div class="heading">{{content.Products.orderSummary.productLabel}} ({{content.Products.orderSummary.seatLabel}})</div>
									<div class="onbuiCurrency">${{(product.Quantity*productRate).toFixed(2)}}/{{content.Products.orderSummary.monthLabel}}</div>
								</div>
								<div class="col-sm-2 col-xs-6">
									<div class="heading">{{content.Products.orderSummary.TNLabel}} ({{content.Products.orderSummary.rentalLabel}})</div>
									<div class="onbuiCurrency">${{(product.Quantity*TNRate).toFixed(2)}}/{{content.Products.orderSummary.monthLabel}}</div>
								</div>
								<div class="col-sm-3 col-xs-6">
									<div class="heading">{{content.Products.orderSummary.subTotalLabel}}</div>
									<div class="onbuiCurrency">${{(product.Quantity*productRate+product.Quantity*TNRate).toFixed(2)}}/{{content.Products.orderSummary.monthLabel}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>

		<div class="clearfix pa10">
			<p ng-hide="cartDetails.totalQuantity == 0">
				*<button class="btn btn-link-text" ng-click="ShowCountryCodesData()">{{content.Products.orderSummary.clickHereLabel}}</button>
				{{content.Products.orderSummary.ListOfInternationalDestinationsMessage}}
			</p>
			<div class="clearfix pull-right">
				<h4 class="ma0 boldTxt" ng-hide="cartDetails.totalQuantity==0">
					{{content.Products.orderSummary.estimatedTotalLabel}} : ${{(cartDetails.totalQuantity * productRate +
					cartDetails.totalQuantity * TNRate).toFixed(2)}} <small>+ {{content.Products.orderSummary.SMSUsageChargesLabel}}</small>
				</h4>
				<br />
				<p ng-show="cartDetails.Products.length == 0">{{content.Products.orderSummary.noItemsInCartMessage}}</p>

				<div class="clearfix pull-right">
					<button id="ProductsSubmitOrderBtn" type="button"
						ng-click="buyProduct()" class="btn btn-primary pull-right ml10"
						ng-disabled="cartDetails.totalQuantity == 0" api-event="Subscribe-Submit">{{content.Products.orderSummary.submitOrderLabel}}</button>
					<!-- <button id="ProductsSubmitOrderBtn" type="button"
						ng-click="go('products')" class="btn btn-default pull-right ">Subscribe
						More</button> -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" ng-show="ShowCountryCodes">
	<div class="clearfix pa10">
		<div class="container pa0">
			<button id="TestCourierClose" class="btn btn-link pull-left"
				ng-click="hideCountryCodesData()">
				{{content.Products.orderSummary.goToCartLabel}}
			</button>
		</div>
		<div class="clearfix " id="courierSectionDetails">
			<div class="pull-left">
				<h3>
					<small>{{content.Products.orderSummary.freeDestinationsListLabel}}</small>
				</h3>
			</div>
		</div>
		<div class="container-fluid">
			<div class="new-list-view-header">
				<div class="col-95">
					<h3 class="col col-35 text-left">{{content.Products.orderSummary.codeLabel}}</h3>
					<h3 class="col col-65 text-left">{{content.Products.orderSummary.nameLabel}}</h3>
				</div>
			</div>
			<!-- body of the list -->
			<ul class="new-list-view">
				<li
					ng-repeat="countryData in supportedCountryCallingCodes | orderBy:'name'">
					<div class="list-view-item">
						<div class="col col-35 text-left">{{countryData.code}}</div>
						<div class="col col-65 text-left">{{countryData.name}}</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!--------------------------------------------------------------- Products Tab ORDER SUMMERY Success Message------------------------------------------------------ -->
<div class="container" id="OrderSuccessMsgSection"
	ng-show="orderSuccessMsgSection">
	<div>
		<div class="container pa0">
			<button id="OrderSuccessRedirect" class="btn btn-link pull-left"
				ng-click="go('accountSummary')">
				{{content.Products.orderSummary.goBackToAccountDetailsLabels}}
			</button>
		</div>
		<!-- <div class="clearfix pa10" id="courierSectionDetails">
			<div class="pull-right">
				<a id="SuccessMsgClose" ng-click="go('products')" href=""> <svg
						class="cyclops-icon md green">
						<use xlink:href='#icon-times'></svg>
				</a>
			</div>
		</div> -->
		
		<!--Product Name Section-->
		<p class="lead">
			{{content.Products.orderSummary.thankYouForVisitingMessage}}
		</p>
		<p class="lead">
			{{content.Products.orderSummary.visitTheAccountSummaryLaterMessage}}
		</p>
		<div class="card card-block col col-100 mt10 pa0 new-list-view-responsive new-list-view-responsive-md">
		      <div>
			      <div class="new-list-view-header">
			      	<h3 class="col col-15 text-left">{{content.Products.orderSummary.productNameLabel}}</h3>
			      	<h3 class="col col-10 text-left">{{content.Products.orderSummary.phoneNumberLabel}}</h3>
				    <h3 class="col col-15 text-left">{{content.Products.orderSummary.optionalMetadataLabel}}</h3>
				    <h3 class="col col-30 text-left">{{content.Products.orderSummary.seatIDLabel}}</h3>
				    <h3 class="col col-10 text-left">{{content.Products.orderSummary.groupNameLabel}}</h3>
				    <h3 class="col col-10">{{content.Products.orderSummary.configureSeatLabel}}</h3>
				    <h3 class="col col-10 text-left">{{content.Products.orderSummary.assignedConsumersLabel}}</h3>
				  </div>
		      
			      <ul class="new-list-view"  ng-if="successOrders.length > 0" ng-repeat="successOrder in successOrders ">
				      <li  ng-if="successOrder.response.seatId">
				        <div class="pt3 pb3 list-view-editable-item list-view-item-success nocursor">
				        	<div class="col col-15 text-left"><span class="col-header">{{content.Products.orderSummary.productNameLabel}}</span>{{successOrder.productName}}</div>
				        	<div class="col col-10 text-left"><span class="col-header">{{content.Products.orderSummary.phoneNumberLabel}}</span>-</div>
				        	<div class="col col-15 text-left"><span class="col-header">{{content.Products.orderSummary.optionalMetadataLabel}}</span>{{successOrder.customerId}}</div>
						    <div class="col col-30 text-left"><span class="col-header">{{content.Products.orderSummary.seatIDLabel}}</span>Seat Id: {{successOrder.response.seatId}}</div>
						    <div class="col col-10 text-left" ng-if="successOrder.response.networkId">
						    	<span class="col-header">{{content.Products.orderSummary.groupNameLabel}}</span>{{successOrder.response.networkId}}						    	
						    </div>
						    <div class="col col-10 text-left" ng-if="!successOrder.response.networkId">
						    	<span class="col-header">{{content.Products.orderSummary.groupNameLabel}}</span>-						    	
						    </div>
						    <div class="col col-10"><span class="col-header">{{content.Products.orderSummary.configureSeatLabel}}</span>
						    <a href ="#/accountSummary/{{successOrder.response.seatId}}"><svg class="cyclops-icon md green">
						    	<use xlink:href='#icon-settings'></use></svg></a>
							</div>
							<div class="col col-10 text-left" ng-if="successOrder.response.consumer">
						    	<span class="col-header">{{content.Products.orderSummary.assignedConsumersLabel}}</span>{{successOrder.response.consumer}}
						    </div>
						    <div class="col col-10 text-left" ng-if="!successOrder.response.consumer">
						    	<span class="col-header">{{content.Products.orderSummary.assignedConsumersLabel}}</span>0
						    </div>
						    	
				        </div>
				      </li>
				       <li  class="" ng-if="!successOrder.response.seatId">
				        <div class="pt3 pb3 list-view-editable-item list-view-item-danger">
				        	<div class="col col-15 text-left"><span class="col-header">{{content.Products.orderSummary.productNameLabel}}</span>{{successOrder.productName}}</div>
				        	<div class="col col-10 text-left"><span class="col-header">{{content.Products.orderSummary.phoneNumberLabel}}</span>-</div>
				        	<div class="col col-15 text-left"><span class="col-header">{{content.Products.orderSummary.optionalMetadataLabel}}</span>{{successOrder.customerId}}</div>
						    <div class="col col-30 text-left"><span class="col-header">{{content.Products.orderSummary.seatIDLabel}}</span>{{successOrder.response.errorMessage}}</div>
						    <div class="col col-10 text-left"><span class="col-header">{{content.Products.orderSummary.groupNameLabel}}</span>-</div>
						    <div class="col col-10"><span class="col-header">{{content.Products.orderSummary.configureSeatLabel}}</span></div>
							<div class="col col-10 text-left"><span class="col-header">{{content.Products.orderSummary.assignedConsumersLabel}}</span>0</div>
				        </div>
				      </li>					     
				   </ul>
				   <!-- <ul ng-if="failedOrders.length > 0" class="new-list-view" ng-repeat="result in failedOrders track by $index">
				      <li>
				        <div class="noBorder pt3 pb3" ng-class="$index % 2 == 0 ? 'list-view-editable-item' : 'list-view-read-only-item'">
				        	<div class="col col-50 text-left"></div>
						    <div class="col col-20 text-left">Error</div>
						    <div class="col col-30">Error
							</div>
				        </div>
				      </li>				     
				   </ul> -->
			   </div>
	   	  </div>
		
		<!-- <button id="BackToProductList" type="button" ng-click="go('products')"
			class="btn btn-primary pull-left">Back to Product List</button> -->
	</div>
</div>
<!--------------------------------------------------------------- Products Tab ORDER SUMMERY Error Message------------------------------------------------------ -->
<div class="conatiner" id="orderErrorMsgSection"
	ng-show="orderErrorMsgSection">
	<div>
		<div class="container pa0">
			<button id="buyProductsClose" class="btn btn-link pull-left"
				ng-click="go('products')">
				{{content.Common.goBackLabel}}
			</button>
		</div>
		<!-- <div class="clearfix pa10" id="courierSectionDetails">
			<div class="pull-right">
				<a id="SuccessMsgClose" ng-click="go('products')" href=""> <svg
						class="cyclops-icon md green">
						<use xlink:href='#icon-times'></svg>
				</a>
			</div>
		</div> -->
		<!--Product Name Section-->
		<p class="lead">{{content.Products.orderSummary.tryAfterSometimeMessage}}</p>
		<button id="BackToProductList" type="button" ng-click="go('products')"
			class="btn btn-primary pull-left">{{content.Products.orderSummary.backToProductListMessage}}</button>
	</div>
</div>
<!--------------------------------------------------------------- Products Tab ORDER SUMMERY Partial Order Success Message------------------------------------------------------ -->
<div class="container" id="OrderSuccessMsgSection"
	ng-show="partialOrderSuccessMsgSection">
	<div>
		<div class="container pa0">
			<button id="OrderSuccessRedirect" class="btn btn-link pull-left"
				ng-click="go('accountSummary')">
				{{content.Products.orderSummary.goBackToAccountDetailsLabels}}
			</button>
		</div>
		<!-- <div class="clearfix pa10" id="courierSectionDetails">
			<div class="pull-right">
				<a id="SuccessMsgClose" ng-click="go('products')" href=""> <svg
						class="cyclops-icon md green">
						<use xlink:href='#icon-times'></svg>
				</a>
			</div>
		</div> -->
		<!--Product Name Section-->
		<p class="lead">
			{{content.Products.orderSummary.thankYouForchoosingCenturylinkMessage}}<br/>{{orderSuccessCount}} {{content.Products.orderSummary.pendingOrdersMessage}}
		</p>
		<button id="BackToProductList" type="button" ng-click="go('products')"
			class="btn btn-primary pull-left">{{content.Products.orderSummary.backToProductListMessage}}</button>
	</div>
</div>