<!--------------------------------------------------------------- Products Tab Landing-------------------------------------------------------->
<!--------------------------------------------------------------- Products Tab Heading-------------------------------------------------------->

<div id="ProductsLanding" >
	<page-event page-id="Products"></page-event>
	<!--------------------------------------------------------------- Products Tab Products Details-------------------------------------------------------->
	<div class="row ma0" id="ProductDocumentation">
		<div class="">
			<!--Courier -->
			<div class="card" id="courierProduct" ng-hide="addClient">
				<div class="card-block">
					<div class="card-title">
						<div class="pull-left">
							<svg class="cyclops-icon lg">
								<use xlink:href='#icon-messaging'></svg>
						</div>
						<h2 ng-bind="content.Common.Products[0].Product.Value"></h2>
					</div>
					<div class="clearfix"></div>
					<p class="card-text">Features:
					<ul>
						<li>Send text messages anywhere in the world.</li>
						<li>Send to regular telephone numbers as well as to short
							codes.</li>
					</ul>
					</p>

					<h4>Available Services</h4>

					<div class="noBorder pa0 ma10">
						<div class="row">
							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-messaging'></svg>
											</div>
											<h4>Send Message</h4>
										</div>
										<p class="card-text">Send an SMS messages.</p>
										<div class="mb10">
											<button ng-click="setIncludePageInProductService('products_sendmessage')"
												class="btn btn-outline btn-block"
												ng-disabled="!isNetworkUser">
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Send Console</span>
												<span ng-show="isNetworkUser">Open Send Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-book'></svg>
											</div>
											<h4>Read Message</h4>
										</div>
										<p class="card-text">Read messages from safe-store.</p>
										<div class="mb10">
											<button ng-click="setIncludePageInProductService('products_readmessage')"
												class="btn btn-outline btn-block"
												ng-disabled="!isNetworkUser">													
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Read Console</span>
												<span ng-show="isNetworkUser">Open Read Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-queue-delete'></svg>
											</div>
											<h4>Delete Message</h4>
										</div>
										<p class="card-text">Delete messages from safe-store.</p>
										<div class="mb10">
											<button ng-click="setIncludePageInProductService('products_deletemessage')"
												class="btn btn-outline btn-block"
												ng-disabled="!isNetworkUser">
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Delete Console</span>
												<span ng-show="isNetworkUser">Open Delete Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-automation'></svg>
											</div>
											<h4>Service Diagnostics</h4>
										</div>
										<p class="card-text">Service to test the health of the SMS
											service.</p>
										<div class="mb10">
											<button
												ng-click="setIncludePageInProductService('products_testcourierservice')"
												class="btn btn-outline btn-block"
												ng-disabled="!isNetworkUser">													
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Diagnostics Console</span>
												<span ng-show="isNetworkUser">Open Diagnostics Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row ma0" id="ProductDocumentation1">
		<div class="">
			<!--Courier -->
			<div class="card" id="speakEasyProduct" ng-hide="addClient">
				<div class="card-block">
					<div class="card-title">
						<div class="pull-left">
							<svg class="cyclops-icon lg">
								<use xlink:href='#icon-phone'></svg>
						</div>
						<h2 ng-bind="content.Common.Products[1].Product.Value"></h2>
					</div>
					<div class="clearfix"></div>
					<p class="card-text">Features:
					<ul>
						<li>Call anywhere in the world.</li>
						<li>Call to regular telephone numbers and mobile.</li>
					</ul>
					</p>

					<h4>Available Services</h4>

					<div class="noBorder pa0 ma10">
						<div class="row">
							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-phone-square'></svg>
											</div>
											<h4>Voice Call</h4>
										</div>
										<p class="card-text">Call to any Phone Number.</p>
										<div class="mb10">
											<button ng-click=""
												class="btn btn-outline btn-block"
												ng-disabled="true">													
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Voice Call Console</span>
												<span ng-show="isNetworkUser">Open Voice Call Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-snapshot'></svg>
											</div>
											<h4>Video Call</h4>
										</div>
										<p class="card-text">Video Call.</p>
										<div class="mb10">
											<button ng-click=""
												class="btn btn-outline btn-block"
												ng-disabled="true">													
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Video Call Console</span>
												<span ng-show="isNetworkUser">Open Video Call Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row ma0" id="ProductDocumentation2">
		<div class="">
			<!--Courier -->
			<div class="card" id="dumpsterProduct" ng-hide="addClient">
				<div class="card-block">
					<div class="card-title">
						<div class="pull-left">
							<svg class="cyclops-icon lg">
								<use xlink:href='#icon-database'></svg>
						</div>
						<h2 ng-bind="content.Common.Products[2].Product.Value"></h2>
					</div>
					<div class="clearfix"></div>
					<p class="card-text">Features:
					<ul>
						<li>Store data in any format.</li>
						<li>Read, Update and Delete stored data.</li>
					</ul>
					</p>

					<h4>Available Services</h4>

					<div class="noBorder pa0 ma10">
						<div class="row">
							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-cloud-upload'></svg>
											</div>
											<h4>Store Data</h4>
										</div>
										<p class="card-text">Store data in any format.</p>
										<div class="mb10">
											<button ng-click=""
												class="btn btn-outline btn-block"
												ng-disabled="true">													
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Store Console</span>
												<span ng-show="isNetworkUser">Open Store Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-download'></svg>
											</div>
											<h4>Read Data</h4>
										</div>
										<p class="card-text">Read data of any format.</p>
										<div class="mb10">
											<button ng-click=""
												class="btn btn-outline btn-block"
												ng-disabled="true">													
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Read Data Console</span>
												<span ng-show="isNetworkUser">Open Read Data Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row ma0" id="ProductDocumentation3">
		<div class="">
			<!--Courier -->
			<div class="card" id="clinkboxProduct" ng-hide="addClient">
				<div class="card-block">
					<div class="card-title">
						<div class="pull-left">
							<svg class="cyclops-icon lg">
								<use xlink:href='#icon-template'></svg>
						</div>
						<h2 ng-bind="content.Common.Products[3].Product.Value"></h2>
					</div>
					<div class="clearfix"></div>
					<p class="card-text">Features:
					<ul>
						<li>Send mail.</li>
						<li>Read received mail.</li>
					</ul>
					</p>

					<h4>Available Services</h4>

					<div class="noBorder pa0 ma10">
						<div class="row">
							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-policies'></svg>
											</div>
											<h4>Send Email</h4>
										</div>
										<p class="card-text">Send Email.</p>
										<div class="mb10">
											<button ng-click=""
												class="btn btn-outline btn-block"
												ng-disabled="true">													
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Send Email Console</span>
												<span ng-show="isNetworkUser">Open Send Email Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card noBorder">
									<div class="card-block">
										<div class="card-title">
											<div class="pull-left">
												<svg class="cyclops-icon md green">
													<use xlink:href='#icon-policies'></svg>
											</div>
											<h4>Read Email</h4>
										</div>
										<p class="card-text">Read received emails.</p>
										<div class="mb10">
											<button ng-click=""
												class="btn btn-outline btn-block"
												ng-disabled="true">													
												<span tooltips tooltip-template="{{consumptionServiceToolTipText}}" ng-show="!isNetworkUser">Open Read Email Console</span>
												<span ng-show="isNetworkUser">Open Read Email Console</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix" id="includeApi" ng-show="addClient">
		<div class="clearfix">
			<div ng-if="page === 'products_sendmessage'"
				ng-include="'partials/products/products_sendmessage.html'"></div>
			<div ng-if="page === 'products_readmessage'"
				ng-include="'partials/products/products_readmessage.html'"></div>
			<div ng-if="page === 'products_deletemessage'"
				ng-include="'partials/products/products_deletemessage.html'"></div>
			<div ng-if="page === 'products_testcourierservice'"
				ng-include="'partials/products/products_testcourierservice.html'"></div>
		</div>
	</div>
</div>
<div class="wait"></div>