<!--------------------------------------------------------------- Test Courier Service Section------------------------------------------------------ -->
<div class="container clearfix pa0" id="myDiv4">
	<page-event page-id="APIConsole-Test" ></page-event>
	<div class="">
		<div class="container pa0">
			<button id="buyProductsClose" class="btn btn-link pull-left"
				ng-click="go('productServices')">
				{{content.Common.goBackLabel}}
			</button>
		</div>
		<div class="clearfix pa0" id="courierSectionDetails">
			<div class="card noBorder">
				<div class="card-block pa0 ml15">
					<div class="card-title">
						<div class="pull-left">
							<svg class="cyclops-icon md green">
								<use xlink:href='#icon-automation'></svg>
						</div>
						<h4>{{content.Products.serviceDiagnosticsLabel}}</h4>
					</div>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-sm-12 pull-left ml10" ng-show="(allocatedSeats | filter:{seatStatus:'working'}).length <= 0">
				<p><svg class="cyclops-icon md danger"><use xlink:href="#icon-exclamation-circle"></svg>{{content.Products.noActiveSeatMessage}}</p>
			</div>			
		</div>
		<!--Test Courier Section-->
		<div id="testCourierSection" class="clearfix pa10">
			<form name="testCourierForm" novalidate>
				<fieldset>
					<div class="form-group">
						<label class="formHdrs_normal">{{content.Common.fromPhoneNumberLabel}}</label> 
						<select id="moniker"
							ng-model="courierServiceStatusData.phoneNumber"
							ng-options="seat.moniker as seat.moniker for seat in allocatedSeats | filter:{seatStatus:'working'}"
							class="form-control" ng-required="true">
							<option value="" disabled selected style="display: none;">{{content.Products.selectYourPhoneNumberMessage}}</option>
						</select>					
					</div>
					<div class="form-group">
						<div class="col-lg-12 col-md-6 col-sm-6 col-sm-offset-3 pa10">
							<button type="submit" id="TestCourierBtn"
								ng-disabled="testCourierForm.$invalid"
								api-event="APIConsole-Test-API"
								ng-click="testCourierService()" class="btn btn-primary" href="">{{content.Common.submitButtonLabel}}</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<!--------------------------------------------------------------- JSON Response/Request Section------------------------------------------------------ -->
		<div id="testCourierServiceDetails" class="clearfix">
			<div class=" clearfix  mb20 ">
				<hr />
			</div>
		</div>

		<!--Send Message Navigation End-->
		<!-------------------------------------------------JSON Request CONTENT--------------------------------------------------------------->
		<div class="pa10">
			<div class="col col-100 new-list-view-header">
				<div class="col col-90 pa0 mt5 pull-left">
					<h3 class="boldTxt pa0">API details</h3>						
				</div>
				<div class="col col-10 pa0"	ng-click="toggleAPIDetailsSection()">
					<div ng-show="!showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-down'></svg></a>
					</div>
					<div ng-show="showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-up'></svg></a>
					</div>
				</div>
			</div>
			<div class="pa10" ng-show="showAPIDetailsSection">
				<div class="">
					<h3 class="boldTxt"><article>Request</article></h3>
				</div>

				<div class="" ng-hide="active">
					<div class="">
						<div class="wordBreak" id="jsonRequestSection">
							<article>curl -X {{courierServiceStatusData.method}}</article>
							<article
								ng-repeat="(key, prop) in courierServiceStatusData.headers">--header
								"{{key}}:{{prop}}"</article>
							<article>-d "{}"
								"{{courierServiceStatusData.requestUrl}}{{courierServiceStatusData.phoneNumber}}"
							</article>
						</div>
					</div>
				</div>
						<!-------------------------------------------------JSON Response CONTENT--------------------------------------------------------------->
				<div class="">
					<div class="">
						<h3 class="boldTxt"><article>Response</article></h3>
					</div>
		
					<div class="">
						<div class="">
							<div class="" id="jsonResponseSection">
								<div id="testServiceSuccessMesssage"
									ng-show="testServiceSuccessMesssage" class="text-left">
									<label>Response Body:</label>
									<article class=""><pre class="ApiConsleText">{{response.data | json}}</pre></article>
								</div>
								<div id="testServiceErrorMesssage"
									ng-show="testServiceErrorMesssage" class="text-left">
									<label>Error:</label>
									<article class="errorMsgText">{{errors.errorMsg}}</article>
								</div>
								<br />
								<!-- ----------------------------------------------------------------- -->
								<div class="text-left">
									<label>Response Status:</label>
									<article class="">{{response.StatusCode}}</article>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!--------------------------------------------------------------- JSON Response/Request Section------------------------------------------------------ -->
</div>