<div>
    <nav-main-menu></nav-main-menu>
        <div class="ProductDetails-Container mt140 " >
            <div class="row-fluid">
                <div class="panel-body" style="height:300px">
				Products Container
                </div>
            </div>
        </div>
 </div>