<!--------------------------------------------------------------- Products Tab SEND MESSAGE------------------------------------------------------ -->

<div class="card m-t-md">
   <div class="card-block">
   <div class="row">
   		<div class="col-sm-12" ng-show="(allocatedSeats | filter:{seatStatus:'working'}).length <= 0">
			<p><svg class="cyclops-icon md danger"><use xlink:href="#icon-exclamation-circle"></svg> {{content.Products.noActiveSeatMessage}}</p>
		</div>
   </div>
					
     <form class="form-horizontal" name="sendMessageForm" ng-submit="submitted = true" novalidate>
       <fieldset>
         <legend>
           {{content.Products.sendMessageLabel}}
         </legend>
         <div class="form-group">
           <label class="control-label col-sm-3" for="inputFrom">{{content.Common.fromPhoneNumberLabel}}</label>
           <div class="col-sm-8">
             <select class="form-control" id="inputFrom" ng-required="true" name="fromPhoneNumber"
             	ng-model="sendMsgData.selectedMoniker"
				ng-options="seat.moniker as seat.moniker for seat in allocatedSeats | filter:{seatStatus:'working'} | filter:{seatId:'{{seatIdforMonikers}}'}"
				ng-change="setMonikerValue(sendMsgData.selectedMoniker.moniker)" ng-required="true">
				<option value="" disabled selected">
					{{content.Products.apiConsoleForms.selectYourPhoneNumberMessage}}
				</option>
             </select>
             <div ng-show="submitted && sendMessageForm.fromPhoneNumber.$error.required && errLbl" class="errLabel">
					Required
			 </div>
           </div>
         </div>
         <div class="form-group">
           <label class="control-label col-sm-3" for="inputTo">{{content.Common.ToPhoneNumberLabel}}</label>
           <div class="col-sm-8">
             <label class="sr-only" for="inputCountryCode">{{content.Common.countryCode}}</label>
             <select class="form-control w30" id="inputCountryCode"
             	ng-required="true" ng-model='sendMsgData.toCountryCode'
				ng-options="supportedCode.code as (supportedCode.code + '(' + supportedCode.isoCode + ')') for supportedCode in supportedCountryCallingCodes">
             </select>
             <input type="number" class="form-control w70" name="inputTo" id="inputTo" placeholder="XXX XXX-XXXX"
             	ng-model="sendMsgData.to" ng-maxlength="10" ng-required="true" ng-pattern="/^[0-9]*$/" />
             <div ng-show="submitted && sendMessageForm.inputTo.$error.required && errLbl" class="errLabel">
					Required
			 </div>
             <div	class="errLabel" ng-show="sendMessageForm.inputTo.$error.pattern">{{content.Products.apiConsoleForms.notAValidNumberMessage}}</div> 
			 <div	class="errLabel" ng-show="sendMessageForm.inputTo.$error.maxlength">{{content.Products.apiConsoleForms.enterOnly10DigitsMessage}}</div>
             <p class="help-block">include area code</p>
           </div>
         </div>        
         <div class="form-group">
           <label class="control-label col-sm-3" for="inputMessage">{{content.Products.apiConsoleForms.messageTextLabel}}</label>
           <div class="col-sm-8">
             <textarea rows="3" class="form-control" name="messageText" placeholder="message" ng-model='sendMsgData.messageText' ng-minlength="1" ng-maxlength="1000" ng-required="true"></textarea>
          	 <div ng-show="submitted && sendMessageForm.messageText.$error.required && errLbl" class="errLabel">
					Required
			 </div>
			 <div ng-show="submitted && (sendMessageForm.messageText.$error.minlength || sendMessageForm.messageText.$error.maxlength) && errLbl" class="errLabel">
					The message length must be between 1 and 1000 characters 
			 </div>
           </div>
         </div>
         <div class="form-group form-submit">
           <div class="col-sm-offset-3 col-sm-9">
             <button type="submit" class="btn btn-primary" 
             ng-click="sendMessageForm.$valid && sendMessage()" api-event="APIConsole-Send-API">send message</button><!-- ng-disabled="sendMessageForm.$invalid"  -->
           </div>
         </div>
       </fieldset>
     </form>
		<div class="new-list-view-header">
				<div class="col-sm-10">
					<h3 class="boldTxt">{{content.Products.APIDetailsLabel}}</h3>						
				</div>
				<div class="col-sm-2"	ng-click="toggleAPIDetailsSection()">
					<div ng-show="!showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-down'></svg></a>
					</div>
					<div ng-show="showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-up'></svg></a>
					</div>
				</div>
			</div>
			
			 <div ng-show="showAPIDetailsSection">
				<div class="">
					<h3 class="boldTxt"><article>{{content.Products.requestLabel}}</article></h3>
				</div>
	
				<div class="" ng-hide="active">
					<div class="">
						<div class="wordBreak" id="jsonRequestSection">
							<article>curl -X {{sendMsgData.method}}</article>
							<article ng-repeat="(key, prop) in sendMsgData.headers">--{{content.Products.headerLabel}}
								"{{key}}:{{prop}}"</article>
							<article>-d "{
								"\to\":\"{{sendMsgData.toCountryCode}}{{sendMsgData.to}}\",
								\"messageText\":\"{{sendMsgData.messageText}}\" }"
								"{{sendMsgData.requestUrl}}{{sendMsgData.selectedMoniker.moniker}}"
							</article>
						</div>
					</div>
				</div>				
				<!-------------------------------------------------JSON Response CONTENT------------------------------------------->
				<div class="">
					<div class="">
						<h3 class="boldTxt"><article>{{content.Products.responseLabel}}</article></h3>
					</div>
		
					<div class="" >
						<div class="">
							<div class="" id="jsonResponseSection">
								<div id="SendMessageSuccessMesssage" ng-show="sendMessageSuccessMesssage"
									class="text-left">
									<label>{{content.Products.responseBodyLabel}}:</label> <br />
									<article class=""><pre class="ApiConsleText">{{response.data | json}}</pre></article>
								</div>
								<div id="SendMessageErrorMesssage" ng-show="sendMessageErrorMesssage"
									class="text-left">
									<label>{{content.Products.errorLabel}}:</label>
									<article class="errorMsgText">{{response.errorMsg}}</article>
								</div>
								<br />
								<div class="text-left">
									<label>{{content.Products.responseStatusLabel}}:</label>
									<article class="">{{response.StatusCode}}</article>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-------------------------------------------------------------- JSON Response/Request Section-------------------------------->
			</div> 

   </div>	
 </div>