<!--------------------------------------------------------------- READ MESSAGE Section------------------------------------------------------ -->
<page-event page-id="APIConsole-Read" ></page-event>

<div class="card " style="color:#666;" id="myDiv2"><!-- container clearfix pa0 m-t-md -->
	
	<div class="container-fluid">
		<div class="row pt10 pr10 pl10" id="courierSectionDetails">	<!-- pa10 -->		
						<legend>
							<div class="pull-left">
								<svg class="cyclops-icon md green">
									<use xlink:href='#icon-book'></svg>
							</div>
							{{content.Products.readMessageLabel}}
						</legend>
		</div>
		<div class="row">
			<div class="col-sm-12 pull-left ml10" ng-show="(allocatedSeats | filter:{seatStatus:'working'}).length <= 0">
				<p><svg class="cyclops-icon md danger"><use xlink:href="#icon-exclamation-circle"></svg> {{content.Products.noActiveSeatMessage}}</p>
			</div>			
		</div>
		<!--Read Message Section-->
		<div id="ReadMessageSection" class="clearfix ml30 " >
			<p class="lead mb10">{{content.Products.apiConsoleForms.enterYourSearchCriteriaMessage}}</p>
			<form name="readMessageForm"  novalidate class="form-horizontal" ng-submit="submitted=true">
				<fieldset>
					<div class="form-group">
						<label for="seat" class="control-label col-sm-3">{{content.Common.seatIdLabel}}</label> 
						<div class="col-sm-8">
							<select id="seat" name="selectedSeat"
								ng-model="readMsgData.selectedSeat"
								ng-options="seat.seatId for seat in allocatedSeats | filter:{seatStatus:'working'} | filter:{seatId:'{{seatIdforMonikers}}'}"
								ng-change="setSeatIdValueForRead(readMsgData.selectedSeat.seatId)"
								class="form-control requiredField" ng-required="true">
	
								<option value="" disabled selected style="display: none;">{{content.Products.apiConsoleForms.returnAllMessagesFromThisSeat}}</option>
							</select>
							 <div ng-show="submitted && readMessageForm.selectedSeat.$error.required && errLbl" class="errLabel">
									Required
							 </div>
						</div>	
					</div>
					<div class="form-group">
						<label for="messageId" class="control-label col-sm-3">{{content.Products.apiConsoleForms.messageIdLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-sm-8">
							<input name="messageId"
								type="text" class="form-control" placeholder="Message ID"
								ng-model="readMsgData.messageId" ng-change="evaluteReadQuery()" />
							<div class="errLabel" ng-show="readMessageForm.messageId.$error.pattern">{{content.Common.digitOnlyErrorMessage}}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="fromPhoneNumber" class="control-label col-sm-3">{{content.Common.fromPhoneNumberLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							<input type="text"
								id="fromPhoneNumber" name="fromPhoneNumber" class="form-control"
								placeholder="Return all messages from this phone number" ng-model="readMsgData.fromPhoneNumber"
								ng-maxlength="20" ng-change="evaluteReadQuery()"> 
								<span class="errLabel" 	ng-show="readMessageForm.fromPhoneNumber.$error.maxlength">{{content.Common.characterRestriction20Error}}</span>
						</div>
					</div>
					<div class="form-group">
						<label for="toPhoneNumber" class="control-label col-sm-3">{{content.Common.ToPhoneNumberLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							<input type="text"
								id="toPhoneNumber" name="toPhoneNumber" class="form-control"
								placeholder="Return all messages sent to this phone number" ng-model="readMsgData.toPhoneNumber"
								ng-maxlength="20" ng-change="evaluteReadQuery()"> 
								<span class="errLabel" 	ng-show="readMessageForm.toPhoneNumber.$error.maxlength">{{content.Common.characterRestriction20Error}}</span>
						</div>
					</div>
					<div class="form-group">
						<label for="toPhoneNumber" class="control-label col-sm-3">{{content.Products.apiConsoleForms.messageTextLabel}} {{content.Common.optionalTextLabel}}</label>
						<div class="col-md-8">
							 <input type="text"
								name="message" class="form-control" placeholder="Message Text"
								ng-model="readMsgData.messageText" ng-change="evaluteReadQuery()" />
						</div>
					</div>
					<div class="form-group">
						<label for="offset" class="control-label col-sm-3">{{content.Products.apiConsoleForms.OffsetLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							<input type="text"
								name="offset" id="offest" class="form-control patternError"	placeholder="Offset" 
								ng-model="readMsgData.queryParam.offset"
								ng-pattern="/^[0-9]*$/"> 
							<div class="errLabel" ng-show="readMessageForm.offset.$error.pattern">{{content.Products.apiConsoleForms.notAValidNumberMessage}}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="limit" class="control-label col-sm-3">{{content.Products.apiConsoleForms.limitLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							<input type="text" name="limit"
								id="limit" class="form-control patternError" placeholder="Limit"
								ng-model="readMsgData.queryParam.limit" ng-pattern="/^[0-9]*$/">
							<div class="errLabel" ng-show="readMessageForm.limit.$error.pattern">{{content.Products.apiConsoleForms.notAValidNumberMessage}}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="readMeassagePretty" class="control-label col-sm-3">{{content.Products.apiConsoleForms.prettyLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							<select
								id="readMeassagePretty" ng-model="readMsgData.queryParam.Pretty"
								class="form-control">
								<option value="" disabled selected style="display: none;">{{content.Products.apiConsoleForms.selectPrettyLabel}}</option>
								<option value="true">{{content.Products.apiConsoleForms.trueLabel}}</option>
								<option value="false">{{content.Products.apiConsoleForms.falseLabel}}</option>
							</select>
							</div>
					</div>
					<div class="form-group">
						<label class="readMeassageSort control-label col-sm-3">{{content.Products.apiConsoleForms.sortLabel}} {{content.Common.optionalTextLabel}}</label>
						<div class="col-md-8">
							 <select
								id="readMeassageSort" ng-model="readMsgData.queryParam.Sort"
								class="form-control">
								<option value="">{{content.Products.apiConsoleForms.selectSortLabel}}</option>
								<option value="createDate">{{content.Products.apiConsoleForms.createDateLabel}}</option>
							</select>
							</div>
					</div>
					<div class="form-group">
						<label for="" class="control-label col-sm-3">{{content.Common.durationLabel}} {{content.Common.optionalTextLabel}}</label> 
						<div class="col-md-8">
							
							<table width="100%">
							<tr>
							<td>
							<input calendar
								placeholder="Start Date" class="form-control dtpickerTxtBox" id="readmessegeStartDate" name="readmessegeStartDate"
								ng-model="readMsgData.startDate" ng-change="evaluteReadQuery()" />
								<span class="input-group-addon add-on"><span
								class="fa fa-calendar"></span></span>	
							</td>
							<td>&nbsp;</td>													
							<td>							
							<input calendar name="readmessageEndDate"
								placeholder="End Date" class="form-control dtpickerTxtBox"  compare-date="readmessegeStartDate"
								ng-model="readMsgData.endDate" ng-change="evaluteReadQuery()" />
								<span class="input-group-addon add-on"><span
								class="fa fa-calendar"></span></span>
								<div class="errLabel" ng-show="readMessageForm.readmessageEndDate.$error.compareDate">{{content.Common.endDateStartDateErrorMessage}}</div>
							</td>
							</tr>
							</table>
						</div>
						<span ng-model="ShowDateError"></span>
					</div>
					<div class="">
						<div class="col-sm-offset-4 col-sm-6 mt10">
							<button type="submit" id="SearchMesageBtn"
								 ng-click="readMessageForm.$valid && readMessage()"
								api-event="APIConsole-Read-API"
								class="btn btn-primary">{{content.Common.submitButtonLabel}}</button><!-- ng-disabled="readMessageForm.$invalid" -->
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<!--Send Message Section End-->

		<div id="ReadMessageDetails ">
			<div class=" clearfix mt5">
				<hr />
			</div>
		</div>
		<!-------------------------------------------------JSON Request CONTENT--------------------------------------------------------------->
		<!-- div class="pa10"-->			
			<div class="new-list-view-header mb20">
				<div class="col-sm-10">
					<h3 class="boldTxt">{{content.Products.APIDetailsLabel}}</h3>						
				</div>
				<div class="col-sm-2"	ng-click="toggleAPIDetailsSection()">
					<div ng-show="!showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-down'></svg></a>
					</div>
					<div ng-show="showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-up'></svg></a>
					</div>
				</div>
			</div>
			<div class="" ng-show="showAPIDetailsSection">
				<div class="">
					<h3 class="boldTxt"><article>{{content.Products.requestLabel}}</article></h3>
				</div>

				<div class="" ng-hide="active">
					<div class="">
						<div class="" id="jsonRequestSection">
								<article>curl -X {{readMsgData.method}}</article>
								<article ng-repeat="(key, prop) in readMsgData.headers">--{{content.Products.headerLabel}}
									"{{key}}:{{prop}}"</article>
								<article class="wordBreak">
									"{{readMsgData.requestUrl}}<span
										ng-repeat="(key, prop) in readMsgData.queryParam"
										ng-if="prop != ''">{{$first ? '?' : '&'}}{{key}}={{prop}}</span>"
								</article>
							</div>
						</div>
					</div>
			<!-------------------------------------------------JSON Response CONTENT--------------------------------------------------------------->

				<div class="">					
					<div class="">
						<h3 class="boldTxt"><article>{{content.Products.responseLabel}}</article></h3>
					</div>
		
					<div class="">
						<div class="">
							<div class=""
								id="jsonResponseSection">
								<div id="ReadMessageSuccessMesssage"
									ng-show="readMessageSuccessMesssage" class="text-left">
									<label>{{content.Products.responseBodyLabel}}:</label><br />
									<article class="">
										<pre ng-show="readMsgData.queryParam.Pretty === 'true'" class="ApiConsleText">{{response.data | json}}</pre>
										<span ng-show="readMsgData.queryParam.Pretty === 'false'" class="ApiConsleText">{{response.data}}</span>										
									</article>
								</div>
								<div id="ReadMessageErrorMesssage"
									ng-show="readMessageErrorMesssage" class="text-left">
									<label>{{content.Products.errorLabel}}:</label>
									<article class="errorMsgText">{{errors.errorMsg}}</article>
								</div>
								<br />
								<!-- ----------------------------------------------------------------- -->
								<div class="text-left">
									<label>{{content.Products.responseStatusLabel}}:</label>
									<article class="">{{response.StatusCode}}</article>
								</div>
							</div>
						</div>
					</div>
				</div>
		<!-- <div class="mt5"></div> -->
		</div>
	<!-- /div-->
	<!-- /div-->
	<!--------------------------------------------------------------- JSON Response/Request Section------------------------------------------------------ -->
</div>
</div>