<!--------------------------------------------------------------- Products Tab Landing-------------------------------------------------------->
<!--------------------------------------------------------------- Products Tab Heading-------------------------------------------------------->
<div id="ProductsLanding" class="primary ma0 col-md-10 col-sm-9">
	<page-event page-id="Products"></page-event>
	<div class="container-fluid pb10" id="productshoppingcart"
		ng-show="productshoppingcart">
		<button class="btn btn-outline btn-sm pull-right"
			ng-click="setIncludePage('products_ordersummary')">
			<svg class="cyclops-icon xs green"> <use
					xlink:href='#icon-shopping-cart'></svg>
			&nbsp;Cart ({{cartDetails.totalQuantity}})
		</button>
	</div>
	<!--------------------------------------------------------------- Products Tab Products Details-------------------------------------------------------->
	<div class="card-deck-wrapper ma0" id="ProductDocumentation">
		<div class="row">
			<div class="col-md-6">
				<!--Courier -->
				<div class="card" id="ProductCart1" ng-hide="addClient">
					<div class="card-block">
						<div class="card-title">
							<div class="pull-left">
								<svg class="cyclops-icon lg green">
								<use xlink:href='#icon-messaging'></svg>
							</div>
							<h2 ng-bind="content.Common.Products[0].Product.Value"></h2>
						</div>
						<div class="clearfix"></div>
						<p class="card-text">{{content.Products.featuresLabels}}:
						<ul>
							<li>{{content.Products.Products[0].Product.Features[0].feature1}}</li>
							<li>{{content.Products.Products[0].Product.Features[1].feature2}}</li>
						</ul>
						</p>
						<div class="clearfix mt10 ml0">
							<a href="#/apiDocs/products" class="page_link">{{content.Products.APIDocumentationLabel}}</a>
						</div>

					<div class="clearfix">
						<div class="form-group">
							<div class="pull-left pt10 pb10">
								<button id="buyProductsBtn"
									ng-click="setIncludePage('products_buyproducts')"
									class="btn btn-primary btn-lg" ng-disabled="isNetworkUser">
										<span tooltips tooltip-template="{{subscribeToolTipText}}">{{content.Common.subscibeButtonLabel}}</span></button>									
								<button id="buyProductsBtn" ng-click="goToQuickStart()"
										class="btn btn-primary btn-lg" ng-disabled="isNetworkUser">
										<span tooltips tooltip-template="{{quickstartToolTipText}}">{{content.Common.quickStartButtonLabel}}
										
									</button>	
							</div>
							<div class="pull-left pt10 pb10 ml10" ng-show="isNetworkUser">
							<article>{{content.Products.notAuthorizedToSubscribeMessage}}</article>
							</div>
						</div>
					</div>

						<h4>{{content.Products.availableFeaturesLabel}}</h4>

						<div class="noBorder pa0 ma10">
							<ul class="list-inline">
								<li>
									<div class="pull-left">
										<svg class="cyclops-icon green">
													<use xlink:href='#icon-messaging'></svg>
									</div><span tooltips tooltip-template="{{consumptionServiceToolTipText}}"> {{content.Products.Products[0].Product.availableFeatures[0].Feature1}}</span>
								</li>
								<li>
									<div class="pull-left">
										<svg class="cyclops-icon green">
													<use xlink:href='#icon-book'></svg>
									</div><span tooltips tooltip-template="{{consumptionServiceToolTipText}}">{{content.Products.Products[0].Product.availableFeatures[1].Feature2}}</span>
								</li>
								<li>
									<div class="pull-left">
										<svg class="cyclops-icon green">
													<use xlink:href='#icon-queue-delete'></svg>
									</div><span tooltips tooltip-template="{{consumptionServiceToolTipText}}">{{content.Products.Products[0].Product.availableFeatures[2].Feature3}}</span>
								</li>
								<li>
									<div class="pull-left">
										<svg class="cyclops-icon green">
													<use xlink:href='#icon-automation'></svg>
									</div><span tooltips tooltip-template="{{consumptionServiceToolTipText}}">{{content.Products.Products[0].Product.availableFeatures[3].Feature4}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card" id="courierProduct" ng-hide="addClient">
					<div class="card-block">
						<div class="card-title">
							<div class="pull-left">
								<svg class="cyclops-icon lg green">
								<use xlink:href='#icon-phone'></svg>
							</div>
							<h2 ng-bind="content.Common.Products[1].Product.Value"></h2>
						</div>
						<div class="clearfix"></div>
						<p class="card-text">{{content.Products.featuresLabels}}:
						<ul>
							<li>{{content.Products.Products[1].Product.Features[0].feature1}}</li>
							<li>{{content.Products.Products[1].Product.Features[1].feature2}}</li>
						</ul>
						</p>
						<div class="clearfix mt10 ml0">
							<a href="#/apiDocs/products" class="page_link">{{content.Products.APIDocumentationLabel}}</a>
						</div>

						<div class="clearfix">
							<div class="form-group">
								<div class="pull-left pt10 pb10">
									<button id="buyProductsBtn"
										ng-click="setIncludePage('products_buyproducts')"
										class="btn btn-primary btn-lg" ng-disabled="true">
										<span tooltips tooltip-template="{{subscribeToolTipText}}">{{content.Common.subscibeButtonLabel}}
										
									</button>
									<button id="buyProductsBtn" ng-click="goToQuickStart()"
										class="btn btn-primary btn-lg" ng-disabled="true">
										<span tooltips tooltip-template="{{quickstartToolTipText}}">{{content.Common.quickStartButtonLabel}}
										
									</button>

								</div>
								<div class="pull-left pt10 pb10 ml10" ng-show="isNetworkUser">
									<article>{{content.Products.notAuthorizedToSubscribeMessage}}</article>
								</div>
							</div>
						</div>

						<h4>{{content.Products.availableFeaturesLabel}}</h4>

						<div class="noBorder pa0 ma10">
							<ul class="list-inline">
								<li>
									<div class="pull-left">
										<svg class="cyclops-icon green">
													<use xlink:href='#icon-phone-square'></svg>
									</div>{{content.Products.Products[1].Product.availableFeatures[0].Feature1}}
								</li>
								<li>
									<div class="pull-left">
										<svg class="cyclops-icon green">
													<use xlink:href='#icon-snapshot'></svg>
									</div>{{content.Products.Products[1].Product.availableFeatures[1].Feature2}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!--Courier -->
			<div class="card" id="ProductCart2" ng-hide="addClient">
				<div class="card-block">
					<div class="card-title">
						<div class="pull-left">
							<svg class="cyclops-icon lg green">
								<use xlink:href='#icon-database'></svg>
						</div>
						<h2 ng-bind="content.Common.Products[2].Product.Value"></h2>
					</div>
					<div class="clearfix"></div>
					<p class="card-text">{{content.Products.featuresLabels}}:
					<ul>
						<li>{{content.Products.Products[2].Product.Features[0].feature1}}</li>
						<li>{{content.Products.Products[2].Product.Features[1].feature2}}</li>
					</ul>
					</p>
					<div class="clearfix mt10 ml0">
						<a href="#/apiDocs/products" class="page_link">{{content.Products.APIDocumentationLabel}}</a>
					</div>

					<div class="clearfix">
						<div class="form-group">
							<div class="pull-left pt10 pb10">
								<button id="buyProductsBtn"
									ng-click="setIncludePage('products_buyproducts')"
									class="btn btn-primary btn-lg" ng-disabled="true">
									<span tooltips tooltip-template="{{subscribeToolTipText}}">{{content.Common.subscibeButtonLabel}}									
								</button>
								<button id="buyProductsBtn" ng-click="goToQuickStart()"
									class="btn btn-primary btn-lg" ng-disabled="true">
									<span tooltips tooltip-template="{{quickstartToolTipText}}">{{content.Common.quickStartButtonLabel}}									
								</button>
							</div>
							<div class="pull-left pt10 pb10 ml10" ng-show="isNetworkUser">
								<article>{{content.Products.notAuthorizedToSubscribeMessage}}</article>
							</div>
						</div>
					</div>

					<h4>{{content.Products.availableFeaturesLabel}}</h4>

					<div class="noBorder pa0 ma10">
						<ul class="list-inline">
							<li>
								<div class="pull-left">
									<svg class="cyclops-icon green">
													<use xlink:href='#icon-cloud-upload'></svg>
								</div>{{content.Products.Products[2].Product.availableFeatures[0].Feature1}}
							</li>
							<li>
								<div class="pull-left">
									<svg class="cyclops-icon green">
													<use xlink:href='#icon-download'></svg>
								</div>{{content.Products.Products[2].Product.availableFeatures[1].Feature2}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card" style="height:100%" id="courierProduct" ng-hide="addClient">
				<div class="card-block">
					<div class="card-title">
						<div class="pull-left">
							<svg class="cyclops-icon lg green">
								<use xlink:href='#icon-template'></svg>
						</div>
						<h2 ng-bind="content.Common.Products[3].Product.Value"></h2>
					</div>
					<div class="clearfix"></div>
					<p class="card-text">{{content.Products.featuresLabels}}:
					<ul>
						<li>{{content.Products.Products[3].Product.Features[0].feature1}}</li>
						<li>{{content.Products.Products[3].Product.Features[1].feature2}}</li>
					</ul>
					</p>
					<div class="clearfix mt10 ml0">
						<a href="#/apiDocs/products" class="page_link">{{content.Products.APIDocumentationLabel}}</a>
					</div>

					<div class="clearfix">
						<div class="form-group">
							<div class="pull-left pt10 pb10">
								<button id="buyProductsBtn"
									ng-click="setIncludePage('products_buyproducts')"
									class="btn btn-primary btn-lg" ng-disabled="true">
									<span tooltips tooltip-template="{{subscribeToolTipText}}">{{content.Common.subscibeButtonLabel}}									
								</button>
								<button id="buyProductsBtn" ng-click="goToQuickStart()"
									class="btn btn-primary btn-lg" ng-disabled="true">
									<span tooltips tooltip-template="{{quickstartToolTipText}}">{{content.Common.quickStartButtonLabel}}									
								</button>
							</div>
							<div class="pull-left pt10 pb10 ml10" ng-show="isNetworkUser">
								<article>{{content.Products.notAuthorizedToSubscribeMessage}}</article>
							</div>
						</div>
					</div>

					<h4>{{content.Products.availableFeaturesLabel}}</h4>

					<div class="noBorder pa0 ma10">
						<ul class="list-inline">
							<li>
								<div class="pull-left">
									<svg class="cyclops-icon green">
													<use xlink:href='#icon-policies'></svg>
								</div>{{content.Products.Products[3].Product.availableFeatures[0].Feature1}}
							</li>
							<li>
								<div class="pull-left">
									<svg class="cyclops-icon green">
													<use xlink:href='#icon-policies'></svg>
								</div>{{content.Products.Products[3].Product.availableFeatures[1].Feature2}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix" id="includeApi" ng-show="addClient">
			<div class="clearfix">
				<div ng-if="page === 'products_buyproducts'"
					ng-include="'partials/products/products_buyproducts.html'"></div>
				<div ng-if="page === 'products_editproducts'"
					ng-include="'partials/products/products_editproducts.html'"></div>
				<div ng-if="page === 'products_ordersummary'"
					ng-include="'partials/products/products_ordersummary.html'"></div>
			</div>
		</div>
		<!--Couruer End-->
	</div>
</div>
<div class="wait"></div>