<!-- Manage Account-->
<div id="manageAccountLanding" class="clearfix">
   <label class="ProductsHdrs">Manage Account CTL IO</label>
   <div class="PopularProducts_cointainer" id="ProductDignostics">
  <!--  <label class="formHdrs_bold pa10">Account Information</label> -->
      <!--Manage Account Section Container-->     
      <div class="container-fluid col-md-offset-0 pa10">
         <div class="row-fluid form-group">
           <div class=" clearfix ">
			  
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12">
                     <article class="formTxt_normal_12 pull-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</article>
                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12 mt10" >
                    <a href="" class="page_link">Manage Account</a>
                  </div>
				 
				  </div>
				
         
         </div>
      </div>
      <!--Manage Account Section Container End-->  
  
   </div>
</div>