<!-- Manage Account-->

<div id="manageAccountLanding" class="container-fluid">
   <page-event page-id="ManageProfile-View" ></page-event>	
	<div class="clearfix pa10" ng-show="ManageAccountNetworkUser">
		<!--Manage Profile Components-->
		<form class="form-horizontal" name="manageaccountform" ng-submit="updateAccountData(manageaccountform.$valid)" novalidate>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.firstNameLabel}}</label> 
				<div class="col-sm-9">
					<input id="FirstNameTxtField" type="text"
						class="form-control" ng-model="manageAccount.firstName" name="firstname" ng-maxlength="20" ng-required="true"
						placeholder="{{accountInfoData.firstName}}">
					<div class="errLabel" ng-show="manageaccountform.firstname.$error.maxlength">Maximum 20 Characters are allowed</div>		
					<div class="errLabel" ng-show="manageaccountform.firstname.$error.required">First name is required</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.lastNameLabel}}</label>
				<div class="col-sm-9">
					<input id="LastNameTxtField" type="text"
						class="form-control" ng-model="manageAccount.lastName" name="lastname" ng-maxlength="20" 
						placeholder="{{accountInfoData.lastName}}">
					<div class="errLabel" ng-show="manageaccountform.lastname.$error.maxlength">Maximum 20 Characters are allowed</div>			
				</div> 
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.emailIDLabel}}</label> 
				<div class="col-sm-9">
					<input id="EmailIDTxtField" type="email"
						class="form-control email" ng-model="manageAccount.email" ng-required="true"
						placeholder="{{accountInfoData.email}}">
					<div ng-show="manageaccountform.email.$error.email" class="errLabel">Please type valid email address</div>
					<div ng-show="manageaccountform.email.$error.required" class="errLabel">Email address is required</div>						
				</div>
			</div>
			<div><a href="" ng-click="showPassword()">{{content.My_Profile.myProfileForm.updatePasswodMessage}}</a></div>
				<div ng-if="updatePassword == true">
					<ul class="new-list-view">
					<li>
					<div class="list-view-item-form">
				        <fieldset>
				        	<div class="form-group">
								<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.oldPasswordLabel}}</label> 
								<div class="col-sm-9">
									<input id="OldPasswordTxtField"
										name="OldPasswordTxtField" type="password" 
										class="form-control requiredField"	ng-model="manageAccount.oldPassword"
										placeholder="password" ng-required="isRequired"/>
									<div ng-show="submitted && manageaccountform.OldPasswordTxtField.$error.required && errLbl" class="errLabel">{{content.My_Profile.myProfileForm.oldPasswordRequiredMessage}}</div> <!--  -->
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.newPasswordLabel}}
									<span tooltips tooltip-side="right" tooltip-template="Password must be between 6 and 20 characters long. They must include one lower case character,
										one upper case character, one digit and one special character from @ # $ %. They cannot match the e-mail address.">
										<svg class="cyclops-icon info"><use xlink:href='#icon-info-circle'></svg>
									</span>
								</label>
								<div class="col-sm-9">
									<input id="PasswordTxtField" ng-password-strength="manageAccount.password" strength="manageAccount.pswdStrength"
										name="PasswordTxtField" type="password" class="form-control patternError"
										ng-model="manageAccount.password" ng-minlength="6"
										ng-maxlength="20" same-as="manageAccount.oldPassword"
										ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[@#$%]).{6,20}$/"
									placeholder="new password" ng-required="true"/> 
									<p class="password-strength">password strength: 
										<span ng-if="manageAccount.pswdStrength <=37" class="strength weak">Weak</span>
										<span ng-if="manageAccount.pswdStrength >37 && manageAccount.pswdStrength <=60" class="strength good">Good</span>
										<span ng-if="manageAccount.pswdStrength >60" class="strength strong">Strong</span>
									</p>
									<div ng-show="submitted && manageaccountform.PasswordTxtField.$error.required && errLbl" class="errLabel">{{content.My_Profile.myProfileForm.newPasswordRequiredLabel}}</div>
									<div ng-show="!manageaccountform.PasswordTxtField.$error.required && (manageaccountform.PasswordTxtField.$error.minlength || manageaccountform.PasswordTxtField.$error.maxlength) && 
				   						manageaccountform.PasswordTxtField.$dirty" class="errLabel">{{content.My_Profile.myProfileForm.passwordLenghtValidationMessage}}</div> 
				   					<div ng-show="!manageaccountform.PasswordTxtField.$error.required && !manageaccountform.PasswordTxtField.$error.minlength && !manageaccountform.PasswordTxtField.$error.maxlength && 
				   						manageaccountform.PasswordTxtField.$error.pattern && manageaccountform.PasswordTxtField.$dirty && manageaccountform.PasswordTxtField != manageaccountform.EmailIDTxtField" class="errLabel">
				   						{{content.My_Profile.myProfileForm.passwordCriteriaValidationMessage}}</div>
									<div ng-show="submitted && manageaccountform.PasswordTxtField.$error.sameas" class="errLabel">{{content.My_Profile.myProfileForm.newPasswordSameAsOldMessage}}</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.confirmNewPasswordLabel}}</label>
								<div class="col-sm-9">
									<input id="VerifyPasswordTxtField"
										name="VerifyPasswordTxtField" type="password" class="form-control"
										ng-model="manageAccount.verifyPassword"
										id="C_passwordforCreateNetwork" pw-check="PasswordTxtField"
										placeholder="confirm password" 
									ng-required="true">
									<!-- manageAccount.PasswordTxtField && manageAccount.PasswordTxtField !='' -->
									<div class="errLabel" ng-show="submitted && manageaccountform.VerifyPasswordTxtField.$error.required ">
									{{content.My_Profile.myProfileForm.confirmNewPasswordRequiredLabel}}</div>
									 <div class="errLabel" ng-show="!manageaccountform.VerifyPasswordTxtField.$error.required && manageaccountform.VerifyPasswordTxtField.$error.pwmatch">
									{{content.My_Profile.myProfileForm.passwordDontMatchMessage}} </span></div>
								</div>
							</div>
						</fieldset>
					</div>
					</li>
				</ul>
			</div>
			<br/>
			<div><a href="" ng-click="showSecurityQuestions()">{{content.My_Profile.myProfileForm.updateSecurityQuestionsMessage}}</a></div>
			<div ng-if="updateSecurityQuestions == true || secQuesMustUpdate">
				<ul class="new-list-view">
					<li>
					<div class="list-view-item-form">
				        <fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.securityQuestion1Label}}</label>
								<div class="col-sm-9">
									<select id="SecQue1TxtField"
										type="text" class="form-control"
										ng-model="manageAccount.securityQue1" name="SecQue1TxtField" ng-required="true"	ng-change="secQuesChanged('1')"									
										ng-options="question.value as question.value  for question in securityQuestions"></select>
										<div class="errLabel"  ng-show="(updateSecurityQuestions || secQuesMustUpdate) && manageaccountform.SecQue1TxtField.$error.required">Security questions are required to reset password</div>
								</div> 
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.securityAnswer1Label}}</label> 
								<div class="col-sm-9">
									<input id="SecAns1TxtField"
										type="text" class="form-control" name="SecAns1TxtField"
										ng-model="manageAccount.securityAnswer1" placeholder="security answer"
										ng-maxlength="20"
										ng-required="manageAccount.securityQue1 && manageAccount.securityQue1 !='' && (secQuesChanged1 || secQuesChanged2)">
									<div class="errLabel" ng-show="submitted && (secQuesChanged1 || secQuesChanged2) && manageaccountform.SecAns1TxtField.$error.maxlength">{{content.My_Profile.maxCharactersErrorMessage}}</div>
									<div class="errLabel" ng-show="submitted && (secQuesChanged1 || secQuesChanged2) && manageaccountform.SecAns1TxtField.$error.required">Security Answer is required</div>
								</div>								
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.securityQuestion2Label}}</label>
								<div class="col-sm-9">
										<select id="SecQue2TxtField"
											type="text" class="form-control" name="SecQue2TxtField" same-as="manageAccount.securityQue1"
											ng-model="manageAccount.securityQue2" ng-required="true" ng-change="secQuesChanged('2')"
											ng-options="question.value as question.value for question in securityQuestions">											
											</select>
									<div class="errLabel"  ng-show="(updateSecurityQuestions || secQuesMustUpdate) && manageaccountform.SecQue2TxtField.$error.required">Security questions are required to reset password</div>
									<div class="errLabel"  ng-show="submitted && manageaccountform.SecQue2TxtField.$error.sameas">{{content.My_Profile.myProfileForm.differentSecurityQuestionRequiredMessage}}</div>	
								</div> 
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">{{content.My_Profile.myProfileForm.securityAnswer2Label}}</label> 
								<div class="col-sm-9">
									<input id="SecAns2TxtField"
										type="text" class="form-control" name="SecAns2TxtField"
										ng-model="manageAccount.securityAnswer2" placeholder="security answer"
										ng-maxlength="20"
										ng-required="manageAccount.securityQue2 && manageAccount.securityQue2 !='' && (secQuesChanged1 || secQuesChanged2)">
										<div class="errLabel" ng-show="submitted && (secQuesChanged1 || secQuesChanged2) && manageaccountform.SecAns2TxtField.$error.required">Security Answer is required</div>
										<div class="errLabel" ng-show="submitted && (secQuesChanged1 || secQuesChanged2) && manageaccountform.SecAns2TxtField.$error.maxlength">{{content.My_Profile.myProfileForm.maxCharactersErrorMessage}}</div>
								</div> 
							</div>
						</fieldset>
						</div>
					</li>
				</ul>
			</div>
			<div class="form-group">
				<div class="col-lg-12 col-md-6 col-sm-6 col-sm-offset-3 pa10">
					<button id="ManageAccUpdateBtn invalidMaxlength" type="submit" name="SecAns1TxtField"
						class="btn btn-primary btn-lg" 
						api-event="ManageProfile-Update">{{content.Common.updateButtonLabel}}</button><!-- ng-disabled="!manageaccountform.$dirty" -->
				</div>
			</div>
		</form>
		<p class="TermConditions pull-left col-md-12 col-sm-12 col-lg-12">{{content.My_Profile.myProfileForm.passwordCriteriaMessage}}</p>
	</div>	

	<div class="pa10" id="ManageAccountPlatformUser"
		ng-show="ManageAccountPlatformUser">
		<article>Please <button class="btn btn-link-text" ng-click="goToPlatformForProfileChange()">click here</button> to change your profile details.</article>
	</div>
</div>

<div class="wait"></div>