<!-- Manage Account-->
<div id="manageAccountLanding" class="clearfix">
   <label class="ProductsHdrs">Manage Account</label>
   <div class="PopularProducts_cointainer" id="ProductDignostics">
   <label class="formHdrs_bold pa10">Account Information</label>
      <!--Manage Account Section Container-->     
      <div class="container-fluid col-md-offset-0 pa10 clearfix">
         <div class="row-fluid form-group">
           <div class=" clearfix ">
			   <!--First Name-->
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12">
                     <label class="formHdrs_normal pull-left">First Name</label>
					 <label class="formHdrs_normal pull-left ml5"><a id="FirstNameChangeLink" href="" onclick="ManageAccChange()" class="page_link_ManageAcc">(Change)</a></label>
					 <label class="formHdrs_normal pull-left " ><a style="display:none;" id="FirstNameSaveLink" href="" onclick="ManageAccSave()" class="page_link_ManageAcc">(Save)</a></label>
                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12" >
                     <input id="FirstNameTxtField" type="text" class="form-control m5" placeholder="Rose" disabled="disabled">
                  </div>
				 
				   <!--Messages Container-->
				  <div class="messages_cointainer clearfix pull-left mt20 ">
				  <img src="images/arrow_up.png" class="messages_Arrow pull-left" />
				  <label class="errorMsgTextNormal">User Name is Required</label>
				  </div>
				  </div>
				  <!--Messages Container End-->
				  
			   <!--Last Name-->
			   <div class=" clearfix ">
                  <div class="clearfix mt15 col-md-12 col-sm-12 col-lg-12">
				  <label class="formHdrs_normal pull-left">Last Name</label>
                     <label class="formHdrs_normal pull-left ml5"><a id="LastNameChangeLink" href="" onclick="ManageAccChange()" class="page_link_ManageAcc">(Change)</a></label>
					 <label class="formHdrs_normal pull-left " ><a style="display:none;" id="LastNameSaveLink" href="" onclick="ManageAccSave()" class="page_link_ManageAcc">(Save)</a></label>
                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12">
                     <input id="LastNameTxtField" type="text" class="form-control" placeholder="Parker" disabled="disabled">
                  </div>
				   </div>
				<!--Email ID-->
				<div class=" clearfix ">
                  <div class="clearfix mt15 col-md-12 col-sm-12 col-lg-12">
                     <label class="formHdrs_normal pull-left">Email ID</label>
                     <label class="formHdrs_normal pull-left ml5"><a id="EmailIDChangeLink" href="" onclick="ManageAccChange()" class="page_link_ManageAcc">(Change)</a></label>
					 <label class="formHdrs_normal pull-left " ><a style="display:none;" id="EmailIDSaveLink" href="" onclick="ManageAccSave()" class="page_link_ManageAcc">(Save)</a></label>

                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12" >
                     <input id="EmailIDTxtField" type="text" class="form-control" placeholder="noreply@domainname.com" disabled="disabled">
                  </div>
				  </div>
				  <!--Password-->
				  <div class=" clearfix ">
                  <div class="clearfix mt15 col-md-12 col-sm-12 col-lg-12">
                     <label class="formHdrs_normal pull-left">Password</label>
					 <label class="formHdrs_normal pull-left ml5"><a id="PasswordChangeLink" href="" onclick="ManageAccChange()" class="page_link_ManageAcc">(Change)</a></label>
					 <label class="formHdrs_normal pull-left " ><a style="display:none;" id="PasswordSaveLink" href="" onclick="ManageAccSave()" class="page_link_ManageAcc">(Save)</a></label>

                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12" >
                     <input id="PasswordTxtField" type="password" class="form-control" placeholder="*********" disabled="disabled">
                  </div>
				  </div>
				 <!--Verify Password-->
				 <div class=" clearfix ">
                  <div class="clearfix mt15 col-md-12 col-sm-12 col-lg-12">
                     <label class="formHdrs_normal pull-left">Verify Password</label>
					<label class="formHdrs_normal pull-left ml5"><a id="VerifyPasswordChangeLink" href="" onclick="ManageAccChange()" class="page_link_ManageAcc">(Change)</a></label>
					 <label class="formHdrs_normal pull-left " ><a style="display:none;" id="VerifyPasswordSaveLink" href="" onclick="ManageAccSave()" class="page_link_ManageAcc">(Save)</a></label>

                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12" >
                     <input id="VerifyPasswordTxtField" type="password" class="form-control" placeholder="*********" disabled="disabled">
                  </div>
				   </div>
				  <!--Password Note-->
		<div class=" clearfix ">
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12 mt10">
                     <label class="TermConditions pull-left col-md-12 col-sm-12 col-lg-12">Passwords must be between 6 and 24 characters long. They must include both letters and numbers. They can include hyphens (-) or underscores (_). They cannot match the e-mail address.</label>
			      </div>
				  </div>
                <!--Security Question 1-->
				<div class=" clearfix ">
                  <div class="clearfix mt10 col-md-12 col-sm-12 col-lg-12">
                     <label class="formHdrs_normal pull-left">Security Question 1</label>
					 <label class="formHdrs_normal pull-left ml5"><a id="SecQue1ChangeLink" href="" onclick="ManageAccChange()" class="page_link_ManageAcc">(Change)</a></label>
					 <label class="formHdrs_normal pull-left " ><a style="display:none;" id="SecQue1SaveLink" href="" onclick="ManageAccSave()" class="page_link_ManageAcc">(Save)</a></label>

                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12" >
                     <input id="SecQue1TxtField" type="text" class="form-control" placeholder="My 1st Pet Name" disabled="disabled">
                  </div> 
				   </div> 
				<!--Security Answer 1-->
				<div class=" clearfix ">
                  <div class="clearfix mt15 col-md-12 col-sm-12 col-lg-12">
                     <label class="formHdrs_normal pull-left">Security Answer 1</label>
					<!-- <label class="formHdrs_normal pull-left ml5"><a id="SecAns1ChangeLink" href="" onclick="ManageAccChange()" class="page_link_ManageAcc">(Change)</a></label>
					 <label class="formHdrs_normal pull-left " ><a style="display:none;" id="SecAns1SaveLink" href="" onclick="ManageAccSave()" class="page_link_ManageAcc">(Save)</a></label>
 -->
                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12" >
                     <input id="SecAns1TxtField" type="password" class="form-control" placeholder="*********" disabled="disabled">
                  </div>
				  </div>
				<!--Security Question 2-->
				<div class=" clearfix ">
                  <div class="clearfix mt15 col-md-12 col-sm-12 col-lg-12">
                     <label class="formHdrs_normal pull-left">Security Question 2</label>
					<label class="formHdrs_normal pull-left ml5"><a id="SecQue2ChangeLink" href="" onclick="ManageAccChange()" class="page_link_ManageAcc">(Change)</a></label>
					 <label class="formHdrs_normal pull-left " ><a style="display:none;" id="SecQue2SaveLink" href="" onclick="ManageAccSave()" class="page_link_ManageAcc">(Save)</a></label>

                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12" >
                     <input id="SecQue2TxtField" type="text" class="form-control" placeholder="My Childhood Name" disabled="disabled">
                  </div>
				</div>				  
				<!--Security Answer 2-->
				<div class=" clearfix ">
                  <div class="clearfix mt15 col-md-12 col-sm-12 col-lg-12">
                     <label class="formHdrs_normal pull-left">Security Answer 2</label>
					<!-- <label class="formHdrs_normal pull-left ml5"><a id="SecAns2ChangeLink" href="" onclick="ManageAccChange()" class="page_link_ManageAcc">(Change)</a></label>
					 <label class="formHdrs_normal pull-left " ><a style="display:none;" id="SecAns2SaveLink" href="" onclick="ManageAccSave()" class="page_link_ManageAcc">(Save)</a></label>
 -->
                  </div>
                  <div class="clearfix col-md-12 col-sm-12 col-lg-12" >
                     <input id="SecAns2TxtField" type="password" class="form-control" placeholder="*********" disabled="disabled">
                  </div> 	
  </div> 				  
				     <div class="clearfix mt30 col-md-12 col-sm-12 col-lg-12">
         <div class="centered">
           
               <button id="ManageAccUpdateBtn" type="button" class="btn general_btns_green">Update</button>
           
         </div>
      </div> 
           
          
         </div>
      </div>
      <!--Manage Account Section Container End-->  
  
   </div>
</div>