<script id="cyclops.accountSwitcher" type="text/html">
  <div class="header">
    <button class="btn btn-link" data-bind="click: toggleHandler">
      <!-- ko ifnot: loading -->
      <span class="current" data-bind="text: getImpersonatedOrgDiaplayText(impersonatedOrg()), title: impersonatedOrg().pathDisplayText" ></span>
      <!-- /ko -->
      <!-- ko if: loading -->
      <span class="current">fetching current account&hellip;</span>
      <!-- /ko -->
    </button>
    <button class="btn btn-link pull-right toggle-btn" data-bind="click: toggleHandler">
      <svg class="cyclops-icon md">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-down"></use>
      </svg>
    </button>
  </div>
  <div class="take-over">
    <form class="search">
      <div class="form-group">
        <span class="search-input">
          <input type="text" palceholder="search" data-bind="disable: loading, textInput: flatOrgList.query">
          <svg class="cyclops-icon">
            <!-- ko ifnot: flatOrgList.query -->
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
            <!-- /ko -->
            <!-- ko if: flatOrgList.query -->
            <use xmlns:xlink="http://www.w3.org/1999/xlink" class="clear" xlink:href='#icon-times' data-bind="click: clearSearch"></use>
            <!-- /ko -->
          </svg>
        </span>
      </div>
    </form>
    <span class="org-message" data-bind="text: limitedOrgsDisplayedMessage"></span>
    <button class="btn btn-link" data-bind="visible: !showingAllOrgs(), click: showAllOrgsHandler" title="depending on your account hierarchy, this may take a moment to display">show all</button>
    <div class="new-list-view-header">
      <div class="col col-active-item"></svg></div>
      <h3 class="col col-alias">Alias</h3>
      <h3 class="col col-dc">Data Center</h3>
      <h3 class="col col-60">Business Name</h3>
    </div>
    <div class="scroll-area">
    <ul class="new-list-view" data-bind="">
      <!-- ko if: loading -->
      <li class="loading-list-view-items">
        fetching account list&hellip;
      </li>
      <!-- /ko -->
      <!-- ko foreach: displayOrgs -->
      <li>
        <div class="list-view-item" data-bind="event: {mouseover: $component.hoverHandler}, title: pathDisplayText, scrollTo: $component.isActiveItem($data), css: {'active-item': $component.isActiveItem($data), 'current': $component.isCurrentItem($data)}, click: $component.impersonateOrg">
          <div class="col col-active-item"><svg class="cyclops-icon"><use xlink:href='#icon-arrow-right'></svg></div>
          <div class="col col-alias" data-bind="text: alias"></div>
          <div class="col col-dc" data-bind="text: primaryDatacenter"></div>
          <div class="col col-60">
            <!-- ko if: $component.isSearching -->
              <!-- ko text: pathDisplayText --><!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: $component.isSearching -->
            <span class="indent" data-bind=" html: depthHtml"></span>
            <span data-bind="text: name"></span>
            <!-- /ko -->
          </div>
        </div>
      </li>
      <!-- /ko -->
    </ul>
    </div>
  </div>
</script>

<script id="cyclops.dateTimePicker" type="text/html">
  <div class="date-time-picker">
    <input class="form-control date-value" type="text" data-bind="value: dateValue, widget: {name: 'datepicker', options: datepickerOptions}" />
    <select class="form-control time-value" data-bind="options: hourOptions, optionsText: padNumber, value: hourValue"></select>
    <select class="form-control time-value" data-bind="options: minuteOptions, optionsText: padNumber, value: minuteValue"></select>
    <select class="form-control zone-option" data-bind="options: zoneOptions, optionsText: 'display', optionsValue: 'value', value: zoneValue"></select>
  </div>
  <p class="help-block">local time preview: <span data-bind="text: localTimePreview"></span></p>
</script>

<script id="cyclops.templateSwitcherLoadingTemplate" type="text/html">
  <div class="loading-list-view-items">
    fetching
  </div>
</script>

<script id="cyclops.templateSwitcherEmptyTemplate" type="text/html">
  <div class="empty-list-view-item">
    empty
  </div>
</script>

<script id="cyclops.templateSwitcherErrorTemplate" type="text/html">
  <div class="empty-list-view-item">
    unable to fetch
  </div>
</script>

<script id="cyclops.empty" type="text/html"></script>

<script id="cyclops.groupPicker" type="text/html">
  <div class="picker">
    <!-- ko if: isLoading -->
    <p class="loading" data-bind="html: loadingHtmlMessage"></p>
    <!-- /ko -->
    <!-- ko ifnot: isLoading -->
      <!-- ko empty: groups -->
      <p class="empty" data-bind="html: emptyHtmlMessage"></p>
      <!-- /ko -->
      <!-- ko any: groups -->
      <ol data-bind="template: {name: 'cyclops.groupPicker.group', foreach: groups}"></ol>
      <!-- /ko -->
    <!-- /ko -->
  </div>
</script>

<script id="cyclops.groupPicker.group" type="text/html">
  <!-- ko if: $component.shouldShow($data) -->
  <li>
    <label class="item-hover" data-bind="attr: { title: $data.description }">
      <input type="radio" data-bind="attr: {name: $component.controlName}, checkedValue: $data, checked: $component.selected"/>
      <span class="content">
        <svg class="cyclops-icon"><use xlink:href='#icon-folder'></svg> <span data-bind="text: name"></span>
      </span>
    </label>
    <!-- ko any: $data.groups -->
    <ol data-bind="template: {name: 'cyclops.groupPicker.group', foreach: groups}"></ol>
    <!-- /ko -->
  </li>
  <!-- /ko -->
</script>

<script type="text/html" id="cyclops.mainNav">
  <div class="main-nav-menu">
    <button class="scroll-up btn btn-link hide" data-bind="click: scrollUpHandler"><svg class="cyclops-icon"><use xlink:href='#icon-chevron-up'></svg></button>
    <!-- ko empty: menus -->
    <!-- ko if: hasErrored -->
    <div class="error" title="unable to fetch">
      <svg class="cyclops-icon"><use xlink:href="#icon-exclamation-circle"></svg>
      unable to fetch data
    </div>
    <!-- /ko -->
    <!-- ko if: isLoading -->
    <div class="loading" title="fetching menus">
      <svg class="cyclops-icon"><use xlink:href="#icon-ellipsis"></svg>
      Fetching Menus
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <ol class="main-nav-menu-items" data-bind="foreach: menus">
      <li data-bind="css: {'open': isFlyoutOpen, 'selected': isSelected}, template: templateName, title: name"></li>
    </ol>
    <button class="scroll-down btn btn-link" data-bind="click: scrollDownHandler"><svg class="cyclops-icon"><use xlink:href='#icon-chevron-down'></svg></button>
  </div>
  <!-- ko template:{name: 'cyclops.mainNav.menuItem.flyout', foreach: menus} -->
  <!-- /ko -->
</script>


<script type="text/html" id="cyclops.mainNav.menuItem.button">
  <button class="btn animated fadeIn" data-bind="click: $component.selectFlyout">
    <svg class="cyclops-icon"><use xlink:href='#icon-question' data-bind="attr: {'xlink:href': icon}"></svg>
    <span class="main-nav-label" data-bind="text: name"></span>
  </button>
</script>

<script type="text/html" id="cyclops.mainNav.menuItem.href">
  <a class="btn animated fadeIn" data-bind="href: href">
    <svg class="cyclops-icon"><use xlink:href='#icon-question' data-bind="attr: {'xlink:href': icon}"></svg>
    <span class="main-nav-label" data-bind="text: name"></span>
  </a>
</script>

<script type="text/html" id="cyclops.mainNav.menuItem.flyout">
  <!-- ko if: adminFlyoutItems().length > 0 ||  normalFlyoutItems().length > 0-->
  <div class="main-nav-flyout-menu" data-bind="css: {'open': isFlyoutOpen }">
    <div class="header clear-fix">
      <button class="pull-right btn btn-link close" data-bind="click: $component.selectFlyout">
        <svg class="cyclops-icon"><use xlink:href='#icon-times'></svg>
      </button>
    </div>
    <ol class="main-nav-flyout-menu-items" data-bind="foreach: normalFlyoutItems">
      <li data-bind="css: {'selected': isSelected}">
        <a data-bind="href: href">
          <h3 data-bind="text: name">&hellip;</h3>
          <p data-bind="text: description">&hellip;</p>
          <!-- ko if: hasRibbon -->
          <div class="ribbon" data-bind="css: { 'ribbon-beta': isBeta() }">
            <span data-bind="text: ribbonText"></span>
          </div>
          <!-- /ko -->
        </a>
      </li>
    </ol>
    <!-- ko any: adminFlyoutItems -->
    <h2 class="divider">Admin Only</h2>
    <ol class="main-nav-flyout-menu-items" data-bind="foreach: adminFlyoutItems">
      <li data-bind="css: {'selected': isSelected}">
        <a data-bind="href: href">
          <h3 data-bind="text: name">&hellip;</h3>
          <p data-bind="text: description">&hellip;</p>
          <!-- ko if: hasRibbon -->
          <div class="ribbon">
            <span data-bind="text: ribbonText"></span>
          </div>
          <!-- /ko -->
        </a>
      </li>
    </ol>
    <!-- /ko -->
  </div>
  <!-- /ko -->
</script>

<script type="text/html" id="cyclops.pane">
  <!-- ko template: headerTemplateName --><!-- /ko -->
  <!-- ko template: bodyTemplateName --><!-- /ko -->
</script>

<script type=text/html id="cyclops.paneForeach">
  <ol class="tree tree-with-dividers tree-in-pane" data-bind="template: {name: itemTemplateName, foreach: displayItems}"></ol>
</script>

<script type="text/html" id="cyclops.paneHeader">
  <div class="pane-header">
    <div class="search" data-bind="css: {'open': showSearchbox}">
      <button class="pane-header-btn pull-right" data-bind="click: toggleSearch"><svg class="cyclops-icon"><use xlink:href='#icon-times'></svg></button>
      <input type="text" placeholder="filter..." data-bind="value: searchQuery, valueUpdate: 'keyup', hasFocus: showSearchbox()" />
    </div>
    <div class="content">
      <button class="pane-header-btn pane-toggle" data-bind="click: togglePane">browse<svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg></button>
      <div class="pane-actions">
        <button class="pane-header-btn" data-bind="click: expandAll">expand</button>
        <button class="pane-header-btn" data-bind="click: collapseAll">collapse</button>
        <button class="pane-header-btn" data-bind="click: toggleSearch"><svg class="cyclops-icon"><use xlink:href='#icon-search'></svg></button>
      </div>
    </div>
  </div>
  <div data-bind="text: paneSearchMessage, fadeSlide:{ visible: isSearching, duration: 150 } " class=" hide pane-search-message"></div>
</script>

<script type="text/html" id="cyclops.paneItem">
  <li>
    <div class="tree-item" data-bind="css: {selected: isSelected}">
      <div class="tree-item-status" data-bind="css: statusClass"></div>
      <a class="tree-item-content" data-bind="href: href, click: onClick">
        <!-- ko if: hasItems -->
        <svg class="cyclops-icon"><use xlink:href='#icon-caret-right' data-bind="attr: {'xlink:href': caretIcon}"></svg>
        <!-- /ko -->
        <!-- ko ifnot: hasItems -->
        <span class="tree-item-icon-spacer"></span>
        <!-- /ko -->
        <!-- ko foreach: icons -->
        <svg class="cyclops-icon"><use xlink:href='#icon-question' data-bind="attr: {'xlink:href': $data}"></svg>
        <!-- /ko -->
        <span data-bind="text: name"></span>
      </a>
    </div>
    <!-- ko any: items -->
    <ol class="tree collapsed" data-bind="css: {expanded: isExpanded}, template: { name:'cyclops.paneItem' , foreach: items}"></ol>
    <!-- /ko -->
  </li>
</script>

<script type="text/html" id="cyclops.paneItemFiltered">
  <li>
    <div class="tree-item" data-bind="css: {selected: isSelected}">
      <div class="tree-item-status" data-bind="css: statusClass"></div>
      <a class="tree-item-content" data-bind="href: href">
        <!-- ko foreach: icons -->
        <svg class="cyclops-icon"><use xlink:href='#icon-question' data-bind="attr: {'xlink:href': $data}"></svg>
        <!-- /ko -->
        <span data-bind="text: name"></span>
      </a>
    </div>
  </li>
</script>


<script type=text/html id="cyclops.paneEmpty">
  <p class="m-t-sm text-center deemphasize">
    Nothing to Show
  </p>
</script>

<script type=text/html id="cyclops.paneItemsLoading">
  <p class="m-t-sm text-center deemphasize">
    Fetching&hellip;
  </p>
</script>

<script id="cyclops.serverPicker" type="text/html">
  <div class="picker">
    <!-- ko if: isLoading -->
    <p class="loading" data-bind="html: loadingHtmlMessage"></p>
    <!-- /ko -->
    <!-- ko ifnot: isLoading -->
      <!-- ko empty: groups -->
      <p class="empty" data-bind="html: emptyHtmlMessage"></p>
      <!-- /ko -->
      <!-- ko any: groups -->
      <ol data-bind="template: { name: $component.templateName, foreach: groups }"></ol>
      <!-- /ko -->
    <!-- /ko -->
  </div>
</script>

<script id="cyclops.serverPicker.group.multi" type="text/html">
  <li>
    <label class="item-hover" data-bind="css : { 'unselectable': !selectable()}, attr: { title: title }">
      <!-- ko if: selectable -->
      <input type="checkbox" data-bind="attr: {name: $component.controlName}, click: clickHandler, checked: isChecked, indeterminate: isIndeterminate"/>
      <!-- /ko -->
      <span class="content">
        <svg class="cyclops-icon"><use xlink:href='#icon-folder'></svg> <span data-bind="text: rawGroup.name"></span>
      </span>
    </label>
    <!-- ko any: groups -->
    <ol data-bind="template: {name: 'cyclops.serverPicker.group.multi', foreach: groups}"></ol>
    <!-- /ko -->
    <!-- ko any: servers -->
    <ol data-bind="template: {name: 'cyclops.serverPicker.server.multi', foreach: servers}"></ol>
    <!-- /ko -->
  </li>
</script>

<script id="cyclops.serverPicker.server.multi" type="text/html">
  <li>
    <label class="item-hover" data-bind="css : { 'unselectable': !selectable()}, attr: { title: title}">
      <!-- ko if: selectable -->
      <input type="checkbox" data-bind="attr: {name: $component.controlName}, checked: isChecked" />
      <!-- /ko -->
      <span class="content">
        <svg class="cyclops-icon">
          <use xlink:href='#icon-question' data-bind="attr: { 'xlink:href': $component.getServerIcon(rawServer.state) }" >
        </svg> <span data-bind="text: displayName"></span>
      </span>
    </label>
  </li>
</script>

<script id="cyclops.serverPicker.group.single" type="text/html">
  <li>
    <label class="item-hover" data-bind="attr: { title: title }">
      <span class="content">
        <svg class="cyclops-icon"><use xlink:href='#icon-folder'></svg> <span data-bind="text: rawGroup.name"></span>
      </span>
    </label>
    <!-- ko any: groups -->
    <ol data-bind="template: {name: 'cyclops.serverPicker.group.single', foreach: groups}"></ol>
    <!-- /ko -->
    <!-- ko any: servers -->
    <ol data-bind="template: {name: 'cyclops.serverPicker.server.single', foreach: servers}"></ol>
    <!-- /ko -->
  </li>
</script>

<script id="cyclops.serverPicker.server.single" type="text/html">
  <li>
    <label class="item-hover" data-bind="css : { 'unselectable': !selectable()}, attr: { title: title}">
      <!-- ko if: selectable -->
      <input type="radio" data-bind="attr: {name: $component.controlName}, checked: $component.selected, checkedValue: $data.rawServer" />
      <!-- /ko -->
      <span class="content">
        <svg class="cyclops-icon">
          <use xlink:href='#icon-question' data-bind="attr: { 'xlink:href': $component.getServerIcon(rawServer.state) }" >
        </svg> <span data-bind="text: displayName"></span>
      </span>
    </label>
  </li>
</script>

<script id="cyclops.showPassword" type="text/html">
  <span data-bind="event: { mouseover: mouseOver, mouseout: mouseExit }">
    <!-- ko if: !showPassword() && !loading() -->
    <button class="btn btn-inverse btn-sm" title="show password" data-bind="click: clickHandler">
      show password
      <!-- <svg class="cyclops-icon" >
        <use xlink:href='#icon-search'>
      </svg>
      &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull; -->
    </button>
    <!-- /ko -->

    <!-- ko if: loading -->
    <svg class="cyclops-icon cyclops-spin">
      <use xlink:href='#icon-refresh'>
    </svg>
    fetching&hellip;
    <!-- /ko -->

    <!-- ko if: !loading() && showPassword() && !errored() -->
    <span data-bind="text: password"></span>
    <button class="btn btn-no-style" data-bind="click: clickHandler" title="hide password">
      <svg class="cyclops-icon">
        <use xlink:href='#icon-times'>
      </svg>
    </button>
    <!-- /ko -->

    <!-- ko if: !loading() && showPassword() && errored() -->
    <button class="btn btn-no-style" data-bind="click: retryHandler" title="retry">
      <svg class="cyclops-icon">
        <use xlink:href='#icon-times'>
      </svg>
      unable to fetch.
    </button>
    <!-- /ko -->

  </span>
</script>

<script type="text/html" id="cyclops.slider">
  <!-- ko if: hasjQueryUi -->
   <div class="slider-container" data-bind="css: mainClasses">
        <div class="slider-track">
            <!-- ko if: value.committedValue -->
            <div class="slider-out-of-range">
                <div data-bind="style: getCommitedValueStyles()" class="slider-out-of-range-value">
                    <div class="slider-out-of-range-marker"></div>
                    <span class="slider-out-of-range-number" data-bind="text: value.committedValue "></span>
                </div>
            </div>
            <!-- /ko -->
            <span class="slider-min-bound-label" data-bind="text: minBound"></span>
            <span class="slider-max-bound-label" data-bind="text: maxBound"></span>
            <div class="slider-valid-track" data-bind="style: { marginLeft: validTrackLeftMargin, marginRight: validTrackRightMargin }">
                <div class="slider-value-fill" data-bind="style: { right: fillRightValue() }"></div>
                <div class="slider-handle2" data-bind="click: $.noop, style: { left: currentValuePercentage() + '%' }, attr: {title: possibleValue}, widget: {name: 'draggable', options: {'axis': 'x', 'containment': 'parent', 'disabled': disabled(), 'drag': dragHandler, 'stop' : dragStopHandler, 'start': dragStartHandler}}">
                    <div class="slider-tooltip tooltip top in fade">
                        <div class="tooltip-inner" data-bind="text: possibleValue"></div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 21 31" enable-background="new 0 0 21 31" xml:space="preserve">
                        <g>
                            <polygon class="handle-fill" fill="#FFFFFF" points="20,25.4 10.5,30 1,25.4 1,1 20,1" />
                        </g>
                        <g opacity="0.2">
                            <path d="M20,1v24.4l-9.5,4.5L1,25.4V1H20 M21,0H0v26l10.5,5L21,26V0L21,0z" />
                        </g>
                        <g>
                            <rect x="8" y="11" fill="#A7A9AC" width="1" height="1" />
                            <rect x="10" y="11" fill="#A7A9AC" width="1" height="1" />
                            <rect x="12" y="11" fill="#A7A9AC" width="1" height="1" />
                            <rect x="8" y="13" fill="#A7A9AC" width="1" height="1" />
                            <rect x="10" y="13" fill="#A7A9AC" width="1" height="1" />
                            <rect x="12" y="13" fill="#A7A9AC" width="1" height="1" />
                            <rect x="8" y="15" fill="#A7A9AC" width="1" height="1" />
                            <rect x="10" y="15" fill="#A7A9AC" width="1" height="1" />
                            <rect x="12" y="15" fill="#A7A9AC" width="1" height="1" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="slider-track-click" data-bind="style: { marginLeft: validTrackLeftMargin, marginRight: validTrackRightMargin }, click: trackClick"></div>
        </div>
        <div class="slider-tick-container" data-bind="if: canShowTicks">
            <!-- ko foreach: new Array(numberofTotalSteps()-1) -->
            <span class="slider-tick-mark" data-bind="style: { left: $parent.getTickMarginPercentage($index) }"></span>
            <!-- /ko -->
        </div>
    </div>
    <input class="form-control slider-text-input" type="number" data-bind="value: value, disable: disabled, attr: {min : min, max: max, step: step }" />
    <!-- ko if: outOfRangeMessage -->
    <div class="slider-out-of-range-message" data-bind="html: outOfRangeMessage"></div>
    <!-- /ko -->
  <!-- /ko -->
  <!-- ko ifnot: hasjQueryUi -->
  <input class="form-control" type="number" data-bind="value: value, disable: disabled, attr: {min : min, max: max, step: step }" />
  <!-- /ko -->
</script>

<script id="cyclops.toggle" type="text/html">
  <div class="toggle" data-bind="css: {'disabled': disabled}">
    <label>
      <input type="checkbox" data-bind="checked:value, disable: disabled" />
      <!-- https://css-tricks.com/webkit-sibling-bug/ -->
      <div class="bug-fix">
        <span class="text">
          <span class="affirmative" data-bind="text:affirmativeText">yes</span>
          <span class="negative" data-bind="text:negativeText">no</span>
        </span>
        <svg class="handle" height="34" viewBox="0 0 28 34">
          <g>
            <rect x="10" y="12" fill="#777777" width="1" height="1"/>
            <rect x="17" y="12" fill="#777777" width="1" height="1"/>
            <rect x="13.5" y="12" fill="#777777" width="1" height="1"/>
            <rect x="10" y="15.5" fill="#777777" width="1" height="1"/>
            <rect x="17" y="15.5" fill="#777777" width="1" height="1"/>
            <rect x="13.5" y="15.5" fill="#777777" width="1" height="1"/>
            <rect x="10" y="19" fill="#777777" width="1" height="1"/>
            <rect x="17" y="19" fill="#777777" width="1" height="1"/>
            <rect x="13.5" y="19" fill="#777777" width="1" height="1"/>
          </g>
        </svg>
      </div>
    </label>
  </div>
</script>
