<!-------------------------------------------------------------- Pricing DETAILS ---------------------------------------------------------------->
<div class="card m-t-md">
	<div class="card-block">
		<div class="row">
			<div class="col-sm-12">
				<h4>{{content.Common.Products[0].Product.Value}}</h4>
			</div>
		</div>

		<div class="new-list-view-responsive new-list-view-responsive-sm">
			<div class="new-list-view-header">
				<h3 class="col col-60">{{content.Pricing.serviceLabel}}</h3>
				<h3 class="col col-40">{{content.Pricing.chargesLabel}}</h3>
			</div>
			<ul class="new-list-view">
				<li>
					<div class="list-view-item">
						<div class="col col-60">
							<span class="col-header">{{content.Pricing.serviceLabel}}</span>{{content.Pricing.seatTextLabel}}
						</div>
						<div class="col col-40">
							<span class="col-header">{{content.Pricing.chargesLabel}}</span>${{pricingConfig.seatRental}}
							cents per month*
						</div>
					</div>
				</li>
				<li class="">
					<div class="list-view-item">
						<div class="col col-60">
							<span class="col-header">{{content.Pricing.serviceLabel}}</span>{{content.Pricing.phoneNumberRentalLabel}}
						</div>
						<div class="col col-40">
							<span class="col-header">{{content.Pricing.chargesLabel}}</span>${{pricingConfig.phoneNumberRental}}
							cents per month*
						</div>
					</div>
				</li>
				<li class="">
					<div class="list-view-item">
						<div class="col col-60">
							<span class="col-header">{{content.Pricing.serviceLabel}}</span>{{content.Pricing.domesticSMSLabel}}
						</div>
						<div class="col col-40">
							<span class="col-header">{{content.Pricing.chargesLabel}}</span>${{pricingConfig.domesticSMSRental}}
							per message sent (10 for 6.5 cents)
						</div>
					</div>
				</li>
				<li class="">
					<div class="list-view-item">
						<div class="col col-100">
							<span class="col-header">{{content.Pricing.serviceLabel}}</span>{{content.Pricing.internationalSMSLabel}}
							<div class="pl10">
								<div class="list-view-item-form">
									<div class="row pt10">
										<div class="col col-md-6"><a ng-click="showBillingRateData($event, 'CONNECTEDCOMMUNICATIONS-COURIERBASIC-INTLUSAGE-RATETIER1')" href="">Group 1</a></div>
										<div class="col col-md-6">$0.0065 per message sent (10
											for 6.5 cents)</div>
									</div>

									<div class="row pt10">
										<div class="col col-md-6"><a ng-click="showBillingRateData($event, 'CONNECTEDCOMMUNICATIONS-COURIERBASIC-INTLUSAGE-RATETIER2')" href="">Group 2</a></div>
										<div class="col col-md-6">$0.03 per message sent  (10 for 30 cents)</div>
									</div>
									<div class="row pt10">
										<div class="col col-md-6"><a ng-click="showBillingRateData($event, 'CONNECTEDCOMMUNICATIONS-COURIERBASIC-INTLUSAGE-RATETIER3')" href="">Group 3</a></div>
										<div class="col col-md-6">$0.06 per message sent (10 for 60 cents)</div>
									</div>
									<div class="row pt10">
										<div class="col col-md-6"><a ng-click="showBillingRateData($event, 'CONNECTEDCOMMUNICATIONS-COURIERBASIC-INTLUSAGE-RATETIER4')" href="">Group 4</a></div>
										<div class="col col-md-6">$0.09 per message sent (10 for 90 cents)</div>
									</div>
									<div class="row pt10">
										<div class="col col-md-6"><a ng-click="showBillingRateData($event, 'CONNECTEDCOMMUNICATIONS-COURIERBASIC-INTLUSAGE-RATETIER5')" href="">Group 5</a></div>
										<div class="col col-md-6">$0.15 per message sent (10 for 1 dollar and 50 cents)</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="">
					<div class="list-view-item">
						<div class="col col-60">
							<span class="col-header">{{content.Pricing.serviceLabel}}</span>{{content.Pricing.MessageSafeStore200MbLabel}}
						</div>
						<div class="col col-40">
							<span class="col-header">{{content.Pricing.chargesLabel}}</span>{{pricingConfig.data200MbMessageSafestoreRental}}
						</div>
					</div>
				</li>
				<li class="">
					<div class="list-view-item">
						<div class="col col-60">
							<span class="col-header">{{content.Pricing.serviceLabel}}</span>{{content.Pricing.MessageSafeSstoreplus10GbLabel}}
						</div>
						<div class="col col-40">
							<span class="col-header">{{content.Pricing.chargesLabel}}</span>${{pricingConfig.data10GbMessageSafestore}}
						</div>
					</div>
				</li>
			</ul>
			<p class="pa10">
				<small><i>*These charges are billed hourly (at 0.133 cents).  The charge is 99 cents per month with months with 31 days.</i></small> 
				<!-- <button class="btn btn-link-text"
					ng-click="showBillingRateData($event)">{{content.Pricing.clickHereLabel}}</button>
				{{content.Pricing.ListOfInternationalDestinationsMessage}} -->
			</p>
		</div>
	</div>
</div>
