<!-- Pricing LANDING -->
<div>
	<page-event page-id="Pricing"></page-event>
	<div  id="pricingLanding"
		class="container-fluid">
		<br/>
		<div  class="new-list-view-responsive new-list-view-responsive-md">
			<div class="new-list-view-header">
				<h3 class="col col-100">{{content.Common.productsLabel}}</h3>
			</div>
			<ul class="new-list-view">
				<li>
					<div class="list-view-item noBorder">
						<div class="col col-100">
							<span class="col-header">{{content.Common.productsLabel}}</span>
							<a ng-click="showPricingDetails()" class="" href="">{{content.Common.Products[0].Product.Value}}</a></div>						
					</div>
				</li>
			</ul>
		</div>
	</div>
<div  ng-if="displayPricingDetails" ng-include="'partials/pricing/pricingDetails.html'"></div>
</div>
<div class="wait"></div>