<style>

</style>

<div id="confirmationBox" ng-show="showBox"> 
	<div>class="collapse_cointainer">Are	you Sure</div>
	<div class="">
		<button class="" ng-click="ok()">OK</button>
		<button class="" ng-click="cancel()">Cancel</button>
	</div>
</div>