<div ng-show="hasMessage()" class="col-md-12 col-sm-12">
	<div class="alert alert-success" role="alert" ng-if="!isError() && !isInfo()">
		<div class="alert-icon">
			<svg class="cyclops-icon">
				<use xlink:href='#icon-plus-circle'></svg>
		</div>
		<h4>Success!</h4>
		<p ng-repeat="message in messages()">{{message.message}}</p>
	</div>
	<div class="alert alert-info" role="alert" ng-if="!isError() && isInfo()">
		<div class="alert-icon ">
			<svg class="cyclops-icon">
				<use xlink:href='#icon-info-circle'></svg>
		</div>
		<h4>Helpful Information!</h4>
		<p ng-repeat="message in messages()">{{message.message}}</p>
	</div>
	<div class="alert alert-danger" role="alert" ng-if="isError()">
		<div class="alert-icon ">
			<svg class="cyclops-icon">
				<use xlink:href='#icon-ban'></svg>
		</div>
		<h4>Error!</h4>
		<p ng-repeat="message in messages()">{{message.message}}</p>
	</div>
</div>



<!-- For future Use Start -->
<!-- <div class="alert alert-info" role="alert">
	<div class="alert-icon ">
		<svg class="cyclops-icon">
			<use xlink:href='#icon-info-circle'></svg>
	</div>
	<h4>Helpful Information!</h4>
	<p>This alert should be used to display information that isn't
		inherently obvious.</p>
</div>
<div class="alert alert-warning" role="alert">
	<div class="alert-icon">
		<svg class="cyclops-icon">
			<use xlink:href='#icon-exclamation-circle'></svg>
	</div>
	<h4>Warning!</h4>
	<p>This is a warning message.</p>
</div> -->
<!-- For future Use End -->