        <nav class="nav nav-stacked">
          <ul class="tabs">
            <li class="tab" ng-if="isPlatformUser || (isNetworkUser && menus.isDisplayNetwork)" ng-repeat="menus in ::menuItemsInfo.menuData" ng-class="{'selected':menus.Selected === true}" ng-click="changeMenu(menus.URL)">
              <a href="" ng-click="selectMenu($index)"><span class="clearfix"  ng-bind="menus.Name"></span></a>
             	<!-- <ul class="tabs-subnav">
                <li ng-repeat="subMenus in menus.subMenu"><a href="" >{{subMenus.name}}</a></li>             
              </ul> -->
             </li> 
          </ul>
        </nav>
