
<!-- <div ng-if="displayMenu" id="headerpage"> -->
<div id="headerpage" >
	<account-switcher
		params="accounts: accounts, loading: loadingAccounts, currentAccountAlias: currentAccountAlias"></account-switcher>

	<nav class="navbar navbar-inverse navbar-static-top" style="background-color: {{brandingInfo.headerBackgroundColor}} !important;">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					ng-click="expandLogOut()">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand">
						<img ng-src="{{brandingInfo.controlUrl + brandingInfo.portalLogoUrl}}"/>
					<!-- <div class="ctlLogoWithoutText">
						<img class="logoImage"
							ng-src="{{brandingInfo.controlUrl + brandingInfo.mobileIconUrl}}">
					</div> -->
				</a> <span class="navbar-service">{{brandingInfo.controlName + ' '}}Connected Communications</span>
			</div>
			<!-- <div class="navbar-collapse "
				ng-class="{'collapse': !logOutExpanded}">
				<ul class="nav navbar-nav navbar-right navbar-account hideDropDown">
					<li><a href="#/manageAccount">Your Profile</a></li>
					<li><a ng-click="logout()">Sign Out</a></li>
				</ul>
			</div> -->

			<!-- Support and sign out links -->
			<div class="navbar-collapse" ng-class="{'collapse': !logOutExpanded}">
				<ul class="nav navbar-nav navbar-right navbar-account">
					<li class="dropdown">
  						<a a-disabled="true" href="" role="button" class="dropdown-toggle collapse" data-toggle="dropdown" href="#"><span class="sr-only">help and support links</span><svg class="cyclops-icon support"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-question-circle"></use></svg> <svg class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-caret-down"></use></svg></a>
  						<ul class="dropdown-menu dropdown-menu-right">
  							<li><a href="" ng-if="isSupportRequestAvailable()" ng-click="goToSupportRequest()">Open Support Ticket</a></li>
  							<li><a href="" ng-if="isSupportChatAvailable()" ng-click="goToSupportChat()">Chat with Support</a></li>
  							<li><a href="" ng-if="isKnowledgeBaseAvailable()" ng-click="goToKnowledgeBase()">Knowledge Base</a></li>
  							<li><a href="" ng-click="gotoAPIDocument()">API Documentation</a></li>
  							<li><p ng-if="supportInfo.supportPhone" class="dropdown-text">{{supportInfo.supportPhone}}</p></li>
  							<li><p ng-if="supportInfo.supportEmail" class="dropdown-text">{{supportInfo.supportEmail}}</p></li>
  							<li role="separator" class="divider"></li>
  							<li><a href="#">Submit a Feature Idea</a></li> 
  						</ul>
  					</li>
					<li class="dropdown"><a href="" role="button"
						class="dropdown-toggle collapse" data-toggle="dropdown" href="#">{{menuItemsInfo.displayName}}
							<span ng-if="isPlatformUser"> (Administrator)</span> <span
							ng-if="isNetworkUser"> (Consumer)</span> <svg
								class="cyclops-icon" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="#icon-caret-down"></use></svg>
					</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#/manageAccount">Your Profile</a></li>
							<li><a href="" ng-click="logout()">Sign Out</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<script>
		
		function loadAccountSwitcherData() {
				$(function() {
					var AccountSwitcherModel = function() {
						var self = this;
		
						self.accounts = ko.observableArray([]);
		
						var accounts = JSON.parse(sessionStorage.getItem('platform_account_hierarchy'));
						var tokenData = JSON.parse(sessionStorage.getItem('ctl_auth'));					
						var _platformService = CTL.Service.Platform;
						
						if (accounts != null && accounts != null) {
							window.setTimeout(function() {
								self.accounts(accounts);
								self.loadingAccounts(false);
							}, 3000);
							
							self.loadingAccounts = ko.observable(true);					
							
							if (tokenData != undefined && 'AccountName' in tokenData) {
								self.currentAccountAlias = ko.observable(tokenData.AccountName);					
							} 
							
							self.currentAccountAlias.subscribe(function(newValue) {						
								 window.location.hash = "/switchAccount/" + newValue;								
							});					
						} else if (tokenData != undefined && tokenData != null) {
							_platformService.getAccountHierarchy()
								.then(
										function(successResponse){
											window.setTimeout(function() {
												var tempAccounts = successResponse.data;
			
												accounts = [];
												
												/* set the root account details */
												var rootFound = false;
												for (var i = 0; i < tempAccounts.length; i++) {										
													if (tempAccounts[i].accountAlias === tokenData.AccountName) {
														accounts.push({
															accountAlias : tempAccounts[i].accountAlias,
															businessName : tempAccounts[i].businessName,
															accountStatus : "active",
															primaryDataCenter : tempAccounts[i].primaryDataCenter,
															subAccounts : []
														});
														rootFound = true;
														break;
													}
												}
												
												if (rootFound) {
													var itemToRemoveArray = [];												
													
													while (tempAccounts.length > 1) {
														for (var index = 0; index < tempAccounts.length; index++) {
															console.log('Checking for ' + tempAccounts[index].accountAlias);
															if (checkAndAddToSubAccount(accounts, tempAccounts[index])) {
																itemToRemoveArray.push(tempAccounts[index]);
															}	
														}
														
														if (itemToRemoveArray.length > 0) {
															for (var index = 0; index < itemToRemoveArray.length; index++) {
																console.log("Removing " + itemToRemoveArray[index].accountAlias);
																for (var i = 0; i < tempAccounts.length; i++) {
																	if (tempAccounts[i].accountAlias === itemToRemoveArray[index].accountAlias) {
																		tempAccounts.splice(i,1);
																		break;
																	}
																}																
															}
															
															itemToRemoveArray = [];
														}
													}
												}
			
												/* saving accounts in cache, so it will not be reloaded when page is refreshed*/
												sessionStorage.setItem('platform_account_hierarchy', JSON.stringify(accounts));
												
												self.accounts(accounts);
												self.loadingAccounts(false);
											}, 5000);
										}, 
										function(errorResponse){
											window.setTimeout(function() {
												self.accounts([{"accountAlias":tokenData.AccountName,"businessName":tokenData.AccountName,"accountStatus":"active","primaryDataCenter":"","subAccounts":[]}]);
												self.loadingAccounts(false);
											}, 3000);
										});
							
							self.loadingAccounts = ko.observable(true);					
							
							if (tokenData != undefined && 'AccountName' in tokenData) {
								self.currentAccountAlias = ko.observable(tokenData.AccountName);					
							} 
							
							self.currentAccountAlias.subscribe(function(newValue) {				 
								window.location.hash = "/switchAccount/" + newValue;								
							});
						 } else {
							 try {
								 self.loadingAccounts = ko.observable(true);						
								 self.currentAccountAlias = ko.observable('');						
								 
								 self.currentAccountAlias.subscribe(function(newValue) {
									 console.log(newValue)
									//stub					
								 });
							 } catch (e) {
								 
							 }
						 }		
		
						return self;
					}
					ko.applyBindings(new AccountSwitcherModel(),
							$("account-switcher")[0]);
		
				})
		}
		
		function reloadAccountSwitcherData() {
			if ($("account-switcher") != undefined && $("account-switcher")[0] != undefined) {
				ko.cleanNode($("account-switcher")[0]);
			}
			loadAccountSwitcherData();
		}
		
		function checkAndAddToSubAccount(accounts, element) {
			for (var index = 0; index < accounts.length; index++) {
				if (element.parentAlias === accounts[index].accountAlias) {
					console.log('Found parent for ' + element.accountAlias);
					accounts[index].subAccounts.push({
						accountAlias : element.accountAlias,
						businessName : element.businessName,
						accountStatus : "active",
						primaryDataCenter : element.primaryDataCenter,
						subAccounts : []
					});
					return true;
				} else if (accounts[index].subAccounts.length > 0) {
					if (checkAndAddToSubAccount(accounts[index].subAccounts, element)) {
						return true
					}
				}
			}
			
			return false;
		}
		
		// loading data in Account switcher
		loadAccountSwitcherData();
	</script>
	<!-- Page Header End -->

	<!--   <div class="col-md-12">
    	<ul role="navigation" class="nav nav-tabs nav-background noBorder">
	        <slick dots="false" infinite="false" speed=300 slides-to-show=6 touch-move="false" slides-to-scroll=1 class=""  >
	            <div ng-repeat="menus in ::menuItemsInfo.menuData" class="">           		
						  <li class="centreAlign" ng-class="{'active':menus.Selected === true}" ng-click="selectMenu($index)">
	                       	<a href="" ng-click="changeMenu(menus.URL)">
		                       	<svg class="cyclops-icon md " ng-class="{'green':menus.Selected === true}">
									<use xlink:href="{{menus.IconClass}}"></use>
								</svg>
	                       		<span class="clearfix" ng-class="{'boldTxt':menus.Selected === true}" ng-bind="menus.Name"></span>
	                       	</a>
	                      </li>					
	            </div>
	        </slick>
        </ul>
    </div> -->

</div>


