	
	<div ng-if="isUserAuthenticated">		
	    	<div class="row ">
	    		<div class="col-sm-12 ">
	    			<div class="content-header" ng-show="pageTitle || pageDescription || breadcrumbs.length >0">
	    				<ol class="breadcrumb">
                			<li ng-repeat="bc in breadcrumbs" ><a href="{{bc.url}}">{{bc.label}}</a></li>
              			</ol>
			    		<h1> {{pageTitle}}</h1>
			    		<p class="lead"> {{pageDescription}}</p>
		    		</div>	    		
	    		</div>	    	
	    	</div>			    
	</div>