<!-- Dignostics LANDING -->

<div id="dignosticLanding" class="primary clearfix pa10">
	<page-event page-id="Diagnostics" ></page-event>	
	<!--Product Dignostics Section Container-->
	<div class="clearfix pa10" ng-show="isNetworkUser">
		<form name="testCourierForm" novalidate>
			<!-- <div class="form-group">
				<label for="networkUser">Product</label> <select id="product"
					ng-model="diagnostic.product"
					ng-options="product.title for product in accountSummaryData"
					class="form-control" ng-required="true"
					ng-change="setProductFields(diagnostic.product.title)">
					<option value="" disabled selected style="display: none;">Select
						Product</option>
				</select>
			</div> -->
			<div class="form-group">
				<label for="networkUser">From Phone Number</label> <input id="phoneNumber"
					name="phoneNumber" class="form-control" type="text"
					placeholder="Your phone number"
					ng-model="courierServiceStatusData.phoneNumber" ng-maxlength=10
					ng-required="true" ng-pattern="/^[0-9]*$/"> <span
					ng-show="testCourierForm.phoneNumber.$error.pattern">Not a
					valid number!</span> <span
					ng-show="testCourierForm.phoneNumber.$error.maxlength">Enter
					only 10 digits!</span> </input>
			</div>
			<div class="form-group">
				<div class="col-lg-12 col-md-6 col-sm-6 col-sm-offset-3 pa10">
					<button type="submit" id="dignosticsTestBtn"
						ng-disabled="testCourierForm.$invalid" api-event="Diagnostics-Test"
						ng-click="testCourierService()" class="btn btn-primary btn-lg"
						href="">Test</button>
				</div>
			</div>
		</form>
	</div>
	<div class="container-fluid" id="NoAccessPage" ng-show="!isNetworkUser">
		<h5>You are not authorized to view this page.</h5>
	</div>
	<!--Product Dignostics Section Container End-->

	<!--Product Dignostics Result Section Container-->
	<div ng-show="displayResultSection" class="container pa10"
		id="productResultSection">
		<div class=" clearfix col-sm-12 col-md-12 col-lg-12 mt20">
			<hr />
		</div>
		<div class="clearfix">
			<div class="col col-100 new-list-view-header">
				<div class="col col-90 pa0 mt5 pull-left">
					<h3 class="boldTxt pa0">API details</h3>						
				</div>
				<div class="col col-10 pa0"	ng-click="toggleAPIDetailsSection()">
					<div ng-show="!showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-down'></svg></a>
					</div>
					<div ng-show="showAPIDetailsSection">
						<a href=""><svg class="cyclops-icon sm">
								<use xlink:href='#icon-chevron-up'></svg></a>
					</div>
				</div>
			</div>
			<div class="pa10" ng-show="showAPIDetailsSection">
				<div class="">
					<h3 class="boldTxt"><article>Response</article></h3>
				</div>
				<div class="clearfix text-left">
					<!-- <p class="lead">Result</p> -->
					<article class="" ng-repeat="(key, prop) in response">{{key}}
					: {{prop}}</article>
				</div>
			</div>
		</div>
	</div>
	<!--Product Dignostics Result Section Container End-->
</div>
<div class="wait"></div>