
<div ng-if="!isUserAuthenticated"
	ng-include="'partials/global/commonHeader.html'"></div>
<div class="row pl0 ml0">
	<div class="col-md-12 pl0">
		<div class="pa0 mr0" ng-if="!isUserAuthenticated">
			<button id="buyProductsClose" class="btn btn-link pull-left pa0"
				ng-click="goTo('')">Go Back</button>
		</div>
		<div class="pa0 mr0" ng-if="isUserAuthenticated">
			<button id="buyProductsClose" class="btn btn-link pull-left pa0 ml15"
				ng-click="setPage('mainPage')">Go Back</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="card-block">
		<div ng-repeat="product in content.FAQ.Products[0]">
			<div class="col col-100 pa0">
				Question
				<p class="card-text" ng-bind-html="product.Question"></p>
				Answer
				<p class="card-text" ng-bind-html="product.Description"></p>
				<ul ng-repeat="usecase in product.UseCase">
					<label><li class="card-text" ng-bind-html="usecase.id"></li></label>
					<br />
					<label>Description:</label>
					<ul class="list-unstyled">
						<li class="card-text" ng-bind-html="usecase.description"></li>
						<li><img ng-src="{{usecase.image}}" /></li>
					</ul>
					<label>Callouts:</label>
					<ul class="list-unstyled">
						<li class="card-text" ng-bind-html="usecase.callouts"></li>
						<br />
					</ul>
				</ul>
			</div>
		</div>
	</div>
</div>

<!--  SignIn Section -->
<div ng-if="page == 'signInSection'"
	ng-include="'partials/login/signIn.html'"></div>

<!--  SignIn Section -->
<div ng-if="page == 'signUpSection'"
	ng-include="'partials/login/signUp.html'"></div>
