<div id="freeTrialSection" class="signin conatiner-fluid ">
	<br/>
	<div class="row ma0">
		<div class=""></div>
		<div class="ma15Per">
			<div class="card">
				<div class="card-block">
					<h3 class="card-title">Free Trial</h3>
					<p class="card-text">Free Trial is coming soon !!</p>
					<div class="pull-right" ng-click="changePage('landingPage')">
						<svg class="cyclops-icon md green">
							<use xlink:href='#icon-close'></use>
						</svg>
					</div>
					<br/>							
				</div>
			</div>								
		</div>
		<div class=""></div>
	</div>
	<div class="row ma0">
		<div class="">
			<img src="images/LoginLogo.png">
		</div>				
	</div>
</div>