<div id="landingPage" ng-show="page === 'landingPage'">
	<div ng-include="'partials/global/header.html'"></div>
	
	<!-- Container Start -->
	<div class="default">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div>
						<h1>Connected Communications</h1>
						<p class="lead">API-driven messaging, calling and other communication services</p>
					</div>
				</div>
			</div>			
		</div>
	</div>		
	<!-- Container End -->
	
	<br/>
	
	<!-- Tab Start -->		
	<div class="card-deck-wrapper ma0">
	  <div class="card-deck mb10">
	  <div class="card ml10 mr10">
		  <div class="card-block">
			<h2 class="card-title">
				   <svg class="cyclops-icon xl"><use xlink:href='#icon-package'></svg>
					Products					
			</h2>				
					<!-- <p class="card-text">Pricing Details Will Go Here.</p>		 -->
			<div class="primary pb0 mb0 pt0 noBorder">
			<div class="noBorder pa0">
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-block noBorder">
							<h3 class="card-title mb10">
								<svg class="cyclops-icon md green">
										<use xlink:href='#icon-chat'>
									</svg>
								Courier Basic
							</h3>
							<div ng-show="displayProductLanding">
								<p class="card-text pa0 ma0">Features:</p>
								<ul>
									<li>Send text messages anywhere in the world.</li>
									<li>Send to regular telephone numbers as well as to short codes.</li>
								</ul>								
								<button class="btn btn-link pull-right" ng-click="showProductDetails()">Learn More</button>
							</div>
							<div  ng-if="displayProductDetails" ng-include="'partials/products/product_details.html'"></div>
						</div>						
					</div>					
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-block noBorder">
							<h3 class="card-title mb10">
								<svg class="cyclops-icon md green">
										<use xlink:href='#icon-phone'>
									</svg>
								Speak Easy
							</h3>
							<div ng-show="displayProductLanding">
								<p class="card-text pa0 ma0">Features:</p>
								<ul>
									<li>Call anywhere in the world.</li>
									<li>Call to regular telephone numbers and mobile.</li>
								</ul>								
								<button class="btn btn-link pull-right">Coming Soon</button>
							</div>
							<!-- <div  ng-if="displayProductDetails" ng-include="'partials/products/product_details.html'"></div> -->
						</div>						
					</div>					
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-block noBorder">
							<h3 class="card-title mb10">
								<svg class="cyclops-icon md green">
										<use xlink:href='#icon-database'>
									</svg>
								Dumpster
							</h3>
							<div ng-show="displayProductLanding">
								<p class="card-text pa0 ma0">Features:</p>
								<ul>
									<li>Store data in any format.</li>
									<li>Read, Update and Delete stored data.</li>
								</ul>								
								<button class="btn btn-link pull-right">Coming Soon</button>
							</div>
							<!-- <div  ng-if="displayProductDetails" ng-include="'partials/products/product_details.html'"></div> -->
						</div>						
					</div>					
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-block noBorder">
							<h3 class="card-title mb10">
								<svg class="cyclops-icon md green">
										<use xlink:href='#icon-template'>
									</svg>
								Clink Box
							</h3>
							<div ng-show="displayProductLanding">
								<p class="card-text pa0 ma0">Features:</p>
								<ul>
									<li>Send mail.</li>
									<li>Read received mail.</li>
								</ul>								
								<button class="btn btn-link pull-right">Coming Soon</button>
							</div>
							<!-- <div  ng-if="displayProductDetails" ng-include="'partials/products/product_details.html'"></div> -->
						</div>						
					</div>					
				</div>
			</div>		
		</div>				
		  </div>
		</div>
		<div class="card ml10 mr10">
			<div class="card-block">
				<h2 class="card-title">
					   <svg class="cyclops-icon xl"><use xlink:href='#icon-book'></svg>
						Resources					
				</h2>
				<div class="noBorder pa0">
					<div class="row">
						<div class="col-sm-12">
							<div class="card card-block noBorder">
								<h3 class="card-title">
									<svg class="cyclops-icon md green">
											<use xlink:href='#icon-api'>
										</svg>
									API Quick Start
								</h3>
								<p class="card-text">Learn how our APIs can help power you to success.</p>
								<button class="btn btn-link pull-right"
									ng-click="goTo('/apiDocs/restAPIDocs')">Learn more about our services</button>
							</div>
						</div>
					</div>
				</div>
				<div class="noBorder pa0">
					<div class="row">
						<div class="col-sm-12">
							<div class="card card-block noBorder">
								<h3 class="card-title">
									<svg class="cyclops-icon md green">
											<use xlink:href='#icon-script'>
										</svg>
									SDK Quick Start
								</h3>
								<p class="card-text">Discover how to use our SDKs right into your own web app or mobile app.</p>
								<button class="btn btn-link pull-right">Coming Soon</button>
							</div>
						</div>
					</div>
				</div>				
				<div class="noBorder pa0">
					<div class="row">
						<div class="col-sm-12">
							<div class="card card-block noBorder">
								<h3 class="card-title">
									<svg class="cyclops-icon md green">
											<use xlink:href='#icon-list'>
										</svg>
									FAQ
								</h3>
								<p class="card-text">Post your questions and get answers from your peers and our experts.</p>
								<button class="btn btn-link pull-right" ng-click="goTo('/faq')">See what folks are asking us</button>
							</div>
						</div>
					</div>
		  		</div>
		  	</div>
		</div>
		<div class="card ml10 mr10">
		  <div class="card-block">
			<h2 class="card-title">
				   <svg class="cyclops-icon xl"><use xlink:href='#icon-compliance'></svg>
					Pricing					
			</h2>				
					<!-- <p class="card-text">Pricing Details Will Go Here.</p>		 -->
			<div ng-include="'partials/pricing/pricingLanding.html'"></div>				
		  </div>
		</div>
	  </div>
	</div>		
	<!-- Tab End -->
</div>

<!--  SignIn Section -->
<!-- <div ng-if="page == 'signInDecisionSection'" ng-include="'partials/login/signInDecision.html'"></div> -->

<!--  SignIn Section -->
<div ng-if="page == 'signInSection'" ng-include="'partials/login/signIn.html'"></div>

<!--  SignIn Section -->
<!-- <div ng-if="page == 'signUpSection'" ng-include="'partials/login/signUp.html'"></div> -->

<!--  Free Trial Section -->
<!-- <div ng-if="page == 'freeTrialSection'" ng-include="'partials/login/freeTrial.html'"></div> -->

