
<div id="signInSection" class="signin conatiner-fluid " ng-show="page === 'signUpSection'">
	<page-event page-id="SignUp-View"></page-event>
	<h1 class="mt0 pt60" ng-bind-html="content.Login.ConnectedCommunicationsSignUpLabel"></h1>
	
	<div class="signin-container pt10">
		<div class="pull-right pb20">
			<a id="signUpClose" ng-click="changePage('landingPage')" href=""> 
					<svg class="cyclops-icon md green"><use xlink:href='#icon-times'></svg>
			</a>
		</div>
		<div class="clearfix mt20"></div>
		
		<div class="alert alert-danger" ng-show="signUpErrorText && signUpErrorText != ''">
          <h4 ng-bind-html="content.Login.LoginErrorLabel"></h4>
          <p>{{signUpErrorText}}</p>
        </div>
        
		<form name="signUpForm" class="form-signup" novalidate >
			<fieldset>
				<div class="form-group">
					<label for="UserName" class="sr-only" ng-bind-html="content.Login.UsernameLabel"></label> <input
						class="form-control requiredField" ng-model="user.userId" id="UserName"
						name="UserName" placeholder="username" tabindex="1" type="text" ng-required="true" />
				</div>
				<div class="form-group">
					<label for="signinPassword" class="sr-only" ng-bind-html="content.Login.PasswordLabel"></label> <input
						class="form-control requiredField" ng-model="user.password" id="Password"
						name="Password" placeholder="password" tabindex="2"
						type="password" ng-required="true" />
				</div>				
				<button class="btn btn-lg btn-primary btn-block" type="submit" 
					ng-click="signUpUser()" ng-disabled="signUpForm.$invalid"><span ng-bind-html="content.Login.signUpButtonLabel"></span></button>
			</fieldset>
		</form>
		<div class="signin-support">			
			<p class="pull-right">
				<a href="https://www.ctl.io/legal/privacy/"><span ng-bind-html="content.Login.PrivacyPolicyLabel"></span></a>
			</p>
		</div>
	</div>
	<p ng-bind-html="content.Login.userShouldBeRegisterd"></p>	
	<div class="row ma0">
		<div class="">
			<img src="images/LoginLogo.png">
		</div>
	</div>
</div>

