
<div id="signInSection" class="signin conatiner-fluid ">
	<!-- <page-event page-id="SignIn-View"></page-event> -->
	<div class="mt0 pt60"></div>
	<div class="signin-container pt10">
		<div class="pull-right pb20">
			<a id="signInClose" ng-click="changePage('landingPage')" href=""> 
					<svg class="cyclops-icon md green"><use xlink:href='#icon-times'></svg>
			</a>
		</div>	
				
		<div class="pl10 pt30">			
			<p class="lead">
				<button class="btn btn-link-text" ng-click="goToSSO()"><strong>Login as Administrator</strong></button>				
			</p>
			<p>
				<button class="btn btn-link-text" ng-click="changePage('signInSection')"><strong>Login as Consumer</strong></button>				
			</p>
			
			<p class="pull-right">
				<a ><span ng-bind-html="content.Login.needHelpLink"></span></a>
			</p>
		</div>		
	</div>		
	<div class="row ma0">
		<div class="">
			<img ng-src="{{brandingInfo.controlUrl + brandingInfo.loginLogoUrl}}"/>
		</div>
	</div>
</div>

