
<div id="signInSection" class="signin conatiner-fluid ">
	<page-event page-id="SignIn-View"></page-event>
	<h1 class="mt0 pt60" ng-bind-html="content.Login.ConnectedCommunicationsSignInLabel"></h1>
	<div class="signin-container pt10">
		<div class="pull-right pb20">
			<a id="signInClose" ng-click="changePage('landingPage')" href=""> 
					<svg class="cyclops-icon md green"><use xlink:href='#icon-times'></svg>
			</a>
		</div>
		<div class="clearfix mt20"></div>
		<!-- Locked account should display this alert message. -->
		<div class="alert alert-danger" ng-show="loginErrorText && loginErrorText != ''">
          <h4 ng-bind-html="content.Login.LoginErrorLabel"></h4>
          <p>{{loginErrorText}}</p>
        </div> 		
		<form name="signInForm" class="form-signin" ng-submit="submitted = true" novalidate>
			<fieldset>
				<div class="form-group">
					<label for="UserName" class="sr-only" ng-bind-html="content.Login.UsernameLabel"></label> <input
						class="form-control w70 requiredField" ng-model="user.userId" id="UserName"
						name="UserName" placeholder="username" tabindex="1" type="text" ng-required="true" />@consumer
						<div ng-show="submitted && signInForm.UserName.$error.required && errLbl" class="errLabel">
								Username Required
						</div>
				</div>
				<div class="form-group">
					<label for="signinPassword" class="sr-only" ng-bind-html="content.Login.PasswordLabel">Password</label> <input
						class="form-control requiredField" ng-model="user.password" id="Password"
						name="Password" placeholder="password" tabindex="2"
						type="password" ng-required="true" />
						<div ng-show="submitted && signInForm.Password.$error.required && errLbl" class="errLabel">Password Required</div>
				</div>				
				<button class="btn btn-lg btn-primary btn-block" type="submit" 
				ng-click="signInForm.$valid && signInUser()" > <span ng-bind-html="content.Login.signInButtonLabel"></span></button><!-- ng-disabled="signInForm.$invalid" -->
			</fieldset>
		</form>
		<div class="signin-support">
			<!-- <a href="#">Forgot your password?</a> -->
			<p class="pull-right">
				<a href="https://www.ctl.io/legal/privacy/"><span ng-bind-html="content.Login.PrivacyPolicyLabel"></span></a>
			</p>
		</div>
		<!-- <div class="signin-support">
			<p class="pa0 ma0">	<a href="" ng-click="changePage('signUpSection')">Click	here</a> if this the first time you are logging into this App</p>
		</div> -->	
	</div>		
	<div class="row ma0">
		<div class="">
			<img ng-src="{{brandingInfo.controlUrl + brandingInfo.loginLogoUrl}}"/>
		</div>
	</div>
</div>

