<h2 class="content-header pl10">List of countries</h2>
<md-dialog-content>
<div
	class="card card-block ml20 mr20 mt20 new-list-view-responsive new-list-view-responsive-sm">

	<div class="new-list-view-header">
		<h3 class="col col-40">Code</h3>
		<h3 class="col col-60">Name</h3>
		<!-- <h3 class="col col-20">Charge in USD</h3> -->
	</div>
	<!-- body of the list -->
	<ul class="new-list-view">
		<li ng-repeat="billingRate in billingData | filter:{productCode:selectedGroup} | orderBy:'countryName'">
			<div class="list-view-item">
				<div class="col col-40 text-left">{{billingRate.countryCode}}</div>
				<div class="col col-60 text-left">{{billingRate.countryName}}</div>
				<!-- <div class="col col-20 text-left">{{billingRate.billingRate}}</div> -->
			</div>
		</li>
	</ul>
</div>
</md-dialog-content>
<md-dialog-actions layout="row">
<button class="btn btn-outline pull-right" ng-click="answer('close')">
	close</button>
</md-dialog-actions>