<h2 class="content-header pl10">Sign Help!</h2>
<md-dialog-content>
<p class="pl10 mt10">An Administrative User may order and remove
	services, define Groups, invite Consumers to use services, and review
	usage data. An Administrator User may only be created within CTL.IO ->
	Settings -> Users.</p>
<p class="pl10 mt10">A Consumer may active, configure, and use a
	service. Consumers may only be created by Administrative User in
	ONBUI.ctl.io.</p>
</md-dialog-content>
<md-dialog-actions layout="row">
<button class="btn btn-outline pull-right" ng-click="answer('close')">
	close</button>
</md-dialog-actions>