<!--------------------------------------------------------------- Feedback----------------------------------------------------- -->
<div class="clearfix" id="FeedbackSection" >
   <div class="PopularProducts_cointainer ">
      <div class="clearfix pa10" id="FeedbackHdrs">
         <div class="pull-left">
            <label class="formHdrs_normal18">Legal</label>
         </div>
         <div class="pull-right">
            <a id="feedbackClose" onclick="()" href="">
            <i class="fa fa-close fa-closeButton"></i>
            </a>
         </div>
      </div>

      <div class="clearfix pl10">
         <label class="TermConditions">Updated: August, 2015</label>
      </div>
	
	  
	  <!--Component-->
	  
	  <article class="TermConditionsNormal pa10">The following Supplemental Terms apply only to the specific Cloud Services to which the Supplemental Terms relate. In the event of a conflict between the terms of these Supplemental Terms and the terms of the CenturyLink Customer agreement or other agreement governing use of the Cloud Services (the “Agreement”), the terms and conditions of these Supplemental Terms apply, but only to the extent of such conflict. Capitalized terms used herein but not defined herein shall have the meanings set forth in the Agreement. </article>
	  
	  
      <div class="clearfix pa10">
<ol class="clearfix TermConditionsHdr00853f ml25min"><li>Universal Supplemental Cloud Terms (Applicable to all Cloud Services)</li></ol>
<ol class="clearfix TermConditionsNormal ml10min">
  <li>If CenturyLink reasonably believes any Content violates the law, infringes or misappropriates the rights of any third party or otherwise violates a material term of the Agreement (including the documentation, the Cloud Terms, or the Acceptable Use Policy) (“Prohibited Content”), CenturyLink notify Customer of the Prohibited Content and may request that such content be removed from the Cloud Services or access to it be disabled. If the Prohibited Content is not removed or disabled within three business days of our notice, CenturyLink may remove or disable access to the Prohibited Content or suspend the Cloud Services to the extent it cannot be removed or disabled.</li>
  
  <li class="mt10">From time to time, CenturyLink may offer free or discounted pricing programs covering certain usage of the Services (each, a “Special Program”). CenturyLink may stop accepting new sign-ups or discontinue a Special Program at any time. Standard charges will apply after a Special Program ends or if Customer exceeds the limitations by the Special Program. Customer is responsible for complying with any additional terms, restrictions, or limitations (e.g., limitations on the total amount of usage) for the Special Program as described in the offer terms for the Special Program or on the pricing page for the eligible Cloud Service(s). Access to or use the Cloud Services in a way intended to avoid any additional terms, restrictions, or limitations (e.g., establishing multiple CenturyLink accounts in order to receive additional benefits under a Special Program) is prohibited and Customer’s account may be immediately terminated without notice. CenturyLink is not responsible for a data stored or instances provided as part of a Special Program.</li>
</ol>  


</div>


 <div class="clearfix pa10">
 <label class="formHdrs_normal">Contact: </label> <a href="" class="page_link">caas@centurylink.com</a>
 </div>
 

      </div>
   </div>
</div>