<!--------------------------------------------------------------- Feedback----------------------------------------------------- -->
<div>
	<div ng-if="!isUserAuthenticated"
		ng-include="'partials/global/commonHeader.html'"></div>

	<!-- <div class="row">
		<div class="col-md-12">
			<div ng-hide="backLink" class="pa0 mr0">
				<button class="btn btn-link pull-left"
					ng-click="goBack()">{{content.Common.goBackLabel}}</button>
			</div>
		</div>
	</div>	 -->
		
	<page-event page-id="Legal-Terms-Conditions-View"></page-event>
	<div class="clearfix" id="FeedbackSection">
		<div class="PopularProducts_cointainer ml10 mr10 mb10">
			<div class="clearfix pa10" id="FeedbackHdrs">
				<div class="pull-left">
					<label class="formHdrs_normal18"
						ng-bind-html="content.LEGAL.legalLabel"></label>
				</div>
				<div class="pull-right">
					<a id="feedbackClose" ng-click="goBack()" href=""> <i
						class="fa fa-close fa-closeButton"></i>
					</a>
				</div>
			</div>
			<div class="clearfix pl10">
				<label class="TermConditions"
					ng-bind-html="content.LEGAL.updatedLabel"></label><label
					class="TermConditions"> August, 2015</label>
			</div>

			<!--Component-->
			<article class="TermConditionsNormal pa10"
				ng-bind-html="content.LEGAL.Products[0].Product.Description">
			</article>

			<div class="clearfix pa10"
				ng-repeat="legal in content.LEGAL.Products[0].Product.LegalTerms">
				<ol class="clearfix TermConditionsHdr00853f ml25min">
					<li ng-bind-html="legal.Legal01"></li>
				</ol>
				<div ng-repeat="subLegalTerms in legal.LegalSubpoint">
				<ul class="clearfix TermConditionsNormal ml10min">
					<li ng-bind-html="subLegalTerms.LegalSubpoint"></li>
				</ul>
				</div>
			</div>

			<div class="clearfix pa10">
				<label class="formHdrs_normal" ng-bind-html="subLegalTerms.contactLabel"></label> <a href=""
					class="page_link">caas@centurylink.com</a>
			</div>


      </div>
   </div>
</div>