<div class="pb0 mb0 noBorder">
	<page-event page-id="AcctSummary-View"></page-event>

	<!-- 	Section to show Billing details -->
	<div ng-if="showBillingSummarySection  && useSplunk" ng-include="'partials/acctSummary/billingSummary.html'"></div>

	<div class="container-fluid" id="noSeatsPage"
		ng-show="page === 'noSeatsPage'">
		<h5>You have no purchased products, please click on Products in
			menu section to buy a product.</h5>
	</div>


	<!-- Account Summary Main Page -->
	<div class="container-fluid mt10 ma0 pa0" id="mainPage"
		ng-show="page === 'mainPage'">
		<!-- <div class="mt20">
			<h4 class="pull-left">{{content.Account_Summary.accountSummaryLanding.productsSectionTitle}}</h4>
			<div class="pull-right" ng-if="pendingInviteCount > 0">
				<button tooltips tooltip-template="{{pendingInviteTooTipText}}"
					class="btn btn-default" ng-disabled="pendingInviteCount == 0"
					ng-click="gotoPendingInvitations()">
					<svg class="cyclops-icon xs">
						<use xlink:href='#icon-users'></svg>
					{{content.Account_Summary.accountSummaryLanding.pendingInvitationsLabel}} - {{pendingInviteCount}}
				</button>
			</div>
		</div> -->
		<div class="clearfix"></div>
		<div class="">
			<div class="card">
          <div class="card-header">
            <span class="h5" style="letter-spacing: 1px;">Services</span>
          </div>
          <div class="card-block">
            <div class="card-deck-wrapper" id="products">
              <div class="card-deck">
                <div class="card">
                  <div class="card-block">
                  	<div class="pull-right">
                  		<span tooltips tooltip-side="right" tooltip-template="create your seat step-by-step" tooltip-hidden="{{isNetworkUser}}">                  	
	                    <button href="" ng-click="goToBuyProducts()" ng-hide="isNetworkUser" class="btn btn-primary btn-sm">
	                    <svg class="cyclops-icon" aria-hidden="true">
	                    	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus-circle"></use>
	                    </svg>
	                    <span class="sr-only">add</span> {{content.Account_Summary.servicesSection.labelForSeat}}</button></span>
	                    <span tooltips tooltip-side="right" tooltip-template="create your seat with system defaults" tooltip-hidden="{{isNetworkUser}}">
	                    <button href="" ng-click="goToQuickStart()" ng-hide="isNetworkUser" class="btn btn-primary btn-sm">
	                    <svg class="cyclops-icon" aria-hidden="true">
	                    	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-automation"></use>
	                    </svg>
	                    <span class="sr-only">quickStart</span> {{content.Account_Summary.servicesSection.labelForQuickStart}}</button></span>
                    </div>                    
                    <svg class="cyclops-icon  md m-b-xs" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chat"></use></svg>
                    <h3 class="card-title"><a href="" ng-click="goToSeatDetails()">{{content.Account_Summary.servicesSection.services[0].name}}</a></h3>
                    <p class="card-text">{{content.Account_Summary.servicesSection.services[0].description}}</p>
                    <span class="deemphasize">{{content.Account_Summary.servicesSection.labelForStartingAt}}</span>
                    <br><span class="h3 text-green">${{pricingConfig.seatRental}}/{{content.Account_Summary.servicesSection.labelForSeat}}</span>
                  </div>
                  <div class="card-block card-stats" ng-repeat="accountData in accountSummaryData">
                    <span class="h2"><a href="" ng-click="goToSeatDetails()" ng-clock>{{accountData.totalCount
								- accountData.totalPending}} / {{accountData.totalCount}}</a></span>
                    <div>{{content.Account_Summary.servicesSection.labelForSeatsAssigned}}</div> 
                  </div>
                </div>
                <div class="card">
                  <div class="card-block">
                    <button href="" ng-hide="isNetworkUser" disabled="true" class="btn btn-primary btn-sm pull-right"><svg class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus-circle"></use></svg><span class="sr-only">add</span> {{content.Account_Summary.servicesSection.labelForSeat}}</button>
                    <svg class="cyclops-icon  md m-b-xs" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use></svg>
                    <h3 class="card-title"><a href="" disabled="true">{{content.Account_Summary.servicesSection.services[1].name}}</a></h3>
                    <p class="card-text">{{content.Account_Summary.servicesSection.services[1].description}}</p>
                    <!-- <span class="deemphasize">{{content.Account_Summary.servicesSection.labelForStartingAt}}</span> -->
                    <br><span class="h3 text-green">{{content.Account_Summary.servicesSection.comingSoonLabel}}</span>
                  </div>
                  <div class="card-block card-stats">
                    <!-- <span class="h2"><a href="" disabled="true">0 / 0</a></span>
                    <div>{{content.Account_Summary.servicesSection.labelForSeatsAssigned}}</div> -->
                  </div>
                </div>
                <div class="card">
                  <div class="card-block">
                    <button href="" ng-hide="isNetworkUser" class="btn btn-primary btn-sm pull-right" disabled="true"><svg class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus-circle"></use></svg><span class="sr-only">add</span> {{content.Account_Summary.servicesSection.labelForMailbox}}</button>
                    <svg class="cyclops-icon  md m-b-xs" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-envelope"></use></svg>
                    <h3 class="card-title"><a href="" disabled="true">{{content.Account_Summary.servicesSection.services[2].name}}</a></h3>
                    <p class="card-text">{{content.Account_Summary.servicesSection.services[2].description}}</p>
                   <!--  <span class="deemphasize">{{content.Account_Summary.servicesSection.labelForStartingAt}}</span> -->
                    <br><span class="h3 text-green">{{content.Account_Summary.servicesSection.comingSoonLabel}}</span>
                  </div>
                  <div class="card-block card-stats">
                    <!-- <span class="h2"><a href="" disabled="true">0 / 0</a></span>
                    <div>{{content.Account_Summary.servicesSection.labelForMailboxesAssigned}}</div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>		
		</div>
	</div>	
</div>

<!--  <div class="" id="" >
	          <div ng-if="page === 'seatDetails'" ng-include="'partials/acctSummary/seatDetails.html'"></div>
	   </div> -->
