<div id="addSeatSection" ng-show="addToCard">
<page-event page-id="Subscribe-Add"></page-event>
	<div class="row">
		<div class="col-md-12">
			<div class="ml20" ng-show="isNetworkUser">
				<article class="pa4 pull-left">{{content.AddSeat.notAuthorizedToSubscribeMessage}}</article>
			</div>
		</div>
	</div>
  <div class="container-fluid pl0 ml0" >
    <div class="row">
      <div id="priceEstimateContainer">
        <div id="priceEstimate">
          <h5 class="content-header">{{content.AddSeat.addSeat.costEstimatedAsConfiguredLabel}}</h5>
          <div class="cost-value">${{(buyProductInput.prodQuantity * productRate + buyProductInput.prodQuantity * TNRate).toFixed(2)}}</div>
          <div class="cost-interval">{{content.AddSeat.addSeat.addSeatperMonthLabel}}</div>
          <div class="disclaimer">{{content.AddSeat.addSeat.addSeatdoesNotIncludeUsageChargesLabel}}</div>
        </div>
  			<div id="priceBreakdown" class="hidden-xs-down">
          <div class="line-item">
            <div class="line-item-display">{{buyProductInput.prodQuantity}} {{content.AddSeat.addSeat.courierLabel}}</div>
            <div class="line-item-cost">(${{(buyProductInput.prodQuantity * productRate).toFixed(2)}}/{{content.AddSeat.addSeat.monthLabel}})</div>
          </div>
          <div class="line-item">
            <div class="line-item-display">{{buyProductInput.prodQuantity}} {{content.AddSeat.addSeat.phoneNumberLabel}}</div>
            <div class="line-item-cost">(${{(buyProductInput.prodQuantity * TNRate).toFixed(2)}}/{{content.AddSeat.addSeat.monthLabel}})</div>
          </div>
          <div class="line-item">
            <div class="line-item-display">{{content.AddSeat.addSeat.nationalSMSLabel}}</div>
            <div class="line-item-cost">(${{SMSRate}}/{{content.AddSeat.addSeat.SMSLabel}})</div>
          </div>
          <div class="line-item">
            <div class="line-item-display">{{content.AddSeat.addSeat.internationalSMSLabel}}*</div>
            <div class="line-item-cost">(${{IneternationSMSRate}}/{{content.AddSeat.addSeat.SMSLabel}})</div>
          </div>
        </div>
      </div>

      <div id="createFormContainer" style="padding-right: 0px!important;">
        <div class="alert alert-instruction">
          <div class="alert-icon">
            <svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-info-circle' /></svg>
          </div>
          <p>{{content.AddSeat.addSeat.addSeatInfoLabel}}</p></div>
        <form class="form-horizontal" novalidate>
          <div class="form-group">
            <label for="inputQuantity" class="col-sm-3 control-label">{{content.AddSeat.addSeat.optionalMetadataLabel}}</label>
            <div class="col-sm-6">
				<input type="text" class="form-control" ng-model="buyProductInput.customerId" />
				<p style="color: #a3a3a3;">{{content.AddSeat.addSeat.optionalLabel}}</p>
			</div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
            <div ng-show="checkValue" class="errLabel">
					Please accept Legal terms to proceed.
			</div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="checkbox-1" name="checkbox-1" type="checkbox"
							ng-model="buyProductInput.legalAckStatus" ng-required="true"/>{{content.AddSeat.addSeat.addSeatIAgree}}<a href="" ng-click="showTermsAndCondition($event)"> {{content.AddSeat.addSeat.addSeatSuppTerm}}</a>.
                </label>
              </div>
            </div>
          </div>
          <div class="form-group form-submit">
            <div class="col-sm-offset-3 col-sm-9">
              <button id="ProductsAddToCartBtn"	ng-click="addSeat(content.Common.Products[0].Product.Value)"
									class="btn btn-primary btn-lg" api-event="Subscribe-Add" >{{content.AddSeat.addSeat.addASeatLabel}}</button><!-- ng-disabled="isNetworkUser || !buyProductInput.legalAckStatus" ng-disabled="buyproductform.$invalid"  -->
              <button ng-click="clickCancel()" class="btn btn-link btn-lg" >{{content.AddSeat.addSeat.cancel}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <p class="mt30 pa10"><small><i>*may be subject to an <a href ng-click="gotoPricing()">additional international termination charge</a></i></small></h5>

  </div>
</div>

<!--------------------------------------------------------------- Products Tab ORDER SUMMERY Success Message------------------------------------------------------ -->
<!-- 	<div ng-show="thankYouSection" id="buyProductsSection" class="container-fluid pa0 ma0">
		<div class="row">
	      <div class="col-sm-12">	        
	        <p class="lead mt10">
					{{content.AddSeat.orderSummary.thankYouForVisitingMessage}}
			</p>
			<p class="lead mt10">
					{{content.AddSeat.orderSummary.visitTheAccountSummaryLaterMessage}}
			</p>
	      </div>
	    </div>

		Product Name Section
		
		<div class="card card-block col col-100 mt10 pa0 new-list-view-responsive new-list-view-responsive-md">
		      <div>
			      <div class="new-list-view-header">
			      	<h3 class="col col-15 text-left">{{content.AddSeat.orderSummary.productNameLabel}}</h3>
			      	<h3 class="col col-10 text-left">{{content.AddSeat.orderSummary.phoneNumberLabel}}</h3>
				    <h3 class="col col-15 text-left">{{content.AddSeat.orderSummary.optionalMetadataLabel}}</h3>
				    <h3 class="col col-30 text-left">{{content.AddSeat.orderSummary.seatIDLabel}}</h3>
				    <h3 class="col col-10 text-left">{{content.AddSeat.orderSummary.groupNameLabel}}</h3>
				    <h3 class="col col-10">{{content.AddSeat.orderSummary.configureSeatLabel}}</h3>
				    <h3 class="col col-10 text-left">{{content.AddSeat.orderSummary.assignedConsumersLabel}}</h3>
				  </div>
		      
			      <ul class="new-list-view" ng-repeat="successOrder in successOrders">
				      <li ng-if="successOrder.response.seatId" >
				        <div class="pt3 pb3 list-view-editable-item list-view-item-success nocursor">
				        	<div class="col col-15 text-left"><span class="col-header">{{content.AddSeat.orderSummary.productNameLabel}}</span>{{successOrder.productName}}</div>
				        	<div class="col col-10 text-left"><span class="col-header">{{content.AddSeat.orderSummary.phoneNumberLabel}}</span>-</div>
				        	<div class="col col-15 text-left"><span class="col-header">{{content.AddSeat.orderSummary.optionalMetadataLabel}}</span>{{successOrder.customerId}}</div>
						    <div class="col col-30 text-left"><span class="col-header">{{content.AddSeat.orderSummary.seatIDLabel}}</span>Seat Id: {{successOrder.response.seatId}}</div>
						    <div class="col col-10 text-left" ng-if="successOrder.response.networkId">
						    	<span class="col-header">{{content.AddSeat.orderSummary.groupNameLabel}}</span>{{successOrder.response.networkId}}						    	
						    </div>
						    <div class="col col-10 text-left" ng-if="!successOrder.response.networkId">
						    	<span class="col-header">{{content.AddSeat.orderSummary.groupNameLabel}}</span>-						    	
						    </div>
						    <div class="col col-10"><span class="col-header">{{content.AddSeat.orderSummary.configureSeatLabel}}</span>
						    <a href ="#/accountSummary/{{successOrder.response.seatId}}"><svg class="cyclops-icon md green">
						    	<use xlink:href='#icon-settings'></use></svg></a>
							</div>
							<div class="col col-10 text-left" ng-if="successOrder.response.consumer">
						    	<span class="col-header">{{content.AddSeat.orderSummary.assignedConsumersLabel}}</span>{{successOrder.response.consumer}}
						    </div>
						    <div class="col col-10 text-left" ng-if="!successOrder.response.consumer">
						    	<span class="col-header">{{content.AddSeat.orderSummary.assignedConsumersLabel}}</span>0
						    </div>
						    	
				        </div>
				      </li>
				      <li  class="" ng-if="!successOrder.response.seatId">
				        <div class="pt3 pb3 list-view-editable-item list-view-item-danger">
				        	<div class="col col-15 text-left"><span class="col-header">{{content.AddSeat.orderSummary.productNameLabel}}</span>{{successOrder.productName}}</div>
				        	<div class="col col-10 text-left"><span class="col-header">{{content.AddSeat.orderSummary.phoneNumberLabel}}</span>-</div>
				        	<div class="col col-15 text-left"><span class="col-header">{{content.AddSeat.orderSummary.optionalMetadataLabel}}</span>{{successOrder.customerId}}</div>
						    <div class="col col-30 text-left"><span class="col-header">{{content.AddSeat.orderSummary.seatIDLabel}}</span>{{successOrder.response.errorMessage}}</div>
						    <div class="col col-10 text-left"><span class="col-header">{{content.AddSeat.orderSummary.groupNameLabel}}</span>-</div>
						    <div class="col col-10"><span class="col-header">{{content.AddSeat.orderSummary.configureSeatLabel}}</span></div>
							<div class="col col-10 text-left"><span class="col-header">{{content.AddSeat.orderSummary.assignedConsumersLabel}}</span>0</div>
				        </div>
				      </li>	
				     
				   </ul>
				  
			   </div>
	   	  </div>
	</div>
	
 -->