	<!-- 	Section to show Billing details -->

		<div id="billingSummaryData" class="container-fluid ml0 pl0">
			<div class="col col-100 pa0">				
				<div class="row billing-summary">
					<div class="col-sm-4 col-xs-8">
						<div class="heading">{{content.Account_Summary.accountSummaryLanding.monthEstimateLabel}}</div>
						<div ng-show="billingSummary.monthEstimates !== 'Error' "
							class="currency">{{(billingSummary.monthEstimates > 0 ? (billingSummary.monthEstimates).toFixed(2) : billingSummary.monthEstimates) |
							currency}}</div>
						<div ng-show="billingSummary.monthEstimates === 'Error' "
							class="currency">&mdash;</div>
						<div ng-hide="(billingSummary.monthEstimates + '')" class="currency">&hellip;</div>
					</div>
					<div class="col-sm-4 col-xs-8">
						<div class="heading">{{content.Account_Summary.accountSummaryLanding.currentHourEstimateLabel}}</div>
						<div ng-show="billingSummary.currentHrsEstimates !== 'Error' "
							class="currency">{{(billingSummary.currentHrsEstimates > 0 ? (billingSummary.currentHrsEstimates).toFixed(2) : billingSummary.currentHrsEstimates) |
							currency}}</div>
						<div ng-show="billingSummary.currentHrsEstimates === 'Error' "
							class="currency">&mdash;</div>
						<div ng-hide="(billingSummary.currentHrsEstimates + '')" class="currency">&hellip;</div>
					</div>
					<div class="col-sm-4 col-xs-8">
						<div class="heading">{{content.Account_Summary.accountSummaryLanding.monthlyChargesLabel}}</div>
						<div ng-show="billingSummary.oneTimeCharges !== 'Error' "
							class="currency">{{(billingSummary.oneTimeCharges > 0 ? (billingSummary.oneTimeCharges).toFixed(2) : billingSummary.oneTimeCharges) |
							currency}}</div>
						<div ng-show="billingSummary.oneTimeCharges === 'Error' "
							class="currency">&mdash;</div>
						<div ng-hide="(billingSummary.oneTimeCharges + '')" class="currency">&hellip;</div>
					</div>
					<!-- 			        <div class="col-sm-3 col-xs-6">
			          <div class="heading">MONTH TO DATE</div>
			          <div class="currency">$9,927.65</div>
			        </div> -->
				</div>
			</div>
		</div>
	