<div id="configureSeatPage" class="container-fluid ma0 pa0">
	<page-event page-id="AcctSummary-Seat-View"></page-event>
	<!-- <div class="row">
		<div class="col-md-12">
			<div class="pull-left pa0 mr0">
				<button id="configureSeatClose" class="btn btn-link pull-left"
					ng-click="goToSeatDetails()">SMS/Voice Seats</button>
			</div>
		</div>
	</div> -->
	<!-- Container Start -->
	<div class="card">
	
		<div class="action-area">
			<ol class="action-toolbar-left" data-bind="widget: 'overflowMenu'" ng-if="isNetworkUser && mngService.servEnabledOriginal">
				<li><a href="#/productSendMessage/{{selectedProduct.seatId}}" type="button"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-messaging' /></svg> Send SMS</a></li>
				<li><a href="#/productReadMessage/{{selectedProduct.seatId}}" type="button"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-book' /></svg> Read SMS</a></li>
				<li><a href="#/productDeleteMessage/{{selectedProduct.seatId}}" type="button"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-queue-delete' /></svg> Delete SMS</a></li>			
			</ol>
			<ol class="action-toolbar-right" ng-if="!isNetworkUser">
				<li><inline-confirm-link confirm="deleteSeat()"
						confirm-class="btn-default pull-right"
						event-page-id="AcctSummary-Seat-Delete"> <svg
						class="cyclops-icon" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink"
							xlink:href="#icon-close"></use></svg>{{content.Account_Summary.configureSeat.deleteSeatLabel}}</inline-confirm-link></li>
					<!--  <button type="button"><svg class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg> delete seat</button></li> -->
			</ol>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-6 col-md-6">
							<div class="row">
								<div class="col-sm-12 col-md-12">
									<h5 class="content-header m-b-0">SEAT INFO</h5>
									<ul class="list-info">
										<li ng-if="!pageSection.configureService">
											<div>
												<div class="info-label">services</div>
												<div class="info-value">
													<ul class="list-unstyled m-b-xxs">
														<li><svg class="cyclops-icon green"
																aria-hidden="true">
																<use xmlns:xlink="http://www.w3.org/1999/xlink"
																	xlink:href="#icon-messaging"></use></svg> Courier Basic	({{getServiceStatus(selectedProduct, 'courier-basic')}})											
														</li>
														<!-- <li><svg class="cyclops-icon green"
																aria-hidden="true">
																<use xmlns:xlink="http://www.w3.org/1999/xlink"
										 							xlink:href="#icon-storage"></use></svg> Safe-Store</li> -->
													</ul>								
													
													<button class="btn btn-mini btn-outline m-t-xxs"
														title=" configure message service" ng-if="isNetworkUser" ng-hide="selectedProduct.moniker === 'Unassigned' || selectedProduct.moniker === ''"
														ng-click="showSection('configureService')">{{mngService.servEnabledOriginal ? 'configure' : 'activate'}}</button>
												</div>												
											</div>
										</li>
										<div class="row pa10" ng-if="pageSection.configureService">
											<div class="col-sm-12 col-md-12 allBorder">
												<div
													class="new-list-view-responsive new-list-view-responsive-md">
													<ul class="new-list-view col-100">
														<li>
															<div class="p-md">
																<form class="form-horizontal">																
																	<legend> Enabled Services
																		<span class="pull-right" ng-if="mngService.servEnabledOriginal"><small><inline-confirm confirm="deleteCourier()"
																		confirm-class="btn-danger btn-mini pull-right"
																		event-page-id="AcctSummary-Seat-Courier-Delete"> <svg class="cyclops-icon xs" aria-hidden="true">
																		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg>
																		Delete Service</inline-confirm></small></span>
																	</legend>
																	<div class="form-group">
																		<label class="control-label col-md-4 col-sm-5"
																			for="inputGroup">Courier SMS
																			<span  tooltips tooltip-template="This control allows you to enable or disable this seat. You may wish to 
																				disable this seat to prevent new messages being sent from this phone number.">
																				<svg class="cyclops-icon info"><use xlink:href='#icon-info-circle'></svg>
																			</span>
																		</label>
																		<div class="col-md-8 col-sm-7">
																			<toggle-switch ng-model="mngService.servEnabled"
																				on-label="on" off-label="off"
																				ng-disabled="!isNetworkUser"> </toggle-switch>
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="control-label col-md-4 col-sm-5"
																			for="inputGroup">Safe Store
																			<span  tooltips tooltip-template="This control allows you to turn on or off message safe-store.">
																				<svg class="cyclops-icon info"><use xlink:href='#icon-info-circle'></svg>
																			</span>
																			</label>
																		<div class="col-md-8 col-sm-7">
																			<toggle-switch ng-model="mngService.msgStore"
																				on-label="on" off-label="off"
																				ng-disabled="!isNetworkUser"> </toggle-switch>
																		</div>
																	</div>
																	<div class="form-group form-submit">
																		<div
																			class="col-md-8 col-md-offset-4 col-sm-7 col-sm-offset-5">
																			<button type="submit" ng-click="saveCourierServices()" class="btn btn-primary">apply</button>
																			<button class="btn btn-link"
																				ng-click="hideSection('configureService')">cancel</button>
																		</div>
																	</div>
																</form>
															</div>
														</li>
													</ul>
												</div>

											</div>
										</div>

										<div class="allBorder"
											ng-if="!isNetworkUser && pageSection.assignGroup">
											<form class="m-t-xs m-l-sm m-r-sm" name="assignNetwork" ng-submit="submitted = true" novalidate>
												<div class="form-group">
													<label class="control-label" for="inputGroup">Assign
														this seat to a group</label>
													<div class="radio" ng-if="availableNetworkIds && availableNetworkIds.length > 0">
														<label style="width: 100%"><input type="radio"
															name="group" value="existingGroup"
															ng-model="selectedNetworkIdToAssign.selectedOption" /> <select
															class="form-control" name="groupNetwork"
															ng-model="selectedNetworkIdToAssign.value"
															ng-options="networkId for networkId in availableNetworkIds | orderBy:networkId"
															ng-disabled="selectedNetworkIdToAssign.selectedOption == 'newGroup'" ng-required="!selectedNetworkIdToAssign.newNetworkId"></select>
														</label>
													</div>
													<div ng-if="selectedNetworkIdToAssign.selectedOption === 'existingGroup'">
														<div ng-show="submitted && assignNetwork.$error.required  && errLbl" class="errLabel">
																Please Select a Network Id.
														</div>
													</div>
													<div class="radio" ng-hide="selectedProduct.networkId">
														<label style="width: 100%"><input type="radio"
															name="group" value="newGroup"
															ng-model="selectedNetworkIdToAssign.selectedOption" />
															<span class="pull-left form-control-static">{{accountName}}-</span>
								                            <div class="inline-confirm">
								                              <input type="text" class="form-control column100" placeholder="new group"
																ng-model="selectedNetworkIdToAssign.newNetworkId" name="newNetwork"
																ng-disabled="selectedNetworkIdToAssign.selectedOption == 'existingGroup'" ng-required="!selectedNetworkIdToAssign.value"/>
								                            </div>
															</label>
													</div>
													<div ng-if="selectedNetworkIdToAssign.selectedOption === 'newGroup'">
														<div ng-show="submitted && assignNetwork.$error.required  && errLbl" class="errLabel">
																Please Provide a Network Id.
														</div>
													</div>
												</div>
												<div class="form-group form-submit">
													<button type="submit" ng-click="assignNetwork.$valid && assignNetworkIdToSeat()"
														class="btn btn-primary">assign</button>
													<button class="btn btn-link"
														ng-click="hideSection('assignGroup')">cancel</button>
												</div>
											</form>
										</div>
										<li ng-if="!pageSection.assignGroup">
											<div class="info-label">{{content.Account_Summary.configureSeat.groupNameLabel}}</div>
											<div class="info-value">
												<div>{{selectedProduct.networkId ?
													(selectedProduct.networkId | arrayToCSV) : ''}}</div>
												<button class="btn btn-outline btn-sm"
													ng-click="showSection('assignGroup'); searchAvailbleNetworkIds();"
													ng-if="!isNetworkUser">{{selectedProduct.networkId ? 'reassign' : 'assign'}}</button>
											</div>
										</li>
										<div class="allBorder"
											ng-if="isNetworkUser && pageSection.assignTN">
											<form name="SearchTNForm" class="m-t-xs m-l-sm m-r-sm">
												<div class="form-group">
													<label class="control-label" for="inputGroup">Search
														for phone</label>
													<div ng-show="!criteriaFound" class="errLabel">Please select either State/City or Area Code/Exchange combination.</div>
													<div class="radio">
														<label style="width: 100%"> <input type="radio"
															name="monikerSearchCriteria" value="stateCity"
															ng-change="resetMonikerSearchCriteria()"
															ng-model="selectedMonikerSearchCriteria.selectedOption" /><select
															class="form-control w50" id="state"
															ng-disabled="!(selectedMonikerSearchCriteria.selectedOption == 'stateCity')"
															ng-model="srchMnkr.State"
															ng-options="state.code as state.name for state in statesArr"
															ng-change="setMonikerSrchState(srchMnkr.State)">
																<option value=''>{{content.Common.stateLabel}}</option>
														</select>&nbsp; <select class="form-control w50" id="city"
															ng-disabled="!(selectedMonikerSearchCriteria.selectedOption == 'stateCity')" ng-model="srchMnkr.City"
															ng-options="city.name for city in citiesArr"
															ng-change="setMonikerSrchCity(srchMnkr.City.name)">
																<option value=''>{{content.Common.cityLabel}}</option>
														</select>
														</label>
													</div>
													<div class="radio">
														<label style="width: 100%"> <input type="radio"
															name="monikerSearchCriteria" value="npaNxx"
															ng-change="resetMonikerSearchCriteria()"
															ng-model="selectedMonikerSearchCriteria.selectedOption" /><input
															class="form-control w50" type="text" id="npa" name="npa"
															ng-model="srchMnkr.NPA" placeholder="Area Code" ng-maxlength="3" ng-minlength="3"
															ng-pattern="/[0-9]+$/" maxlength="3" 
															ng-disabled="!(selectedMonikerSearchCriteria.selectedOption == 'npaNxx')" />&nbsp; <input class="form-control w50" type="text"
															id="nxx" name="nxx" ng-model="srchMnkr.NXX" ng-maxlength="3" ng-minlength="3"
															placeholder="Exchange" ng-pattern="/[0-9]+$/" maxlength="3" 
															ng-disabled="!(selectedMonikerSearchCriteria.selectedOption == 'npaNxx')" />
														</label>
														<div><span
															ng-show="SearchTNForm.npa.$error.pattern && SearchTNForm.npa.$dirty" class="errLabel w50">{{content.Common.digitOnlyErrorMessage}}
															</span>
															<span ng-show="(!SearchTNForm.npa.$error.pattern && (SearchTNForm.npa.$error.minlength || SearchTNForm.npa.$error.maxlength))" class="errLabel w50">Area code must be of 3 digits</span>
															<span ng-show="(!SearchTNForm.nxx.$error.pattern && (SearchTNForm.nxx.$error.minlength || SearchTNForm.nxx.$error.maxlength))" class="errLabel w50 pull-right">Exchange must be of 3 digits</span>								
															<span ng-show="SearchTNForm.nxx.$error.pattern && SearchTNForm.nxx.$dirty" class="errLabel w50 pull-right">{{content.Common.digitOnlyErrorMessage}}</span>
														</div>
													</div>
												</div>
												<div class="form-group form-submit">
													<button ng-disabled="SearchTNForm.$invalid"
														class="btn btn-primary"
														api-event="AcctSummary-Seat-TNSearch-API"
														ng-click="searchMoniker()">{{content.Common.SearchButtonText}}</button>
													<button class="btn btn-link"
														ng-click="hideSection('assignTN')">{{content.Common.cancelButtonLabel}}</button>
												</div>
												<div id="availableTNSection" ng-show="availableTNSection"
													class="allBorder pa10">
													<page-event page-id="AcctSummary-Seat-TNSearch"></page-event>
													<ul class="new-list-view">
														<li
															ng-repeat="monikerVal in monikrSrchResponse | startFrom:(searchReserveTNPage.pagination.currentPage - 1)*searchReserveTNPage.pagination.itemPerPage | limitTo:searchReserveTNPage.pagination.itemPerPage">
															<div class="radio">
															  <label>
															    <input type="radio" name="selectedMoniker"
																		ng-model="selectedMonikerToReserve.value"
																		ng-value="monikerVal">
															    {{monikerVal}}
															  </label>
															</div>
															<!-- <div class="list-view-item">
																<div class="col col-10">
																	<input type="radio" name="selectedMoniker"
																		ng-model="selectedMonikerToReserve.value"
																		ng-value="monikerVal">
																</div>
																<div class="col col-85" ng-click="selectedMonikerToReserve.value = monikerVal">{{monikerVal}}</div>
															</div> -->
														</li>
													</ul>
													<div class="clearfix mt10"></div>
													<nav ng-if="monikrSrchResponse">
														<ul class="pagination">
															<li
																ng-class="{'disabled': searchReserveTNPage.pagination.startPage  < 5}">
																<a
																a-disabled="searchReserveTNPage.pagination.startPage <= 5"
																href="" aria-label="Previous"
																ng-click="clickPreviousMoniker()"> <span
																	aria-hidden="true">&laquo;</span> <span class="sr-only">{{content.Common.previousArrowLable}}</span>
															</a>
															</li>
															<li
																ng-repeat="pageNo in [] | range:searchReserveTNPage.pagination.startPage:searchReserveTNPage.pagination.startPage+4:monikrSrchResponse.length:searchReserveTNPage.pagination.itemPerPage"
																ng-class="{'active':searchReserveTNPage.pagination.currentPage === pageNo}">
																<a href=""
																ng-click="searchReserveTNPage.pagination.currentPage = pageNo">{{pageNo}}</a>
															</li>
															<li
																ng-class="{'disabled': (searchReserveTNPage.pagination.startPage+5 > monikrSrchResponse.length/searchReserveTNPage.pagination.itemPerPage + 1)}">
																<a
																a-disabled="searchReserveTNPage.pagination.startPage+5 > monikrSrchResponse.length/searchReserveTNPage.pagination.itemPerPage"
																href="" aria-label="Next" ng-click="clickNextMoniker()">
																	<span aria-hidden="true">&raquo;</span> <span
																	class="sr-only">{{content.Common.nextArrowLabel}}</span>
															</a>
															</li>
														</ul>
													</nav>
													<div class="clearfix mt10"></div>
													<div>
														<button class="btn btn-primary"
															api-event="AcctSummary-Seat-TNReserve-API"
															ng-click="reserveMoniker()">{{content.Common.reserveButtonText}}</button>
													</div>

												</div>
											</form>
										</div>
										<li ng-if="!pageSection.assignTN">
											<div class="info-label">{{content.Account_Summary.configureSeat.phoneNumberLabel}}</div>
											<div class="info-value">
												{{selectedProduct.moniker}}
												<span class="wordBreakNone deemphasize" ng-if="!isNetworkUser && (selectedProduct.moniker === 'Unassigned' || selectedProduct.moniker === '') ">(This function must be done by a consumer of the seat)</span>
												<button class="btn btn-outline btn-sm"
													ng-click="showSection('assignTN')"
													ng-if="(isNetworkUser && (selectedProduct.moniker === 'Unassigned' || selectedProduct.moniker === ''))">assign</button>
											</div>
										</li>
										<li>
											<div class="info-label">{{content.Account_Summary.configureSeat.seatIdLabel}}</div>
											<div class="info-value">
												<code>{{selectedProduct.seatId}}</code>
											</div>
										</li>
										<li>
											<div class="info-label">{{content.Account_Summary.configureSeat.optionalMetadataLabel}}</div>
											<div class="info-value">{{selectedProduct.customerId}}</div>

										</li>
									</ul>
								</div>
							</div>

						</div>
						<div class="col-sm-6 col-md-6">
							<div class="row">
								<div class="col-md-12">
									<div class="card">

										<div class="card-header">
											Seat Consumers
											<button class="btn btn-outline pull-right btn-sm"
												ng-click="showSection('inviteUser')" ng-if="!isNetworkUser">
												<svg class="cyclops-icon" aria-hidden="true">
													<use xmlns:xlink="http://www.w3.org/1999/xlink"
														xlink:href="#icon-plus-circle"></use></svg>
												invite
											</button>
										</div>
										<ul class="new-list-view">
											<li>
												<div class="list-view-item-form "
													ng-if="pageSection.inviteUser">
													<form class="form-horizontal" name="networkUser.form" ng-submit="submitted = true" novalidate>
														<fieldset>
															<legend>
																Invite a Seat User
																<button type="button" class="close" aria-label="Close"
																	ng-click="hideSection('inviteUser')">
																	<span aria-hidden="true">X</span>
																</button>
															</legend>
															<div class="form-group">
																<label class="col-sm-3 control-label" for="inputEmail">{{content.Common.emailLabel}}</label>
																<div class="col-sm-9">
																	<input type="email"
																		class="form-control email requiredField"
																		id="inputEmail" ng-model="createNW.email"
																		placeholder="&lsquo;john.smith@acme.com&rsquo;"
																		type="email" name="email" required />
																		<div ng-show="submitted && networkUser.form.email.$error.required && errLbl" class="errLabel">
																		Email address is required.
																		</div>
																		<!-- div ng-show="submitted && networkUser.form.email.$error.email && errLbl" class="errLabel">
																		Type valid email address.
																		</div-->
																		<div ng-show="submitted && networkUser.form.email.$error.email && errLbl" class="errLabel">
																			Please type valid email address.
																		</div>
																</div>																
															</div>
															<div class="form-group">
																<label class="col-sm-3 control-label" for="inputUserId">{{content.Common.userIDLabel}}</label>
																<div class="col-sm-9">
																	<input type="text" class="form-control w70"
																		ng-model="createNW.username" ng-maxlength="40" ng-minlength="6"
																		ng-pattern="/^[a-zA-Z0-9-_]+$/" id="inputUserId" name="UserName"
																		placeholder="&lsquo;johnsmith&rsquo;" required />
																	@{{content.Common.networkLabel}}
																	<div ng-show="submitted && networkUser.form.UserName.$error.required  && errLbl" class="errLabel">
																		User Name required.</div>
																	 <div ng-show="networkUser.form.UserName.$error.pattern && networkUser.form.UserName.$dirty && errLbl" class="errLabel">
																		{{content.Account_Summary.viewAndEditUser.userIdErrorMessage}}</div>																	
																	<div
																		ng-show="!networkUser.form.UserName.$error.required && (networkUser.form.UserName.$error.minlength || networkUser.form.UserName.$error.maxlength)"
																		class="errLabel">User Name must be between 6 and 40 characters.
																	</div>
																</div>
															</div>
															
															<div class="form-group" ng-if="!selectedProduct.networkId">
								                              <label class="col-sm-3 control-label" for="inputGroup">group</label>
								                              <div class="col-sm-9">
								                                <div class="radio" ng-if="availableNetworkIds && availableNetworkIds.length > 0">
								                                  <label class="column90"><input type="radio" name="createNWGroup" value="existingGroup"
																		ng-model="createNW.selectedOption" />
								                                    <select	class="form-control" ng-model="createNW.selectedNetworkId"
																		ng-options="networkId for networkId in availableNetworkIds | orderBy:networkId"
																		ng-disabled="createNW.selectedOption == 'newGroup'" name="selectedNetworkId"  ng-required="!createNW.newNetworkId">
																	</select>
																  </label>
								                                </div>
								                                <div class="radio">
								                                  <label class="column90">
								                                  	<input type="radio" name="createNWGroup" value="newGroup"
																		ng-model="createNW.selectedOption"/> 
								                                  	<span class="pull-left form-control-static">{{accountName}}-</span>
								                                  	<div class="inline-confirm">
								                                  		<input type="text" class="form-control column100" placeholder="new group" 
								                                  	ng-model="createNW.newNetworkId"
																	ng-disabled="createNW.selectedOption == 'existingGroup'" name="newNetworkId" ng-required="!createNW.selectedNetworkId"/>
								                                  	</div>		                                  	
								                                  </label>
								                                </div>
								                                <div ng-show="submitted && networkUser.form.$error.required  && errLbl" class="errLabel">
																		Group name required.</div>
								                              </div>
								                            </div>

															<div class="form-group form-submit">
																<div class="col-sm-offset-3 col-sm-9">
																	<button class="btn btn-primary"
																		ng-click="networkUser.form.$valid && createNetworkUser()"
																		api-event="AcctSummary-InviteNewUser-API" type="submit">invite</button><!-- ng-disabled="networkUser.form.$invalid" -->
																	<button class="btn btn-link"
																		api-event="AcctSummary-InviteNewUser-Cancel"
																		ng-click="hideSection('inviteUser')">{{content.Common.cancelButtonLabel}}</button>
																</div>
															</div>
														</fieldset>
													</form>
												</div>
											</li>
											<li ng-if="!pageSection.inviteUser">
												<div class="empty-list-view-item"
													ng-show="getUserList(selectedProduct.networkId[0]).length <= 0 && getPendingUserList(selectedProduct.seatId) <= 0">
													No consumers assigned.
													<button class="btn btn-link-text" ng-if="!isNetworkUser"
														ng-click="showSection('inviteUser')">Invite a
														consumer.</button>
												</div>
												<ul class="new-list-view"
													ng-if="getUserList(selectedProduct.networkId[0]).length > 0">
													<li
														ng-repeat="user in getUserList(selectedProduct.networkId[0])">
														<div class="list-view-item">
															<div class="row pl10" ng-if="user.status !== 'Pending' ">
																<div class="col-md-9">
																	<div>
																		<strong>{{user.username}}</strong>
																	</div>
																	{{user.emailAddress}}
																</div>
																<div class="col-md-3">
																	<span class="pull-right" tooltips tooltip-side="left" tooltip-template="Delete User" tooltip-hidden="{{!displayDeleteUserToolTip}}">
																		<inline-confirm ng-if="!isNetworkUser" confirm="deleteNetworkUser(user)"
																			confirm-class="btn btn-danger btn-mini pull-right" pre-confirm="hideDeleteUserToolTip()" post-confirm="showDeleteUserToolTip()"
																			event-page-id=""> <svg
																			class="cyclops-icon">
																				<use xlink:href='#icon-close'></svg> </inline-confirm>
																	</span>
																</div>																
															</div>
															<div class="col col-100" ng-if="user.status === 'Pending' ">
																<div class="pull-right">
																	<button class="btn btn-mini btn-outline" ng-hide="enableEmailEdit($index)" ng-click="resendUserInvite(user, $index)">
																		<svg class="cyclops-icon" aria-hidden="true">
																			<use xlink:href='#icon-envelope' /></svg>
																		resend
																	</button>
																	<!-- <button class="btn btn-mini btn-outline">cancel</button> -->
																</div>
																<span class="tag tag-warning">invitation pending</span>
																<div>
																	<strong>{{user.username}}</strong>
																</div>
																<a href="" ng-click="editEmail($index)" class="noAnchorDecoration" ng-hide="enableEmailEdit($index)">{{user.emailAddress}}</a><button  type="button" ng-hide="enableEmailEdit($index)" ng-click="editEmail($index)" class="ml5 btn btn-outline btn-sm">edit</button>
																
																<input type="text" class="form-control w60" ng-show="enableEmailEdit($index)" ng-model="user.emailAddress"/>
																<button class="btn btn-sm btn-outline" ng-show="enableEmailEdit($index)" ng-click="resendUserInvite(user, $index)">
																		<svg class="cyclops-icon xs" aria-hidden="true">
																			<use xlink:href='#icon-envelope' /></svg>
																		send
																	</button>
																<button  type="button" ng-show="enableEmailEdit($index)" ng-click="cancelEditEmail($index)" class="ml5 btn btn-outline btn-sm">cancel</button>
															</div>
														</div>
													</li>													
												</ul>
												<ul class="new-list-view"
													ng-if="getUserList(selectedProduct.networkId[0]).length <= 0">
													<li
														ng-repeat="user in getPendingUserList(selectedProduct.seatId)">
														<div class="list-view-item">
															<div class="col col-100" ng-if="user.status !== 'Pending' ">
																<inline-confirm ng-if="!isNetworkUser" confirm="deleteNetworkUser(user)"
																	confirm-class="btn btn-danger btn-mini pull-right"
																	event-page-id=""> <svg
																	class="cyclops-icon">
																		<use xlink:href='#icon-close'></svg> </inline-confirm>
																<div>
																	<strong>{{user.username}}</strong>
																</div>																
																{{user.emailAddress}}
															</div>
															<div class="col col-100" ng-if="user.status === 'Pending' ">
																<div class="pull-right">
																	<button class="btn btn-mini btn-outline" ng-click="resendUserInvite(user)">
																		<svg class="cyclops-icon" aria-hidden="true">
																			<use xlink:href='#icon-envelope' /></svg>
																		resend
																	</button>
																	<button class="btn btn-mini btn-outline">cancel</button>
																</div>
																<span class="tag tag-warning">invitation pending</span>
																<div>
																	<strong>{{user.username}}</strong>
																</div>
																<a href="" ng-click="editEmail($index)" class="noAnchorDecoration" ng-hide="enableEmailEdit($index)">{{user.emailAddress}}</a><button  type="button" ng-hide="enableEmailEdit($index)" ng-click="editEmail($index)" class="btn btn-sm btn-link">edit</button>
																<input type="text" class="form-control w80" ng-show="enableEmailEdit($index)" ng-model="user.emailAddress"/><button  type="button" ng-show="enableEmailEdit($index)" ng-click="cancelEditEmail($index)" class="btn btn-sm btn-link">cancel</button>
															</div>
														</div>
													</li>													
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-if="seatDeleted" class="card-overlay">
		    <h4 class="card-title">Seat Deleted</h4>
		    <p class="card-text">This seat is deleted successfully, please click on Continue to proceed to seat list page</p>
		    <button ng-click="goToSeatDetails()" class="btn btn-primary">Continue</button>
		</div>
		
	</div>
</div>