
<div id="viewEditUser" class="">
<page-event page-id="AcctSummary-PendingInvites-View"></page-event>
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left pa0 mr0">
				<button id="pendingInviteClose" class="btn btn-link pull-left"
					ng-click="gotoAcctSummary('pendingInvite')">{{content.Common.goBackLabel}}</button>
			</div>
		</div>
	</div>
	<!-- Container Start -->
	<div id="pendingInviteListSection" class="container-fluid pa0">
		<div class="new-list-view-responsive new-list-view-responsive-sm">
			<div>				
				<div class="new-list-view-header">
					<h3 class="col col-25">{{content.Account_Summary.managePendingInvites.pendingInvitesTableHeadersLabel[0]}}</h3>
					<h3 class="col col-25">{{content.Account_Summary.managePendingInvites.pendingInvitesTableHeadersLabel[1]}}</h3>
					<h3 class="col col-30">{{content.Account_Summary.managePendingInvites.pendingInvitesTableHeadersLabel[2]}}</h3>
					<h3 class="col col-20"></h3>
				</div>
				<div class="mt10">
				<div class="mb10 mr20">
					<span class="search-input column100">
					  <input type="text" ng-model="userSearch" class="column100 ml10" placeholder="Search"/>
					  <svg class="cyclops-icon">
					    <use xlink:href='#icon-search'></use>
					  </svg>
					</span>
				</div>
				<!-- body of the list -->
				<ul class="new-list-view" ng-repeat="user in pendingInvitations | filter:userSearch | startFrom:(mainPage.pagination.currentPage-1)*mainPage.pagination.itemPerPage | limitTo:mainPage.pagination.itemPerPage">
				  <li>
				  	<div class="list-view-item">
				  		  <div class="row">		  		
					      <div class="col col-100">
					      	<div class="col col-25">{{user.username}}</div>
					      	<div class="col col-25">{{user.platformUsername}}</div>
					      	<div class="col col-30">
					      		<input type="email" name="emailAddress" class="column100" ng-model="user.emailAddress" value="{{user.emailAddress}}" required/>
					      	</div>
					      	<div class="col col-20"><button class="btn btn-primary btn-lg pull-right" ng-click="resendUserInvite(user)" 
					      							ng-disabled="!user.emailAddress || user.emailAddress === ''">{{content.Account_Summary.managePendingInvites.resendInviteLabel}}</button></div>
					      </div>
					      </div>
					      
					 </div>
				  </li>
				</ul>
				<nav ng-if="mainPage.pagination.enabled && pendingInviteCount > mainPage.pagination.itemPerPage">
			  	<ul class="pagination ml20">
			    <li ng-class="{'disabled': mainPage.pagination.startPage  <= 5}">
			      <a a-disabled="mainPage.pagination.startPage <= 5" href="" aria-label="Previous" ng-click="clickPrevious()">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">{{content.Common.previousArrowLable}}</span>
			      </a>
			    </li>
			    <li ng-repeat="pageNo in [] | range:mainPage.pagination.startPage:mainPage.pagination.startPage+4: (pendingInvitations | filter:userSearch).length : mainPage.pagination.itemPerPage" 
			    	ng-class="{'active':mainPage.pagination.currentPage === pageNo}">
			    	<a href="" ng-click="mainPage.pagination.currentPage = pageNo; hideDetails()">{{pageNo}}</a>
			    </li>
			    <li ng-class="{'disabled': (mainPage.pagination.startPage+5 > (pendingInvitations  | filter:userSearch).length/mainPage.pagination.itemPerPage + 1)}">
			      <a a-disabled="mainPage.pagination.startPage+5 > (pendingInvitations  | filter:userSearch).length/mainPage.pagination.itemPerPage + 1" href="" 
			      aria-label="Next" ng-click="clickNext()">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">{{content.Common.nextArrowLabel}}</span>
			      </a>
			    </li>
			  </ul>
			</nav>	
			</div>
		</div>
		</div>
	</div>
</div>