<div id="manageService">
	<!-- <div id="configServiceNA" class="container-fluid mb10 mt10 pa0" ng-show="pageSection.manageService === 'configServiceNA'">
		<div class="row">
			<div class="col-sm-12 pull-left clearfix mt10 ml10" ng-show="pageSection.manageService === 'configServiceNA'">
				<p><svg class="cyclops-icon md danger"><use xlink:href="#icon-exclamation-circle"></svg> No Phone Number is reserved for this seat. Please reserve a Phone Number to configure service.</p>
			</div>			
		</div>
	</div> -->
	
	<div id="configService" class="container-fluid mb10 mt0 pa0" ng-show="pageSection.manageService === 'configService'">
		<div class="row">
			<div class="col-sm-12 ">
				<div class="pull-left" ng-click="selectService($index, service)" ng-repeat="service in listOfServices">
						<h4>{{service}}</h4>
				</div>
				<div  class="pull-right" ng-if="selectedProduct.seatStatus === 'working'">
				<inline-confirm confirm="deleteCourier()" confirm-class="btn-danger pull-right" event-page-id="AcctSummary-Seat-Courier-Delete">
					<svg class="cyclops-icon xs danger"><use xlink:href='#icon-trash'></svg>{{content.Account_Summary.manageService.DeleteCourierLabel}}
				</inline-confirm>
			</div>
			</div>
			
		</div>
		<div class="allBorder pa10 mt5">
			<div class="clearfix "></div>
			<div id="configServ2 " >
			<div class="new-list-view-responsive new-list-view-responsive-md">
					<ul class="new-list-view col-100">
						<li>
							<div class="pull-left column40">
								<div class="list-view-item" >
									<h6>{{content.Account_Summary.manageService.activateLabel}} {{content.Common.Products[0].Product.Value}}
										<span  tooltips tooltip-template="This control allows you to enable or disable this seat. You may wish to 
											disable this seat to prevent new messages being sent from this phone number.">
											<svg class="cyclops-icon info"><use xlink:href='#icon-info-circle'></svg>
										</span>
									</h6>
									<toggle-switch ng-model="mngService.servEnabled" on-label="Yes"
										off-label="No"> </toggle-switch>
								</div>
							</div>
						</li>
						<li>
							<div class="pull-right column60">
								<div class="list-view-item">
									<h6>{{content.Account_Summary.manageService.storeSendMessagesInSafeStore}}
										<span  tooltips tooltip-template="This control allows you to turn on or off message safe-store.">
											<svg class="cyclops-icon info"><use xlink:href='#icon-info-circle'></svg>
										</span>
									</h6>
									<toggle-switch ng-model="mngService.msgStore" on-label="Yes"
										off-label="No"> </toggle-switch>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix mt20"></div>
				<div class="pt10">
					<button class="btn btn-primary" api-event="AcctSummary-Seat-Courier-Create" 
					ng-click="saveCourierServices()">{{content.Common.submitButtonLabel}}</button>
					<button class="btn btn-link" ng-click="pageSection.activateService = ''">{{content.Common.cancelButtonLabel}}</button>
				</div>
		</div>
		</div>

</div>