<div id="searchReserveTN" class="allBorder pa10 mt10" >

	<!-- <div id="searchSection" class="container-fluid mb10 mt10 pa0" ng-show="pageSection.searchReserveTN === 'tnReservedSection'">
		<div>
				<div class="new-list-view-header">
					<h3 class="col col-50">TN</h3>
			    	<h3 class="col col-50">Status</h3>
				</div>
				body of the list
				<ul class="new-list-view">
				  <li>
				  	<div class="list-view-item">
					      <div class="col col-50">{{selectedProduct.moniker}}</div>
					      <div class="col col-50">{{selectedProduct.seatStatus}}</div>
					 </div>
				  </li>
				</ul>
		</div>
	</div> -->
		
	<div id="searchSection" class="container-fluid mb10 pa0 ">
	
<!-- 		<div class="row">
			<div class="col-sm-12 pull-left clearfix mt10 ml10">
				<h4><small>No TN is reserved for this seat. Please use search to view available TNs.</small></h4>
			</div>
		</div> -->
		
		<div id="searchCriteriaSection" class="container-fluid mb10 pa0">
		<div class="row col-sm-12 pull-left clearfix">
			<h4>{{content.Account_Summary.searchAndReserveTN.searchPhoneNumberbyLabel}}</h4>
		</div>
		<form name="SearchTNForm">
			<div class="clearfix mt10"></div>
			<div id="searchTN1 " class="row">
				<div class="col-sm-6 pull-left column50">
					<select class="form-control" id="state" ng-model="srchMnkr.State" ng-options="state.code as state.name for state in statesArr"
	                ng-change="setMonikerSrchState(srchMnkr.State)">
	                <option value=''>{{content.Common.stateLabel}}</option>
				</select>
				</div>
				<div class="col-sm-6 pull-right column50">
					<select class="form-control" id="city" ng-disabled="!srchMnkr.State" ng-model="srchMnkr.City" 
							ng-options="city.name for city in citiesArr"  ng-change="setMonikerSrchCity(srchMnkr.City.name)">
							<option value=''>{{content.Common.cityLabel}}</option>
					</select>
				</div>
				
				
			</div>
			<div class="clearfix mt20"></div>
			<div id="searchTN2" class="row">
				<div class="col-sm-6 pull-left column50">              
                       <input  class="form-control" type="text" id="npa" name="npa" ng-model="srchMnkr.NPA" 
                       placeholder="NPA" ng-pattern="/[0-9]+$/"/>
                       <span ng-show="SearchTNForm.npa.$error.pattern && SearchTNForm.npa.$dirty">{{content.Common.digitOnlyErrorMessage}} </span>
                </div>
                <div class="col-sm-6 pull-right column50">
                       <input  class="form-control" type="text" id="nxx" name="nxx" ng-model="srchMnkr.NXX" 
                       placeholder="NXX" ng-pattern="/[0-9]+$/"/>
                       <span ng-show="SearchTNForm.nxx.$error.pattern && SearchTNForm.nxx.$dirty">{{content.Common.digitOnlyErrorMessage}}</span>
                </div>  	
					
			</div>
			
			<div class="clearfix mt20"></div>
			<div>
				<button ng-disabled="SearchTNForm.$invalid" class="btn btn-primary" api-event="AcctSummary-Seat-TNSearch-API" 
				ng-click="searchMoniker()">{{content.Common.SearchButtonText}}</button>
				<button class="btn btn-default" ng-click="changePageSection('searchReserveTN','')">{{content.Common.cancelButtonLabel}}</button>
			</div>		                                
        </form>
        <div class="clearfix mt20"></div>
        <div id="availableTNSection" ng-show="availableTNSection" class="allBorder pa10">
        	<page-event page-id="AcctSummary-Seat-TNSearch"></page-event>
        	<ul class="new-list-view">
				  <li ng-repeat="monikerVal in monikrSrchResponse | startFrom:(searchReserveTNPage.pagination.currentPage - 1)*searchReserveTNPage.pagination.itemPerPage | limitTo:searchReserveTNPage.pagination.itemPerPage">
				  	<div class="list-view-item">
					      <div class="col col-10">
					      	<input type="radio" name="selectedMoniker" ng-model="selectedMonikerToReserve.value" ng-value="monikerVal">
						</div>
					      <div class="col col-85">
					      	{{monikerVal}}
					      </div>
					 </div>
				  </li>
				</ul>
			<div class="clearfix mt10"></div>
			<nav ng-if="monikrSrchResponse">
			  	<ul class="pagination">
			    <li ng-class="{'disabled': searchReserveTNPage.pagination.startPage  < 5}">
			      <a a-disabled="searchReserveTNPage.pagination.startPage <= 5" href="" aria-label="Previous" ng-click="clickPreviousMoniker()">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">{{content.Common.previousArrowLable}}</span>
			      </a>
			    </li> 
			    <li ng-repeat="pageNo in [] | range:searchReserveTNPage.pagination.startPage:searchReserveTNPage.pagination.startPage+4:monikrSrchResponse.length:searchReserveTNPage.pagination.itemPerPage" 
			    	ng-class="{'active':searchReserveTNPage.pagination.currentPage === pageNo}">
			    	<a href="" ng-click="searchReserveTNPage.pagination.currentPage = pageNo">{{pageNo}}</a>
			    </li>
			    <li ng-class="{'disabled': (searchReserveTNPage.pagination.startPage+5 > monikrSrchResponse.length/searchReserveTNPage.pagination.itemPerPage + 1)}">
			      <a a-disabled="searchReserveTNPage.pagination.startPage+5 > monikrSrchResponse.length/searchReserveTNPage.pagination.itemPerPage" href="" 
			      aria-label="Next" ng-click="clickNextMoniker()">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">{{content.Common.nextArrowLabel}}</span>
			      </a>
			    </li>
			  </ul>
			</nav>
			<div class="clearfix mt10"></div>
			<div>
				<button class="btn btn-primary" api-event="AcctSummary-Seat-TNReserve-API" ng-click="reserveMoniker()">{{content.Common.reserveButtonText}}</button>
			</div>
			
        </div>
        
                                		
	</div>
	</div>


</div>