<div class="" >

<div ng-if="showBillingSummarySection  && useSplunk" ng-include="'partials/acctSummary/billingSummary.html'"></div>
<div class="container-fluid pa0 ma0" >
	<div class="card">
	<div class="card-block">
            <div class="new-list-view-responsive new-list-view-responsive-sm">
              <div class="new-list-view-toolbar">
              <span tooltips tooltip-side="right" tooltip-template="create your seat step-by-step" tooltip-hidden="{{isNetworkUser}}">
                <button  href="" ng-hide="isNetworkUser" class="btn btn-primary btn-sm" ng-click="goToBuyProducts()">
                <svg class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus-circle"></use></svg>
                <span class="sr-only">add</span> seat</button></span>
                <span tooltips tooltip-side="right" tooltip-template="create your seat with system defaults" tooltip-hidden="{{isNetworkUser}}">
                <button href="" ng-click="goToQuickStart()" ng-hide="isNetworkUser" class="btn btn-primary btn-sm">
	                <svg class="cyclops-icon" aria-hidden="true">
	                 	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-automation"></use>
	                </svg>
	            <span class="sr-only">quickStart</span> {{content.Account_Summary.servicesSection.labelForQuickStart}}</button></span>
                
                <span class="p-l-xs" ng-if="(seatsData[0].seats | filter:searchSeat).length > 0">                 	
	                {{ ((mainPage.pagination.currentPage -1) * mainPage.pagination.itemPerPage) + 1}} - 
	                {{ (mainPage.pagination.currentPage * mainPage.pagination.itemPerPage) > (seatsData[0].seats | filter:searchSeat).length ? (seatsData[0].seats | filter:searchSeat).length : (mainPage.pagination.currentPage * mainPage.pagination.itemPerPage) }} 
	                of {{(seatsData[0].seats | filter:searchSeat).length}} seats</span>
                <div class="new-list-view-toolbar-right">
                  <div class="dropdown">
                    <button type="button" class="btn btn-outline dropdown-toggle collapse" data-toggle="dropdown">
                      status {{(filter.displayValue == undefined || filter.displayValue == '') ? '' : '(' + filter.displayValue + ')'}}
                      <svg class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-caret-down"></use></svg>
                    </button>
                    <ul class="dropdown-menu">                    
                      <li class="active"><a ng-click="filterSeatData('all')">all</a></li>
                      <li><a ng-click="filterSeatData('working')">active</a></li>
                      <li><a ng-click="filterSeatData('reserved')">pending</a></li>
                      <!-- <li><a href="#">invitation pending</a></li> -->
                    </ul>
                  </div>
                  <span class="search-input">
                    <input type="text" placeholder="filter seats..." ng-model="filterSeats" ng-change="filter()">
                    <svg class="cyclops-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
                    </svg>
                  </span>
                </div>
              </div>
              <!-- header of the list -->
              <div class="new-list-view-header">
                <h3 class="col col-25">
                	<button class="btn btn-link-text" ng-click="sortData.sortType = 'moniker'; sortData.sortReverse = !sortData.sortReverse">
                		Phone / Seat ID
                		<span ng-show="sortData.sortType == 'moniker'">
			          		<svg ng-if="sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-down"></use></svg>
			          		<svg ng-if="!sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-up"></use></svg>
			          	</span>
                	</button>
                </h3>                
                <h3 class="col col-20">
                  <button class="btn btn-link-text" ng-click="sortData.sortType = 'networkId[0]'; sortData.sortReverse = !sortData.sortReverse">
                    	group
                      	<span ng-show="sortData.sortType == 'networkId[0]'">
			          		<svg ng-if="sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-down"></use></svg>
			          		<svg ng-if="!sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-up"></use></svg>
			          	</span>
                  </button>
                </h3>
                <h3 class="col col-30"><button class="btn btn-link-text">seat consumer</button></h3>
                <h3 class="col col-25">
	                <button class="btn btn-link-text" ng-click="sortData.sortType = 'customerId'; sortData.sortReverse = !sortData.sortReverse">
	                	metadata
	                	<span ng-show="sortData.sortType == 'customerId'">
			          		<svg ng-if="sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-down"></use></svg>
			          		<svg ng-if="!sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-up"></use></svg>
			          	</span>
	                </button>
                </h3>
              </div>
              <!-- body of the list -->
              <ul class="new-list-view" >
                <li ng-repeat="seatData in filtered = (seatsData[0].seats | filter:searchSeat) | filter:searchSeat | orderBy:sortData.sortType:sortData.sortReverse | startFrom:(mainPage.pagination.currentPage-1)*mainPage.pagination.itemPerPage | limitTo:mainPage.pagination.itemPerPage">
                  <a href="" ng-click="gotoManageSeat(seatData.seatId)" class="list-view-editable-item">
                    <div class="col col-25"><span class="col-header">seat</span>
                      <div ng-if="seatData.moniker === 'Unassigned'" class="phone-number">{{seatData.moniker | lowercase}}</div>
                      <div ng-if="seatData.moniker != 'Unassigned'" class="phone-number">{{seatData.moniker}}</div>
                      <div class="seat-id">{{seatData.seatId }}</div>
                    </div>
                    <div class="col col-20"><span class="col-header">group</span>{{seatData.networkId[0]}}</div>
                    <div class="col col-30"><span class="col-header">seat consumer</span> 
                    	<div ng-repeat=" users in seatData.users">
                    		<div class="tag tag-warning m-b-xxs" ng-if="users.status === 'Pending' ">invitation pending</div>
                    		{{users.username}}
                    	</div>
                    </div>
                    <div class="col col-25"><span class="col-header">metadata</span> 
                      <div ng-if="seatData.customerId === '--'">&mdash;</div>
                      <div ng-if="seatData.customerId != '--'" >{{seatData.customerId}}</div>
                    </div>
                  </a>
                </li>              
              </ul>
              <nav ng-if="mainPage.pagination.enabled && (seatsData[0].seats | filter:searchSeat).length > mainPage.pagination.itemPerPage">
			  	<ul class="pagination ml20">
			    <li ng-class="{'disabled': mainPage.pagination.startPage  <= mainPage.pagination.navPageCount}">
			      <a a-disabled="mainPage.pagination.startPage <= mainPage.pagination.navPageCount" href="" aria-label="Previous" ng-click="clickPrevious()">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">{{content.Common.previousArrowLable}}</span>
			      </a>
			    </li>
			    <li ng-repeat="pageNo in [] | range:mainPage.pagination.startPage:mainPage.pagination.startPage+ mainPage.pagination.navPageCount -1: (seatsData[0].seats | filter:searchSeat).length : mainPage.pagination.itemPerPage" 
			    	ng-class="{'active':mainPage.pagination.currentPage === pageNo}">
			    	<a href="" ng-click="mainPage.pagination.currentPage = pageNo; hideDetails()">{{pageNo}}</a>
			    </li>
			    <li ng-class="{'disabled': (mainPage.pagination.startPage + mainPage.pagination.navPageCount > mainPage.pagination.totalPages)}">
			      <a a-disabled="mainPage.pagination.startPage +  mainPage.pagination.navPageCount > mainPage.pagination.totalPages" href="" 
			      aria-label="Next" ng-click="clickNext()">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">{{content.Common.nextArrowLabel}}</span>
			      </a>
			    </li>
			  </ul>
			</nav>	
            </div>
          </div>
	</div>  
</div>
</div>