
<div id="viewEditUser" class="">
<page-event page-id="AcctSummary-InviteNewUser-View"></page-event>
	<!-- Container Start -->
	<div id="userListSection" class="container-fluid pa0">
		<div class="row">
			<div class="clearfix"></div>
			<div class="col-sm-12 pull-left clearfix">
				<button class="btn mr5" ng-class="pageSection.viewEditPage === 'assignNetworkIdSection' ? 'btn-default' : 'btn-outline'" 
					ng-disabled="isNetworkUser" ng-show="!selectedProduct.networkId"
					ng-click="searchAvailbleNetworkIds()">
					<svg class="cyclops-icon xs">
						<use xlink:href='#icon-users'></svg>
					{{content.Account_Summary.viewAndEditUser.assignThisSeatToAnExistingGroupNameLabel}}
				</button>
				<button class="btn mt10" ng-class="pageSection.viewEditPage === 'addUserSection' ? 'btn-default' : 'btn-outline'"
					ng-disabled="isNetworkUser"
					ng-click="changePageSection('viewEditPage','addUserSection')">
					<svg class="cyclops-icon xs">
						<use xlink:href='#icon-user'></svg>
					<span ng-if="networkUsersList.length === 0">{{content.Account_Summary.viewAndEditUser.inviteANewConsumerForThisSeatLabel}}</span>
					<span ng-if="networkUsersList.length > 0">{{content.Account_Summary.viewAndEditUser.inviteNewConsumerToAnExistingGroupName}}</span>
				</button>				
			</div>
		</div>
		<div class="mt10">
			<div class="new-list-view-responsive new-list-view-responsive-sm">
				<div class="new-list-view-header"
					ng-show="networkUsersList.length > 0">
					<h3 class="col col-30">{{content.Common.userIDLabel}}</h3>
					<h3 class="col col-60">{{content.Common.emailLabel}}</h3>
				</div>

				<!-- body of the list -->
				<ul class="new-list-view">
					<!-- <li class="empty-list-view-item"
						ng-if="networkUsersList.length <= 0 && pageSection.viewEditPage != 'addUserSection' && pageSection.viewEditPage != 'assignNetworkIdSection'">
						<svg class="cyclops-icon md danger">
							<use xlink:href="#icon-exclamation-circle"></svg> There is no
						Consumer associated with the seat.
					</li> -->
					<li id="createForm" class="list-view-item-form"
						ng-show="pageSection.viewEditPage === 'addUserSection'">
						<form name="networkUser.form" class="form-horizontal new"  novalidate>
							<fieldset>
								<div class="form-group"
									ng-class="{ 'has-error': networkUser.form.networkID.$touched && networkIDForm.networkID.$invalid }">
									<label for="UserName" class="col-sm-3 control-label">{{content.Common.userIDLabel}}</label>
									<div class="col-sm-9">
										<input class="form-control requiredField w70" ng-model="createNW.username"
											id="UserName" name="UserName" placeholder="This is their user name"
											ng-pattern="/^[a-zA-Z0-9-_]+$/"
											tabindex="1" type="text" required /><strong>@{{content.Common.networkLabel}}</strong>
										<span ng-show="networkUser.form.UserName.$error.pattern && networkUserForm.UserName.$dirty">
					   						{{content.Account_Summary.viewAndEditUser.userIdErrorMessage}}</span>					   					
									</div>
								</div>
								<div class="form-group"
									ng-class="{ 'has-error': networkUser.form.networkID.$touched && networkIDForm.networkID.$invalid }">
									<label for="GroupName" class="col-sm-3 control-label">{{content.Common.groupNameLabel}}</label>									
									<div class="col-sm-9 pr0" ng-if="!selectedProduct.networkId">
									 	<strong>{{accountName}}-</strong><input class="form-control patternError w70" ng-model="createNW.subAccountName"
											id="subAccountName" name="subAccountName" placeholder="{{getNetworkIdName()}}"
											ng-pattern="/^[a-zA-Z0-9-_]+$/"
											ng-disabled="isNetworkIdSelected()"
											tabindex="2" type="text" />
										<span ng-show="networkUser.form.subAccountName.$error.pattern && networkUserForm.subAccountName.$dirty">
					   						{{content.Account_Summary.viewAndEditUser.subAccountNameFormInputError}}</span>
									</div>
									<div class="col-sm-9" ng-if="selectedProduct.networkId">
										<label class="control-label">{{selectedProduct.networkId | arrayToCSV}}</label>
									</div>
								</div>
								<div class="form-group"
									ng-class="{'has-error': networkUser.form.email.$touched && networkIDForm.email.$invalid }">
									<label for="EmailID" class="col-sm-3 control-label">{{content.Common.emailLabel}}</label>
									<div class="col-sm-9">
										<input class="form-control w70 email requiredField" ng-model="createNW.email"
											id="EmailID" name="EmailID" placeholder="This is the Email address to receive the invite"
											tabindex="3" type="email" required/>
									</div>
								</div>
							</fieldset>
							<div class="form-group form-submit ma0">
								<div class="col-sm-offset-3 col-sm-9">
									<button class="btn btn-primary"
										ng-disabled="networkUser.form.$invalid"
										ng-click="createNetworkUser()" api-event="AcctSummary-InviteNewUser-API">{{content.Common.submitButtonLabel}}</button>
									<button class="btn btn-link"
										ng-click="changePageSection('viewEditPage','')" api-event="AcctSummary-InviteNewUser-Cancel">{{content.Common.cancelButtonLabel}}</button>
								</div>
							</div>
						</form>
					</li>
					<li id="createForm"
						ng-show="pageSection.viewEditPage === 'assignNetworkIdSection'">
						<div>
							<div class="new-list-view-header pl10 mr10">{{content.Account_Summary.viewAndEditUser.selectAnExistingGroupforThisSeat}}</div>
							<div class="mb10 pb5 pt5 mr10">
								<span class="search-input column100"> <input type="text"
									ng-model="existingNetworkID" class="column100"
									placeholder="Search" /> <svg class="cyclops-icon">
					   				 <use xlink:href='#icon-search'></use>
					  				</svg>
								</span>
							</div>

							<ul class="new-list-view">
								<li ng-repeat="networkIds in availableNetworkIds | filter:existingNetworkID | startFrom:(mainPage.pagination.currentPage-1)*mainPage.pagination.itemPerPage | limitTo:mainPage.pagination.itemPerPage">
									<div class="noBorder pl20 pt5 pb5" 
										ng-class="$index % 2 == 0 ? 'list-view-editable-item' : 'list-view-read-only-item'">
										<div class="row">
											<div class="col-100 ml10">
												<input type="radio" id="selectedNetworkIdToAssign" name="selectedNetworkIdToAssign" ng-model="selectedNetworkIdToAssign.value"
													ng-value="networkIds" />
												{{networkIds}}
											</div>
										</div>
									</div>
								</li>
							</ul>
							<nav>
								<ul class="pagination ml10">
									<li
										ng-class="{'disabled': mainPage.pagination.startPage  <= 5}">
										<a a-disabled="mainPage.pagination.startPage <= 5" href=""
										aria-label="Previous"
										ng-click="clickPrevious()">
											<span aria-hidden="true">&laquo;</span> <span class="sr-only">{{content.Common.previousArrowLable}}</span>
									</a>
									</li>
									<li
										ng-repeat="pageNo in [] | range:mainPage.pagination.startPage:mainPage.pagination.startPage+4: (availableNetworkIds | filter:acctDataSearch).length : mainPage.pagination.itemPerPage"
										ng-class="{'active':mainPage.pagination.currentPage === pageNo}">
										<a href=""
										ng-click="mainPage.pagination.currentPage = pageNo; hideDetails();">{{pageNo}}</a>
									</li>
									<li
										ng-class="{'disabled': (mainPage.pagination.startPage+5 > (availableNetworkIds | filter:acctDataSearch).length/mainPage.pagination.itemPerPage + 1)}">
										<a
										a-disabled="mainPage.pagination.startPage+5 > (availableNetworkIds | filter:acctDataSearch).length/mainPage.pagination.itemPerPage + 1"
										href="" aria-label="Next"
										ng-click="clickNext()">
											<span aria-hidden="true">&raquo;</span> <span class="sr-only">{{content.Common.nextArrowLabel}}</span>
									</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class=" col-sm-9 mt10">
							<button class="btn btn-primary" ng-click="assignNetworkIdToSeat()" api-event="AcctSummary-Assign-seat-Api">{{content.Common.submitButtonLabel}}</button>
							<button class="btn btn-link"
								ng-click="changePageSection('viewEditPage','')" api-event="AcctSummary-Assign-seat-Cancel">{{content.Common.cancelButtonLabel}}</button>
						</div>
					</li>
					<li ng-repeat="user in networkUsersList">
						<div class="noBorder pt3 pb3"
							ng-class="$index % 2 == 0 ? 'list-view-editable-item' : 'list-view-read-only-item'">
							<div class="col col-30 text-left"><span class="col-header">{{content.Common.userIDLabel}}</span>{{user.username}}</div>
							<div class="col col-60 text-left"><span class="col-header">{{content.Common.emailLabel}}</span>{{user.emailAddress}}</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>