<!--Confirm User-->
	<!-- Page Header START -->
	<nav class="navbar navbar-inverse navbar-static-top" style="background-color: {{brandingInfo.headerBackgroundColor}} !important;">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header pull-left">				
				<a class="navbar-brand">
				<img ng-src="{{brandingInfo.controlUrl + brandingInfo.portalLogoUrl}}" >
	       	</a>								
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="pull-right ">				<!-- Link back to the Control Portal, and give a sign out link -->
				<div class="nav">
					<div class="pull-left navbar-service">Welcome {{username}}</div>							
				</div>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>	
	<!-- Page Header End -->
<div id="confirmUserLanding" class="primary clearfix pa10">
   <page-event page-id="ConfirmUser-View" ></page-event>	
	<div class="clearfix pa10" ng-show="showConfirmuserform">
		<!--Manage Profile Components-->
		<form name="confirmuserform" class="form-horizontal" ng-submit="submitted = true" novalidate>
			<div class="form-group">
				<label class="col-sm-3 control-label">First Name</label> 
				<div class="col-sm-9">
					<input id="FirstNameTxtField" type="text" name="firstname" ng-maxlength="20" maxlength="20"
					ng-minlength="1" ng-required="true" placeholder="first name"
						class="form-control invalidMaxlength" ng-model="confirmUser.firstName">
					<div ng-show="submitted && confirmuserform.firstname.$error.maxlength && confirmuserform.firstname.$error.minlength" class="errLabel">First name must contains minimum 1 and maximum 20 Characters</div>
					<div ng-show="submitted && confirmuserform.firstname.$error.required" class="errLabel">First name is required</div>
				</div>		
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Last Name</label> 
				<div class="col-sm-9">
					<input id="LastNameTxtField" type="text" name="lastname" ng-maxlength="20" maxlength="20"
						ng-minlength="1" placeholder="last name"	 				
						class="form-control invalidMaxlength" ng-model="confirmUser.lastName">
					<div ng-show="submitted && confirmuserform.lastname.$error.maxlength && confirmuserform.lastname.$error.minlength" class="errLabel">Last name must contains minimum 1 and maximum 20 Characters</div>
					
				</div>			
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Email</label> 
				<div class="col-sm-9">
					<input id="EmailIDTxtField" type="email" name="email"
						class="form-control email" ng-model="emailAddress" ng-required="true"
						value="{{emailAddress}}">
					<div ng-show="submitted && confirmuserform.email.$error.email" class="errLabel">
					Please type valid email address</div>
					<div ng-show="submitted && confirmuserform.email.$error.required" class="errLabel">
					Email address is required</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Password
					<span tooltips tooltip-side="right" tooltip-template="Password must be between 6 and 20 characters long. They must include one lower case character,
						one upper case character, one digit and one special character from @ # $ %. They cannot match the e-mail address.">
						<svg class="cyclops-icon info"><use xlink:href='#icon-info-circle'></svg>
					</span>
				</label> 
				<div class="col-sm-9">
					<input id="PasswordTxtField" ng-password-strength="confirmUser.password" strength="confirmUser.pswdStrength"
						name="PasswordTxtField" type="password" class="form-control patternError requiredField"
						ng-model="confirmUser.password" ng-minlength="6"
						ng-maxlength="20"
						ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[@#$%]).{6,20}$/"
						placeholder="password" 
						ng-required="true" />
						<p class="password-strength">password strength: 
							<span ng-if="confirmUser.pswdStrength <=37" class="strength weak">Weak</span>
							<span ng-if="confirmUser.pswdStrength >37 && confirmUser.pswdStrength <=60" class="strength good">Good</span>
							<span ng-if="confirmUser.pswdStrength >60" class="strength strong">Strong</span>
						</p>
					<div ng-show="submitted && confirmuserform.PasswordTxtField.$error.required" class="errLabel">Password is required.</div>
					<div class="errLabel" ng-show="!confirmuserform.PasswordTxtField.$error.required && (confirmuserform.PasswordTxtField.$error.minlength || confirmuserform.PasswordTxtField.$error.maxlength) && 
   						confirmuserform.PasswordTxtField.$dirty">Password must be between 6 and 24 characters.</div> 
   					<div class="errLabel" ng-show="!confirmuserform.PasswordTxtField.$error.required && !confirmuserform.PasswordTxtField.$error.minlength && !confirmuserform.PasswordTxtField.$error.maxlength && 
   						confirmuserform.PasswordTxtField.$error.pattern && confirmuserform.PasswordTxtField.$dirty && confirmuserform.PasswordTxtField != confirmuserform.EmailIDTxtField">
   							Password must be between 6 and 20 characters long. They must include one lower case character, one upper case character, one digit and one special character from @ # $ %. They cannot match the e-mail address.</div>
				</div>
			</div>
			<!-- <div class="">
			<p class="small">Passwords
			must be between 6 and 24 characters long. They must include both
			letters and numbers. They can include hyphens (-) or underscores (_).
			They cannot match the e-mail address.</p>
			</div> -->
							
			<div class="form-group">
				<label class="col-sm-3 control-label">Confirm Password</label> 
				<div class="col-sm-9">
					<input id="VerifyPasswordTxtField"
						name="VerifyPasswordTxtField" type="password" class="form-control requiredField"
						ng-model="confirmUser.verifyPassword"
						id="C_passwordforCreateNetwork" pw-check="PasswordTxtField"
						placeholder="confirm password"
						ng-required="true">
					<div class="errLabel" ng-show="submitted && confirmuserform.VerifyPasswordTxtField.$error.required">Confirm password is required.</div> 
					<div class="errLabel" ng-show="!confirmuserform.VerifyPasswordTxtField.$error.required && confirmuserform.VerifyPasswordTxtField.$error.pwmatch">
					Confirm Password don't match. </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Security Question 1</label> 
				<div class="col-sm-9">
					<!--<input id="SecQue1TxtField" name="SecQue1TxtField" placeholder="security question"
						type="text" class="form-control" ng-maxlength="40" ng-required="true"
						ng-model="confirmUser.securityQue1">-->
					<select id="SecQue1TxtField" name="SecQue1TxtField"
						class="form-control"
						ng-options="question.value for question in securityQuestions"
						ng-model="confirmUser.securityQue1" ng-required="true" ></select> 
					<div class="errLabel"  ng-show="submitted && confirmuserform.SecQue1TxtField.$error.required">Security questions are required to reset password</div>
					<!-- <div class="errLabel"  ng-show="submitted && confirmuserform.SecQue1TxtField.$error.maxlength">Security Question must not have more than 40 characters</div> -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Security Answer 1</label> 
				<div class="col-sm-9">
					<input id="SecAns1TxtField" name="SecAns1TxtField"
						type="text" class="form-control invalidMaxlength" ng-maxlength="20"  ng-maxlength="1"
						ng-model="confirmUser.securityAnswer1" placeholder="security answer"
						ng-required="confirmUser.securityQue1 && confirmUser.securityQue1 !=''">
					<div class="errLabel" ng-show="confirmuserform.SecAns1TxtField.$error.maxlength">Security Answer must contains minimum 1 and maximum 20 Characters</div>
					<div class="errLabel" ng-show="confirmuserform.SecAns1TxtField.$error.required">Security Answer is required</div>
				</div>		
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Security Question 2</label> 
				<div class="col-sm-9">
					<!--<input id="SecQue2TxtField" name="SecQue2TxtField" placeholder="security question"
						type="text" class="form-control invalidMaxlength" ng-maxlength="40" same-as="confirmUser.securityQue1"
						ng-model="confirmUser.securityQue2" ng-required="true"> -->
					 <select id="SecQue2TxtField" name="SecQue2TxtField"
						class="form-control" same-as="confirmUser.securityQue1"
						ng-options="question.value for question in securityQuestions"
						ng-model="confirmUser.securityQue2" ng-required="true"></select> 
					<div class="errLabel" ng-show="submitted && confirmuserform.SecQue2TxtField.$error.required">Security questions are required to reset password</div>
					<div class="errLabel" ng-show="confirmuserform.SecQue2TxtField.$error.sameas">Both security questions can not be same, please choose a different question.</div>
					<!-- <div class="errLabel"  ng-show="submitted && confirmuserform.SecQue2TxtField.$error.maxlength">Security Question must not have more than 40 characters</div> -->	
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Security Answer 2</label> 
				<div class="col-sm-9">
					<input id="SecAns2TxtField" name="SecAns2TxtField"
						type="text" class="form-control invalidMaxlength" ng-maxlength="20"
						ng-model="confirmUser.securityAnswer2" placeholder="security answer"
						ng-required="confirmUser.securityQue2 && confirmUser.securityQue2 !=''">
					<div class="errLabel" ng-show="confirmuserform.SecAns2TxtField.$error.maxlength" class="errLabel">Security Answer must contains minimum 1 and maximum 20 Characters</div>
					<div class="errLabel" ng-show="confirmuserform.SecAns2TxtField.$error.required">Security Answer is required</div>
				</div>				
			</div>
			<div class="form-group form-submit">
				<div class="col-sm-offset-3 col-sm-9">
					<button id="ConfirmUsrUpdateBtn" type="submit"
						class="btn btn-primary btn-lg" 
						ng-click="confirmuserform.$valid && confirmUser()" api-event="ConfirmUser-Submit">Submit</button><!-- ng-disabled="confirmuserform.$invalid" -->
				</div>
			</div>
		</form>	
	</div>
	<div class="pa10" id="confirmUserSuccess" ng-show="confirmUserSuccess">
		<article>
			User is successfully created. Please click on <a class="lead" href="" ng-click="redirectToLogin('signInSection')">Sign In</a> to use subscribed services and view your details. 
		</article>
	</div>
</div>

<div class="wait"></div>