<h2 class="content-header pl10">Terms and Conditions</h2>
<h4 class="pl10">Courier Basic Terms and Conditions</h4>
<md-dialog-content>
<ul>
	<li>The international input character set for an SMS message is
		UTF-8. If we receive a character outside that set, it will be mapped
		map it to "?" if the receiving party if not on our network.</li>
	<li>The max size of a text message is 1000 characters. Input
		messages larger than 1000 will be rejected by Courier.</li>
	<li>Messages larger than 160 characters will automatically be
		broken up and delivered into segments no larger than 160 characters.
		An input message of size 1000 characters will be sent as seven
		separate messages. We cannot guarantee that all the segmented messages
		will be received by the destination in the correct order but some cell
		phones are capable of reconstructing the message regardless of the
		receipt order.</li>
	<li>E.164 format is required for all destination phone numbers.
		Example: +13035551212</li>
	<li>CenturyLink does not validate the destination number is either
		working or capable of receiving SMS. You will be billed for sending an
		SMS as long as a properly-formatted telephone number is given as a
		destination.</li>
	<li>You will be billed for any message that returns a 202 response
		from Courier. Other HTTP responses (e.g., failures) will neither be
		billed nor appear in Dumpster.</li>
	<li>A voice call to your SMS-only number will not be completed.
		You may have an accompanying CenturyLink voice service if you want
		voice calls to be supported with such numbers. If you want a voice
		service, you must order that service through the existing CenturyLink
		sales channels. At a later date, voice services will be available as
		part of Connected Communications.</li>
	<li>Courier-Basic is a send-only service at present. The ability
		to receive SMS messages will be supported at a later date.</li>
	<li>Emergency 911 or text messages to "9-1-1" will not be
		completed. At present, text messages to 9-1-1 is not a supported
		destination, but will be supported at a later date.</li>
	<li>A Courier seat may be automatically suspended if the service
		usage follows our spam or solicitation profiles, or that of any of our
		messaging partners. Suspended phone numbers cannot send SMS messages
		until the number is unsuspended. Seat and TN charges will still apply.
		A customer care ticket is required to reset a number to working
		status.</li>
	<li>CenturyLink will limit the number of SMS messages that may be
		sent from a telephone number per day to approximately 2000 or
		approximately 1000*number of telephone numbers for a group. You may
		request exemptions by sending a message to noc@ctl.io</li>
	<li>In most cases, SMS message will arrive within 5 seconds of
		being sent. SMS is not a guaranteed message delivery protocol. If an
		accepted SMS (202 response) encounters a communications error that
		prevents delivery of your message to one of our messaging partners, a
		failure message will be sent to your Dumpster (if so enabled) and not
		be billed.</li>
	<li>A diagnostics call is provided report the health of the
		network. There are no usage charges generated with the use of this
		API. The health check, which runs every few minutes, performs a
		complete system check through to our messaging solution.</li>
</ul>
</md-dialog-content>
<md-dialog-actions layout="row">
<button class="btn btn-outline pull-right" ng-click="answer('close')">
	close</button>
</md-dialog-actions>