<!--------------------------------------------------------------- Feedback----------------------------------------------------- -->
<div class="clearfix" id="FeedbackSection" >
   <div class="PopularProducts_cointainer ">
      <div class="clearfix pa10" id="FeedbackHdrs">
         <div class="pull-left">
            <label class="formHdrs_normal20">Feedback</label>
         </div>
         <div class="pull-right">
            <a id="feedbackClose" onclick="()" href="">
            <i class="fa fa-close fa-closeButton"></i>
            </a>
         </div>
      </div>

      <div class="clearfix pl10">
         <label class="formHdrs_bold">Share your Feedback</label>
      </div>
	
	  
	  <!--Component-->
	  
      <div class="container form-group  clearfix mt10 col-md-offset-0">
     <div class="row pa5">
			<label class="col-md-6 col-lg-6 col-sm-6 formHdrs_normal ml5">Component</label>
              <div class="col-md-6 col-lg-6 col-sm-6"> 
           <select id="SelectComponent" class="form-control">
     				 <option value="" >Select</option>
					 <option value="1">Courier</option>
                     <option value="2">Product 2</option>
					 <option value="3">Product 3</option>
        </select>
 </div>
      </div>
</div>
<!--Summary-->
 <div class="container form-group  clearfix mt10 col-md-offset-0">
     <div class="row pa5">
			<label class="col-md-6 col-lg-6 col-sm-6 formHdrs_normal ml5">Summary</label>
              <div class="col-md-6 col-lg-6 col-sm-6"> 
          <textarea id="SummaryTextArea" class="form-control TxtArea" type="textarea" name="description" ></textarea>
 </div>
      </div>
</div>
<!--Name-->
<div class="container form-group  clearfix mt10 col-md-offset-0">
     <div class="row pa5">
			<label class="col-md-6 col-lg-6 col-sm-6 formHdrs_normal ml5">Name (Optional)</label>
              <div class="col-md-6 col-lg-6 col-sm-6"> 
          <input type="text" class="form-control" placeholder="Name"> 
 </div>
      </div>
</div>
<!--Email ID-->

<div class="container form-group  clearfix mt10 col-md-offset-0">
     <div class="row pa5">
			<label class="col-md-6 col-lg-6 col-sm-6 formHdrs_normal ml5">Email ID</label>
              <div class="col-md-6 col-lg-6 col-sm-6"> 
          <input type="text" class="form-control" placeholder="Email ID"> 
 </div>
      </div>
</div>

<!--Rating1-->
<div class="clearfix pl10 col-md-offset-0">
         <label class="formHdrs_bold">Please rate the following</label>
 </div>	
<div class="container form-group  clearfix col-md-offset-0">		
		<div class="row pa5">
			<label class=" col-md-12 col-lg-12 col-sm-12 formHdrs_normal ">How would you rate the User Interface</label>
              <div class="col-md-12 col-lg-12 col-sm-12"> 
        <!--*****-->
		<div class="star-rating">
      <div class="star-rating__wrap">
        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-5" title="5 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-4" title="4 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-3" title="3 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-2" title="2 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-1" title="1 out of 5 stars"></label>
      </div>
    </div>
		<!--*****--> 
 </div>
      </div>
	  </div>
	
     
<!--Rating2-->
<div class="container form-group  clearfix mt10 col-md-offset-0">
<div class="row pa5">
			<label class="col-md-12 col-lg-12 col-sm-12 formHdrs_normal ">How would you rate the Overall Functionality</label>
              <div class="col-md-12 col-lg-12 col-sm-12"> 
           <!--*****-->
		<div class="star-rating">
      <div class="star-rating__wrap">
        <input class="star-rating__input" id="star-rating-10" type="radio" name="rating1" value="10">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-10" title="5 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-9" type="radio" name="rating1" value="9">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-9" title="4 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-8" type="radio" name="rating1" value="8">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-8" title="3 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-7" type="radio" name="rating1" value="7">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-7" title="2 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-6" type="radio" name="rating1" value="6">
        <label class="star-rating__ico fa fa-star-o fa-lg-fa-star-o" for="star-rating-6" title="1 out of 5 stars"></label>
      </div>
    </div>
		<!--*****--> 
 </div>
      </div>
	  </div>
	   
<!--Submit-->

      <div class="clearfix centered mb20 mt20">
		<a id="FeedbackSubmitBtn" type="button" onclick="showFeedbackSubmitMsg()" class="btn general_btns_green ">Submit</a>
	  </div>
	  
<!----Your Feedback has been Submitted. Thanks You-->	 
<div id="FeedbackSubmitMsgSection"  class="centered mt20 mb20"  style="display:none;">
<label class="SuccessTxtBold">Service Configuration is successfully Saved</label>

</div> 
      </div>
   </div>
</div>