<!--------------------------------------------------------------- Feedback----------------------------------------------------- -->

<div>

	<div ng-if="!isUserAuthenticated"
		ng-include="'partials/global/commonHeader.html'"></div>

<div ng-show="displayFeedbackLanding" class="card m-t-md">
   <div class="card-block">
   		<form class="form-horizontal" name="feedbackForm" ng-submit="submitted = true" novalidate>
   			<fieldset>
         		<legend>
           			
         		</legend>
   			    <div class="form-group">
		           <label class="control-label col-sm-3" for="inputFrom">{{content.Feedback.componentLabel}}</label>
		           <div class="col-sm-8">
						<select id="SelectComponent" class="form-control"
							ng-model="feedback.component">
							<option value="">Select</option>
							<option value="Courier">Courier Basic</option>
						</select>
					</div>
		         </div>
    			 <div class="form-group">
		           <label class="control-label col-sm-3" for="inputFrom">{{content.Feedback.CommentsLabel}}</label>
		           <div class="col-sm-8">
						<textarea id="SummaryTextArea" class="form-control TxtArea invalidMaxlength" ng-maxlength="300"
							type="textarea" name="summary" ng-model="feedback.summary" required></textarea>
						<div ng-show="submitted && feedbackForm.summary.$error.required" class="errLabel">
							Comment is required.
						</div>
						<div ng-show="submitted && feedbackForm.summary.$error.maxlength" class="errLabel" ng-bind-html="content.Feedback.max300CharactersAllowMessage">
						</div>
					</div>
		         </div>
		         <div class="form-group">
		           <label class="control-label col-sm-3" for="inputFrom">{{content.Feedback.nameLabel}}</label>
		           <div class="col-sm-8">
						<input type="text" ng-model="feedback.name" name="Name" class="form-control" 
								placeholder="Name">
					</div>
		         </div>
		         <div class="form-group" ng-class="{ 'has-error': feedbackForm.email.$touched && feedbackForm.email.$invalid }">	         	
		           <label class="control-label col-sm-3" for="emailID">{{content.Feedback.emailIDLabel}}</label>
		           <div class="col-sm-8">
						<input type="email" ng-model="feedback.email" name="email"
							class="form-control invalidMaxlength email" ng-required='feedback.contactYou' placeholder="Email ID">
						<div ng-show="submitted && feedbackForm.email.$error.required" class="errLabel">Email is required.</div>	
						<div ng-show="submitted && feedbackForm.email.$error.email" class="errLabel">Please type valid email address.</div>
					</div>
		         </div>   			
					<!--Email ID-->
		         <div class="form-group" >
		           <label class="control-label col-sm-3" for="contactYou" class="checkbox-custom-label">{{content.Feedback.mayWeKnowYouMessage}}</label>
		           <div class="col-sm-8">
						<input id="contactYou" name="contactYou" type="checkbox"
								ng-model="feedback.contactYou"
								class="checkbox-custom mt10"> 
						<span ng-show="feedback.contactYou && !feedback.email"  ng-bind-html="content.Feedback.emailIDRequiredMessage"></span>	
					</div>
		         </div>  
		         <div class="form-group" >
		           <label class="control-label col-sm-3" for="contactYou" class="checkbox-custom-label">{{content.Feedback.pleaseRateFollowingMessage}}</label>
		         </div> 
				<!--Rating1-->
				<div class="form-group" >
		           <label class="control-label col-sm-3" for="contactYou" class="checkbox-custom-label">{{content.Feedback.howWouldYouRateUsUIMessage}}</label>
		           <div class="col-sm-8">
					<div star-rating rating="starRating1" read-only="false" max-rating="5"></div>
					</div>
		         </div> 
	
				<!--Rating2-->
				 <div class="form-group" >
		           <label class="control-label col-sm-3" for="contactYou" class="checkbox-custom-label">{{content.Feedback.howWouldYouRateUsFunctionalityMessage}}</label>
		           <div class="col-sm-8">
					<div star-rating rating="starRating2" read-only="false" max-rating="5"></div>
					</div>
		         </div>
		         <!--Submit-->
		         <div class="form-group form-submit">
		           <div class="col-sm-offset-3 col-sm-9">
		             <button type="submit" class="btn btn-primary" 
		             ng-click="feedbackForm.$valid && SubmitFeedback()">{{content.Feedback.submitLabel}}</button><!-- ng-disabled="sendMessageForm.$invalid"  -->
		           </div>
		         </div>
				</fieldset>
			</form>
   
   </div>
</div>

						<!---- Feedback Response -->
	<div class="container-fluid" >
		<br/>
		<div ng-if="feedbackMessage === 'success'">
			<div class="centered mt20 mb20">
				<label class="SuccessTxtBold" ng-bind-html="content.Feedback.feedBackCompleteSuccessMessage">
				</label>
			</div>
			<div class="clearfix centered mb20 mt20">
				<button class="btn btn-primary" ng-click="goBack()"><span ng-bind-html="content.Feedback.OKLabel"></span></button>
			</div>	
		</div>
		<div ng-if="feedbackMessage === 'error'">
			<div class="alert alert-danger">
					<label>{{feedbackFailureText}}</label>
			</div>
			<div class="clearfix centered mb20 mt20">
				<button class="btn btn-primary" ng-click="goBack()"><span ng-bind-html="content.Feedback.OKLabel"></span></button>
			</div>
		</div>
	</div>
</div>
<div class="wait"></div>