<!DOCTYPE html>
<html lang="en" class="cyclops" ng-app="onBoardingApp">
 <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	 <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<link rel="icon" type="image/png" ng-href="{{brandingInfo.controlUrl + brandingInfo.faviconUrl}}">
	<!-- CSS -->
	<link href="css/cyclops.css" rel="stylesheet" type="text/css" />
	<link ng-href="{{brandingInfo.controlUrl + brandingInfo.satelliteCSSUrl}}" rel="stylesheet" type="text/css" />
	<link href="css/cyclops-font.css" rel="stylesheet" type="text/css">
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<link href="css/slick.css" rel="stylesheet" type="text/css" />
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css" />
   <!-- <link href="css/bootstrap3.2.0.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   	
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="css/datepicker.min.css" rel="stylesheet" type="text/css" />-->
	<!-- <link href="css/datepicker3.min.css" rel="stylesheet" type="text/css" /> -->	
	<link href="css/jquery.css" rel="stylesheet" type="text/css" />
	<link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="css/angular-material.min.css" rel="stylesheet" type="text/css" />
	
	<!--Common-->
	<!-- <link href="css/onBoardingAppCommon.css" rel="stylesheet" type="text/css" />
	320x568 IPhone 5,5s
	<link href="css/onBoardingApp320x480.css" rel="stylesheet" type="text/css" />
	375x667 IPhone 6,6+
	<link href="css/onBoardingApp375x767.css" rel="stylesheet" type="text/css" />
	768x1024 ipad,Tab & Desktop
	<link href="css/onBoardingApp768x1440.css" rel="stylesheet" type="text/css" />
    <link href="css/slick.css" rel="stylesheet" type="text/css" />
     <link href="css/slick-theme.css" rel="stylesheet" type="text/css" /> -->
       <!-- <link href="css/main.css" rel="stylesheet" type="text/css" />-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>    	
    	console.log = function() {}
    	
    	// Multiple Tabs Implementation - SessionStorgae copy between tabs    
		var sessionStorage_transfer = function(event) {
		  if(!event) { event = window.event; } // ie suq
		  if(!event.newValue) return;          // do nothing if no value to work with
		  if (event.key == 'getSessionStorage') {
		    // another tab asked for the sessionStorage -> send it
		    localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
		    // the other tab should now have it, so we're done with it.
		    localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
		  } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
		    // another tab sent data <- get it
		    var data = JSON.parse(event.newValue);
		    for (var key in data) {
		      sessionStorage.setItem(key, data[key]);
		    }
		  }
		};
		
		// listen for changes to localStorage
		if(window.addEventListener) {
			try{
				if(window.location.hash && window.location.hash.split('#')[1].indexOf('userInvitation/answer') > -1){
					// Invitation URL should not copy sessionStorage
				}else{
					window.addEventListener("storage", sessionStorage_transfer, false);	// For all major browsers, except IE 8 and earlier
				}
			}catch(err){}
		} else {
		  window.attachEvent("onstorage", sessionStorage_transfer);		// For IE 8 and earlier versions
		};
		
		
		// Ask other tabs for session storage (this is ONLY to trigger event)
		if (!sessionStorage.length) {
		  localStorage.setItem('getSessionStorage', 'foobar');
		  localStorage.removeItem('getSessionStorage', 'foobar');
		};
    // END of Multiple Tabs Implementation
		
    	if (!Function.prototype.bind) {
    	  Function.prototype.bind = function (oThis) {
    	    if (typeof this !== "function") {
    	      // closest thing possible to the ECMAScript 5 internal IsCallable function
    	      throw new TypeError("Function.prototype.bind - what is trying to be bound is not callable");
    	    }

    	    var aArgs = Array.prototype.slice.call(arguments, 1),
    	        fToBind = this,
    	        fNOP = function () {},
    	        fBound = function () {
    	          return fToBind.apply(this instanceof fNOP && oThis
    	                                 ? this
    	                                 : oThis,
    	                               aArgs.concat(Array.prototype.slice.call(arguments)));
    	        };

    	    fNOP.prototype = this.prototype;
    	    fBound.prototype = new fNOP();

    	    return fBound;
    	  };
    	}

    	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		 // console.log('Sending Pageview');
    	  ga('create', '%GA-ID%', 'auto');
    	//  ga('set', 'page', '/landingPage.html');
    	 // ga('send', 'pageview');
   	
    	
    </script>
    </head>
<body  ng-controller="OnBoardingCtrl">
 <div class="wrapper">
<title >SDP</title>
    <div class="wait"> </div>
	 
    <div ng-if="displayMenu"><nav-main-menu-header></nav-main-menu-header></div>
    <div><message-display/></div>
   <!-- BEGIN main container -->
   <div class="col-md-2 col-sm-3" ng-if="displayMenu"><nav-menu></nav-menu></div>
   <div ng-class="{'col-md-10 col-sm-9': displayMenu, 'col-md-12 col-sm-12 pa0': !displayMenu}">    
      <!-- END main container -->
     <page-title-menu></page-title-menu>
     <div ng-view=""></div>
      
   </div>
   
</div>
  <div ng-include="'partials/global/footer.html'"  class="footer" sticky-footer=".wrapper"></div>
  
   <!-- JS -->
   
 	<script type="application/x-javascript" src="lib/jquery/jquery-2.2.0.min.js"></script>
	<script  type="application/x-javascript" src="lib/angular/angular.min.js"></script>
   	<script type="application/x-javascript" src="lib/angular/angular-route.min.js"></script>
   	<script type="application/x-javascript" src="lib/angular/angular-resource.min.js"></script>
   	<script type="application/x-javascript" src="lib/angular/angular-sanitize.min.js"></script>
	<script type="application/x-javascript" src="lib/jquery/jquery-ui.min.js"></script>
	<script	type="application/x-javascript" src="lib/knockout/knockout-3.3.0.js"></script>
	<script	type="application/x-javascript" src="lib/knockout/knockout.validation.min.js"></script>
	<script  type="application/x-javascript"  src="lib/utils/moment-2.10.3.js"></script>
	<script type="application/x-javascript" src="lib/core/cyclops/cyclops.min.js"></script>
    <script type="application/x-javascript" src="lib/angular/angular-messages.js"></script>
    <script  type="application/x-javascript"  src="lib/angular/angular-tooltips.min.js"></script>
    <script  type="application/x-javascript"  src="lib/angular/angular-animate.min.js"></script>
    <script  type="application/x-javascript"  src="lib/angular/angular-aria.min.js"></script>
    <script  type="application/x-javascript"  src="lib/angular/angular-material.min.js"></script>

    <script  type="application/x-javascript"  src="lib/bootstrap/bootstrap.min.js"></script>
    <script  type="application/x-javascript"  src="lib/utils/moment-2.10.3.js"></script>
  <!-- <script  type="application/x-javascript"  src="lib/bootstrap/bootstrap-datepicker.min.js"></script>  -->
    <script  type="application/x-javascript"  src="lib/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <!--<script  type="application/x-javascript"  src="lib/bootstrap/bootstrap-datetimepicker.js"></script> -->
    
    <script  type="application/x-javascript"  src="lib/core/caching/angular-cache/angular-cache.js"></script>
    <script  type="application/x-javascript"  src="lib/core/caching/angularCacheService.js"></script>
    <script  type="application/x-javascript"  src="lib/core/session/sessionKeeper.js"></script>
    <script  type="application/x-javascript"  src="lib/core/session/sessionTimer.js"></script>
    <script  type="application/x-javascript"  src="lib/core/content/ContentServices.js"></script>
    <script  type="application/x-javascript"  src="lib/core/content/contentCacheService.js"></script>
    <script  type="application/x-javascript"  src="lib/core/language/languageService.js"></script>

 	<script  type="application/x-javascript"  src="lib/utils/promise-7.0.4.min.js"></script>
 	<script  type="application/x-javascript"  src="lib/utils/dateUtils.js"></script>
<!--     <script  type="application/x-javascript"  src="lib/utils/carousel/slick/slick.js"></script>
    <script  type="application/x-javascript"  src="lib/utils/carousel/slick.js"></script> -->
    <script  type="application/x-javascript"  src="lib/utils/ng-password-strength.js"></script>

 	<script  type="application/x-javascript"  src="lib/sdk/ctl-sdk.js"></script>
 	<script  type="application/x-javascript"  src="js/configuration/configuration.js"></script>
<!-- build:js({.tmp,WebContent}) js/scripts.js -->  
    <script  type="application/x-javascript"  src="js/app.js"></script>
    
    <script  type="application/x-javascript"  src="js/routing/OnBoardAppRouting.js"></script> 
    <script  type="application/x-javascript"  src="js/controllers/OnBoardingCtrl.js"></script>
    
    <script  type="application/x-javascript"  src="js/directives/directive.js"></script>
    <script  type="application/x-javascript"  src="js/filters/ctlFilters.js"></script>
    <script  type="application/x-javascript"  src="js/utils/utilsService.js"></script>
 <!-- <script  type="application/x-javascript"  src="lib/splunk/jquery.js"></script> -->
 	 <script type="text/javascript" src="lib/splunk/splunk.js"></script>
    <script  type="application/x-javascript"  src="lib/splunk/splunk.ui.charting.js"></script>
    <script  type="application/x-javascript"  src="lib/splunk/splunk.ui.js"></script>
    <script  type="application/x-javascript"  src="lib/splunk/splunk.ui.timeline.js"></script>
    
    <script  type="application/x-javascript"  src="js/services/OAuthService.js"></script>
    
    <script  type="application/x-javascript"  src="js/controllers/login/LoginCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/AccountSummaryCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/AddSeatCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/ProductsCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/UsageStatisticsCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/ApiDocsCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/PricingCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/DiagnosticsCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/ManageAccountCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/ManageNetworkIdCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/UserInvitationCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/QuickStartCtrl.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/ManageUsersCtrl.js"></script>
    
    <script  type="application/x-javascript"  src="js/services/MonikerService.js"></script>
    <script  type="application/x-javascript"  src="js/services/CourierService.js"></script>
    <script  type="application/x-javascript"  src="js/services/DumpsterService.js"></script>
    <script  type="application/x-javascript"  src="js/services/LogoutServices.js"></script>
    <script  type="application/x-javascript"  src="js/services/OrderManagement.js"></script>
    <script  type="application/x-javascript"  src="js/services/ReadFileService.js"></script>
    <script  type="application/x-javascript"  src="js/services/FeedbackService.js"></script>
    <script  type="application/x-javascript"  src="js/services/SplunkService.js"></script>
    <script  type="application/x-javascript"  src="js/services/PlatformService.js"></script>
    <script  type="application/x-javascript"  src="js/controllers/login/LogoutCtrl.js"></script>
	<script  type="application/x-javascript"  src="js/controllers/FooterCtrl.js"></script>
	<script  type="application/x-javascript"  src="js/controllers/PlatformSSOCtrl.js"></script>
	<script  type="application/x-javascript"  src="js/controllers/SwitchAccountCtrl.js"></script>
	
	  <!-- endbuild --> 
	<!-- <script type="application/x-javascript" src="https://maps.googleapis.com/maps/api/js" defer></script> -->
</body>
          

</html>