<!-------------------------------------------------------- Manage Network (Edit User) ----------------------------------------------------->
<div class="primary pb0 mb0 pt0 noBorder" id="myDiv1">
<div class="container-fluid ">
	<div class="row" ng-if="isUserAuthenticated">
		<div class="col-md-12 ">
			<div class="pa0 mr0">
				<!-- <span>Manage Members</span> -->
			</div>
		</div>
	</div>
	<!-- <page-event page-id="editNetworkId" ></page-event> -->
	<div class="pa0 mt10">
		<div class="row ml20">
			<div class="alert alert-info pt0 pb0 mb0" role="alert">										
				<h5><svg class="cyclops-icon info">
						<use xlink:href='#icon-info-circle'></svg>
						Helpful Information!
				</h5>
				<p><small>When you add user/s to this group, the newly added user/s will be removed from the other group.</small></p>
			</div>
			<div class="new-list-view-responsive new-list-view-responsive-sm mt10">
				<div class="col col-40 pa0 mb0">					
					<option value="" disabled selected class="mb5">{{content.Manage_User.allUsersLabel}}</option>
					<select class="menuListAlign" multiple ng-model="addUserArr" size="7" ng-options="user.username for user in allUserListEdit"></select>
				</div>
				<div class="col col-10  mt30 marginForMenuList">
					<div class="col col-90 ">
						<button class="btn btn-default mb5 widthOfArrows rotateArrows" id="moveright" ng-click="addUserInGroup(addUserArr[0])">&gt;</button>
						<button class="btn btn-default mb5 widthOfArrows rotateArrows" id="moveleft" ng-click="removeUserFromGroup(removeUserArr[0])">&lt;</button>
<!-- 						<button class="btn btn-default mb5 widthOfArrows rotateArrows" id="moverightall" ng-click="moveAll(allUsers, currentUsers, 'moverightall')">&gt;&gt;</button>
						<button class="btn btn-default mb5 widthOfArrows rotateArrows" id="moveleftall" ng-click="moveAll(currentUsers, allUsers, 'moveleftall')">&lt;&lt;</button>
 -->					</div>
				</div>
				<div class="col col-40 pa0 mb0 ">
					<option value="" disabled selected class="mb5">{{content.Manage_User.currentUsersLabel}}</option>
					<select class="menuListAlign" size="7" multiple ng-model="removeUserArr" ng-options="user.username for user in networkUserListEdit"></select>
				</div>
			</div>
		</div>
		<div class="col col15 ma10">
			<div class="pt10">
				<button class="btn btn-primary" ng-disabled="isAnyUserMoved"
					api-event="Move-or-remove-user" ng-click="updateUsers()">{{content.Common.submitButtonLabel}}</button>
				<button class="btn btn-link"
					ng-click="setTab('membersData');resetManageUsers()">{{content.Common.cancelButtonLabel}}</button>
			</div>
		</div>		
	</div>	
	</div>
</div>