   <form class="form-horizontal">
     <div class="form-group">
       <label class="control-label col-sm-3">group name</label>
       <div class="col-sm-6">
         <input disabled class="form-control" value="{{selectedNetworkId}}">
       </div>
     </div>
     <div class="form-group form-submit">
       <div class="col-sm-offset-3 col-sm-9">
         <button type="submit" class="btn btn-primary" disabled>save</button>
         <button class="btn btn-link" disabled>cancel</button>
         <button class="btn btn-danger pull-right" disabled>delete group</button>
       </div>
     </div>
   </form>