<div class="card">
     <div class="card-block">
         <ul role="navigation" class="nav nav-tabs">
            
            <li ng-class="{'active' : (tab==='membersData' || tab === 'manageMembers')}"><a href="" ng-click="setTab('membersData')">Members</a></li>
            <li ng-class="{'active' : tab==='usageData'}"><a href="" ng-click="setTab('usageData')">Usage Data</a></li>
            <!-- <li ng-class="{'active' : tab==='settings'}"><a href="" ng-click="setTab('settings')">Settings</a></li> -->
         </ul>
         <div ng-if="tab === 'usageData'" ng-include="'partials/manageNetwork/usageData.html'"></div>
		 <div ng-if="tab === 'membersData'" ng-include="'partials/manageNetwork/usersData.html'"></div>
		 <div ng-if="tab === 'settings'" ng-include="'partials/manageNetwork/groupSettings.html'"></div>    
		 <div ng-if="tab === 'manageMembers'" ng-include="'partials/manageNetwork/editNetworkId.html'"></div>       
     </div>
</div>
      

 
     	      