<div>	
	<div class="container-fluid" id="NoAccessPage" ng-show="isNetworkUser">
		<h5>{{content.Manage_User.mangeUserAuthorizationError}}</h5>
	</div>
	<div class="card" ng-hide="isNetworkUser">
		<div class="card-block">
			<div class="new-list-view-responsive new-list-view-responsive-sm">
				<div class="new-list-view-toolbar">					
                	<span class="p-l-xs">                 	
	                {{ (networkIdsList | filter:search).length > 0 ? (((mainPage.pagination.currentPage -1) * mainPage.pagination.itemPerPage) + 1) : 0}} - 
	                {{ (mainPage.pagination.currentPage * mainPage.pagination.itemPerPage) > (networkIdsList | filter:search).length ? (networkIdsList | filter:search).length : (mainPage.pagination.currentPage * mainPage.pagination.itemPerPage) }} 
	                of {{(networkIdsList | filter:search).length}} users</span>
					<div class="new-list-view-toolbar-right">
						<label class="sr-only" for="inputListViewToolbarFilter">filter
							input</label> <span class="search-input"><input type="text"
							id="inputListViewToolbarFilter" ng-model="networkIdSearch" placeholder="filter groups" ng-change="filter()">
							<svg class="cyclops-icon" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="#icon-search"></use></svg></span>
					</div>
				</div>
				<div class="new-list-view-header">
					<h3 class="col col-40">
						<button class="btn btn-link-text" ng-click="sortData.sortType = 'networkId'; sortData.sortReverse = !sortData.sortReverse">
	                		group
	                		<span ng-show="sortData.sortType == 'networkId'">
				          		<svg ng-if="sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-down"></use></svg>
				          		<svg ng-if="!sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-up"></use></svg>
				          	</span>
                		</button>
					</h3>
					<h3 class="col col-60" >
						<button class="btn btn-link-text" ng-click="sortData.sortType = 'activeUserCount'; sortData.sortReverse = !sortData.sortReverse">
							members
				          	<span ng-show="sortData.sortType == 'activeUserCount'">
				          		<svg ng-if="sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-down"></use></svg>
				          		<svg ng-if="!sortData.sortReverse" class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-up"></use></svg>
				          	</span>
				         </button>			          					          
			        </h3>
				</div>
				<ul class="new-list-view">
					<li ng-repeat="networkIdObj in filtered = (networkIdsList | filter:search) | filter:search | orderBy:sortData.sortType:sortData.sortReverse | startFrom:(mainPage.pagination.currentPage-1)*mainPage.pagination.itemPerPage | limitTo:mainPage.pagination.itemPerPage">
						<a href="" ng-click="gotoManageUser(networkIdObj.networkId)" class="list-view-editable-item">
							<div class="col col-40">
								<span class="col-header">group</span>{{networkIdObj.networkId}}
							</div>
							<div class="col col-60">
								<span class="col-header">members</span>{{networkIdObj.activeUserCount}}
							</div>
						</a>
					</li>
					<li class="empty-list-view-item" ng-if="(networkIdsList | filter:search).length == 0">
					  There are no groups found.
				  </li>					
				</ul>
				<div ng-if="(networkIdsList | filter:search).length < mainPage.pagination.itemPerPage" class="mb20"></div>
				<nav ng-hide="(networkIdsList | filter:search).length < mainPage.pagination.itemPerPage">
				  	<ul class="pagination ml20">
				    <li ng-class="{'disabled': mainPage.pagination.startPage  <= 5}">
				      <a a-disabled="mainPage.pagination.startPage <= 5" href="" aria-label="Previous" ng-click="clickPrevious()">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">{{content.Common.previousArrowLable}}</span>
				      </a>
				    </li>
				    <li ng-repeat="pageNo in [] | range:mainPage.pagination.startPage:mainPage.pagination.startPage+4: (networkIdsList | filter:search).length : mainPage.pagination.itemPerPage" 
				    	ng-class="{'active':mainPage.pagination.currentPage === pageNo}">
				    	<a href="" ng-click="mainPage.pagination.currentPage = pageNo; hideDetails();">{{pageNo}}</a>
				    </li>
				    <li ng-class="{'disabled': (mainPage.pagination.startPage+5 > (networkIdsList | filter:search).length/mainPage.pagination.itemPerPage + 1)}">
				      <a a-disabled="mainPage.pagination.startPage+5 > (networkIdsList | filter:search).length/mainPage.pagination.itemPerPage + 1" href="" 
				      aria-label="Next" ng-click="clickNext()">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">{{content.Common.nextArrowLabel}}</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</div>