
  <div class="new-list-view-responsive new-list-view-responsive-sm">
     <div class="new-list-view-toolbar">
     <a href="" class="btn btn-default" ng-click="setTab('manageMembers')" >manage members</a>
      <span class="p-l-xs">                 	
        {{ (networkUserList | filter:networkIdSearch).length > 0 ? (((mainPage.pagination.currentPage - 1) * mainPage.pagination.itemPerPage) + 1) : 0}} - 
        {{ (mainPage.pagination.currentPage * mainPage.pagination.itemPerPage) > (networkUserList | filter:networkIdSearch).length ? (networkUserList | filter:networkIdSearch).length : (mainPage.pagination.currentPage * mainPage.pagination.itemPerPage) }} 
        of {{(networkUserList | filter:networkIdSearch).length}} users </span>
       <div class="new-list-view-toolbar-right">
         <label class="sr-only" for="inputListViewToolbarFilter">filter input</label>
         <span class="search-input"><input type="text" ng-model="networkIdSearch" id="inputListViewToolbarFilter" placeholder="filter users"><svg class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg></span>
       </div>
     </div>
     <div class="new-list-view-header">
       <h3 class="col col-20">{{content.Common.groupLabel}}</h3>
       <h3 class="col col-30">{{content.Common.userNameLabel}}</h3>
       <h3 class="col col-35">{{content.Common.emailLabel}}</h3>
     </div>
     <ul class="new-list-view">
	  <li ng-repeat="networkUser in filtered = (networkUserList | filter:networkIdSearch) | filter:networkIdSearch | startFrom:(mainPage.pagination.currentPage-1)*mainPage.pagination.itemPerPage | limitTo:mainPage.pagination.itemPerPage">
	  	<div class="list-view-item">
                   <div class="col col-20"><span class="col-header" >{{content.Common.groupNameLabel}}</span>{{networkUser.networkIds[0]}}</div>
                   <div class="col col-30"><span class="col-header">{{content.Common.userNameLabel}}</span>{{networkUser.username}}</div>
                   <div class="col col-30"><span class="col-header">{{content.Common.emailLabel}}</span>{{networkUser.emailAddress}}</div>
                   <div class="col col-20"><!-- <button class="btn btn-primary btn-mini pull-left"								
					ng-click="editNetworkUser(networkId.networkIds[0],'editNetworkId')" api-event="">{{content.Manage_User.editUser}}</button> -->
                 		                    
                   <span tooltips tooltip-side="top" tooltip-template="Delete User" tooltip-hidden="{{!displayDeleteUserToolTip}}">
                   		<inline-confirm confirm="deleteNetworkUser(networkUser)" confirm-class="btn btn-danger btn-mini pull-right" pre-confirm="hideDeleteUserToolTip()" post-confirm="showDeleteUserToolTip()"
	 						event-page-id=""> <svg class="cyclops-icon"><use xlink:href='#icon-close'></svg>{{content.Account_Summary.configureSeat.deleteSeatLabel}}</inline-confirm>
	 				</span>		
            </div>
	  </li>
	  <li class="empty-list-view-item" ng-if="(networkUserList | filter:networkIdSearch).length == 0">
		  There are no users found.
	  </li>
	</ul>
  <div ng-if="(networkUserList | filter:networkIdSearch).length < mainPage.pagination.itemPerPage" class="mb20"></div>
	<nav ng-hide="(networkUserList | filter:networkIdSearch).length < mainPage.pagination.itemPerPage">
	  	<ul class="pagination ml20">
	    <li ng-class="{'disabled': mainPage.pagination.startPage  <= 5}">
	      <a a-disabled="mainPage.pagination.startPage <= 5" href="" aria-label="Previous" ng-click="clickPrevious()">
	        <span aria-hidden="true">&laquo;</span>
	        <span class="sr-only">{{content.Common.previousArrowLable}}</span>
	      </a>
	    </li>
	    <li ng-repeat="pageNo in [] | range:mainPage.pagination.startPage:mainPage.pagination.startPage+4: (networkUserList | filter:networkIdSearch).length : mainPage.pagination.itemPerPage" 
	    	ng-class="{'active':mainPage.pagination.currentPage === pageNo}">
	    	<a href="" ng-click="mainPage.pagination.currentPage = pageNo">{{pageNo}}</a>
	    </li>
	    <li ng-class="{'disabled': (mainPage.pagination.startPage+5 > (networkUserList | filter:networkIdSearch).length/mainPage.pagination.itemPerPage + 1)}">
	      <a a-disabled="mainPage.pagination.startPage+5 > (networkUserList | filter:networkIdSearch).length/mainPage.pagination.itemPerPage + 1" href="" 
	      aria-label="Next" ng-click="clickNext()">
	        <span aria-hidden="true">&raquo;</span>
	        <span class="sr-only">{{content.Common.nextArrowLabel}}</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>

