/* ---------------------------------------------------------------------- 320 X 480 ----------------------------------------------------------- */
/* Portrait and Landscape */

@media only screen and (min-width: 768px) and (max-width: 1440px) {
.resetPwdText{ 
		color: #333333 !important;
		font-weight: normal !important;
        font-size: 17px !important;
        outline: none !important;
		}
.resetPwdTextSmall{ 
		color: #333333 !important;
		font-weight: normal !important;
        font-size: 13px !important;
        outline: none !important;
		}
.resetPwdText_Italics{ 
		color: #333333 !important;
		font-weight: normal !important;
        font-size: 14px !important;
		font-style:italic;
        outline: none !important;
		}	
.resetPwdText_ItalicsSmall{ 
		color: #333333 !important;
		font-weight: normal !important;
        font-size: 12px !important;
		font-style:italic;
        outline: none !important;
		text-align:left !important;
		}		
    .btn-lg-product-white {
        color: #333333 !important;
        background-color: transparent !important;
        border-color: transparent !important;
        width: 100% !important;
        font-weight: normal !important;
        font-size: 22px !important;
        outline: none !important;
        line-height: 35px !important;
		height:50px;
        padding-left: 5px !important;
        padding-right: 5px !important;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        
        -webkit-border-radius: 8px !important;
        /* Firefox 1-3.6 */
        
        -moz-border-radius: 8px !important;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        
        border-radius: 8px !important;
    }
    .btn-lg-product-white:hover,
    .btn-lg-product-white:focus,
    .btn-lg-product-white:active,
    .btn-lg-product-white.active,
    .open .dropdown-toggle.btn-lg-product-white {
        color: #33333;
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .btn-lg-product-white:active,
    .btn-lg-product-white.active,
    .open .dropdown-toggle.btn-lg-product-white {
        background-image: none;
    }
    .btn-lg-product-white.disabled,
    .btn-lg-product-white[disabled],
    fieldset[disabled] .btn-lg-product-white,
    .btn-lg-product-white.disabled:hover,
    .btn-lg-product-white[disabled]:hover,
    fieldset[disabled] .btn-lg-product-white:hover,
    .btn-lg-product-white.disabled:focus,
    .btn-lg-product-white[disabled]:focus,
    fieldset[disabled] .btn-lg-product-white:focus,
    .btn-lg-product-white.disabled:active,
    .btn-lg-product-white[disabled]:active,
    fieldset[disabled] .btn-lg-product-white:active,
    .btn-lg-product-white.disabled.active,
    .btn-lg-product-white[disabled].active,
    fieldset[disabled] .btn-lg-product-white.active {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .btn-lg-product-white .badge {
        color: #FFFFFF;
        background-color: #33333;
    }
    .btn-lg-product-white .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
/* Products Button Green*/

@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .btn-lg-product {
        color: #333333 !important;
        background-color: #8CC63E !important;
        border-color: #FFFFFF !important;
        width: 100% !important;
        font-weight: normal !important;
        font-size: 22px !important;
          line-height: 35px !important;
		height:50px;
        outline: none !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        
        -webkit-border-radius: 8px !important;
        /* Firefox 1-3.6 */
        
        -moz-border-radius: 8px !important;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        
        border-radius: 8px !important;
    }
    .btn-lg-product:hover,
    .btn-lg-product:focus,
    .btn-lg-product:active,
    .btn-lg-product.active,
    .open .dropdown-toggle.btn-lg-product {
        color: #262626;
        background-color: #FFFFFF;
        border-color: #FFFFFF;
    }
    .btn-lg-product:active,
    .btn-lg-product.active,
    .open .dropdown-toggle.btn-lg-product {
        background-image: none;
    }
    .btn-lg-product.disabled,
    .btn-lg-product[disabled],
    fieldset[disabled] .btn-lg-product,
    .btn-lg-product.disabled:hover,
    .btn-lg-product[disabled]:hover,
    fieldset[disabled] .btn-lg-product:hover,
    .btn-lg-product.disabled:focus,
    .btn-lg-product[disabled]:focus,
    fieldset[disabled] .btn-lg-product:focus,
    .btn-lg-product.disabled:active,
    .btn-lg-product[disabled]:active,
    fieldset[disabled] .btn-lg-product:active,
    .btn-lg-product.disabled.active,
    .btn-lg-product[disabled].active,
    fieldset[disabled] .btn-lg-product.active {
        background-color: #8CC63E;
        border-color: #FFFFFF;
    }
    .btn-lg-product .badge {
        color: #8CC63E;
        background-color: #262626;
    }
    .btn-lg-product .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .NetworkIDList_Arrow {
        width: 25px;
        height: 15px;
        margin-top: -39px;
       /*  margin-left: 31px; */
    }   
   .SrchResMoniker_Arrow {
        width: 25px;
        height: 15px;
        margin-top: -39px;
       /*  margin-left: 120px; */
    }
	.ManageServices_Arrow {
        width: 25px;
        height: 15px;
        margin-top: -39px;
       /*  margin-left: 217px; */
    }
    .PopularProducts_Arrow {
        width: 25px;
        height: 15px;
        margin-top: -37px;
        margin-left: 40px;
    }
	   .PopularProducts_Arrow_landing {
        width: 25px;
        height: 15px;
        margin-top: 0px;
        margin-left: -15px;
    }
    .APIDocs_Arrow {
        width: 25px;
        height: 15px;
        margin-top: -37px;
        margin-left: 148px;
    }
	.APIDocs_Arrow_landing{
        width: 25px;
        height: 15px;
        margin-top: 0px;
        margin-left: -10px;
    }
    .Pricing_Arrow {
        width: 25px;
        height: 15px;
        margin-top: -37px;
        margin-left: 240px;
    }
	   .Pricing_Arrow_landing {
        width: 25px;
        height: 15px;
        margin-top: 0px;
        margin-left: -5px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .header-Link {
        color: #FFFFFF !important;
        font-weight: normal !important;
        font-size: 20px !important;
        outline: none !important;
        /* margin-right:2px !important; margin-left:2px !important; */
        
        text-decoration: none !important;
    }
    .header-Link:hover,
    .header-Link:focus,
    .header-Link:active,
    .header-Link.active,
    .open .dropdown-toggle.header-Link {
        color: #d9d9d9 !important;
        outline: none !important;
    }
    .header-Link:active,
    .header-Link.active,
    .open .dropdown-toggle.header-Link {
        background-image: none;
        outline: none !important;
    }
    .header-Link.disabled,
    .header-Link[disabled],
    fieldset[disabled] .header-Link,
    .header-Link.disabled:hover,
    .header-Link[disabled]:hover,
    fieldset[disabled] .header-Link:hover,
    .header-Link.disabled:focus,
    .header-Link[disabled]:focus,
    fieldset[disabled] .header-Link:focus,
    .header-Link.disabled:active,
    .header-Link[disabled]:active,
    fieldset[disabled] .header-Link:active,
    .header-Link.disabled.active,
    .header-Link[disabled].active,
    fieldset[disabled] .header-Link.active {} .header-Link.badge {
        color: #059415;
        background-color: #FFFFFF;
    }
    /*header buttons End*/
    /*Vertical Divider*/
    
    .divider {
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-top: 2px !important;
        height: 25px !important;
        border-top: 0px none;
        border-right: 0px none;
        border-bottom: 0px none;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image: none;
        border-left: 1px solid rgb(255, 255, 255) !important;
        display: inline-block !important;
        vertical-align: bottom !important;
    }
    .button-wrapper {
        margin-top: 20px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .content-bg {
        /* background: url("../images/content-bg.png") no-repeat scroll center center / cover transparent; */
        background-color: #d9d9d9;
       /*  height: 280px !important; */
		background-size: 100% 100%;
    }

/*Checkboxes*/
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
	font-weight:normal;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #666;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
	margin-top: 1px;
    margin-right: 4px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: none;
    color: #333333;
	/* font-size: 15px; */
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: none; /* focus style */
}
/*check box end*/
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
/*     .start-free-trial-wrapper {
        margin-right: 15px;
        margin-top: 175px;
    } */
    .start-free-trial-text {
        color: rgb(51, 51, 51) !important;
        font-weight: normal !important;
        font-size: 27px !important;
        text-align: right !important;
    }
    .btn-start-free-trial {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(0, 133, 64) !important;
        border-color: rgb(0, 133, 64) !important;
        font-weight: normal !important;
        float: right;
        outline: medium none !important;
        font-size: 20px !important;
        line-height: 35px !important;
        border-radius: 8px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
   
    .product_heading {
        color: #333333 !important;
        font-weight: bold !important;
        font-size: 30px !important;
        line-height: 40px !important;
		text-align:left;
    }
	.product_heading_small {
        color: rgb(51, 51, 51) !important;
        font-weight: bold !important;
        font-size: 14px !important;
        line-height: 20px !important;
    }
	  .product_heading_normal {
        color: rgb(51, 51, 51) !important;
        font-weight: normal !important;
        font-size: 22px !important;
        line-height: 20px !important;
    }
    .product_Desc {
        color: rgb(51, 51, 51) !important;
        font-weight: normal !important;
        font-size: 20px !important;
        line-height: 20px !important;
    }
	

}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .ORDividerTxt {
        color: #333333 !important;
        font-weight: normal!important;
        font-size: 15px !important;
        line-height: 25px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .btn-group-signin {
        width: 100px !important;
        margin: 0px !important;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 133, 62);
        font-weight: normal !important;
        outline: medium none !important;
        font-size: 17px !important;
        white-space: normal !important;
        line-height: 17px !important;
    }
	.btn-group-signin:hover,
.btn-group-signin:focus,
.btn-group-signin:active,
.btn-group-signin.active,
.open .dropdown-toggle.btn-group-signin {
    color: #ffffff;
    background-color: #00853E;
    border-color: none !important;
}
.btn-group-signin:active,
.btn-group-signin.active,
.open .dropdown-toggle.btn-group-signin {
    background-image: none;
}
.btn-group-signin.disabled,
.btn-group-signin[disabled],
fieldset[disabled] .btn-group-signin,
.btn-group-signin.disabled:hover,
.btn-group-signin[disabled]:hover,
fieldset[disabled] .btn-group-signin:hover,
.btn-group-signin.disabled:focus,
.btn-group-signin[disabled]:focus,
fieldset[disabled] .btn-group-signin:focus,
.btn-group-signin.disabled:active,
.btn-group-signin[disabled]:active,
fieldset[disabled] .btn-group-signin:active,
.btn-group-signin.disabled.active,
.btn-group-signin[disabled].active,
fieldset[disabled] .btn-group-signin.active {
    background-color: #00853E;
    border-color: none !important;
}
.btn-group-signin .badge {
    color: #00853E;
    background-color: #333333;
}
    .btn-group-signin-white {
        width: 100px !important;
        margin: 0px !important;
        color: rgb(51, 51, 51);
        background-color: rgb(255, 255, 255);
        font-weight: normal !important;
        outline: medium none !important;
        font-size: 17px !important;
        white-space: normal !important;
        line-height: 17px !important;
        opacity: 100 !important;
    }
	
.btn-group-signin-white:hover,
.btn-group-signin-white:focus,
.btn-group-signin-white:active,
.btn-group-signin-white.active,
.open .dropdown-toggle.btn-group-signin-white {
    color: #333333;
    background-color: #00853E;
    border-color: none !important;
    opacity: 100 !important;
}
.btn-group-signin-white:active,
.btn-group-signin-white.active,
.open .dropdown-toggle.btn-group-signin-white {
    background-image: none !important;
    opacity: 100 !important;
}
.btn-group-signin-white.disabled,
.btn-group-signin-white[disabled],
fieldset[disabled] .btn-group-signin-white,
.btn-group-signin-white.disabled:hover,
.btn-group-signin-white[disabled]:hover,
fieldset[disabled] .btn-group-signin-white:hover,
.btn-group-signin-white.disabled:focus,
.btn-group-signin-white[disabled]:focus,
fieldset[disabled] .btn-group-signin-white:focus,
.btn-group-signin-white.disabled:active,
.btn-group-signin-white[disabled]:active,
fieldset[disabled] .btn-group-signin-white:active,
.btn-group-signin-white.disabled.active,
.btn-group-signin-white[disabled].active,
fieldset[disabled] .btn-group-signin-white.active {
    background-color: #ffffff !important;
    border-color: none !important;
    opacity: 100 !important;
}
.btn-group-signin-white .badge {
    color: #00853E;
    background-color: #333333;
    opacity: 100 !important;
}
    .btn-group-signin-marR {
        margin-right: -7px !important;
    }
    .btn-group-signin-marL {
        margin-left: -7px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .general_btns_green {
        color: #ffffff !important;
        background-color: #008540 !important;
        border-color: none !important;
        font-weight: normal !important;
        outline: medium none !important;
        font-size: 18px !important;
        line-height: 20px !important;
        border-radius: 5px !important;
    }
	 .general_btns_grey{
        color: #ffffff !important;
        background-color: #888888 !important;
        border-color: none !important;
        font-weight: normal !important;
        outline: medium none !important;
        font-size: 18px !important;
        line-height: 20px !important;
        border-radius: 5px !important;
    }
	.btn-login {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(0, 133, 64) !important;
        border-color: rgb(0, 133, 64) !important;
        font-weight: normal !important;
        outline: medium none !important;
        font-size: 17px !important;
        line-height: 20px !important;
        border-radius: 8px !important;
    }
	
.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
    color: #FFFFFF;
    background-color: #387A24;
    border-color: #059415;
}
.btn-header-right:active,
.btn-header-right.active,
.open .dropdown-toggle.btn-login {
    background-image: none;
}
.btn-login.disabled,
.btn-login[disabled],
fieldset[disabled] .btn-login,
.btn-login.disabled:hover,
.btn-login[disabled]:hover,
fieldset[disabled] .btn-login:hover,
.btn-login.disabled:focus,
.btn-login[disabled]:focus,
fieldset[disabled] .btn-login:focus,
.btn-login.disabled:active,
.btn-login[disabled]:active,
fieldset[disabled] .btn-login:active,
.btn-login.disabled.active,
.btn-login[disabled].active,
fieldset[disabled] .btn-login.active {
    background-color: #059415;
    border-color: #059415;
}
.btn-login.badge {
    color: #059415;
    background-color: #FFFFFF;
}
    .lostPwd_link {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
    }
    a.lostPwd_link:link {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
    }
    a.lostPwd_link:visited {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
    }
    a.lostPwd_link:hover {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
    }
    a.lostPwd_link:active {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .signin_Arrow {
        font-size: 35px;
        display: block;
		margin-left:20px;
		margin-top:4px;

    }
    .freetrial_Arrow {
        font-size: 35px;
        display: block;
		margin-left:25px;
		margin-top:4px;

    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .btn-SignUp {
        color: #FFFFFF !important;
        background-color: #008540 !important;
        border-color: #008540 !important;
        font-weight: normal !important;
        outline: none !important;
        font-size: 20px !important;
        line-height: 30px !important;
        width: 150px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        
        -webkit-border-radius: 8px !important;
        /* Firefox 1-3.6 */
        
        -moz-border-radius: 8px !important;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        
        border-radius: 8px !important;
    }
    .btn-SignUp:hover,
    .btn-SignUp:focus,
    .btn-SignUp:active,
    .btn-SignUp.active,
    .open .dropdown-toggle.btn-SignUp {
        color: #FFFFFF;
        background-color: #387A24;
        border-color: #059415;
    }
    .btn-header-right:active,
    .btn-header-right.active,
    .open .dropdown-toggle.btn-SignUp {
        background-image: none;
    }
    .btn-SignUp.disabled,
    .btn-SignUp[disabled],
    fieldset[disabled] .btn-SignUp,
    .btn-SignUp.disabled:hover,
    .btn-SignUp[disabled]:hover,
    fieldset[disabled] .btn-SignUp:hover,
    .btn-SignUp.disabled:focus,
    .btn-SignUp[disabled]:focus,
    fieldset[disabled] .btn-SignUp:focus,
    .btn-SignUp.disabled:active,
    .btn-SignUp[disabled]:active,
    fieldset[disabled] .btn-SignUp:active,
    .btn-SignUp.disabled.active,
    .btn-SignUp[disabled].active,
    fieldset[disabled] .btn-SignUp.active {
        background-color: #059415;
        border-color: #059415;
    }
    .btn-SignUp.badge {
        color: #059415;
        background-color: #FFFFFF;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .page_link {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 18px !important;
        outline: none !important;
    }
    a.page_link:link {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        outline: none !important;
        font-size: 18px !important;
    }
    a.page_link:visited {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        outline: none !important;
        font-size: 18px !important;
    }
    a.page_link:hover {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        outline: none !important;
        font-size: 18px !important;
    }
    a.page_link:active {
        color: #00853f !important;
        font-weight: bold !important;
        vertical-align: baseline !important;
        text-decoration: none !important;
        cursor: hand !important;
        outline: none !important;
        font-size: 18px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .btn-Buy {
        color: #FFFFFF !important;
        background-color: #008540 !important;
        border-color: #008540 !important;
        font-weight: normal !important;
        outline: none !important;
        font-size: 35px !important;
        line-height: 35px !important;
        width: 100px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        
        -webkit-border-radius: 8px !important;
        /* Firefox 1-3.6 */
        
        -moz-border-radius: 8px !important;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        
        border-radius: 8px !important;
    }
    .btn-Buy:hover,
    .btn-Buy:focus,
    .btn-Buy:active,
    .btn-Buy.active,
    .open .dropdown-toggle.btn-Buy {
        color: #FFFFFF;
        background-color: #387A24;
        border-color: #059415;
    }
    .btn-header-right:active,
    .btn-header-right.active,
    .open .dropdown-toggle.btn-Buy {
        background-image: none;
    }
    .btn-Buy.disabled,
    .btn-Buy[disabled],
    fieldset[disabled] .btn-Buy,
    .btn-Buy.disabled:hover,
    .btn-Buy[disabled]:hover,
    fieldset[disabled] .btn-Buy:hover,
    .btn-Buy.disabled:focus,
    .btn-Buy[disabled]:focus,
    fieldset[disabled] .btn-Buy:focus,
    .btn-Buy.disabled:active,
    .btn-Buy[disabled]:active,
    fieldset[disabled] .btn-Buy:active,
    .btn-Buy.disabled.active,
    .btn-Buy[disabled].active,
    fieldset[disabled] .btn-Buy.active {
        background-color: #059415;
        border-color: #059415;
    }
    .btn-Buy.badge {
        color: #059415;
        background-color: #FFFFFF;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .ResetPwdTxt {
        color: #333333 !important;
        font-weight: normal!important;
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .footerText {
        padding: 0px !important;
        color: #AAAAAA !important;
        font-weight: normal !important;
        outline: medium none !important;
        font-size: 15px !important;
        margin-top: 7px !important;
        margin-bottom: 0px !important;
    }
    .footerLinks {
        color: #AAAAAA !important;
        font-weight: normal !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
        padding: 0px !important;
        margin: 0px !important;
        /*   margin-left:15px !important;  margin-right:15px !important; */
    }
    a.footerLinks:link {
        color: #AAAAAA !important;
        font-weight: normal !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
        padding: 0px !important;
        margin: 0px !important;
        /*    margin-left:15px !important;  margin-right:15px !important; */
    }
    a.footerLinks:visited {
        color: #AAAAAA !important;
        font-weight: normal !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
        padding: 0px !important;
        margin: 0px !important;
        /*    margin-left:15px !important;  margin-right:15px !important; */
    }
    a.footerLinks:hover {
        color: #AAAAAA !important;
        font-weight: normal !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
        padding: 0px !important;
        margin: 0px !important;
        /*    margin-left:15px !important;  margin-right:15px !important; */
    }
    a.footerLinks:active {
        color: #AAAAAA !important;
        font-weight: normal !important;
        text-decoration: none !important;
        cursor: hand !important;
        font-size: 15px !important;
        outline: none !important;
        padding: 0px !important;
        margin: 0px !important;
        /*    margin-left:15px !important;  margin-right:15px !important; */
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .facebook-icon:before {
        content: "\f082";
        font-family: FontAwesome !important;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: inherit !important;
        /*--adjust as necessary--*/
        
        color: #AAAAAA !important;
        font-size: 35px !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    .twitter-icon:before {
        content: "\f081";
        font-family: FontAwesome !important;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: inherit !important;
        /*--adjust as necessary--*/
        
        color: #AAAAAA !important;
        font-size: 35px !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    .linkedin-icon:before {
        content: "\f08c";
        font-family: FontAwesome !important;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: inherit !important;
        /*--adjust as necessary--*/
        
        color: #AAAAAA !important;
        font-size: 35px !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    .footer-padzero {
        padding: 0px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .Prod_FontAwsome_Icon {
        font-size: 35px !important;
    }
	.productsLinkSpacer {margin-right:20px}
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .WelcomeTxt {
     //   float: left !important;
        margin-top: 0px !important;
        color: #FFFFFF !important;
        font-weight: bold !important;
        font-size: 12px !important;
        outline: none !important;
    }
    .UserTxtdivider {
        float: left !important;
        margin-left: 8px !important;
        margin-right: 8px !important;
        margin-top: 5px !important;
        height: 25px !important;
        border-top: 0px none;
        border-right: 0px none;
        border-bottom: 0px none;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image: none;
        border-left: 1px solid rgb(255, 255, 255) !important;
        display: inline-block !important;
        vertical-align: bottom !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .UserLogout {
        float: left;
        margin-top: 3px !important;
        color: #FFFFFF !important;
        font-weight: normal !important;
        font-size: 20px !important;
        outline: none !important;
        /*margin-left:2px !important; */
        
        text-decoration: none !important;
    }
    .UserLogout:hover,
    .UserLogout:focus,
    .UserLogout:active,
    .UserLogout.active,
    .open .dropdown-toggle.UserLogout {
        color: #AAE162 !important;
        outline: none !important;
    }
    .UserLogout:active,
    .UserLogout.active,
    .open .dropdown-toggle.UserLogout {
        background-image: none;
        outline: none !important;
    }
    .UserLogout.disabled,
    .UserLogout[disabled],
    fieldset[disabled] .UserLogout,
    .UserLogout.disabled:hover,
    .UserLogout[disabled]:hover,
    fieldset[disabled] .UserLogout:hover,
    .UserLogout.disabled:focus,
    .UserLogout[disabled]:focus,
    fieldset[disabled] .UserLogout:focus,
    .UserLogout.disabled:active,
    .UserLogout[disabled]:active,
    fieldset[disabled] .UserLogout:active,
    .UserLogout.disabled.active,
    .UserLogout[disabled].active,
    fieldset[disabled] .UserLogout.active {} .UserLogout.badge {
        color: #059415;
        background-color: #FFFFFF;
    }
    .UserTxt-wrapper {
        margin-top: 18px;
        margin-right: 5px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .btn-group-products {
        color: #00853E;
        background-color: #ffffff;
        border-color: none !important;
        font-weight: normal !important;
        outline: none !important;
        font-size: 15px !important;
		text-align:center !important;
        /* white-space:normal !important;
   line-height:20px !important; */
        padding:0px !important;
       /*  width: 65px !important; */
    }
    .btn-group-products:hover,
    .btn-group-products:focus,
    .btn-group-products:active,
    .btn-group-products.active,
    .open .dropdown-toggle.btn-group-products {
        color: #00853E;
        background-color: #ffffff;
        border-color: none !important;
        background-image: none !important;
		padding:0px !important;
		/*  width: 65px !important; */
    }
    .btn-group-products:active,
    .btn-group-products.active,
    .open .dropdown-toggle.btn-group-products {
        color: #00853E;
        background-color: #ffffff;
        border-color: none !important;
        opacity: 100 !important;
        background-image: none !important;
		text-align:center !important;
		padding:0px !important;
		/*  width: 65px !important; */
    }
    .btn-group-products.disabled,
    .btn-group-products[disabled],
    fieldset[disabled] .btn-group-products,
    .btn-group-products.disabled:hover,
    .btn-group-products[disabled]:hover,
    fieldset[disabled] .btn-group-products:hover,
    .btn-group-products.disabled:focus,
    .btn-group-products[disabled]:focus,
    fieldset[disabled] .btn-group-products:focus,
    .btn-group-products.disabled:active,
    .btn-group-products[disabled]:active,
    fieldset[disabled] .btn-group-products:active,
    .btn-group-products.disabled.active,
    .btn-group-products[disabled].active,
    fieldset[disabled] .btn-group-products.active {
        color: #c3c3c3;
        background-color: #f2f2f2;
        border-color: none !important;
        opacity: 100 !important;
        background-image: none !important;
		text-align:center !important;
		padding:0px !important;
		/*  width: 65px !important; */
    }
    .btn-group-products .badge {}
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .btn-group-products-grey {
        color: #333333;
        background-color: #ffffff;
        border-color: none !important;
        font-weight: normal !important;
        outline: none !important;
        font-size: 15px !important;
		text-align:center !important;
      /*   width: 65px !important; */
        background-image: none !important;
		padding:0px !important;
    }
    .btn-group-products-grey:hover,
    .btn-group-products-grey:focus,
    .btn-group-products-grey:active,
    .btn-group-products-grey.active,
    .open .dropdown-toggle.btn-group-products-grey {
        color: #333333;
        background-color: #FFFFFF;
        border-color: none !important;
        background-image: none !important;
		text-align:center !important;
		padding:0px !important;
		/*  width: 65px !important; */
    }
    .btn-group-products-grey:active,
    .btn-group-products-grey.active,
    .open .dropdown-toggle.btn-group-products-grey {
        background-image: none !important;
    }
    .btn-group-products-grey.disabled,
    .btn-group-products-grey[disabled],
    fieldset[disabled] .btn-group-products-grey,
    .btn-group-products-grey.disabled:hover,
    .btn-group-products-grey[disabled]:hover,
    fieldset[disabled] .btn-group-products-grey:hover,
    .btn-group-products-grey.disabled:focus,
    .btn-group-products-grey[disabled]:focus,
    fieldset[disabled] .btn-group-products-grey:focus,
    .btn-group-products-grey.disabled:active,
    .btn-group-products-grey[disabled]:active,
    fieldset[disabled] .btn-group-products-grey:active,
    .btn-group-products-grey.disabled.active,
    .btn-group-products-grey[disabled].active,
    fieldset[disabled] .btn-group-products-grey.active {
        background-color: #ffffff !important;
        border-color: none !important;
        background-image: none !important;
		text-align:center !important;
		padding:0px !important;
		/*  width: 65px !important; */
    }
    .btn-group-products-grey .badge {}
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
   .userwelcomeLogo {
    height: 45px !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    width: 250px !important;
}
}
/*Products Details */

@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .ProductsHdrs {
        color: #333333 !important;
        font-weight: normal !important;
        font-size: 26px !important;
        margin: 5px 0px 10px 0px;    
		}
	
	.ActSummHdr {
        color: #333333 !important;
        font-weight: normal !important;
        font-size: 20px !important;
        margin-top: 5px;
    }
    .ActsummaryHdrs {
        color: #333333 !important;
        font-weight: bold !important;
        font-size: 13px !important;
    }
	 .ActsummaryHdrs_Small {
        color: #333333 !important;
        font-weight: normal !important;
        font-size: 15px !important;
    }
    .ActSumSelectBox {
        width: 100px
    }
    
    
    .formHdrs_normal {
        color: #333333 !important;
        font-weight: normal !important;
        font-size: 15px !important;
    }
    
     .formHdrs_bold {
        color: #333333 !important;
        font-weight: bold !important;
        font-size: 18px !important;
    }
	  .formHdrs_bold_12 {
        color: #333333 !important;
        font-weight: bold !important;
        font-size: 17px !important;
    }
		  .formTxt_normal_12 {
        color: #333333 !important;
        font-weight: normal !important;
        font-size: 15px !important;
    }
	  .formHdrs_normal20 {
        color: #333333 !important;
        font-weight: normal !important;
        font-size: 20px !important;
		margin-top:-5px !important;
    }
		  .formHdrs_normal18 {
        color: #333333 !important;
        font-weight: normal !important;
        font-size: 22px !important;
		margin-top:-5px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .FontAwsome_Icon {
        font-size: 100px !important;
        margin-right: 10px !important;
    }
	.FontAwsome_Icon_38a140 {
		 color:#38a140 !important;
        font-size: 45px !important;
       
    }
	.FontAwsome_Icon_38a140_21 {
		 color:#38a140 !important;
        font-size: 21px !important;
       
    }
	.FontAwsome_Icon_fa-cubes {
        font-size: 80px !important;
        margin-right: 10px !important;
    }
		.fa-icon-pricing {
        font-size: 60px !important;
       
    }
		.fa-icon-pricing-cubes {
        font-size: 50px !important;
       
    }
    .dotted_link_fa {
        vertical-align: bottom;
 /*        margin-top: 23px; */
    }
	  
	  .fa-shopping-cart{
	  color: #333333 !important;
        font-weight: normal !important;
        font-size: 33px !important;
	  }
	  .fa-angle-left-active {
        color: #cccccc !important;
        font-weight: normal !important;
        font-size: 35px !important;
    }
	   .fa-angle-left-inactive {
        color: #ebebeb !important;
        font-weight: normal !important;
        font-size: 35px !important;
    }
	     .fa-angle-right-active{
        color: #cccccc !important;
        font-weight: normal !important;
        font-size: 35px !important;
    }
		     .fa-angle-right-inactive{
        color: #ebebeb !important;
        font-weight: normal !important;
        font-size: 35px !important;
    }
	
    .fa-incomplete {
        color: #ff6319 !important;
        font-weight: normal !important;
        font-size: 14px !important;
    }
	 .fa-check-square {
        color: #ff6319 !important;
        font-weight: normal !important;
        font-size: 14px !important;
    }
	.fa-check-green {
        color: #38a140 !important;
        font-weight: normal !important;
        font-size: 26px !important;
    }
    .fa-nwttblClose {
        color: #38a140 !important;
        font-weight: normal !important;
        font-size: 20px !important;
    }
	.fa-configtblClose {
        color: #38a140 !important;
        font-weight: normal !important;
        font-size: 18px !important;
    }
	
	.fa-closeButton {
        color: #38a140 !important;
        font-weight: normal !important;
        font-size: 20px !important;
    }
	.fa-minus-circle
	{
        color: #333333 !important;
        font-weight: normal !important;
        font-size: 21px !important;
    }
	.fa-plus-circle
	{
        color: #333333 !important;
        font-weight: normal !important;
        font-size: 21px !important;
    }
    .fa-complete {
        color: #8cc63f !important;
        font-weight: normal !important;
        font-size: 14px !important;
    }
	.fa-tasks-active{
        color: #ffffff !important;
        font-weight: normal !important;
        font-size: 20px !important;
		background-color:#8CC63f !important;
		width:35px !important;
		height:35px !important;
		background-position:center !important;
		text-align:center; 
		padding:8px;
		margin-right:10px;
		outline:none !important;
		/* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 5px !important;
        /* Firefox 1-3.6 */
        -moz-border-radius: 5px !important;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		border-radius: 5px !important;
    }
		.fa-tasks-inactive{
        color:#ededed  !important;
        font-weight: normal !important;
        font-size: 20px !important;
		background-color:#888888 !important;
		border-radius: 5px !important;
		width:35px !important;
		height:35px !important;
		background-position:center !important;
		text-align:center; 
		padding:8px;
			margin-right:10px;
			outline:none !important;
			cursor:default !important;
		/* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 5px !important;
        /* Firefox 1-3.6 */
        -moz-border-radius: 5px !important;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		border-radius: 5px !important;
    }
	.fa-trash-active{
	color: #ffffff !important;
        font-weight: normal !important;
        font-size: 20px !important;
		background-color:#8CC63F !important;
		width:35px !important;
		height:35px !important;
		background-position:center !important;
		text-align:center; 
		padding:8px;
		outline:none !important;
		/* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 5px !important;
        /* Firefox 1-3.6 */
        -moz-border-radius: 5px !important;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		border-radius: 5px !important;	
	}
	
	.fa-trash-inactive{
	color:#ededed !important;
        font-weight: normal !important;
        font-size: 20px !important;
		background-color:#888888 !important;
		width:35px !important;
		height:35px !important;
		background-position:center !important;
		text-align:center; 
		padding:8px;
		outline:none !important;
		/* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 5px !important;
        /* Firefox 1-3.6 */
        -moz-border-radius: 5px !important;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		border-radius: 5px !important;	
	}
	
	.fa-search-active {
    color: rgb(255, 255, 255) !important;
    font-weight: normal !important;
    font-size: 20px !important;
    background-color: rgb(136, 136, 136) !important;
    width: 50px !important;
    height: 35px !important;
    background-position: center center !important;
    text-align: center;
    padding: 7px;
    outline: medium none !important;
    border-radius: 5px !important;
    margin-top: -5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
    
    .fa-user-plus-active {
    color: rgb(255, 255, 255) !important;
    font-weight: normal !important;
    font-size: 20px !important;
    background-color: #8CC63F !important;
    width: 50px !important;
    height: 35px !important;
    background-position: center center !important;
    text-align: center;
    padding: 7px;
    outline: medium none !important;
    border-radius: 5px !important;
    margin-top: -10px;
    margin-bottom: 5px;
}

	.fa-user-plus-inactive {
    color: rgb(255, 255, 255) !important;
    font-weight: normal !important;
    font-size: 20px !important;
    background-color: #888 !important;
    width: 50px !important;
    height: 35px !important;
    background-position: center center !important;
    text-align: center;
    padding: 7px;
    outline: medium none !important;
    border-radius: 5px !important;
    margin-top: -10px;
    margin-bottom: 5px;
}

}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
.Data-table {
        font-size: 15px !important;
        padding: 0px !important;
        margin:0px 0px 0px 0px !important;
    }
.configurationBtns {
    background-color: #8cc63f !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    height: 50px !important;
    line-height: 13px !important;
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;	
	
	}

.configurationBtns-white{
	background-color: #ffffff !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    height: 50px !important;
    line-height: 13px !important;
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;	
	}

}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
    .table{margin-bottom: 10px !important;}
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        border-top: 0px solid #ddd;
        line-height: 1.42857;
        padding: 5px !important;
        vertical-align: middle;
    }
    .NWTData-table {
        font-size: 12px !important;
        padding: 0px !important;
        white-space: normal !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
ul.credentials.nav-tabs > li > a:hover {
color: #ffffff;
    background-color: #00853E !important;
    border: none !important;
    font-weight: normal !important;
    outline: none !important;
    font-size: 15px !important;
    white-space: normal !important;
	line-height:20px !important;
 border-radius: 4px 4px 4px 4px;
 height: 60px !important;
    margin: 2px !important
   
}
ul.credentials.nav-tabs > li > a {
color: #ffffff;
    background-color: #00853E !important;
    border: none !important;
    font-weight: normal !important;
    outline: none !important;
    font-size: 15px !important;
    white-space: normal !important;
	line-height:20px !important;
    border-radius: 4px 4px 4px 4px;
    height: 60px !important;
      margin: 2px !important
   
}
ul.credentials.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
   background-color: #ffffff !important;
    color: #333333 !important;
    border: none !important;
    font-weight: normal !important;
    outline: none !important;
    font-size: 15px !important;
    white-space: normal !important;
	line-height:20px !important;
 border-radius: 4px 4px 4px 4px; 
    height: 60px !important;
      margin: 2px !important
}
/* Nav pills for landing page AccSummary*/
ul.AccSummary.nav-pills > li > a:hover {
background-color: #8cc63f !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 20px !important;
    font-weight: normal !important;
/*     height: 45px !important;
    line-height: 14px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;
    margin: 2px !important
   
}
ul.AccSummary.nav-pills > li > a {
background-color: #8cc63f	 !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 20px !important;
    font-weight: normal !important;
/*     height: 45px !important;
    line-height: 14px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;	
    margin: 2px !important
   
}
ul.AccSummary.nav-pills > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
   background-color: #ffffff !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 20px !important;
    font-weight: normal !important;
   /*  height: 45px !important;
    line-height: 14px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;	
    margin: 2px !important
}

ul.AccSummary.nav-pills > li {
    display: inline-block;
    float: none;
    margin-bottom: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
ul.AccSummary.nav-pills > li > a:focus{
background-color: #ffffff !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 20px !important;
    font-weight: normal !important;
   /*  height: 45px !important;
    line-height: 14px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;
    margin: 2px !important
   
}
/**/
/*Nav pills*/

ul.ConfButtons.nav-pills > li > a:hover {
background-color: #8cc63f !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 16px !important;
    font-weight: normal !important;
/*     height: 60px !important;
    line-height: 14px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;
    margin: 2px !important
   
}
ul.ConfButtons.nav-pills > li > a {
background-color: #8cc63f	 !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 16px !important;
    font-weight: normal !important;
  /*   height: 60px !important;
    line-height: 14px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;	
    margin: 2px !important
   
}
ul.ConfButtons.nav-pills > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
   background-color: #ffffff !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 16px !important;
    font-weight: normal !important;
/*     height: 60px !important;
    line-height: 14px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;	
    margin: 2px !important
}

/*Nav pills for API Docs*/

ul.APIDocs.nav-pills > li > a:hover {
background-color: #8cc63f !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
/*     height: 45px !important;
    line-height: 13px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;
    margin: 2px !important
   
}



ul.APIDocs.nav-pills > li > a {
background-color: #8cc63f !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
/*     height: 45px !important;
    line-height: 13px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;	
    margin: 2px !important
   
}

ul.APIDocs.nav-pills > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
   background-color: #ffffff !important;
    border: medium none !important;
	color: #333333 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
/*     height: 45px !important;
    line-height: 13px !important; */
    outline: medium none !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: middle !important;
    white-space: normal !important;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px !important;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 5px !important;	
    margin: 2px !important
}
.ProductDetailsData{
 font-size: 16px !important;
    font-weight: normal;
padding:10px;

}
 }

@media only screen and (min-width: 768px) and (max-width: 1440px)  {
.AccordionHdrTxtBold{
color:#333333 !important;
        font-weight: bold !important;
        font-size: 16px !important;
		text-decoration:none !important;
}
.AccordionHdrTxtNormal{
color:#333333 !important;
        font-weight: normal !important;
        font-size: 14px !important;
		text-decoration:none !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
.SuccessTxtBold{
		color:#333333 !important;
        font-weight: bold !important;
        font-size: 12px !important;
		text-decoration:none !important;
		text-align:	center !important; 
}

.circle {
    background: none repeat scroll 0 0 #38a140 !important;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 19px;
    line-height: 15px;
	margin-right: -38px;
    margin-top: -4px;
    text-align: center;
    width: 19px;
}

}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
.TermConditions {color:#333333 !important;
        font-weight: normal !important;
		font-style:italic;
        font-size: 15px !important;
		text-decoration:none !important;}

.TermConditionsNormal {color:#333333 !important;
        font-weight: normal !important;
        font-size: 15px !important;
		text-decoration:none !important;}

.TermConditionsHdr00853f {color:#00853f !important;
        font-weight: bold !important;
        font-size: 15px !important;
		text-decoration:none !important;}			
.TermConditionsLink{
		color:#00853f !important;
        font-weight: normal !important;
		font-style:italic;
        font-size: 15px !important;
		text-decoration:none !important;
		
}		

.SuccessMsgTxt {color:#333333 !important;
        font-weight: bold !important;
        font-size: 12px !important;
		text-decoration:none !important;
		text-align:	center !important; }

.pricingTblTxt {color:#333333 !important;
        font-weight: normal !important;
        font-size: 17px !important;
		text-decoration:none !important;
		text-align:left !important; }
		
.page_link_pricing {
    color: #00853f !important;
    font-weight: bold !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    font-size: 17px !important;
    outline: none !important;
}
a.page_link_pricing:link {
    color: #00853f !important;
    font-weight: bold !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    outline: none !important;
    font-size: 17px !important;
}
a.page_link_pricing:visited {
    color: #00853f !important;
    font-weight: bold !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    outline: none !important;
    font-size: 17px !important;
}
a.page_link_pricing:hover {
    color: #00853f !important;
    font-weight: bold !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    outline: none !important;
    font-size: 17px !important;
}
a.page_link_pricing:active {
    color: #00853f !important;
    font-weight: bold !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    outline: none !important;
    font-size: 17px !important;
}		
.PricingData-table {
        font-size: 20px !important;
        padding: 0px !important;
	    }
	
.page_link_ManageAcc {
    color: #00853f !important;
    font-weight: normal !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    font-size: 13px !important;
    outline: none !important;
}
a.page_link_ManageAcc:link {
    color: #00853f !important;
    font-weight: normal !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    outline: none !important;
    font-size: 13px !important;
}
a.page_link_ManageAcc:visited {
    color: #00853f !important;
    font-weight: normal !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    outline: none !important;
    font-size: 13px !important;
}
a.page_link_ManageAcc:hover {
    color: #00853f !important;
    font-weight: normal !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    outline: none !important;
    font-size: 13px !important;
}
a.page_link_ManageAcc:active {
    color: #00853f !important;
    font-weight: normal !important;
    vertical-align: middle !important;
    text-decoration: none !important;
    cursor: hand !important;
    outline: none !important;
    font-size: 13px !important;
}	
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
/* Up Arrow _left*/
.arrow_box_left {
	position: relative;
	background: #ffffff;
	border: 2px solid #c4c4c4;
	border-radius:8px;
	padding:10px;
}
.arrow_box_left:after, .arrow_box_left:before {
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_left:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box_left:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c4c4c4;
	border-width: 13px;
	margin-left: -13px;
}
/* Up Arrow End*/

/* Up Arrow _middle*/
.arrow_box_middle {
	position: relative;
	background: #ffffff;
	border: 2px solid #c4c4c4;
	border-radius:8px;
	padding:10px;
}
.arrow_box_middle:after, .arrow_box_middle:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_middle:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box_middle:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c4c4c4;
	border-width: 13px;
	margin-left: -13px;
}
/* Up Arrow End*/

/* Up Arrow _right*/
.arrow_box_right {
	position: relative;
	background: #ffffff;
	border: 2px solid #c4c4c4;
	border-radius:8px;
	padding:10px;
}
.arrow_box_right:after, .arrow_box_right:before {
	bottom: 100%;
	right: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_right:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-right: -10px;
}
.arrow_box_right:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c4c4c4;
	border-width: 13px;
	margin-right: -13px;
}
/* Up Arrow End*/
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
/* Up Arrow _left*/
.arrow_left {
	position: relative;
	background: #ffffff;
	border-top: 1px solid #c4c4c4;
	padding-top:10px;
}
.arrow_left:after, .arrow_left:before {
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_left:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_left:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c4c4c4;
	border-width: 13px;
	margin-left: -13px;
}
/* Up Arrow End*/

/* Up Arrow _middle*/
.arrow_middle {
	position: relative;
	background: #ffffff;
	border-top: 1px solid #c4c4c4;
	padding-top:10px;
	
}
.arrow_middle:after, .arrow_middle:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_middle:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_middle:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c4c4c4;
	border-width: 13px;
	margin-left: -13px;
}
/* Up Arrow End*/

/* Up Arrow _right*/
.arrow_right {
	position: relative;
	background: #ffffff;
	border-top: 1px solid #c4c4c4;
	padding-top:10px;
	
}
.arrow_right:after, .arrow_right:before {
	bottom: 100%;
	right: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_right:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-right: -10px;
}
.arrow_right:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c4c4c4;
	border-width: 13px;
	margin-right: -13px;
}
/* Up Arrow End*/
}