<!-- QuickStart LANDING -->
<div class="primary pb10 noBorder">
	<div id="quickStartLanding" class="container-fluid">
		<div ng-show="quickStartMainPage">
			<div class="new-list-view-responsive new-list-view-responsive-sm">
				<div class="new-list-view-header">
					<h3 class="col col-10" ng-bind-html="content.QuickStart.stepLabel"></h3>
					<h3 class="col col-80"
						ng-bind-html="content.QuickStart.DescriptionLabel"></h3>
					<h3 class="col col-10"
						ng-bind-html="content.QuickStart.StatusLabel"></h3>
				</div>
				<ul class="new-list-view">
					<li>
						<div class="list-view-item">
							<div class="col col-10">
								<span class="col-header"
									ng-bind-html="content.QuickStart.stepLabel"></span>{{quickStartData[0].step}}
							</div>
							<div class="col col-80">
								<span class="col-header"
									ng-bind-html="content.QuickStart.DescriptionLabel"></span><strong>{{quickStartData[0].description}}</strong>
								<span
									ng-class="quickStartData[0].status === 'complete' ? 'alert-success' : (quickStartData[0].status === 'error' ? 'alert-danger' : '')">{{quickStartData[0].statusText}}</span>
								<div class="pa10 allBorder">
									<h6 class="mt0 text-warning">
										<strong>Please accept Legal terms to proceed</strong>
									</h6>
									<ng-form class="form-inline" name="LegalTermsForm" novalidate="">
										<div class="form-group">
											<div ng-hide="quickStartDetails.legalAckStatus" class="errLabel">Please accept Legal terms to proceed
											</div>
											<div class="checkbox">
												<label> <input type="checkbox" id="checkbox-1"
													name="checkbox-1" type="checkbox" ng-disabled="isStepComplted(0)"
													ng-model="quickStartDetails.legalAckStatus"
													ng-required="true" />{{content.AddSeat.addSeat.addSeatIAgree}}<a>
														{{content.AddSeat.addSeat.addSeatSuppTerm}}</a>.
												</label>
											</div>
										</div>
									</ng-form>
								</div>
							</div>
							<div class="col col-10">
								<span class="col-header"
									ng-bind-html="content.QuickStart.StatusLabel"></span> <span
									ng-if="quickStartData[0].status === 'complete'"><svg
										class="cyclops-icon md  green">
									<use xlink:href='#icon-check'></svg></span> <span
									ng-if="quickStartData[0].status === 'inProgress'"><svg
										class="cyclops-icon cyclops-spin md  green">
									<use xlink:href='#icon-spinner'></svg></span> <span
									ng-if="quickStartData[0].status === 'notStarted'"><svg
										class="cyclops-icon md">
									<use xlink:href='#icon-minus'></svg></span> <span
									ng-if="quickStartData[0].status === 'error'" tooltips tooltip-side="left" tooltip-template="{{quickStartDetails.failureReason}}"><svg
										class="cyclops-icon md danger">
									<use xlink:href='#icon-times'></svg></span>
									<a href="" ng-click="doQuickSetup()" ng-if="quickStartData[0].status === 'error'" tooltips tooltip-side="left" tooltip-template="retry"><svg
										class="cyclops-icon md green">
									<use xlink:href='#icon-restore'></svg></a>
							</div>
						</div>
					</li>
					<li>
						<div class="list-view-item">
							<div class="col col-10">
								<span class="col-header"
									ng-bind-html="content.QuickStart.stepLabel"></span>{{quickStartData[1].step}}
							</div>
							<div class="col col-80">
								<span class="col-header"
									ng-bind-html="content.QuickStart.DescriptionLabel"></span><strong>{{quickStartData[1].description}}</strong>
								<span
									ng-class="quickStartData[1].status === 'complete' ? 'alert-success' : (quickStartData[1].status === 'error' ? 'alert-danger' : '')">{{quickStartData[1].statusText}}</span>
								<div class="pa10 allBorder">
									<h6 class="mt0 text-warning">
										<strong>Please provide the user name and password or
											use the default</strong>
									</h6>
									<ng-form class="form-inline" name="QuickUserName" novalidate="">
										<div class="form-group">
											<label for="userName"><small>User Name</small></label> <input
												type="text" class="form-control" id="userName" ng-disabled="isStepComplted(1)"
												name="UserName" ng-required="true" ng-maxlength="40" ng-minlength="6"
												ng-model="quickStartDetails.userName"
												ng-pattern="/^[a-zA-Z0-9-_]+$/">
										</div>
										<div class="form-group">
											<div>
												<label for="password"><small>Password</small></label> <span
													tooltips tooltip-side="right"
													tooltip-template="Password must be between 6 and 20 characters long. They must include one lower case character,
														one upper case character, one digit and one special character from @ # $ %. 
														They cannot match the e-mail address.">
													<svg class="cyclops-icon info">
														<use xlink:href='#icon-info-circle'></svg>
												</span> <input type="text" class="form-control" id="password"
													ng-password-strength="quickStartDetails.password"
													strength="quickStartDetails.pswdStrength" ng-disabled="isStepComplted(2)"
													ng-model="quickStartDetails.password" name="qPassword"
													ng-maxlength="20" ng-minlength="6"
													ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[@#$%]).{6,20}$/"
													ng-required="true" />
											</div>
											<div>
												<!-- <p class="password-strength">password strength: 
													<span ng-if="quickStartDetails.pswdStrength <=37" class="strength weak">Weak</span>
													<span ng-if="quickStartDetails.pswdStrength >37 && quickStartDetails.pswdStrength <=60" class="strength good">Good</span>
													<span ng-if="quickStartDetails.pswdStrength >60" class="strength strong">Strong</span>
												</p> -->
											</div>
										</div>

										<div
											ng-show="!QuickUserName.UserName.$error.required && QuickUserName.UserName.$error.pattern"
											class="errLabel">User Name allows alphanumeric, _ and -
											characters only</div>
										<div ng-show="QuickUserName.UserName.$error.required"
											class="errLabel">User Name is required</div>
										<div
											ng-show="!QuickUserName.UserName.$error.required && (QuickUserName.UserName.$error.minlength || QuickUserName.UserName.$error.maxlength)"
											class="errLabel">User Name must be between 6 and 40 characters.
										</div>	
										<div ng-show="QuickUserName.qPassword.$error.required"
											class="errLabel">Password is required</div>
										<div
											ng-show="!QuickUserName.qPassword.$error.required && !QuickUserName.qPassword.$error.maxlength &&
													!QuickUserName.qPassword.$error.minlength && QuickUserName.qPassword.$error.pattern"
											class="errLabel">Password must be between 6 and 20 characters long. They must include one lower case character,
										one upper case character, one digit and one special character from @ # $ %. They cannot match the e-mail address.</div>
										<div
											ng-show="!QuickUserName.qPassword.$error.required && (QuickUserName.qPassword.$error.minlength || QuickUserName.qPassword.$error.maxlength)"
											class="errLabel">Password must be between 6 and 24
											characters.</div>
									</ng-form>
								</div>
							</div>
							<div class="col col-10 pt20">
								<span class="col-header"
									ng-bind-html="content.QuickStart.StatusLabel"></span> <span
									ng-if="quickStartData[1].status === 'complete'"><svg
										class="cyclops-icon md  green">
									<use xlink:href='#icon-check'></svg></span> <span
									ng-if="quickStartData[1].status === 'inProgress'"><svg
										class="cyclops-icon cyclops-spin md  green">
									<use xlink:href='#icon-spinner'></svg></span> <span
									ng-if="quickStartData[1].status === 'notStarted'"><svg
										class="cyclops-icon md">
									<use xlink:href='#icon-minus'></svg></span> <span
									ng-if="quickStartData[1].status === 'error'" tooltips tooltip-side="top" tooltip-template="{{quickStartDetails.failureReason}}"><svg
										class="cyclops-icon md danger">
									<use xlink:href='#icon-times'></svg></span>
									<a href="" ng-click="doQuickSetup()" ng-if="quickStartData[1].status === 'error'" tooltips tooltip-side="left" tooltip-template="retry"><svg
										class="cyclops-icon md green">
									<use xlink:href='#icon-restore'></svg></a>
							</div>
						</div>
					</li>
					<li>
						<div class="list-view-item">
							<div class="col col-10">
								<span class="col-header"
									ng-bind-html="content.QuickStart.stepLabel"></span>{{quickStartData[2].step}}
							</div>
							<div class="col col-80">
								<span class="col-header"
									ng-bind-html="content.QuickStart.DescriptionLabel"></span><strong>{{quickStartData[2].description}}</strong>
								<span
									ng-class="quickStartData[2].status === 'complete' ? 'alert-success' : (quickStartData[2].status === 'error' ? 'alert-danger' : '')">{{quickStartData[2].statusText}}</span>
								<div class="pa10 allBorder">
									<ng-form class="form-inline">
										<div class="form-group">
											<small>User Name</small> <label for="inputEmail"><small>{{quickStartDetails.userName}}</small></label>
										</div>
										<div class="form-group">
											<small>Password</small><label for="inputEmail"><small>{{quickStartDetails.password}}</small></label>
										</div>
									</ng-form>
									<div class="alert alert-info pt0 pb0 mb0" role="alert">										
										<h5><svg class="cyclops-icon info">
												<use xlink:href='#icon-info-circle'></svg>
												Helpful Information!
										</h5>
										<p><small>You will be logged out as administrator and auto logged in as consumer after this step.</small></p>
									</div>
								</div>
							</div>
							<div class="col col-10 pt20">
								<span class="col-header"
									ng-bind-html="content.QuickStart.StatusLabel"></span> <span
									ng-if="quickStartData[2].status === 'complete'"><svg
										class="cyclops-icon md  green">
									<use xlink:href='#icon-check'></svg></span> <span
									ng-if="quickStartData[2].status === 'inProgress'"><svg
										class="cyclops-icon cyclops-spin md  green">
									<use xlink:href='#icon-spinner'></svg></span> <span
									ng-if="quickStartData[2].status === 'notStarted'"><svg
										class="cyclops-icon md">
									<use xlink:href='#icon-minus'></svg></span> <span
									ng-if="quickStartData[2].status === 'error'" tooltips tooltip-side="top" tooltip-template="{{quickStartDetails.failureReason}}"><svg
										class="cyclops-icon md danger">
									<use xlink:href='#icon-times'></svg></span>
									<a href="" ng-click="doQuickSetup()" ng-if="quickStartData[2].status === 'error'" tooltips tooltip-side="left" tooltip-template="retry"><svg
										class="cyclops-icon md green">
									<use xlink:href='#icon-restore'></svg></a>
							</div>
						</div>
					</li>
					<li>
						<div class="list-view-item">
							<div class="col col-10">
								<span class="col-header"
									ng-bind-html="content.QuickStart.stepLabel"></span>{{quickStartData[3].step}}
							</div>
							<div class="col col-80">
								<span class="col-header"
									ng-bind-html="content.QuickStart.DescriptionLabel"></span><strong>{{quickStartData[3].description}}</strong>
								<span
									ng-class="quickStartData[3].status === 'complete' ? 'alert-success' : (quickStartData[3].status === 'error' ? 'alert-danger' : '')">{{quickStartData[3].statusText}}</span>
								<div class="pa10 allBorder">
									<h6 class="mt0 text-warning">
										<strong>Please provide the State/City or Area
											Code/Exchange or use the default</strong>
									</h6>
									<ng-form class="form-inline" name="monikerSearchForm" novalidate="">
										<div ng-show="!monikerSearchCriteriaFound" class="errLabel">Please select either State/City or Area Code/Exchange combination.</div>
										<div class="row">										
											<div class="radio col-md-12">
												<label style="width: 100%"> <input type="radio" 
													name="monikerSearchCriteria" value="stateCity" ng-disabled="isStepComplted(3)"
													ng-change="resetMonikerSearchCriteria()"
													ng-model="selectedMonikerSearchCriteria.selectedOption" /><select
													class="form-control w50" id="state"
													ng-disabled="(isStepComplted(3) || !(selectedMonikerSearchCriteria.selectedOption == 'stateCity'))"
													ng-model="quickStartDetails.srchMnkr.State"
													ng-options="state.code as state.name for state in statesArr"
													ng-change="setMonikerSrchState(quickStartDetails.srchMnkr.State)">
														<option value=''>{{content.Common.stateLabel}}</option>
													</select>&nbsp; <select class="form-control w50" id="city"
													ng-disabled="(isStepComplted(3) || !(selectedMonikerSearchCriteria.selectedOption == 'stateCity'))" 
													ng-model="quickStartDetails.srchMnkr.City"
													ng-options="city.name as city.name for city in citiesArr">
														<option value=''>{{content.Common.cityLabel}}</option>
												</select>
												</label>
											</div>
										</div>
										<div class="row">										
											<div class="radio col-md-12 mt10">
												<label style="width: 100%"> <input type="radio"
													name="monikerSearchCriteria" value="npaNxx" ng-disabled="isStepComplted(3)"
													ng-change="resetMonikerSearchCriteria()"
													ng-model="selectedMonikerSearchCriteria.selectedOption" /><input
													class="form-control w50" type="text" id="npa" name="npa"
													ng-model="quickStartDetails.srchMnkr.NPA" placeholder="Area Code" ng-maxlength="3" ng-minlength="3"
													ng-pattern="/[0-9]+$/" maxlength="3" 
													ng-disabled="(isStepComplted(3) || !(selectedMonikerSearchCriteria.selectedOption == 'npaNxx'))" />&nbsp; <input class="form-control w50" type="text"
													id="nxx" name="nxx" ng-model="quickStartDetails.srchMnkr.NXX" ng-maxlength="3" ng-minlength="3"
													placeholder="Exchange" ng-pattern="/[0-9]+$/" maxlength="3" 
													ng-disabled="(isStepComplted(3) || !(selectedMonikerSearchCriteria.selectedOption == 'npaNxx'))" />
												</label>
												<div><span
													ng-show="SearchTNForm.npa.$error.pattern && SearchTNForm.npa.$dirty" class="errLabel w50">{{content.Common.digitOnlyErrorMessage}}
													</span>
													<span ng-show="(!SearchTNForm.npa.$error.pattern && (SearchTNForm.npa.$error.minlength || SearchTNForm.npa.$error.maxlength))" class="errLabel w50">Area code must be of 3 digits</span>
													<span ng-show="(!SearchTNForm.nxx.$error.pattern && (SearchTNForm.nxx.$error.minlength || SearchTNForm.nxx.$error.maxlength))" class="errLabel w50 pull-right">Exchange must be of 3 digits</span>								
													<span ng-show="SearchTNForm.nxx.$error.pattern && SearchTNForm.nxx.$dirty" class="errLabel w50 pull-right">{{content.Common.digitOnlyErrorMessage}}</span>
												</div>
											</div>
										</div>										
										<div
											ng-show="monikerSearchForm.npa.$error.pattern || monikerSearchForm.nxx.$error.pattern"
											class="errLabel">{{content.Common.digitOnlyErrorMessage}}</div>
										<div
											ng-show="(! monikerSearchForm.npa.$error.pattern && (monikerSearchForm.npa.$error.minlength || monikerSearchForm.npa.$error.maxlength))"
											class="errLabel">Area code must be of 3 digits</div>
										<div
											ng-show="(! monikerSearchForm.nxx.$error.pattern && (monikerSearchForm.nxx.$error.minlength || monikerSearchForm.nxx.$error.maxlength))"
											class="errLabel">Exchange must be of 3 digits</div>
									</ng-form>
								</div>
							</div>
							<div class="col col-10 pt40">
								<span class="col-header"
									ng-bind-html="content.QuickStart.StatusLabel"></span> <span
									ng-if="quickStartData[3].status === 'complete'"><svg
										class="cyclops-icon md  green">
									<use xlink:href='#icon-check'></svg></span> <span
									ng-if="quickStartData[3].status === 'inProgress'"><svg
										class="cyclops-icon cyclops-spin md  green">
									<use xlink:href='#icon-spinner'></svg></span> <span
									ng-if="quickStartData[3].status === 'notStarted'"><svg
										class="cyclops-icon md">
									<use xlink:href='#icon-minus'></svg></span> <span
									ng-if="quickStartData[3].status === 'error'" tooltips tooltip-side="top" tooltip-template="{{quickStartDetails.failureReason}}"><svg
										class="cyclops-icon md danger">
									<use xlink:href='#icon-times'></svg></span>
									<a href="" ng-click="doQuickSetup()" ng-if="quickStartData[3].status === 'error'" tooltips tooltip-side="left" tooltip-template="retry"><svg
										class="cyclops-icon md green">
									<use xlink:href='#icon-restore'></svg></a>
							</div>
						</div>
					</li>
					<li>
						<div class="list-view-item">
							<div class="col col-10">
								<span class="col-header"
									ng-bind-html="content.QuickStart.stepLabel"></span>{{quickStartData[4].step}}
							</div>
							<div class="col col-80">
								<span class="col-header"
									ng-bind-html="content.QuickStart.DescriptionLabel"></span><strong>{{quickStartData[4].description}}</strong>
								<span
									ng-class="quickStartData[4].status === 'complete' ? 'alert-success' : (quickStartData[4].status === 'error' ? 'alert-danger' : '')">{{quickStartData[4].statusText}}</span>
							</div>
							<div class="col col-10">
								<span class="col-header"
									ng-bind-html="content.QuickStart.StatusLabel"></span> <span
									ng-if="quickStartData[4].status === 'complete'"><svg
										class="cyclops-icon md  green">
									<use xlink:href='#icon-check'></svg></span> <span
									ng-if="quickStartData[4].status === 'inProgress'"><svg
										class="cyclops-icon cyclops-spin md  green">
									<use xlink:href='#icon-spinner'></svg></span> <span
									ng-if="quickStartData[4].status === 'notStarted'"><svg
										class="cyclops-icon md">
									<use xlink:href='#icon-minus'></svg></span> <span
									ng-if="quickStartData[4].status === 'error'" tooltips tooltip-side="top" tooltip-template="{{quickStartDetails.failureReason}}"><svg
										class="cyclops-icon md danger">
									<use xlink:href='#icon-times'></svg></span>
									<a href="" ng-click="doQuickSetup()" ng-if="quickStartData[4].status === 'error'" tooltips tooltip-side="left" tooltip-template="retry"><svg
										class="cyclops-icon md green">
									<use xlink:href='#icon-restore'></svg></a>
							</div>
						</div>
					</li>
					<li>
						<div class="list-view-item">
							<div class="col col-10">
								<span class="col-header"
									ng-bind-html="content.QuickStart.stepLabel"></span>{{quickStartData[5].step}}
							</div>
							<div class="col col-80">
								<span class="col-header"
									ng-bind-html="content.QuickStart.DescriptionLabel"></span><strong>{{quickStartData[5].description}}</strong>
								<span
									ng-class="quickStartData[5].status === 'complete' ? 'alert-success' : (quickStartData[5].status === 'error' ? 'alert-danger' : '')">{{quickStartData[5].statusText}}</span>
							</div>
							<div class="col col-10">
								<span class="col-header"
									ng-bind-html="content.QuickStart.StatusLabel"></span> <span
									ng-if="quickStartData[5].status === 'complete'"><svg
										class="cyclops-icon md  green">
									<use xlink:href='#icon-check'></svg></span> <span
									ng-if="quickStartData[5].status === 'inProgress'"><svg
										class="cyclops-icon cyclops-spin md  green">
									<use xlink:href='#icon-spinner'></svg></span> <span
									ng-if="quickStartData[5].status === 'notStarted'"><svg
										class="cyclops-icon md">
									<use xlink:href='#icon-minus'></svg></span> <span
									ng-if="quickStartData[5].status === 'error'" tooltips tooltip-side="top" tooltip-template="{{quickStartDetails.failureReason}}"><svg
										class="cyclops-icon md danger">
									<use xlink:href='#icon-times'></svg></span>
									<a href="" ng-click="doQuickSetup()"  ng-if="quickStartData[5].status === 'error'" tooltips tooltip-side="left" tooltip-template="retry"><svg
										class="cyclops-icon md green">
									<use xlink:href='#icon-restore'></svg></a>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="pt20 pr10">
				<button ng-click="doQuickSetup()" class="btn btn-primary pull-right"
					ng-show="!isNetworkUser">{{isRetry() ? 'Click to Retry' : 'Click to Start'}}</button>
			</div>
		</div>
	</div>
	<div id="confirmationModalContent" class="pa10"
		ng-show="confirmationModalContent">
		<h3>Congratulations</h3>
		<p>Your product has been successfully subscribed and configured.</p>

		<div class="new-list-view-responsive new-list-view-responsive-sm">
			<div class="new-list-view-header">
				<h3 class="col col-30">Seat ID</h3>
				<h3 class="col col-20">Phone Number</h3>
				<h3 class="col col-25">Username</h3>
				<h3 class="col col-25">Password</h3>
			</div>
			<ul class="new-list-view">
				<li>
					<div class="list-view-item">
						<div class="col col-30">
							<span class="col-header">First Name</span>{{SeatID}}
						</div>
						<div class="col col-20">
							<span class="col-header">Phone Number</span>{{phoneNumber}}
						</div>
						<div class="col col-25">
							<span class="col-header">Last Name</span>{{quickStartDetails.userName}}
						</div>
						<div class="col col-25">
							<span class="col-header">Username</span>{{quickStartDetails.password}}
						</div>
					</div>
				</li>
			</ul>
		</div>
		<br />
		<p><small><i>Please note user and seat details for future use. Please click on continue if you would like to send SMS from the configured seat.</i></small></p>

		<div>
			<a class="btn btn-primary" type="button"
				href="#/productSendMessage/{{SeatID}}">Continue</a>
			<button class="btn btn-default" type="button"
				ng-click="closeRedirectSection()">Cancel</button>
		</div>
	</div>
</div>

