
<!--------------------------------------------------------------- Usage Statistics Section------------------------------------------------------ -->
<div class="primary clearfix pa10" id="UsageAtataticsLanding" ng-show="useSplunk">
   <page-event page-id="UsageStat-View" ></page-event>	
	<div  id="displayError" style="color: red"></div>	
	<div class="container pull-left pa0" >					
		<div ng-hide="ShowNetworkIDGraphs">
		<button id="" class="btn btn-link pull-left"
			ng-click="toggleDisplayGraph()" ng-show="!isNetworkUser">
			{{content.Usage_Statistics.goToDashBoardsLabel}} 
		</button>
		</div>
		<button id="buyProductsClose" class="btn btn-link pull-left"
						ng-click="toggleDisplayGraph()" ng-show="ShowNetworkIDGraphs && !isNetworkUser">
						{{content.Usage_Statistics.generateCustomReportsLabel}}
					</button>
	</div>
	<br/>
	<div class="clearfix pa10">
		<!--Usage Statictics Components-->		
		<form name="usageStatisticsForm" novalidate ng-hide="ShowNetworkIDGraphs && !isNetworkUser">			
			<div class="form-group">
				<div class="col-md-6 pl0 pb10">
					<label>{{content.Common.fromPhoneNumberLabel}}  {{content.Common.optionalTextLabel}}</label> <input type="text" id="fromPhoneNumber"
						name="fromPhoneNumber" class="form-control" placeholder="From Phone Number"
						ng-model="usageStatistics.fromPhoneNumber" ng-maxlength=20>
					<span
						ng-show="usageStatisticsForm.fromPhoneNumber.$error.maxlength">{{content.Common.characterRestriction20Error}}</span>
				</div>
				<div class="col-md-6 pl0 pb10">
					<label>{{content.Common.ToPhoneNumberLabel}} {{content.Common.optionalTextLabel}}</label> <input type="text" id="toPhoneNumber"
						name="toPhoneNumber" class="form-control" placeholder="To Phone Number"
						ng-model="usageStatistics.toPhoneNumber" ng-maxlength=20>
					<span ng-show="usageStatisticsForm.toPhoneNumber.$error.maxlength">{{content.Common.characterRestriction20Error}}</span>
				</div>
			</div>
		 
			<div class="form-group" >
			<div class="col-md-6 pl0 pb10" ng-show={{showDropDownNetworkId}}>
						<label>{{content.Common.groupNameLabel}}  {{content.Common.optionalTextLabel}}</label> <select id="networkID"
							ng-model="usageStatistics.networkID"
							ng-options="network as network.networkId for network in networkIds"
							ng-change=""
							class="form-control" ng-required="true">
							<option value="" disabled selected style="display: none;">{{content.Usage_Statistics.groupNameLabel}}</option>
						</select>
				</div>		
				
				<div class="col-md-6 pl0 pb10">
					<label>{{content.Usage_Statistics.reportByLabel}} {{content.Common.optionalTextLabel}}</label> <select id="SelectReportBy"
						class="form-control"
						ng-options="type.name for type in ReportByData"
						ng-model="ReportBy">
						<option value="" disabled selected style="display: none;">{{content.Usage_Statistics.dayLabel}}</option>
					</select>
				</div>
				
			</div>			
			<div class="form-group">
						<div class="col-md-6 pl0 pb10">
							<label for="">{{content.Common.durationLabel}} {{content.Common.optionalTextLabel}}</label> 
							<table width="100%">
							<tr>
							<td>
							<input calendar
								placeholder="Start Date" id="usageStatsStartDate" name="usageStatsStartDate"
							class="form-control dtpickerTxtBox" ng-model="usageStatistics.startDate" ng-change="onDateSelection(); startDateChange()"/>
								<span class="input-group-addon add-on"><span
								class="fa fa-calendar"></span></span>	
							</td>
							<td>&nbsp;</td>													
							<td>							
							<input calendar placeholder="End Date" id="datePicker1" name="usageStatsEndDate"
							class="form-control dtpickerTxtBox" compare-date="usageStatsStartDate"
							ng-model="usageStatistics.endDate" ng-change="onDateSelection()" />
								<span class="input-group-addon add-on"><span
								class="fa fa-calendar"></span></span>
								<span ng-show="usageStatisticsForm.usageStatsEndDate.$error.compareDate">{{content.Common.endDateStartDateErrorMessage}} </span>
							</td>
							</tr>
							</table>
						</div>
						<span ng-model="ShowDateError"></span>
					</div>
			
		
			<div class="form-group">
				<div class="col-lg-12 col-md-6 col-sm-6 pa10">
					<button id="showStatisticsBtn" api-event="UsageStat-Submit" ng-click=" showStatistics()"
						class="btn btn-primary btn-lg" href="">{{content.Usage_Statistics.showStatisticsLabel}}</button>
				</div>
			</div>
		</form>

		<!--Graph Section-->
		<div id="statisticsSection">
			<div class="clearfix "></div>			
			<!-- <div class="row pa0">
				<div class="pull-left" ng-show="ShowNetworkIDGraphs">					
					<button id="buyProductsClose" class="btn btn-link pull-left"
						ng-click="toggleDisplayGraph()">
						Go To Custom Graph Generation
					</button>
				</div>				
			</div> -->
			
			<!-- <div class="" >
				<div class="col col-100 pa0 ml20 mb30">
					<div class="mb20">
						<h4>Your Connected Communications Billing Summary</h4>
					</div>
					<div class="row billing-summary" ng-repeat="networkId in networkIds | startFrom:(mainPage.pagination.currentPage-1)*mainPage.pagination.itemPerPage | limitTo:mainPage.pagination.itemPerPage">
						<div class="col-sm-4 col-xs-8">
				          <div class="heading">Group Name</div>
				          <div class="currency">{{networkId.name}}</div>
				        </div>
				        <div class="col-sm-4 col-xs-8">
				          <div class="heading">MONTH ESTIMATE</div>
				          <div ng-show="networkId.monthEstimates != 'Error' " class="currency">{{networkId.monthEstimates | currency}}</div>
				          <div ng-show="networkId.monthEstimates === 'Error' " class="currency">&mdash;</div>
				          <div ng-hide="networkId.monthEstimates" class="currency">&hellip;</div>
				        </div>
				        <div class="col-sm-4 col-xs-8">
				          <div class="heading">CURRENT HOUR</div> 
				          <div ng-show="networkId.currentHrsEstimates != 'Error' " class="currency">{{networkId.currentHrsEstimates | currency}}</div>
				          <div ng-show="networkId.currentHrsEstimates === 'Error' " class="currency">&mdash;</div>
				          <div ng-hide="networkId.currentHrsEstimates" class="currency">&hellip;</div>
				        </div>
				        <div class="col-sm-3 col-xs-6">
				          <div class="heading">ONE TIME CHARGES</div>
				          <div ng-show="networkId.oneTimeCharges != 'Error' " class="currency">{{networkId.oneTimeCharges | currency}}</div>
				          <div ng-show="networkId.oneTimeCharges === 'Error' " class="currency">&mdash;</div>
				          <div ng-hide="networkId.oneTimeCharges" class="currency">&hellip;</div>
				        </div>
				    </div>				
				</div>
			</div> -->
			
			
			<div class="clearfix pa10" id="courierSectionDetails">
				<div class="pull-left">
					<p class="lead">{{content.Common.Products[0].Product.Value}} : {{content.Usage_Statistics.usageByGroupLabel}}</p>
				</div>
				<div class="pull-right">
					<select id="SelectChartType" class="form-control"
						ng-options="type as type.name for type in ChartType "
						ng-model="charttype" ng-change="update()" ng-hide="ShowNetworkIDGraphs">
						<option value="" disabled selected style="display: none;">{{content.Usage_Statistics.selectChartTypeLabel}}</option>
					</select>
				</div>
			</div>

			<div id="modal" class="loader-wait" style="display: none">
				<div class="spinner-background">
					<i class="spinner"></i>
				</div>
				<div class="ajax-loader"></div>
				<!--   <img  id="loader" src="images/spinner.png" /> -->
			</div>

			<div class="row" ng-show="ShowNetworkIDGraphs">				
					<div class="card-deck-wrapper ma0"  ng-show="!isNetworkUser">
	  					<div class="card-deck">
						<div class="card ml10 mr10" ng-repeat="networkId in networkIds | startFrom:(mainPage.pagination.currentPage-1)*mainPage.pagination.itemPerPage | limitTo:mainPage.pagination.itemPerPage">
							<div class="card-block">
								<div class="content-header">
						    		<h3 class="ma0 cardmaxlength"><small>{{networkId.networkId}}</small></h3>
					    		</div>
					    	<!-- 	div to show billing details  -->
								<div class="row billing-summary">
									<div class="col-sm-6 col-xs-8">
										<div class="heading">{{content.Common.monthEstimateLabel}}</div>
										<div ng-show="networkId.monthEstimates != 'Error' "
											class="onbuiCurrency">{{networkId.monthEstimatesDisplayHTMLTotal|
											currency}}</div>
										<div ng-show="networkId.monthEstimatesDisplayHTMLTotal === 'Error' "
											class="onbuiCurrency">&mdash;</div>
										<div ng-hide="networkId.monthEstimatesDisplayHTMLTotal" class="currency">&hellip;</div>
									</div>
									<div class="col-sm-6 col-xs-8">
										<div class="heading">{{content.Common.currentHourEstimateLabel}}</div>
										<div ng-show="networkId.currentHrsEstimates != 'Error' "
											class="onbuiCurrency">{{networkId.currentHrsEstimates |
											currency}}</div>
										<div ng-show="networkId.currentHrsEstimates === 'Error' "
											class="onbuiCurrency">&mdash;</div>
										<div ng-hide="networkId.currentHrsEstimates" class="currency">&hellip;</div>
									</div>
								
								
									<div class="col-sm-6 col-xs-8">
										<div class="heading">{{content.Common.oneTimeChargeLabel}}</div>
										<div class="onbuiCurrency">{{ networkId.oneTimeCharges|
											currency}}</div>
										<div ng-show="networkId.oneTimeCharges === 'Error' "
											class="currency">&mdash;</div>
										<div ng-hide="networkId.oneTimeCharges" class="currency">&hellip;</div>
									</div>
									<!-- 			        <div class="col-sm-3 col-xs-6">
			          				<div class="heading">MONTH TO DATE</div>
			         				 <div class="currency">$9,927.65</div>
			        				</div> -->
								
							</div>

								<!-- <h4> Network Id:<span  ng-show="showDropDownNetworkId">{{networkId.name}}</span> <span ng-hide="showDropDownNetworkId">{{networkIds}}</span></h4> -->
								<div id="displayChart{{$index}}"></div>
								<div ng-if="errorDiv[$index] === 'Error'" class="error-list-view-items"> 
									<svg class="cyclops-icon md danger"><use xlink:href="#icon-exclamation-circle"></svg>
									 {{content.Common.noDataFoundError}}
								</div>
							</div>	
							</div>
						</div>
						</div>
					</div>
					<nav ng-show="!isNetworkUser && ShowNetworkIDGraphs">
					  	<ul  class="pagination ml20">
					    <li ng-class="{'disabled': mainPage.pagination.startPage  <3}">
					      <a a-disabled="mainPage.pagination.startPage <= 3" href="" aria-label="Previous" 
					      ng-click="clickPrevious()">
					        <span aria-hidden="true">&laquo;</span>
					        <span class="sr-only">{{content.Common.previousArrowLable}}</span>
					      </a>
					    </li>
					    <li ng-repeat="pageNo in [] | range:mainPage.pagination.startPage:mainPage.pagination.startPage+2: networkIds.length : mainPage.pagination.itemPerPage" 
					    	ng-class="{'active':mainPage.pagination.currentPage === pageNo}">
					    	<a href="" ng-click="mainPage.pagination.currentPage = pageNo; generateDashBoardGraphs()">{{pageNo}}</a>
					    </li>
					    <li ng-class="{'disabled': (mainPage.pagination.startPage+3 > networkIds.length/mainPage.pagination.itemPerPage + 1)}">
					      <a a-disabled="mainPage.pagination.startPage+3 > networkIds.length/mainPage.pagination.itemPerPage + 1" href="" 
					      aria-label="Next" ng-click="clickNext()">
					        <span aria-hidden="true">&raquo;</span>
					        <span class="sr-only">{{content.Common.nextArrowLabel}}</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

			</div>
		
			<div id="displayChart" ng-hide="ShowNetworkIDGraphs && !isNetworkUser"></div>
		</div>
		
	
		

	
