
<nav-main-menu></nav-main-menu>
<!--------------------------------------------------------------- Test Courier Service Section------------------------------------------------------ -->    
<div class="clearfix pa10" id="UsageAtataticsLanding" >
   <div class="clearfix" id="ProductsTabHdrs">
      <label class="ProductsHdrs pull-left">Usage Statistics</label>
   </div>
   <div class="PopularProducts_cointainer">
      <!--Usage Statictics Components-->
      <div class="container form-group  clearfix mt10">
         <div id="UsageStatistics" class="UserStatisticsFormGrp">


             <div class="row " >
                 <div  class="column49 mr5 pull-left">

                     <dropdown-multi-select model="outputProducts" options="products" header="Select Product"  ></dropdown-multi-select>
                     <div ng-class="{'selectedList': outputProducts.length != 0}">
                         <div class="clearfix "  ng-repeat=" op in outputProducts">
                             <span class="clearfix pull-left ml5 mr5">{{op}}</span>
                         </div>
                     </div>
                 </div>

                 <div class="column49  pull-right">
                     <dropdown-multi-select model="outputInstances" options="instances" header="Select Instance" ></dropdown-multi-select>
                     <div ng-class="{'selectedList': outputInstances.length != 0}">
                         <div  class="clearfix " ng-repeat=" ins in outputInstances">
                             <span class="clearfix pull-left ml5 mr5">{{ins}}</span>
                         </div>
                    </div>
                 </div>

             </div>





             <div class="row mt20">
                 <div class="column49 mr5 pull-left">
                     <dropdown-multi-select model="outputMonikers" options="moniker" header="Select Moniker" ></dropdown-multi-select>
                     <div ng-class="{'selectedList': outputMonikers.length != 0}">
                         <div  class="clearfix " ng-repeat=" om in outputMonikers">
                             <span class="clearfix pull-left ml5 mr5">{{om}}</span>
                         </div>
                     </div>
                 </div>

                 <div class="column49  pull-right">
                     <dropdown-multi-select model="outputServices" options="service" header="Select Service" ></dropdown-multi-select>
                     <div ng-class="{'selectedList': outputServices.length != 0}">
                         <div class="clearfix " ng-repeat=" os in outputServices">
                             <span class="clearfix column99 pull-left ml5 mr5">{{os}}</span>
                         </div>
                     </div>
                 </div>

             </div>
             <div class="row mt20">
                 <div class="column49 mr5 pull-left">
                     <dropdown-multi-select model="outputNetworkId" options="networkId" header="Select NetworkID" ></dropdown-multi-select>
                     <div ng-class="{'selectedList': outputNetworkId.length != 0}">
                         <div  class="clearfix " ng-repeat=" oni in outputNetworkId">
                             <span class="clearfix pull-left ml5 mr5">{{oni}}</span>
                         </div>
                     </div>
                 </div>


             </div>
             <!--<div class="row">
                 <div class="col-md-6 col-lg-6 col-sm-6">
                     <select id="SelectProduct" multiple="multiple" class="form-control column48 pull-left pa0 mr10">

                         <option value="" disabled selected>Select Product</option>
                         <option value="1">Courier</option>
                         <option value="2">Product 2</option>
                         <option value="3">Product 3</option>
                     </select>
                 </div>

                 <div class="col-md-6 col-lg-6 col-sm-6">
                     <select id="SelectInstance" multiple="multiple" class="form-control column48 pull-right pa0">

                         <option value="" disabled selected>Select Instance</option>
                         <option value="1">Instance 1</option>
                         <option value="2">Instance 2</option>
                         <option value="3">Instance 3</option>
                         <option value="4">Instance 4</option>
                         <option value="5">Instance 5</option>
                     </select>
                 </div>

             </div>
             <div class="row clearfix mt20">
                 <div class="col-md-6 col-lg-6 col-sm-6">
                     <select id="SelectMoniker" multiple="multiple" class="form-control column48 pull-left pa0 mr10">

                         <option value="" disabled selected>Select Moniker</option>
                         <option value="1">989-898-1234</option>
                         <option value="2">989-898-1111</option>
                         <option value="3">989-898-0000</option>
                         <option value="4">989-999-1234</option>
                         <option value="5">989-898-1010</option>
                     </select>
                 </div>

                 <div class="col-md-6 col-lg-6 col-sm-6">
                     <select id="SelectService" multiple="multiple" class="form-control column48 pull-right pa0">

                         <option value="" disabled selected>Select Service</option>
                         <option value="1">SMS</option>
                         <option value="2">MMS</option>
                         <option value="3">Video Calling</option>
                     </select>
                 </div>

             </div>
             <div class="row clearfix mt20">
                 <div class="col-md-6 col-lg-6 col-sm-6">
                     <select id="SelectNetworkID" multiple="multiple" class="form-control column48 pull-left pa0 mr10">

                         <option value="" disabled selected>Select Network ID</option>
                         <option value="1">SG00989</option>
                         <option value="2">CD00933</option>
                         <option value="3">SD00911</option>
                         <option value="4">VG00229</option>
                         <option value="5">BN00111</option>
                     </select>
                 </div>


             </div>-->
             <div class="row clearfix mt20">
                 <div class="col-md-6 col-lg-6 col-sm-6">
                     <div class="pull-left column47 mr10">
                         <label class="formHdrs_bold">* Duration</label>
                         <select id="SelectNetworkID" class="form-control  clearfix ">

                             <option value="">Days</option>
                             <option value="1">1</option>
                             <option value="2">2</option>
                             <option value="3">3</option>
                             <option value="4">4</option>
                             <option value="5">5</option>
                             <option value="6">10</option>
                         </select>
                     </div>

                     <div class="pull-left column47">
                         <label>&nbsp;</label>
                         <select id="SelectNetworkID" class="form-control  clearfix ">

                             <option value="">Hours</option>
                             <option value="1">01</option>
                             <option value="2">02</option>
                             <option value="3">03</option>
                             <option value="4">04</option>
                             <option value="5">5</option>
                             <option value="6">10</option>
                             <option value="7">24</option>
                         </select>
                     </div>



                 </div>


             </div>

		<div class="row clearfix mt20 ">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="pull-left column47 mr10">
                <label class="formHdrs_bold">* Report by</label>
                   <select id="SelectNetworkID" class="form-control clearfix ">

                             <option value="">Select</option>
                             <option value="1">Hours</option>
                             <option value="2">Days</option>

                </select>
                </div>
            </div>
        </div>


         </div>
      </div>
      <!--Usage Statictics Components End-->

      <div id="" class="clearfix pa10" >
         <div class="clearfix mb10">
            <div class="col-md-4 centered">
               <a  id="showStatisticsBtn" onclick="showStatistics()"  class="btn general_btns_green " href="">Show Statistics</a>
            </div>
         </div>
      </div>
	  <!--Graph Section-->
	  <div id="statisticsSection">
	  <div class=" clearfix col-sm-12 col-md-12 col-lg-12 mb20 " >
            <hr/>
         </div>
		 
      <div class="clearfix pa10" id="courierSectionDetails">
         <div class="pull-left">
            <label class="formHdrs_bold">SMS Statistics</label>
         </div>
         <div class="pull-right">
           <select id="SelectNetworkID" class="form-control clearfix ">
      				 
					 <option value="">Select</option>
					 <option value="1">Pie</option>
                     <option value="2">Line</option>
					 <option value="3">Column</option>
                     <option value="4">Area</option>
					 <option value="5">Bar</option>
                     					 
        </select>
         </div>
      </div>
	  
	  <div class="clearfix mt100 mb100 centered">PlaceHolder for Graph</div>
	  </div>
   <!--Graph Section-->
	  
   </div>
   
</div>
<div class="wait"></div>