<div class="container-fluid pl0 ml0">
	
	<div ng-if="!isUserAuthenticated" ng-include="'partials/global/commonHeader.html'"></div>
	<div ng-show="page === 'mainPage'">
		<div class="row">
			<div class="col-md-12">
				<div ng-hide="backLink" class="pa0 mr0">
					<button class="btn btn-link pull-left"
						ng-click="go('products')">Go to Products</button>
				</div>
			</div>
		</div>
		<div id="CourierDocSection">
			<div class="row">
				<div class="col-md-12">
					<h3>{{content.API_Docs.introduction}}</h3>
				</div>
			</div>
		</div>
		<div class="noBorder pa0">
			<div class="row">				
				<div class="col-sm-4">
					<div class="card card-block">
						<h3 class="card-title">
							<svg class="cyclops-icon md">
						<use xlink:href='#icon-api'></svg>
							{{content.API_Docs.apiQuickStart}}
						</h3>
						<p class="card-text">{{content.API_Docs.apiQuickStartDescription}}</p>
						<button class="btn btn-link"
							ng-click="setPage('restAPIDocs','')">{{content.API_Docs.apiQuickStartButton}}</button>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card card-block">
						<h3 class="card-title">
							<svg class="cyclops-icon md">
						<use xlink:href='#icon-script'></svg>
							{{content.API_Docs.sdkQuickStart}}
						</h3>
						<p class="card-text">{{content.API_Docs.sdkQuickStartDescription}}</p>
						<button class="btn btn-link" disabled>{{content.API_Docs.comingSoon}}</button>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card card-block">
						<h3 class="card-title">
							<svg class="cyclops-icon md">
						<use xlink:href='#icon-list'></svg>
							{{content.API_Docs.faq}}
						</h3>
							<p class="card-text">{{content.API_Docs.faqDescription}}</p>
							<button class="btn btn-link" ng-click="setPage('faq','')">{{content.API_Docs.faqButton}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-if="page === 'restAPIDocs'" ng-include="'partials/apiDocs/restAPIDocs.html'"></div>
	<div ng-if="page === 'sdkAPIDocs'" ng-include="'partials/apiDocs/sdkAPIDocs.html'"></div>
	<div ng-if="page === 'oauthAPIDocs'" ng-include="'partials/apiDocs/OauthAPIDocs.html'"></div>
	<div ng-if="page === 'faq'" ng-include="'partials/login/faq.html'"></div>
</div>