<link rel="stylesheet" href="/partials/apiDocs/ctlOauthMain.css">
<script>
    $('a[href*="#operation-"],a[href*="#tag-"],a[href*="#sw-"],a[href*="definitions"]').on("click", function (e) {
        e.preventDefault();
    });
</script>
<div class="container" ng-show="showAPIDocsSection">
    <h1>CenturyLink OAuth2 API</h1>
    <p><p>The Authentication service is used to gain an access_token and a refresh token by user login credentials or gain a new access_token and a new refresh_token by an older non-expired refresh_token. The access_token expires in 2 hours while the refresh_token expires in 2 days. The refresh_token is solely for the purpose to get new access_token and refresh_token. However, the access_token has permissions attached for accessing relevant resources.<br><br> The User Credential service is used to manage user accounts in CTL.IO platform. In order to be able to manage user accounts, the request initiator needs to have permissions to do so. The permissions is included as part of request owner&#39;s access token. Request owner uses the Authentication service to acquire the access_token and refresh_token.</p>
    </p>
    
        <div id="sw-default-consumes" class="sw-default-value">
            <span class="sw-default-value-header">Default request content-types:</span>
            application/json
        </div>
        <div id="sw-default-produces" class="sw-default-value">
            <span class="sw-default-value-header">Default response content-types:</span>
            application/json
        </div>
    
    <div id="sw-schemes" class="sw-default-value">
        <span class="sw-default-value-header">Schemes:</span>
        https
    </div>
    
        
        <h2 id="swagger--summary-tags">Summary</h2>
            <h3 id="tag-Authentication" class="swagger-summary-tag">Tag: Authentication</h3>
            <p>Grant Permissions by Credentials or Refresh Token</p>
        
            <table class="table table-bordered table-condensed swagger--summary">
                <thead>
                <tr>
                    <th>Operation</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#operation--token-post">POST /token</a></td>
                        <td><p>Authenticate User by Login Credentials</p>
        </td>
                    </tr>
                </tbody>
            </table>
            <h3 id="tag-Users" class="swagger-summary-tag">Tag: Users</h3>
            <p>Manage User Credentials</p>
        
            <table class="table table-bordered table-condensed swagger--summary">
                <thead>
                <tr>
                    <th>Operation</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#operation--userCredentials--userName--get">GET /userCredentials/{userName}</a></td>
                        <td><p>Get User By UserName</p>
        </td>
                    </tr>
                    <tr>
                        <td><a href="#operation--userCredentials--userName--put">PUT /userCredentials/{userName}</a></td>
                        <td><p>Update a User By UserName</p>
        </td>
                    </tr>
                    <tr>
                        <td><a href="#operation--userCredentials--userName--delete">DELETE /userCredentials/{userName}</a></td>
                        <td><p>Delete a User By UserName</p>
        </td>
                    </tr>
                    <tr>
                        <td><a href="#operation--userCredentials-post">POST /userCredentials</a></td>
                        <td><p>Create a New User</p>
        </td>
                    </tr>
                </tbody>
            </table>
        
    
    
    
    <h2>Paths</h2>
    
        
        <span id="path--token"></span>
            <div id="operation--token-post" class="swagger--panel-operation-post panel">
                <div class="panel-heading">
                    <div class="operation-summary">Authenticate User by Login Credentials</div>
                    <h3 class="panel-title"><span class="operation-name">POST</span> <strong>/token</strong></h3>
                        Tags:
                            <a href="#tag-Authentication">Authentication</a>
                </div>
                <div class="panel-body">
                    <section class="sw-operation-description">
                        <p>Based on user login credentials (username and password), the server will authenticate and return access_token and refresh_token if the login credentials is valid</p>
            
                    </section>
                        
                            <section class="sw-request-body">
                                
                                    <p><span class="label label-default">application/x-www-form-urlencoded</span> 
                        </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p><p>Two cases with content in URL encoded format (optional withJWT=true for JWT token in response): <ul><li>User credentials: login credentials (username and password) and grant type (grant_type=password)</li><li>Refresh token: old non-expired refresh token (refresh_token) and grant type (grant_type=refresh_token)</li></ul></p>
                        </p>
                                            </div>
                                            <div class="col-md-6 sw-request-model">
                        </div>
                                        </div>
                            </section>        
                    
                        <section class="sw-responses">
                                <p><a href="#sw-default-produces">Uses default content-types: </a>
                                    <span class="label label-default">application/json</span> 
                                </p>
                            
                            <dl>
                                    <dt class="sw-response-200">
                                        200 OK
                                    
                                    </dt>
                                    <dd class="sw-response-200">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>User Data.</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/MyGrant">MyGrant</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-400">
                                        400 Bad Request
                                    
                                    </dt>
                                    <dd class="sw-response-400">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Bad Request</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-500">
                                        500 Internal Server Error
                                    
                                    </dt>
                                    <dd class="sw-response-500">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Internal Server Error</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                            </dl>
                        </section>
                </div>
            </div>    
        <span id="path--userCredentials"></span>
            <div id="operation--userCredentials-post" class="swagger--panel-operation-post panel">
                <div class="panel-heading">
                    <div class="operation-summary">Create a New User</div>
                    <h3 class="panel-title"><span class="operation-name">POST</span> <strong>/userCredentials</strong></h3>
                        Tags:
                            <a href="#tag-Users">Users</a>
                </div>
                <div class="panel-body">
                    <section class="sw-operation-description">
                        <p>Create a user with username, password and user type.</p>
            
                    </section>
                        
                            <section class="sw-request-body">
                                
                                    <p><a href="#sw-default-consumes">Uses default content-types: </a>
                                    <span class="label label-default">application/json</span> 
                                    </p>
                                                <div class="row">
                                            <div class="col-md-6">
                                                <p><p>Username, password, and user type information.</p>
                        </p>
                                            </div>
                                            <div class="col-md-6 sw-request-model">
                            <div  class="panel panel-definition">
                                <div class="panel-body">
                                            <a class="json-schema-ref" href="#/definitions/CreateUser">CreateUser</a>
                                </div>
                            </div></div>
                                        </div>
                            </section>        
                        <section class="sw-request-params">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="sw-param-name"></th>
                                    <th class="sw-param-description"></th>
                                    <th class="sw-param-type"></th>
                                    <th class="sw-param-data-type"></th>
                                    <th class="sw-param-annotation"></th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>
                                                access_token
                                            <td><p>Access token from authentication.</p>
                                        </td>
                                            <td>query</td>
                                            <td><span class="json-property-type">string</span>
                                        <span class="json-property-range" title="Value limits"></span>
                                        
                                            </td>
                                            <td>
                                                    <span class="json-property-required"></span>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </section>
                    
                        <section class="sw-responses">
                                <p><a href="#sw-default-produces">Uses default content-types: </a>
                                    <span class="label label-default">application/json</span> 
                                </p>
                            
                            <dl>
                                    <dt class="sw-response-200">
                                        200 OK
                                    
                                    </dt>
                                    <dd class="sw-response-200">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>User Create Status.</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/MyUserStatus">MyUserStatus</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-400">
                                        400 Bad Request
                                    
                                    </dt>
                                    <dd class="sw-response-400">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Bad Request</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-500">
                                        500 Internal Server Error
                                    
                                    </dt>
                                    <dd class="sw-response-500">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Internal Server Error</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                            </dl>
                        </section>
                </div>
            </div>    
        <span id="path--userCredentials--userName-"></span>
            <div id="operation--userCredentials--userName--delete" class="swagger--panel-operation-delete panel">
                <div class="panel-heading">
                    <div class="operation-summary">Delete a User By UserName</div>
                    <h3 class="panel-title"><span class="operation-name">DELETE</span> <strong>/userCredentials/{userName}</strong></h3>
                        Tags:
                            <a href="#tag-Users">Users</a>
                </div>
                <div class="panel-body">
                    <section class="sw-operation-description">
                        <p>Removes a user based on username.</p>
            
                    </section>
                    
                        <section class="sw-request-params">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="sw-param-name"></th>
                                    <th class="sw-param-description"></th>
                                    <th class="sw-param-type"></th>
                                    <th class="sw-param-data-type"></th>
                                    <th class="sw-param-annotation"></th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>
                                                access_token
                                            <td><p>Access token from authentication.</p>
                                        </td>
                                            <td>query</td>
                                            <td><span class="json-property-type">string</span>
                                        <span class="json-property-range" title="Value limits"></span>
                                        
                                            </td>
                                            <td>
                                                    <span class="json-property-required"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                userName
                                            <td><p>UserName of the user to be deleted.</p>
                                        </td>
                                            <td>path</td>
                                            <td><span class="json-property-type">string</span>
                                        <span class="json-property-range" title="Value limits"></span>
                                        
                                            </td>
                                            <td>
                                                    <span class="json-property-required"></span>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </section>
                    
                        <section class="sw-responses">
                                <p><a href="#sw-default-produces">Uses default content-types: </a>
                                    <span class="label label-default">application/json</span> 
                                </p>
                            
                            <dl>
                                    <dt class="sw-response-200">
                                        200 OK
                                    
                                    </dt>
                                    <dd class="sw-response-200">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>User Delete Status.</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/MyUserStatus">MyUserStatus</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-400">
                                        400 Bad Request
                                    
                                    </dt>
                                    <dd class="sw-response-400">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Bad Request</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-500">
                                        500 Internal Server Error
                                    
                                    </dt>
                                    <dd class="sw-response-500">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Internal Server Error</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                            </dl>
                        </section>
                </div>
            </div>    <div id="operation--userCredentials--userName--get" class="swagger--panel-operation-get panel">
                <div class="panel-heading">
                    <div class="operation-summary">Get User By UserName</div>
                    <h3 class="panel-title"><span class="operation-name">GET</span> <strong>/userCredentials/{userName}</strong></h3>
                        Tags:
                            <a href="#tag-Users">Users</a>
                </div>
                <div class="panel-body">
                    <section class="sw-operation-description">
                        <p>Retrieve user based on username.</p>
            
                    </section>
                    
                        <section class="sw-request-params">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="sw-param-name"></th>
                                    <th class="sw-param-description"></th>
                                    <th class="sw-param-type"></th>
                                    <th class="sw-param-data-type"></th>
                                    <th class="sw-param-annotation"></th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>
                                                access_token
                                            <td><p>Access token from authentication.</p>
                                        </td>
                                            <td>query</td>
                                            <td><span class="json-property-type">string</span>
                                        <span class="json-property-range" title="Value limits"></span>
                                        
                                            </td>
                                            <td>
                                                    <span class="json-property-required"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                userName
                                            <td><p>Username of the user to be retrieved.</p>
                                        </td>
                                            <td>path</td>
                                            <td><span class="json-property-type">string</span>
                                        <span class="json-property-range" title="Value limits"></span>
                                        
                                            </td>
                                            <td>
                                                    <span class="json-property-required"></span>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </section>
                    
                        <section class="sw-responses">
                                <p><a href="#sw-default-produces">Uses default content-types: </a>
                                    <span class="label label-default">application/json</span> 
                                </p>
                            
                            <dl>
                                    <dt class="sw-response-200">
                                        200 OK
                                    
                                    </dt>
                                    <dd class="sw-response-200">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>User Data.</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/MyUser">MyUser</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-400">
                                        400 Bad Request
                                    
                                    </dt>
                                    <dd class="sw-response-400">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Bad Request</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-404">
                                        404 Not Found
                                    
                                    </dt>
                                    <dd class="sw-response-404">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Not Found</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-500">
                                        500 Internal Server Error
                                    
                                    </dt>
                                    <dd class="sw-response-500">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Internal Server Error</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                            </dl>
                        </section>
                </div>
            </div>    <div id="operation--userCredentials--userName--put" class="swagger--panel-operation-put panel">
                <div class="panel-heading">
                    <div class="operation-summary">Update a User By UserName</div>
                    <h3 class="panel-title"><span class="operation-name">PUT</span> <strong>/userCredentials/{userName}</strong></h3>
                        Tags:
                            <a href="#tag-Users">Users</a>
                </div>
                <div class="panel-body">
                    <section class="sw-operation-description">
                        <p>Update a user&#39;s password or user type based on username.</p>
            
                    </section>
                        
                            <section class="sw-request-body">
                                
                                    <p><a href="#sw-default-consumes">Uses default content-types: </a>
                                    <span class="label label-default">application/json</span> 
                                    </p>
                                                <div class="row">
                                            <div class="col-md-6">
                                                <p><p>Password and/or user type to be updated.</p>
                        </p>
                                            </div>
                                            <div class="col-md-6 sw-request-model">
                            <div  class="panel panel-definition">
                                <div class="panel-body">
                                            <a class="json-schema-ref" href="#/definitions/MyUser">MyUser</a>
                                </div>
                            </div></div>
                                        </div>
                            </section>        
                        <section class="sw-request-params">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="sw-param-name"></th>
                                    <th class="sw-param-description"></th>
                                    <th class="sw-param-type"></th>
                                    <th class="sw-param-data-type"></th>
                                    <th class="sw-param-annotation"></th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>
                                                access_token
                                            <td><p>Access token from authentication.</p>
                                        </td>
                                            <td>query</td>
                                            <td><span class="json-property-type">string</span>
                                        <span class="json-property-range" title="Value limits"></span>
                                        
                                            </td>
                                            <td>
                                                    <span class="json-property-required"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                userName
                                            <td><p>Username of the user to be updated.</p>
                                        </td>
                                            <td>path</td>
                                            <td><span class="json-property-type">string</span>
                                        <span class="json-property-range" title="Value limits"></span>
                                        
                                            </td>
                                            <td>
                                                    <span class="json-property-required"></span>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </section>
                    
                        <section class="sw-responses">
                                <p><a href="#sw-default-produces">Uses default content-types: </a>
                                    <span class="label label-default">application/json</span> 
                                </p>
                            
                            <dl>
                                    <dt class="sw-response-200">
                                        200 OK
                                    
                                    </dt>
                                    <dd class="sw-response-200">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>User Update Status.</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/MyUserStatus">MyUserStatus</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-400">
                                        400 Bad Request
                                    
                                    </dt>
                                    <dd class="sw-response-400">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Bad Request</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                                    <dt class="sw-response-500">
                                        500 Internal Server Error
                                    
                                    </dt>
                                    <dd class="sw-response-500">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Internal Server Error</p>
                                            
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-6 sw-response-model">
                                                <div  class="panel panel-definition">
                                                    <div class="panel-body">
                                                                <a class="json-schema-ref" href="#/definitions/Error">Error</a>
                                                    </div>
                                                </div></div>
                                            
                                            </div>                </dd>
                            </dl>
                        </section>
                </div>
            </div>
     
    
                       
        <h2>Schema definitions</h2>
    
            
                <div id="definition-CreateUser" class="panel panel-definition">
                        <div class="panel-heading">
                                <h3 class="panel-title"><a name="/definitions/CreateUser"></a>CreateUser:
                                    <span class="json-property-type"><span class="json-property-type">object</span>
                <span class="json-property-range" title="Value limits"></span>
                
                </span>
                                </h3>
                        </div>
                    <div class="panel-body">
                            
                                <section class="json-schema-properties">
                                    <dl>
                                            <dt data-property-name="username">
                                                <span class="json-property-name">username:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>User name of the login.</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                            <dt data-property-name="password">
                                                <span class="json-property-name">password:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>Password of the login.</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                            <dt data-property-name="userType">
                                                <span class="json-property-name">userType:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>Type of the user (platform, network, and guest).</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                    </dl>
                                </section>
                    </div>
                </div>        
                <div id="definition-Error" class="panel panel-definition">
                        <div class="panel-heading">
                                <h3 class="panel-title"><a name="/definitions/Error"></a>Error:
                                    <span class="json-property-type"><span class="json-property-type">object</span>
                <span class="json-property-range" title="Value limits"></span>
                
                </span>
                                </h3>
                        </div>
                    <div class="panel-body">
                            
                                <section class="json-schema-properties">
                                    <dl>
                                            <dt data-property-name="error">
                                                <span class="json-property-name">error:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                            <dt data-property-name="error_description">
                                                <span class="json-property-name">error_description:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                    </dl>
                                </section>
                    </div>
                </div>        
                <div id="definition-MyGrant" class="panel panel-definition">
                        <div class="panel-heading">
                                <h3 class="panel-title"><a name="/definitions/MyGrant"></a>MyGrant:
                                    <span class="json-property-type"><span class="json-property-type">object</span>
                <span class="json-property-range" title="Value limits"></span>
                
                </span>
                                </h3>
                        </div>
                    <div class="panel-body">
                            
                                <section class="json-schema-properties">
                                    <dl>
                                            <dt data-property-name="access_token">
                                                <span class="json-property-name">access_token:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>Access token with resource permissions attached in its corresponding JWT token.</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                            <dt data-property-name="jwt_token">
                                                <span class="json-property-name">jwt_token:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>JWT token with resource permissions attached.</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                            <dt data-property-name="token_type">
                                                <span class="json-property-name">token_type:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>Always a hard-coded value &#39;bearer&#39;.</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                            <dt data-property-name="expires_in">
                                                <span class="json-property-name">expires_in:</span>
                                                <span class="json-property-type">integer</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>Access token valid duration in seconds.</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                            <dt data-property-name="refresh_token">
                                                <span class="json-property-name">refresh_token:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>Refresh token which is used to get new access token and refresh token.</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                    </dl>
                                </section>
                    </div>
                </div>        
                <div id="definition-MyUser" class="panel panel-definition">
                        <div class="panel-heading">
                                <h3 class="panel-title"><a name="/definitions/MyUser"></a>MyUser:
                                    <span class="json-property-type"><span class="json-property-type">object</span>
                <span class="json-property-range" title="Value limits"></span>
                
                </span>
                                </h3>
                        </div>
                    <div class="panel-body">
                            
                                <section class="json-schema-properties">
                                    <dl>
                                            <dt data-property-name="username">
                                                <span class="json-property-name">username:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>User name of the login.</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                            <dt data-property-name="userType">
                                                <span class="json-property-name">userType:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>Type of the user (platform, network, and guest).</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                    </dl>
                                </section>
                    </div>
                </div>        
                <div id="definition-MyUserStatus" class="panel panel-definition">
                        <div class="panel-heading">
                                <h3 class="panel-title"><a name="/definitions/MyUserStatus"></a>MyUserStatus:
                                    <span class="json-property-type"><span class="json-property-type">object</span>
                <span class="json-property-range" title="Value limits"></span>
                
                </span>
                                </h3>
                        </div>
                    <div class="panel-body">
                            
                                <section class="json-schema-properties">
                                    <dl>
                                            <dt data-property-name="status">
                                                <span class="json-property-name">status:</span>
                                                <span class="json-property-type">string</span>
                                                <span class="json-property-range" title="Value limits"></span>
                                                
                                            </dt>
                                            <dd>
                                                <p>Message for successful operation.</p>
                                
                                                <div class="json-inner-schema">
                                                    
                                                </div>
                                            </dd>
                                    </dl>
                                </section>
                    </div>
                </div>
</div>
