<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="pa0 mr0">
				<button id="buyProductsClose" class="btn btn-link pull-left"
					ng-click="setPage('restAPIDocs','')">{{content.Common.goBackLabel}}</button>
			</div>
		</div>
	</div>	
	<div id="CourierDocSection" class="pa10">
		<div class="row">
			<div class="col-md-12">
				<h3>{{OauthSwaggerData.info.title}}</h3>
				<p><span ng-bind-html="OauthSwaggerData.info.description"></span></p>
				<!-- <p>Version : {{OauthSwaggerData.info.version}}</p> -->
			</div>
		</div>
	</div>
	<div class="row ml10 mr10 ">
		<!-- header of the list -->
		<div class="new-list-view-header">
			<h3 class="">{{content.API_Docs.apiParams.title}}</h3>
		</div>
		<!-- body of the list -->
		<ul class="new-list-view">
			<li ng-repeat="(key,APIs) in OauthSwaggerData.paths ">
				<div class="list-view-item">
					<div class="col col-100" ng-click="toggleAPIDetails($index, APIs)">
						<div class="col col-90 pl0">
							<a class="btn btn-link wordBreak ">{{key}}</a>
						</div>
						
						<!-- <svg class="cyclops-icon col col-20" ><use xlink:href='#icon-angle-right'></use> -->
						<div class="col col-10">
					 	  <div ng-if="ButtonText[$index] === 'C'" >
					 	  	<svg class="cyclops-icon sm"><use xlink:href='#icon-chevron-up'></svg>
					 	  </div>
					 	  <div ng-if="ButtonText[$index] === 'E'">
					 	  	<svg class="cyclops-icon sm"><use xlink:href='#icon-chevron-down'></svg>
					 	  </div>
				 	   </div>
					</div>					
					<div class="allBorder pl10 pr10 new-list-view-responsive new-list-view-responsive-md" ng-if="$index === selectedAPIId && $index === isExpandedId">
						<ul role="navigation" class="nav nav-tabs mb0">
							<li ng-repeat="(method,methodDetails) in APIs"
								ng-class="{'active': $index === activeMethodIndex}"><a
								href="" ng-click="setActiveMethod($index, methodDetails)"><span
									class="text-uppercase">{{method}}</span></a></li>
						</ul>
						<ul class="list-info" ng-show="methodDetails">
							<li class="noBorder" ng-if="methodDetails.summary">
								<div class="info-label">{{content.API_Docs.apiParams.summary}}</div>
								<div class="info-value">{{methodDetails.summary}}</div>
							</li>
							<li class="noBorder" ng-if="methodDetails.description">
								<div class="info-label">{{content.API_Docs.apiParams.description}}</div>
								<div class="info-value">{{methodDetails.description}}</div>
							</li>
							<li class="noBorder mb0" ng-if="methodDetails.parameters">
								<div class="info-label">{{content.API_Docs.apiParams.parameters}}</div>
							</li>
						</ul>
						<div class="new-list-view-header">
							<div
								ng-repeat="(pName, pValue) in methodDetails.parameters[methodDetails.parameters.length - 1]">
								<div ng-if="pName === 'schema'">
									<h3 class="col col-40">{{pName}}</h3>
								</div>
								<div ng-if="pName === 'type'">
									<h3 class="col col-20">{{pName}}</h3>
								</div>
								<div ng-if="pName === 'description'">
									<h3 class="col col-30">{{pName}}</h3>
								</div>
								<div ng-if="pName != 'schema' && pName != 'description' && pName != 'type'">
									<h3 class="col col-10">{{pName}}</h3>
								</div>

							</div>
						</div>
						<ul class="new-list-view">
							<div ng-repeat="paramArray in methodDetails.parameters">
								<li>
									<div class="list-view-item noBorder">

										<div ng-repeat="(pName, pValue) in paramArray">
											<div ng-if="pName === 'schema'">
												<div ng-if="!pValue['$ref']">
													<div class="col col-40">
														<span class="col-header">{{pName}}</span><pre>{{pValue.properties | json}}</pre>
													</div>
												</div>
												<div ng-if="pValue['$ref']">
													<div class="col col-40">
														<span class="col-header">{{pName}}</span>
														<api-docs-schema code="{{pName}}" schema="{{pValue['$ref']}}"
															source="OauthSwaggerData.definitions"></api-docs-schema>
													</div>
												</div>
											</div>
											<div ng-if="pName === 'type'">
												<div class="col col-20">
													<span class="col-header">{{pName}}</span>{{pValue}}
												</div>
											</div>
											<div ng-if="pName === 'description'">
												<div class="col col-30"><span class="col-header">{{pName}}</span>{{pValue}}</div>
											</div>
											<div ng-if="pName != 'schema' && pName != 'description'  && pName != 'type'">
												<div class="col col-10"><span class="col-header">{{pName}}</span>{{pValue}}</div>
											</div>
										</div>

									</div>
								</li>
							</div>
						</ul>
						<ul class="list-info" ng-show="methodDetails">
							<li class="noBorder mb0" ng-if="methodDetails.responses">
								<div class="info-label">{{content.API_Docs.apiParams.responses}}</div>
							</li>
						</ul>
						<div class="new-list-view-header">
							<h3 class="col col-15">{{content.API_Docs.apiParams.code}}</h3>
							<h3 class="col col-35">{{content.API_Docs.apiParams.description}}</h3>
							<h3 class="col col-50">{{content.API_Docs.apiParams.schema}}</h3>
						</div>
						<ul class="new-list-view">
							<div ng-repeat="(code, response) in methodDetails.responses">
								<li>
									<div class="list-view-item noBorder">
										<div class="col col-15"><span class="col-header">{{content.API_Docs.apiParams.code}}</span>{{code}}</div>
										<div class="col col-35"><span class="col-header">{{content.API_Docs.apiParams.description}}</span>{{response.description}}</div>
										<div class="col col-50"><span class="col-header">{{content.API_Docs.apiParams.schema}}</span>
										<api-docs-schema code="{{code}}" schema="{{response.schema['$ref']}}"
										source="OauthSwaggerData.definitions"></api-docs-schema></div>
									</div>
								</li>
							</div>
						</ul>
					</div>
				</div>
			</li>
		</ul>

	</div>

</div>