
<div class="container-fluid pl0 ml0">
	<div class="clearfix" id="CourierDocSection">
		<div class="row" ng-if="isUserAuthenticated">
			<div class="col-md-12">
				<div class="pa0 mr0">
					<button id="buyProductsClose" class="btn btn-link pull-left"
						ng-click="setPage('mainPage')">{{content.Common.goBackLabel}}</button>
				</div>
			</div>
		</div>
		<div class="row" ng-if="!isUserAuthenticated">
			<div class="col-md-12">
				<div class="pa0 mr0">
					<button id="buyProductsClose" class="btn btn-link pull-left"
						ng-click="redirectToLogin()">{{content.Common.goBackLabel}}</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="pa0 mr0 mt10">
					<p>{{content.API_Docs.apiDocsTitle}}</p>
				</div>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-sm-12">
				<p>APIs offered by CenturyLink.</p>
				<ul class="list-unstyled">
					<li><svg class="cyclops-icon xs">
					<use xlink:href='#icon-users'></svg> Oauth API</li>
					<li><svg class="cyclops-icon xs">
					<use xlink:href='#icon-database'></svg> Dumpster API</li>
					<li><svg class="cyclops-icon xs">
					<use xlink:href='#icon-package'></svg> Order Management (OM) API</li>
					<li><svg class="cyclops-icon xs">
					<use xlink:href='#icon-messaging'></svg> Courier API</li>
				</ul>
			</div>
		</div> -->
	</div>
	<div>
		<div class="row">
						<!--  Order Management API-->
			<div class="col-sm-4">
				<div class="card card-block">
					<h4 class="card-title">
						<svg class="cyclops-icon md">
					<use xlink:href='#icon-package'></svg>
						{{content.API_Docs.orderManagementApi.title}}
					</h4>
					<p class="card-text">{{content.API_Docs.orderManagementApi.description}}</p>
					<button class="btn btn-link" api-event="APIDocs-OM" ng-click="setPage('oauthAPIDocs','orderManagementSwagger.json')">{{content.API_Docs.orderManagementApi.buttonText}}</button>
				</div>
			</div>
						<!--  Oauth API-->
			<div class="col-sm-4">
				<div class="card card-block">
					<h4 class="card-title">
						<svg class="cyclops-icon md">
					<use xlink:href='#icon-users'></svg>
						{{content.API_Docs.authorizationApi.title}}
					</h4>
					<p class="card-text">{{content.API_Docs.authorizationApi.description}}</p>
					<button class="btn btn-link" api-event="APIDocs-OAuth" ng-click="setPage('oauthAPIDocs','oauthAPIDocs.json')">{{content.API_Docs.authorizationApi.buttonText}}</button>
				</div>
			</div>
						<!--  Moniker API-->
			<div class="col-sm-4">
				<div class="card card-block">
					<h4 class="card-title">
						<svg class="cyclops-icon md">
					<use xlink:href='#icon-phone'></svg>
						{{content.API_Docs.monikerApi.title}}
					</h4>
					<p class="card-text">{{content.API_Docs.monikerApi.description}}</p>
					<button class="btn btn-link" api-event="APIDocs-Moniker" ng-click="setPage('oauthAPIDocs','monikerSwagger.json')">{{content.API_Docs.monikerApi.buttonText}}</button>
				</div>
			</div>						
		</div>
		<div class="row">
			<!--  Courier API-->
			<div class="col-sm-4">
				<div class="card card-block">
					<h4 class="card-title">
						<svg class="cyclops-icon md">
					<use xlink:href='#icon-messaging'></svg>
						{{content.API_Docs.courierApi.title}}
					</h4>					
					<p class="card-text">{{content.API_Docs.courierApi.description}}</p>
					<button class="btn btn-link" api-event="APIDocs-Courier" ng-click="setPage('oauthAPIDocs','courierSwagger.json')">{{content.API_Docs.courierApi.buttonText}}</button>
				</div>
			</div>
						<!--  Dumpster API-->
			<div class="col-sm-4">
				<div class="card card-block">
					<h4 class="card-title">
						<svg class="cyclops-icon md">
					<use xlink:href='#icon-database'></svg>
						{{content.API_Docs.dumpsterApi.title}}
					</h4>
					<p class="card-text">{{content.API_Docs.dumpsterApi.description}}</p>
					<button class="btn btn-link" api-event="APIDocs-Dumpster" ng-click="setPage('oauthAPIDocs','dumpsterSwagger.json')">{{content.API_Docs.dumpsterApi.buttonText}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
