<div class="container-fluid pl0 ml0">
	<div class="clearfix" id="sdkDocSection">
		<div class="row" ng-if="!isUserAuthenticated">
			<div class="col-md-12">
				<div class="pa0 mr0">
					<button id="gotoLogin" class="btn btn-link pull-left"
						ng-click="redirectToLogin()">Go Back</button>
				</div>
			</div>
		</div>
		<div class="row" ng-if="isUserAuthenticated">
			<div class="col-md-12">
				<div class="pa0 mr0">
					<button class="btn btn-link pull-left"
						ng-click="setPage('mainPage')">Go Back</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="pa0 mr0 mt10">
					<p>Javascript SDK offered by CenturyLink.The SDK provides below Services.</p>
					
					<ul class="list-unstyled">
						<li>
							<svg class="cyclops-icon xs">
								<use xlink:href='#icon-users'></svg> User Authentication and Management Services
						</li>
						<li>
							<svg class="cyclops-icon xs">
								<use xlink:href='#icon-queue-add'></svg> Product/Service Subscription Services
						</li>
						<li>
							<svg class="cyclops-icon xs">
								<use xlink:href='#icon-automation'></svg> Product/Service Configuration Services
						</li>
						<li>
							<svg class="cyclops-icon xs">
								<use xlink:href='#icon-messaging'></svg> SMS Services
						</li>
					</ul>
				</div>
				<div class="pa0 mr0 mt10">
					<a class="btn btn-primary btn-lg pull-left"
						href="content/sdk/ctl-sdk.zip">Download SDK</a>
				</div>
			</div>
		</div>		
	</div>	
</div>