<!--------------------------------------------------------------- Contact US------------------------------------------------------ -->
<div ng-if="!isUserAuthenticated" ng-include="'partials/global/commonHeader.html'"></div>
<div class="clearfix pa10" id="contactUsLanding" ng-init="initialize()">
	<page-event page-id="ContactUS-View"></page-event>
	<div class="container_fluid">
		<div class="clearfix pa10" id="courierSectionDetails">
			<h3 ng-bind-html="content.Contact_US.contactUsLabel"></h3>
			<div class="pull-right">
				<a id="TestCourierClose" ng-click="goBack()" href=""> <i
					class="fa fa-close fa-closeButton"></i>
				</a>
			</div>
		</div>
		<div class="new-list-view-responsive new-list-view-responsive-md pl20">
			<ul class="new-list-view">				
				<li class="list-view-item noBorder">
					<h4 ng-bind-html="content.Contact_US.forOnlineSupprotLabel"></h4>
					<p>www.ctl.io/support</p>
				</li>
				<li class="list-view-item noBorder">
					<h4 ng-bind-html="content.Contact_US.forPhoneSupportLabel"></h4>
					<p>888-638-6771</p>
				</li>
				<li class="list-view-item noBorder">
					<h4 ng-bind-html="content.Contact_US.forFeedbackLabel"></h4>
				</li>
			</ul>
		</div>
	</div>
</div>