<div id="footer" class="container-fluid">
  		<div class="row">
  			<div class="col-sm-12">
  				<footer>
  				<ul>
  					<li><a href="#Feedback">Feedback</a></li>
  					<li><a href="#TermsConditions">Legal</a></li>
            		<li>Version {{buildVersion}} Date {{buildDate}}</li>
  				</ul>
  			</footer>
  
  			</div>
  		</div>
 </div>

<!-- <div>
	<div id="footer" >
		<div class="container-fluid mb10">
			<div class="row">
				
				<div class="col-md-4">
					<a href="https://www.facebook.com/CenturyLink/" style="text-decoration: none;"> <svg
							class="cyclops-icon md green">
							<use xlink:href='#icon-facebook'></svg>
					</a> <a href="https://twitter.com/CenturyLink" style="text-decoration: none;"> <svg
							class="cyclops-icon md green">
							<use xlink:href='#icon-twitter'></svg>
					</a>
					<a href="https://www.linkedin.com/company/centurylink" style="text-decoration: none;">
							<svg class="cyclops-icon md green"><use xlink:href='#icon-hyperscale'></svg>
						</a>
				</div>
				<div class="col-md-4">
					<div class="pull-right">
						<a href="#contactUS">Contact Us</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a href="#Feedback" >Feedback</a><span
						class="mr10 ml10 ">|</span> <a href="#TermsConditions"
						>Legal</a><span class="mr10 ml10">|</span> <a
						href=""  style="text-decoration: none;">Version {{buildVersion}}</a>
						 <a	href="" style="text-decoration: none;">Date {{buildDate}}</a>
				</div>
			</div>
		</div>
	</div>
</div> -->