	<!-- Page Header START -->
	<nav class="navbar navbar-inverse navbar-static-top " style="background-color: {{brandingInfo.headerBackgroundColor}} !important;">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header pull-left">				
				<a class="navbar-brand">
					<img ng-src="{{brandingInfo.controlUrl + brandingInfo.portalLogoUrl}}" >
			<!-- <div class="ctlLogoWithoutText"><img  class="logoImage" ng-src="{{brandingInfo.controlUrl + brandingInfo.mobileIconUrl}}"></div> -->
	        <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1" id="logo" x="0" y="0" viewBox="0 0 21 20.8" enable-background="new 0 0 100 20.8" xml:space="preserve" preserveAspectRatio="xMinYMin">
	          <g id="logoMark">
	            <path fill="#8DC63F" d="M1.9 16.4c0.7 1 1.5 1.8 2.5 2.5l3.5-6L1.9 16.4"/>
	            <path fill="#8DC63F" d="M4.4 1.9c-1 0.7-1.8 1.5-2.5 2.5l6 3.5L4.4 1.9"/>
	            <path fill="#8DC63F" d="M14.8 0.9c-1.1-0.5-2.2-0.8-3.5-0.9v6.9L14.8 0.9"/>
	            <path fill="#8DC63F" d="M6 19.9c1.1 0.5 2.2 0.8 3.5 0.9v-6.9L6 19.9"/>
	            <path fill="#8DC63F" d="M19 4.4c-0.7-1-1.5-1.8-2.5-2.5l-3.5 6L19 4.4"/>
	            <path fill="#8DC63F" d="M16.4 19c1-0.7 1.8-1.5 2.5-2.5L13 13 16.4 19"/>
	            <path fill="#007F3E" d="M20.8 9.5c-0.1-1.2-0.4-2.4-0.9-3.5l-6 3.5H20.8"/>
	            <path fill="#007F3E" d="M0 11.4c0.1 1.2 0.4 2.4 0.9 3.5l6-3.5H0"/>
	            <path fill="#007F3E" d="M0.9 6C0.4 7.1 0.1 8.3 0 9.5h6.9L0.9 6"/>
	            <path fill="#007F3E" d="M13.9 11.4l6 3.5c0.5-1.1 0.8-2.2 0.9-3.5H13.9"/>
	            <path fill="#007F3E" d="M9.5 0C8.3 0.1 7.1 0.4 6 0.9l3.5 6V0"/>
	            <path fill="#007F3E" d="M11.4 20.8c1.2-0.1 2.4-0.4 3.5-0.9l-3.5-6V20.8"/>
	          </g>
	          <g id="logoType">
	            <path fill="#FFFFFF" d="M32.8 8.1c-0.1-0.9-1.1-1.5-2-1.5 -2.4 0-2.8 2.2-2.8 3.9 0 2 0.6 3.9 2.7 3.9 1 0 2-0.5 2.1-1.5h1.4c-0.1 1.6-1.8 2.7-3.6 2.7 -2.8 0-4-2.3-4-5 0-2.4 1-5.1 4.3-5 1.8 0.1 3.2 1 3.4 2.7H32.8"/>
	            <path fill="#FFFFFF" d="M36.5 12.1c-0.1 1.2 0.4 2.4 1.7 2.4 1 0 1.5-0.4 1.6-1.4h1.3c-0.2 1.5-1.4 2.3-3 2.3 -2.1 0-3-1.5-3-3.5 0-2 1-3.6 3.1-3.6 2 0 2.9 1.3 2.9 3.1v0.6H36.5M39.9 11.2c0-1.1-0.5-2-1.7-2 -1.1 0-1.7 0.9-1.7 2H39.9z"/>
	            <path fill="#FFFFFF" d="M43.8 9.5L43.8 9.5c0.5-0.8 1.4-1.2 2-1.2 0.5 0 2.5 0.1 2.5 2.3v4.6h-1.3V11c0-1.1-0.5-1.7-1.5-1.7 0 0-0.7 0-1.2 0.5 -0.2 0.2-0.5 0.5-0.5 1.8v3.6h-1.3V8.5h1.2V9.5"/>
	            <path fill="#FFFFFF" d="M50.4 8.5V7.1l1.3-0.4v1.8h1.5v0.9h-1.5v4.3c0 0.5 0.4 0.7 0.8 0.7 0.2 0 0.5 0 0.7-0.1v1c-0.3 0-0.6 0.1-0.9 0.1 -0.3 0-0.5 0-0.9-0.1 -0.2 0-0.5-0.1-0.7-0.4 -0.2-0.3-0.3-0.3-0.3-1.2V9.5h-1.1V8.5H50.4"/>
	            <path fill="#FFFFFF" d="M58.7 8.5H60v6.7h-1.2v-1h0c-0.5 0.8-1.4 1.2-2.3 1.2 -1.4 0-2.2-1.1-2.2-2.4V8.5h1.3v3.9c0 1.2 0.3 2 1.5 2 0.5 0 1.2-0.3 1.5-1 0.2-0.6 0.3-1.4 0.3-1.6V8.5"/>
	            <path fill="#FFFFFF" d="M62.9 15.2h-1.3V8.5h1.3v1.3h0c0.2-0.9 1-1.4 2-1.4 0.2 0 0.3 0 0.4 0v1.2c-0.2-0.1-0.4-0.1-0.5-0.1 -1.6 0.1-1.9 0.9-1.9 2.3V15.2"/>
	            <polyline fill="#FFFFFF" points="69.1 17.8 67.8 17.8 68.8 15.2 66 8.5 67.4 8.5 69.5 13.8 71.6 8.5 73 8.5 69.1 17.8 "/>
	            <polyline fill="#FFFFFF" points="74 15.2 74 5.6 76 5.6 76 13.6 80.2 13.6 80.2 15.2 74 15.2 "/>
	            <path fill="#FFFFFF" d="M81.4 5.6h2.1v1.7h-2.1V5.6zM81.4 8.5h2v6.7h-2V8.5z"/>
	            <path fill="#FFFFFF" d="M87.3 9.3L87.3 9.3c0.4-0.6 1.1-1 2.1-1 0.7 0 2 0.5 2.2 1.5 0.1 0.4 0.1 0.8 0.1 1.1v4.3h-2v-4c0-0.7-0.2-1.5-1.2-1.5 -0.6 0-1.2 0.6-1.2 1.5v4h-2V8.5h2V9.3"/>
	            <polyline fill="#FFFFFF" points="95.6 11.2 95.7 11.3 97.6 8.5 99.9 8.5 97.6 11.4 100 15.2 97.7 15.2 95.7 11.6 95.6 11.6 95.6 15.2 93.6 15.2 93.6 5.6 95.6 5.6 95.6 11.2 "/>
	          </g>
	        </svg> -->        </a>								
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="pull-right ">				<!-- Link back to the Control Portal, and give a sign out link -->
				<div class="navbar-collapse">
					<ul class="nav navbar-nav navbar-right navbar-account">
						<li class="dropdown">
	  						<a a-disabled="true" class="pull-right navbar-service pointer" href="" role="button" class="dropdown-toggle collapse" data-toggle="dropdown" href=""><span>Sign In</span> <svg class="cyclops-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-caret-down"></use></svg></a>
	  						<ul class="dropdown-menu dropdown-menu-right">
	  							<li><a href="" ng-click="goToSSO()">Login as Administrator</a></li>
	  							<li><a href="" ng-click="changePage('signInSection')">Login as Consumer</a></li>
	  							<li role="separator" class="divider"></li>
	  							<li><a href="" ng-click="showSignInHelp($event)"><span ng-bind-html="content.Login.needHelpLink"></span></a></li> 
	  						</ul>
	  					</li>
	  					<li>
	  						<div class="pull-right navbar-service pointer" ng-click="goToCTL()">{{content.Common.createAccountButtonLabel}}</div>
	  					</li>
	  				</ul>
	  			</div>				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>	
	<!-- Page Header End -->